-
  var priceList = locals.data.globalData.priceList

section.price-list
  .container.price-list__content
    h2.price-list__title.heading Цены и акции
    .price-list__wrap
      if locals.data.pageData.priceList.showPromo
        -
          var promoAppearance = {
            'data-aos':'zoom-in',
            'data-aos-duration':'500',
            'data-aos-offset':'0',
            'data-aos-anchor-placement':'center-bottom'
          }
        if locals.data.pageData.theme === '1'
          +promo-card(
            locals.data.globalData.massages['sculptural-buccal-massage'].promo.title,
            locals.data.globalData.massages['sculptural-buccal-massage'].promo.subtitle,
            locals.data.globalData.massages['sculptural-buccal-massage'].promo.cardText,
            locals.data.globalData.massages['sculptural-buccal-massage'].promo.buttonText,
            locals.data.globalData.massages['sculptural-buccal-massage'].promo.buttonColor,
            locals.data.globalData.massages['sculptural-buccal-massage'].promo.image
          ).price-list__promotion.price-list__promotion_photo&attributes(promoAppearance)
        else if locals.data.pageData.theme === '7'
          +promo-card(
            locals.data.globalData.massages['figure-modeling'].promo.title,
            locals.data.globalData.massages['figure-modeling'].promo.subtitle,
            locals.data.globalData.massages['figure-modeling'].promo.cardText,
            locals.data.globalData.massages['figure-modeling'].promo.buttonText,
            locals.data.globalData.massages['figure-modeling'].promo.buttonColor,
            locals.data.globalData.massages['figure-modeling'].promo.image
          ).price-list__promotion.price-list__promotion_photo&attributes(promoAppearance)
        else
          +promo-card(
            locals.data.globalData.mainPromo.title,
            locals.data.globalData.mainPromo.subtitle,
            locals.data.globalData.mainPromo.text,
            locals.data.globalData.mainPromo.buttonText
          ).price-list__promotion&attributes(promoAppearance)
      .price-list__prices
        each section in priceList.sections
          - var promoText = ''
          section.price-list__section
            table.price-list__table.table
              tr.table__row
                th.table__cell.table__cell_heading
                  h3.price-list__type-caption= section.title
                th.table__cell.table__cell_heading 1-ый сеанс
                th.table__cell.table__cell_heading Последующие
                th.table__cell.table__cell_heading Время
              each massage in section.massages
                - var additionalClass = ''
                if massage.promo
                  - promoText = `${promoText}${massage.promo.text}<br>`
                  if massage.promo.starPlacement
                    - additionalClass = `table__row_promo table__row_promo-${massage.promo.starPlacement}`
                if massage === locals.data.pageData.massage
                  - additionalClass = `${additionalClass} table__row_highlight`
                tr.table__row(class=additionalClass)
                  td.table__cell
                    b.price-list__massage-name= massage.name
                  td.table__cell
                    if (massage.price.old) && (massage === locals.data.pageData.massage)
                      span.price-list__old-price!= `${massage.price.old}&thinsp;₽`
                      br
                    span.price-list__first-price!= `${massage.price.first}&thinsp;₽`
                  td.table__cell
                    if (massage.price.old) && (massage === locals.data.pageData.massage)
                      span.price-list__old-price!= `${massage.price.old}&thinsp;₽`
                      br
                    span.price-list__standard-price!= `${massage.price.standard}&thinsp;₽`
                  td.table__cell!= `${massage.duration}&thinsp;мин`
            p.price-list__promo-text!= promoText
      include callback-form
