extends ../layouts/article

block variables
  -
    pageData = {
      title: `Всё о массаже`,
      description: `Вы хотите узнать более подробно, что такое массаж? Массаж — это физиотерапевтическая процедура,
        которая заключается в механическом воздействии на организм через кожу. В массаж входят основные приемы, такие
        как поглаживание, растирание, разминание, вибрация и похлопывание.`,
      keywords: `массаж, информация, описание, история, польза, вред, классификация`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[4]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 9; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/about-massage/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/about-massage/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/about-massage/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/about-massage/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/about-massage/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/about-massage/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Массаж — это лечебное воздействие на организм через кожу. В массаж входят такие приемы как поглаживание, растирание, разминание, вибрация и похлопывание. Такое воздействие на мышцы раздражает нервные окончания, которые, в свою очередь, посылают импульсы в мозг. Действие массажа на организм переоценить сложно, его основы пришли к нам из глубокой древности, и постепенно развиваясь, были отточены до совершенства. В этой статье мы собрали все о массаже, от пользы и противопоказаний до истории развития массажа и его классификациях.

    h2#nav-2 Кратко о пользе массажа
    +picture-tag(images[1], images[1].mobile.jpg['2x'], '').article-page__image
    p
      | Существует огромное множество массажных техник, решающих разные проблемы.
      br
      | В первую очередь массаж назначается при проблемах с опорно-двигательной системой, так как при механическом воздействии основная нагрузка идет на мышцы и позвоночник. После проведения курса массажа уходят боли, мышцы становятся более эластичными, возвращается гибкость и подвижность.
    p Но массаж влияет не только на мускульную систему. Получаемый рефлекторный ответ влияет и на работу внутренних органов, улучшая их работу.
    p Подобная физиотерапия незаменима при проблемах с иммунной системой. Массаж не только улучшает самочувствие, он стабилизирует артериальное давление, нормализует сон и укрепляет естественные защитные функции организма. Доказано, что люди, регулярно проходящие курсы массажа, болеют гораздо реже. А если заболевания все же не удалось избежать, то оно протекает в гораздо более легкой форме.
    p Укреплению иммунитета способствует и улучшение работы дыхательной системы. За счет того что дыхание при массаже становится глубже, уходит скованность мышц грудного отдела, все внутренние органы лучше обогащаются кислородом.
    p Помимо этого, происходит расширение кровеносных сосудов, за счет чего улучшается кровообращение, что в свою очередь положительно сказывается на работе сердечно-сосудистой системы. После сеанса массажа в разы увеличивается число капилляров поперечного сечения мышц. За счет этого облегчается продвижение крови по артериям и улучшается венозный отток. При этом подобные изменения происходят не только в конкретном массируемом участке тела, но и в отдаленных точках.
    p Массаж благоприятно влияет и на обменные процессы в организме. После физического воздействия на кожные покровы не только улучшается снабжение тканей кислородом, но и убыстряются выведения продуктов распада и в первую очередь молочной кислоты.
    p Незаменим массаж и при проблемах с пищеварительным трактом. Он стабилизирует его работу за счет рефлекторного улучшения перистальтики кишечника. Поэтому подобной физиотерапевтическое воздействие необходимо в первую очередь людям, страдающим запорами и другими нарушениями работы кишечника.
    p Массаж занимает первое место среди большого количества реабилитационных процедур. С его помощью можно воздействовать как на отдельные органы и проблемные участки, так и на весь организм в целом.

    h2#nav-3 История развития массажа. Древний мир
    +picture-tag(images[2], images[2].mobile.jpg['2x'], '').article-page__image
    p Среди исследователей до сих пор идут споры о том, откуда пришло само слово «массаж». Одни утверждают, что истоком стало греческое обозначение «masso» — «сжимать при помощи рук». Другие доказывают, что это изначально французское слово «masser», трактующееся как «растирать». Существуют и другие версии происхождения этого понятия. Но все они лишь подтверждают то, что история развития массажа насчитывает не одно столетие.
    h3 МАССАЖ В ДРЕВНЕМ МИРЕ: ИНДИЯ
    p Лечение путем механического воздействия на кожу – проверенный многовековой практикой способ терапии. Его истоки уходят в глубокую древность. Первые упоминания о массаже были найдены на наскальных рисунках. На них были изображены люди, растирающие друг друга. Помимо этого при раскопках были найдены баночки, в которых когда-то содержались мази, перемешанные с лекарственными травами, что тоже говорит о применении этого способа лечения.
    p В Индии массаж изначально использовали в качестве лечения и профилактики многих заболеваний. Затем его техники прочно вошли во все бытовые сферы жизни. Появлялись и свои традиции, связанные с этим способом воздействия на тело. Существует обычай массировать перед свадьбой жениха и невесту. Именно в Индии впервые появился и начал развиваться детский массаж. Особенностью индийских учений в этой области стало сочетание классического массажа и сауны. Сначала кожа увлажнялась с помощью пара, раскрывались поры, после чего начиналась непосредственно сама процедура. Она включала в себя не только классическое разминание тела, но и втирание в кожу всевозможных эфирных масел.
    h3 МАССАЖ В ДРЕВНЕМ МИРЕ: КИТАЙ
    p Что касается Китая, то в этой стране появились первые школы, в которых обучали искусству массажа. Позже там был создан и первый институт, специализирующийся только на этом направлении. Именно благодаря китайским священнослужителям, занимающимся этим вопросом, была разработана и дошла до наших дней техника «амма» — воздействие на определенные точки.
    p Именно отсюда берет начало очень популярная в наше время аккупунктурная терапия – лечение с помощью специальных игл, которые ставят только в строго определенные точки.
    p Именно отсюда берет начало очень популярная в наше время аккупунктурная терапия – лечение с помощью специальных игл, которые ставят только в строго определенные точки.
    h3 МАССАЖ В ДРУГИХ СТРАНАХ
    p Техника «амма» была широко распространена и в Японии. Здесь она стала отправной точкой для развития японской техники мануального массажа – шиацу. Специалисты в этой области с помощью точечного массажа могут не только воздействовать на проблемные участки тела, но и лечить целый ряд заболеваний.
    p Не обошел стороной массаж и древний Египет. Если судить по старинным барельефам, то можно увидеть, что в этой стране был очень популярен массаж ног. К тому же именно в Египте уделяли большое внимание этой технике с точки зрения косметологии. При раскопках было обнаружено большое количество кувшинов со следами всевозможных масел и растираний.
    p Все больше развиваясь, массажные техники постепенно проникали с Востока в европейские страны.

    h2#nav-4 Развитие массажа в Средние Века
    p Но не всегда и не везде массаж пользовался такой популярностью. В ряде европейских стран эту процедуру приравняли к разновидности «плотских утех», что автоматически причислило его к одному из самых страшных грехов. Массаж выполняли лишь знахарки, это знание передавалось тайно из поколения в поколение.
    p В некоторых странах было проще. Например, в Древней Руси такое механическое воздействие на тело практиковалось при ревматизме и ушибах. Широко распространено было и знаменитое поколачивание веником в банях. В этом случае массаж сочетался с лечебным действием дубовой и березовой листвы.
    p В Европе большой вклад в развитие массажа внес хирург Амбруаз Паре. Он лечил не только королей. Его пациентами были не только короли. Знаменитый доктор практиковался и на придворных. Именно он предложил ту классификацию массажа, которой мы пользуемся до сих пор.

    h2#nav-5 Современная история массажа
    +picture-tag(images[3], images[3].mobile.jpg['2x'], '').article-page__image
    p Первая серьезная публикация, посвященная массажу, была опубликована в 1780 году врачом Коемен Жозефом Тиссо. В своей работе он собрал все данные, которые были известны на тот момент. Массаж широко использовался в спортивной сфере и в области травматологии.
    p Исследованиями занимался и терапевт Генрих Линг, которого считают основоположником «шведской» системы. Результатом его исследований стала научная публикация «Общие основы гимнастики», где он собрал результаты все своих экспериментов.
    p В Голландии разработкой массажных техник активно занимался Георг Мецгер. Свои теории он строил опираясь на знания анатомии и физиологии человека. Позже его исследования получили широкое распространение в Америке и Германии.
    p Массаж становился все более популярным. Его стали преподавать в тех учреждениях, в которых готовили средний медицинский персонал.
    p Под наблюдением врачей прошедшие курс обучения медсестры делали массаж пациентам, страдающим ревматизмом и подагрой.
    p Большим толчком для развития массажных техник стала Первая мировая война. В госпиталях метод механического воздействия на мышцы широко применялся при реабилитации раненых. Потребность в квалифицированных специалистах росла, росло и количество учебных учреждений, готовящих необходимые кадры.
    p В мирное время стимулом для дальнейшего развития и совершенствования массажных техник стали спортивные достижения и Олимпиады. Все больше стали говорить именно о спортивном массаже и о его роли в подготовке спортсменов.
    p В конце прошлого века массаж прочно вошел в традиционную медицину и стал восприниматься не только как косметологическая процедура, но и как действенное средство при лечении многих заболеваний.

    h2#nav-6 Кратко о показаниях для массажа
    p Здоровому человеку сеанс массажа принесет заряд бодрости и хорошего настроения. А также он станет хорошей профилактикой заболеваний опорно-двигательной системы.
    p Помимо этого, массаж назначается при многих заболеваниях внутренних органов и систем.
    p В неврологии массажные техники применяются при невритах и невралгии, мигрени. Расслабляющий массаж рекомендуют при бессоннице и других нарушениях сна.
    p Широко используется этот вид терапии и при наличии межпозвонковых грыж. Главное условие при этом – массаж не назначается в период обострения, в противном случае такое воздействие может нанести существенный вред организму.
    p Еще одно применение в области неврологии заключается в обязательном внесении массажа в список реабилитационных процедур после инсульта. Очень часто острое нарушение мозгового кровообращения приводит к полной или частичной парализации конечностей. В этом случае массаж является незаменимым фактором восстановления подвижности в руках и ногах.
    p Что касается заболеваний опорно-двигательной системы, то здесь массаж используется при проблемах с осанкой, при повышенном отложении солей, артритах и остеохондрозе. Еще его могут назначить и при хронических болях в позвоночнике, вызванных его дегенеративно-дистрофическими изменениями.
    p Наверное сложно сейчас назвать ту область медицины, в которой не применялся бы массаж. Его используют как в реабилитации, так и при непосредственном лечении заболевания.
    p В травматологии массаж применяют в реабилитационный период после переломов, сопровождающихся ушибом и разрывом мышечных волокон. Основной задачей массажа в этом случае становится улучшение питания тканей, что способствует скорейшему восстановлению их функций.
    p Широко используется массаж и при ортопедии. Он незаменим при плоскостопии, косолапости, дисплазии тазобедренного сустава. Особенно актуален такой способ лечения в детском возрасте, когда скелет еще только и многие проблемы можно решить, не прибегая к более сложным техникам.
    p В общей терапевтической практике массаж назначается при стенокардии, колебаниях артериального давления, при реабилитации после инфаркта миокарда. Прибегают к нему и при заболеваниях пищеварительной системы (гастрите, язвах, запорах), нарушении обменных процессов (проблемах с лишним весом), при сахарном диабете.
    p Наверно сложно сейчас назвать ту область медицины, в которой не применялся бы массаж. Его используют как в реабилитации, так и при непосредственном лечении заболевания. Правильный подбор необходимых техник в сочетании с лекарственной терапией способствует быстрому излечению даже самых тяжелых патологий.
    br
    p
      a.link.link_primary.underline(href='/articles/indications-for-massage/')
        b Подробная статья о показаниях к массажу

    h2#nav-7 Противопоказания к массажу
    p Несмотря на свое, безусловно, благоприятное воздействие на организм существует ряд противопоказаний для назначения этого вида лечения.
    p Массаж не проводится при наличии онкологического заболевания. Улучшение кровообращения может спровоцировать дальнейший рост опухоли.
    p Не назначают массаж и при обострении болезней сердца и сосудов. Это касается резкого колебания артериального давления, нарушения ритма сердца и сердечной недостаточности.
    p Механическое воздействие на кожные покровы противопоказано при наличии на них гнойничковых образований и других воспалительных процессах. Высок риск занесения инфекции и развития разлитого процесса на коже.
    p Абсолютным противопоказанием для назначения массажа являются и заболевания органов кроветворения. Улучшение микроциркуляции может спровоцировать обострение процесса и стать причиной обширного кровотечения.
    p Нельзя проводить физиотерапия при наличии острого инфекционного или вирусного процесса в организме. Особенно если это состояние сопровождается повышением температуры тела.
    p Несоблюдение этих правил может негативно отразиться на состоянии здоровья пациента и вместо пользы массаж принесет только существенный вред организму.
    br
    p
      a.link.link_primary.underline(href='/articles/contraindications-for-massage/')
        b Подробная статья о противопоказаниях к массажу

    h2#nav-8 Правила проведения массажа
    p Существует целый ряд особенностей, которые нужно знать и соблюдать при проведении механического воздействия на тело пациента.
    p - Массаж проводится в теплом помещении, минут через 30-40 после еды. Если лечение проводится в больнице, то нельзя брать пациента сразу после проведения капельницы или других лечебных процедур.
    p
      | - Массаж проводится в соответствии с той системой, к которой он относится. Если следовать правилам российской школы, то в этом случае все движения идут от периферии к центру, то есть сначала массируются конечности, и только потом туловище.
      br
      | Категорически запрещено воздействие в области половых органов, проекции почек, в паховых, локтевых и подколенных сгибах.
    p - Тело пациента должно быть расслабленным, массаж должен приносить удовольствие. Психоэмоциональное возбуждение, чрезмерное напряжение мышц является противопоказанием для проведения сеанса массажа.
    p - Руки специалиста должны быть теплыми, массаж не должен доставлять дискомфорт. На кожу наносится специальный крем или масло, облегчающее скольжение рук по телу.
    p Соблюдение всех правил повышает эффективность проводимой процедуры и способствует быстрому избавлению от патологического процесса.

    h2#nav-9 Влияние массажа на организм
    +picture-tag(images[4], images[4].mobile.jpg['2x'], '').article-page__image
    p Массаж – один из самых известных способов воздействия на организм в целом. Он помогает не только расслабиться и восстановить силы. С его помощью многие лечатся многие заболевания, в том числе и те, что раньше считались практически неизлечимыми.
    p Механическое воздействие на организм через кожные покровы не только улучшает кровообращение и расслабляет мускулатуру. Массаж способствует укреплению иммунитета, ускоряет обменные процессы в организме, укрепляет мышцы спины и успокаивает повышенную возбудимость. Благодаря своему своей способности ускорять метаболические процессы регулярные сеансы массажа способствуют снижению лишнего веса и выведению шлаков из организма.
    p Массаж необходим и тем, кто хочет красивую фигуру. Существует множество видов косметологических видов такого воздействия. Его широко используют при борьбе с целлюлитом, кожа при этом становится упругой и эластичной.
    .article-page__highlight
      h3 Всевозможные обертывания и пилинги, широко применяемые в косметологии, теряют почти половину своей эффективности, если они не были подкреплены массажем проблемных мест
    p Массаж лица и головы тонизирует кожу, ускоряет процессы ее регенерации и улучшает внешний вид. Помимо этого массаж головы – это прекрасное средство от повышенной возбудимости. Он помогает расслабиться и снять нервное перенапряжение.
    p Механическое воздействие на тело оказывает самое разное влияние на функционирование организма. При этом изменения могут касаться как общих реакций и состояний, так и отдельных органов и систем.
    p
      b Обмен веществ.
      |
      | При массаже приблизительно на 30% ускоряется кровообращение. В то же время почки и кожа начинают активно выводить молочную кислоту, что приводит к улучшению метаболизма. Обмен веществ улучшается и за счет выработки специальных гормонов, который происходит при раздражении кожного покрова. В этом процессе и заключается гуморальный фактор действия массажа.
    p
      b Нервная система.
      |
      | В зависимости от того, какой вид воздействия используется (расслабляющий или интенсивный) происходит расслабление или тонизирование нервной системы. На этом основан нейро-рефлекторный фактор массажа. При механическом воздействии на кожу происходит раздражение нервных окончаний. Передаваясь по нейронам, полученные импульсы достигают полушарий головного мозга, где и формируется адекватный ответ на такое раздражение.
    p
      b Мускулатура.
      |
      | Массаж – это прямое физическое воздействие на мышцы человека. Во время интенсивного массирования увеличивается количество работающих капилляров, ткани начинают активнее снабжаться кислородом. Благодаря этому происходит оздоровление мышечной системы, и повышаются ее адаптивные свойства.
    p
      b Суставы и связочный аппарат.
      |
      | Благодаря улучшению оттока лимфы сеансы массажа способствуют снижению отеков в тканях, окружающих сустав. Также происходит улучшение вывода продуктов распада из тканей, образующихся при их повреждении. Такое комплексное воздействие помогает восстановлению подвижности суставов и является хорошей профилактикой заболеваний связочного аппарата.
    p
      b Кожа.
      |
      | Влияние массажа на кожные покровы переоценить сложно. Во время сеанса снимаются омертвевшие клетки, улучшается кровообращение в мелких капиллярах. Этот комплекс улучшает питание кожи, она получает больше кислорода. Регулярные сеансы массажа помогают сохранить упругость кожного покрова и его привлекательный внешний вид.терапией способствует быстрому излечению даже самых тяжелых патологий.
    br
    p
      a.link.link_primary.underline(href='/articles/massage-pros-and-cons/')
        b Больше о пользе массажа

    h2#nav-10 Классификация массажа
    p Массаж делится на огромное количество видов и подтипов, и почти в каждой стране есть своя система классификации массажа. Рассмотрим ту, которая используется в классической медицине.
    p
      b По силе воздействия.
      |
      | В зависимости от того, с какой силой происходит давление на мышцы, различают поверхностный, средний и глубокий массаж. Глубокий массаж оказывает успокаивающее действие на нервную систему и влияет на внутренние органы. Поверхностный массаж улучшает метаболизм и тонизирует основные процессы, проходящие в организме.
    p
      b По темпу.
      |
      | Массаж делится на быстрый, средний и медленный. В последнем случае оказывается успокаивающее и расслабляющее действие на организм. Такой же эффект достигается и при среднем темпе проведения процедуры. При быстром массаже происходит стимулирование работы нервной системы.
    p
      b По характеру воздействия.
      |
      | В основном сюда относят то разнообразие приемов, с помощью которых можно воздействовать на тело пациента. Это поглаживание, разминание, растирание, вибрация и другие. Практически все виды массажа включает комплексы таких воздействий в том или ином сочетании.
    p
      b По методам проведения.
      |
      | При этой классификации массаж делится на ручной (когда специалист работает только руками) и аппаратный (используются специальные приборы). Помимо этого массаж воздействие на тело может проводиться ногами, что характерно для восточной медицины или с помощью дополнительных приспособлений (баночный массаж). При разных заболеваниях может использоваться как отдельный вид механического воздействия на кожу, так и сочетание различных методик.
    p
      b По цели.
      |
      | Этот критерий подразумевает разделение массажа по цели его предназначение. Выделяется общий, лечебный, классический, спортивный и другие виды воздействия на тело пациента. В зависимости от того, с какой проблемой обратился человек к специалисту, будет подобран и соответствующий тип массажа.
    h2#nav-11 Систематизация массажа
    +picture-tag(images[5], images[5].mobile.jpg['2x'], '').article-page__image
    p За всю многовековую историю развития массажа сложилось несколько систем, которые получили широкое распространение по всему миру. Самые известные из них — финская, шведская и российская — относятся к европейской школе массажа. Не менее популярные корейская и тайская системы являются частью восточной школы. Рассмотрим более подробно особенности каждой из существующих систем.
    h3 РОССИЙСКАЯ СИСТЕМА
    p Эта школа принципиально отличается от всех других. Она включает в себя множество приемов, которые замещают друг друга. Это позволяет сэкономить силы специалиста. При этом основным способом воздействия является техника разминания. Он помогает улучшить вывод молочной кислоты из мышц, что особенно важно при больших физических нагрузках.
    p Еще одна особенность данной школы – комплексность воздействия. Большое количество используемых приемов позволяет единовременно решать многие проблемы. Изменение скорости работы массажиста и глубины давления на тело оказывает влияние как на внутренние органы, так и на кожные покровы.
    p Все приемы, используемые при Российской системе, зависят от заболевания пациента и его анатомического строения.По этому же принципу определяется темп и глубина проводимого массажа.
    h3 ШВЕДСКАЯ СИСТЕМА
    p Она включает в себя несколько основных приемов: растирание, разминание и поглаживание. Особенностью этой системы является то, что около 30% всего времени проведения массажа занимает разработка движений в суставах. Именно поэтому эта система получила такое широкое распространение в спортивной среде.
    p Особенностью шведской школы массажа является сила ее воздействия на мышцы пациента. Это глубокий массаж, который направлен на растягивание сосудисто-нервных пучков. Во время сеанса специалист проводит полную пальпаторную диагностику состояния пациента, определяет наличие и локализацию патологических уплотнений. Программа массажа разрабатывается отдельно для каждого больного в зависимости от итогов проведенного обследования.
    p Отличается и последовательность обрабатываемых участков. Массаж идет снизу вверх – последовательно от стопы к плечу. Классическая школа предлагает другую направленность при работе с телом пациента.
    h3 ФИНСКАЯ СИСТЕМА
    p Эта система в чем-то схожа со шведской, но в то же время имеются и существенные отличия. Как и в шведской школе массажа проводится по направлению снизу вверх. Но давление при этом осуществляется только с помощью подушечек больших пальцев.
    p Из-за бедности используемых приемов (в основное это только растирание) эта система не получила такого широкого распространения как две вышеперечисленные. В последнее время в финской школе начал использоваться и прием разминания, который вошел в нее из шведской системы.
    h3 ВОСТОЧНАЯ СИСТЕМА
    p Она обладает рядом особенностей, которые присущи только ей. Главным отличием можно назвать тот факт, что при массировании проводится не только с помощью рук, но и с помощью ног. Для максимального контакта с телом пациента, а, следовательно, и для более глубокого воздействия при массаже не используются никакие масла и специальные кремы.
    p Основной задачей восточного массажа можно считать освобождение тканей от продуктов распада, что делает их более эластичными.
    p Помимо классических приемов, используемых при европейском массаже, восточная школа включает в себя еще и выкручивание конечностей. Несмотря на разнообразие способов воздействия, используемых при этой технике, массирование проводится всегда с большим давлением.
    p Это позволяет максимально разработать проблемные участки и способствует быстрому восстановлению организма.
    p В школу восточного массажа входит также и меридиональный массаж, учение которого построено на понятии меридианов, по которым двигается энергия. Воздействие оказывается на биологически активные точки, расположенные по ходу меридиан.
    p Давление на определенные точки широко используется и при точечном массаже, также широко распространенном на Востоке. При этом массаж может проводиться как руками, так и специальными аппаратами.
    h2#nav-12 Виды массажа
    +picture-tag(images[6], images[6].mobile.jpg['2x'], '').article-page__image
    p За всю многовековую историю развития массажа сложилось несколько систем, которые получили широкое распространение по всему миру. Самые известные из них — финская, шведская и российская — относятся к европейской школе массажа. Не менее популярные корейская и тайская системы являются частью восточной школы. Рассмотрим более подробно особенности каждой из существующих систем.
    h3 КЛАССИЧЕСКИЙ МАССАЖ (ОБЩИЙ)
    p Целью этого вида воздействия на тело является улучшение циркуляции крови, нормализация работы внутренних органов и активация иммунной системы. Улучшение метаболизма обеспечивает выведение шлаков и способствует повышению упругости кожи.
    p Классический массаж – хорошее профилактическое средство для предупреждения развития многих заболеваний. Применяемый при этом комплекс приемов (поглаживание, разминание, растирание, поколачивание) позволяет воздействовать сразу на большие группы мышц и на внутренние системы.
    p К основным приемам классического массажа можно отнести следующие методы воздействия:
    ul.article-page__list.article-page__list_no-marker
      li - Поглаживание. Это основной прием, с которого начинается любой массаж.Движения при этом должны быть плавными, спокойными.Поглаживание оказывает расслабляющее действие, оно как бы подготавливают тело пациента к дальнейшему воздействию.
      li - Растирание. Этот прием предназначен для улучшения притока крови к проблемным участкам, за счет чего происходит размягчение рубцов и других уплотнений.
      li - Выжимание. Выполняется внутренней частью ладони или кулаком.Основная задача – улучшение кровообращения и оттока лимфы.
      li - Вибрация. Благодаря этому способу воздействия улучшается работа нервно-мышечного аппарата и снимается спазм мускулатуры.
      li - Разминание.Этот прием улучшает тонус мышц.Глубина воздействия способствует стимуляции вывода молочной кислоты и других продуктов распада.
      li - Похлопывание.Один из самых глубоких способов воздействия.Направлен на стимуляцию работы внутренних органов.
    p Еще одна особенность данной школы – комплексность воздействия. Большое количество используемых приемов позволяет единовременно решать многие проблемы. Изменение скорости работы массажиста и глубины давления на тело оказывает влияние как на внутренние органы, так и на кожные покровы.
    h3 ЛЕЧЕБНЫЙ МАССАЖ
    p Это один из самых эффективных методов лечений, активно применяемый в физиотерапии. Его назначают на всех этапах лечения, но наиболее эффективным он становится в стадии реабилитации.
    .article-page__highlight
      h3 В комплексе с основным методом лечения медицинский массаж усиливает действие препаратов и стимулирует процесс восстановления тканей.
    p Помимо лечебного массажа спины, который практикуется у нас, лечебный массаж подразделяется на следующие подвиды:
    ul.article-page__list.article-page__list_no-marker
      li - Гинекологический. Снижает тонус матки, улучшает кровообращение в малом тазу. Широко применяется в послеоперационный период, так как является хорошим профилактическим средством, предотвращающим развитие спаек. Улучшает послеродовое восстановление, повышает либидо.
      li - Урологический. Применяется при заболеваниях простаты, семенных пузырьков и патологических процессах мочевыделительной системы.
      li - Дерматологический. Назначается при воспалительных заболеваниях кожи. За счет улучшения кровообращения и оттока лимфы улучшаются регенерационные процессы и ускоряется процесс выведения продуктов распада.
      li - Офтальмологический. Применяется при проблемах с глазодвигательным нервом и функциональном снижении зрения. Улучшение кровообращения способствует решению многих офтальмологических проблем.
      li - Стоматологический. Рекомендован при патологии челюстно-лицевой области. В этом случае массаж проводится как руками, так и помощью специальной аппаратуры.
      li - Отоларингологический. Назначается при заболеваниях ЛОР-органов. Массажу подвергается область шеи и лица. В отоларингологии помимо классического массажа широко применяется точечная техника.
      li - Логопедический. Применяется при речевых расстройствах, широко распространен в детском возрасте. Воздействие проводится на жевательные и артикуляционные мышцы. За счет их постоянной стимуляции развивается речевой аппарат и решаются логопедические проблемы.
    p Особенностью лечебного массажа является то, что назначить его может только квалифицированный специалист после тщательного обследования всего организма.
    h3 СПОРТИВНЫЙ МАССАЖ
    p Это особый вид направления в школе массажа. Отличается более глубоким воздействием на все группы мышц. Он по-настоящему незаменим как при подготовке спортсмена к предстоящему соревнованию, так и в период восстановления после травмы.
    p В зависимости от поставленных целей существует несколько определенных подтипов этого массажа:
    ul.article-page__list.article-page__list_no-marker
      li - Предварительный. Основная задача такого массажа – максимально подготовить тело спортсмена к предстоящим нагрузкам. Используемая при этом техника интенсивного массажа стимулирует нервную систему, способствуя выбросу адреналина. В результате снимается напряжение, и спортсмен оказывается более подготовленным к высоким нагрузкам.
      li - Тренировочный. В обязательном порядке входит в комплекс тренировок перед соревнованием. Основное направление такого массажа — максимальная подготовка тех участков, которые подвергаются основной нагрузке – к примеру, при подготовке пловцов особое внимание уделяется рукам.
      li - Восстановительный (реабилитационный). Применяется после завершения всех нагрузок, способствует восстановлению перенапряженных групп мышц. Стимуляция кровообращения способствует быстрому заживлению микротравм.
    p Спортивный массаж способствует снижению чувствительности нервных окончаний, рассасыванию отечности и гематом. Также его задачей является укрепление мышечного корсета и профилактика атрофии тех групп мышц, которые оказываются незадействованными при основных тренировках.
    h3 ДЕТСКИЙ МАССАЖ
    p Массаж, применяемый в педиатрии, сочетает в себе ключевые моменты классического и лечебного массажа. Его основным отличием является то, что при воздействии на организм ребенка существует довольно большой спектр ограничений и противопоказаний. Именно поэтому детский массаж выделяют в отдельный подвид.
    p Массирование ребенка укрепляет его иммунитет и используется в комплексной терапии целого ряда заболеваний.
    p Широко используется массаж в детской ортопедии. Он помогает исправить проблемы плоскостопия и косолапости ребенка. Корректирует осанку и исправляет искривления позвоночника.
    p Сложно переоценить влияние массажа на развитие ребенка. Мышцы тесно связаны с центральной нервной системой. При раздражении мышечных волокон получаемые импульсы по нейронам передаются в головной мозг. Благодаря этому улучшается не только физическое, но и психоэмоциональное развитие малыша.
    h3 СЕГМЕНТАРНО-РЕФЛЕКТОРНЫЙ МАССАЖ
    p От других подтипов этот массаж отличается воздействием на определенные отделы спинного мозга и техникой его выполнения.
    p Что касается приемов, используемых при этом виде массажа, то помимо основных, используемых в классической технике здесь применяются растягивание, пиление, потряхивание, выжимание и другие.
    p По механизму воздействия можно выделить несколько направлений этого вида массажа:
    ul.article-page__list.article-page__list_no-marker
      li - Соединительно-тканный. Основан на воздействии на рефлекторные зоны, которые расположены в соединительных тканях. Проводится 3-4 пальцами, основная техника заключена в смещении кожи и подкожной клетчатки.
      li - Сегментарный. В его основе лежит учение о том, что любое заболевание влечет за собой изменение не только поврежденного органа, но и в определенных участках тела, иннервируемых определенной областью спинного мозга.
      li - Периостальный. Заключается в воздействии на костные выступы и наиболее четко обозначенные места прикрепления сухожилий и мышц.
    p При сегментарно-рефлекторном массаже широко распространены восточные техники точечного воздействия.
    h3 ПСИХОБИОСТРУКТУРАЛЬНЫЙ МАССАЖ
    p Это особый вид массажа, который включает в себя европейскую и восточную школы. Его основной особенностью можно считать включение в один сеанс более 50 видов приемов, используемых при массировании тела. При этом полностью исключаются какие-либо повторения.
    p Этот подтип в основном включают в комплекс косметического и спортивного массажа. Что касается механизмов воздействия, то к основным можно отнести следующие:
    ul.article-page__list.article-page__list_no-marker
      li - Миоструктурный. Помогает формировать мускулатуру, способствует повышению выносливости мышц.
      li - Нейроседативный. Оказывает расслабляющее действие, снимает повышенную раздраженность.
      li - Лимфодренажный. Способствует выведению молочной кислоты и других продуктов распада.
    h3 КОСМЕТИЧЕСКИЙ МАССАЖ
    +picture-tag(images[7], images[7].mobile.jpg['2x'], '').article-page__image
    p Используется как эффективное средство для поддержания кожи в хорошем состоянии. Предупреждает появление морщин, снимает отечность, борется с косметическими недостатками.
    p Существует несколько разновидностей этого массажа.
    p Профилактический способствует увлажнению кожи. За счет увеличения кровообращения улучшается ее питание и повышается насыщенность кислородом. Является хорошим профилактическим средством раннего увядания кожи, улучшает ее внешний вид.
    p Лечебно-косметический применяется при уже имеющихся проблемах с кожным покровом. Эффективно борется с целлюлитом, растяжками, лишним весом. Способствует выведению личной жидкости, за счет чего осуществляется коррекция фигуры.
    .article-page__highlight
      p Пластический проводится с целью восстановления тонуса и повышения упругости кожи. Отмечается хороший результат в борьбе с глубокими морщинами и другими косметическими недостатками.
    p Косметический массаж может проводиться в любом возрасте. Для тех, кому еще нет 30 лет это хороший способ профилактики появления первых признаков старения, мимических морщин. Лечебно-косметический массаж назначается в более зрелом возрасте и хорошо борется с необратимыми изменениями кожных покровов.
    p Для людей пожилого возраста хорошим средством борьбы с возрастными изменениями становится пластический массаж, который не только улучшает внешний вид кожи, но и улучшает ее регенеративные функции.
    h3 АППАРАТНЫЙ МАССАЖ
    +picture-tag(images[8], images[8].mobile.jpg['2x'], '').article-page__image
    p Массирование проблемных зон проводится не только с помощью рук, но и с помощью специальной аппаратуры или приспособлений. Широко распространен вакуумный массаж, который является хорошим профилактическим и лечебным средством при борьбе с целлюлитом. Таким же действием обладает и медовый массаж, который восстанавливает контур тела и улучшает внешний вид кожных покровов.
    p Криомассаж (с использованием азота) назначается при проблемах с кожей лица. Эффективно борется с мелкими воспалительными процессами, улучшает трофику, стимулирует улучшение кровообращения в мелких капиллярах.
    p В физиотерапии широко применяется гидромассаж (подводный, душ Шарко, циркуляционный). Этот вид воздействия на тело необычно популярен при патологиях позвоночного столба. Он ускоряет восстановление после перенесенного заболевания, улучшает подвижность в поврежденных суставах. За счет снятия давления с ущемленных нервных корешков происходит обезболивание при грыжах и других дистрофических изменениях позвоночного столба.
    .article-page__highlight
      p Существует еще довольно много всевозможных видов аппаратного массажа, но все они проводятся только под наблюдением квалифицированных специалистов.
    p Ультразвуковой массаж. Активно используется в косметологии и физиотерапии. Благодаря высокой проникающей способности вибрационных волн УЗ массаж позволяет эффективно бороться с проявлениями «апельсиновой корки» и другими недостатками кожных покровов. В физиотерапии этот вид массажа применяется в сочетании с лекарственными препаратами. Ультразвук помогает веществу проникнуть вглубь клеток, что существенно повышает его эффективность.
    p Баромассаж. Для его проведения необходима специальная камера. Воздействие проводится путем изменения давление воздуха в барокамере. Его назначают при заболеваниях дыхательных путей, сердечнососудистой системы и патологиях позвоночного столба.
    p Существует еще довольно много всевозможных видов аппаратного массажа, но все они проводятся только под наблюдением квалифицированных специалистов.
    h3 САМОМАССАЖ
    p Не у всех есть возможность обращаться к специалисту сразу после возникновения каких-то патологических процессов в организме. Поэтому все большее распространение получает техника самостоятельного массажа в домашних условиях. Это несложная процедура, которую можно провести без помощи посторонних лиц. Важно лишь знать ряд определенных правил.
    ul.article-page__list.article-page__list_no-marker
      li Массаж конечностей проводится по направлению снизу вверх, то есть от кончиков пальцев до плеча или бедра.
      li Все движения проводятся плавно, они не должны причинять боль. Кожу предварительно лучше увлажнить кремом или маслом.
      li После проведения самомассажа не рекомендуется вставать сразу после его окончания. Массирование кожи и мышц обладает согревающим эффектом. Для его сохранения рекомендуется полежать 5-10 минут под теплым одеялом.
    p Самомассаж можно проводить для облегчения состояния при каком-либо заболевании и с косметологической целью. Среди женщин очень популярен самомассаж лица. Он позволяет улучшить контуры лица, убрать отечность и эффективно борется с другими возрастными изменениями.
    h3 КОМПЛЕКСНОЕ ЛЕЧЕНИЕ МАССАЖЕМ И ДРУГИМИ ФИЗИОТЕРАПЕВТИЧЕСКИМИ МЕТОДАМИ
    p Массаж относится к полноценному способу лечения, используемого в физиотерапии. Его применяют как и самостоятельный метод лечения, так и в комплексе с другими процедурами.
    p Механическое воздействие на тело можно сочетать со следующими видами физиолечения:
    ul.article-page__list.article-page__list_no-marker
      li - магнитотерапия, при которой применяются магнитные волны различной частоты;
      li - ингаляции, что особенно эффективно при лечении заболеваний дыхательного тракта;
      li - ультразвуковая терапия, широко используемая при дистрофических изменениях позвоночного столба;
      li - электротерапия, в которую входит дарсонваль, электросон и другие эффективные методы, позволяющие бороться со многими патологиями;
      li - кислородотерапия, популярная в период беременности у женщин. В сочетании с расслабляющим массажем благоприятно действует на состояние матери, а, следовательно, и будущего ребенка.
    p Не рекомендуется сочетать массаж и УФ облучение, а также принятие гальванических и радоновых ванн. И также противопоказана нагрузка на позвоночник при водном вытяжении. Это может привести к перенапряжению суставов и связок, что чревато неблагоприятными последствиями.
    p В случае когда помимо массажа была назначена электротерапия, то рекомендуется сначала промассировать тело и только потом обратиться к физиотерапевту.
    p Назначение массажа в совокупности с другими филами физиотерапии позволяет достигнуть максимального эффекта в наиболее короткие сроки. А если при этом дополнительно будет проводиться курс медикаментозной терапии, то можно быть уверенным в скорейшем избавлении от развившегося заболевания.
    h2#nav-13 Выводы + видео про массаж
    p На сегодняшний день массаж является наиболее эффективным способом лечения многих заболеваний. Он широко используется в спорте, косметологии, медицинской практике и других областях. Несмотря на многовековую историю развития и накопленный багаж знаний его техника не стоит на месте. В этой области постоянно появляются новые исследования, позволяющие успешно лечить те патологии, которые раньше считались безнадежными.
    p Расширьте свой кругозор. Ознакомьтесь с предложенным видео про массаж:
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/xTK7mQOjLPg' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
