extends ../layouts/default

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: '/articles/',
      title: `Статьи о массаже и правильном образе жизни`,
      description: `Полезные, интересные и познавательные статьи о достоинствах и пользе массажа. Простым языком
        рассказываем о различных методиках и аспектах, показаниях и противопоказаниях`,
      keywords: `массаж, интересное, полезное, информация`,
      canonical: 'https://expert-massage-clinic.ru/articles/',
      pageClass: 'articles-page service-page',
      theme: 'main'
    }

block head

block content
  .service-page__wrap.articles-page__wrap
    .container
      h1.articles-page__title.heading Интересное
      ul.articles-page__list
        each article in locals.data.articles
          li.articles-page__list-item
            a.articles-page-card(class=`articles-page-card_${article.id}` href=article.url)
              ul.articles-page-card__tags
                if article.tags
                  each tag in article.tags
                    li.articles-page-card__tag= tag
              h2.articles-page-card__title!= article.title
              p.articles-page-card__text!= article.textPreview

block script
