extends ../layouts/article

block variables
  -
    pageData = {
      title: `Массаж спины при остеохондрозе`,
      description: `Динамика распространения остеохондроза отличается нарастающим темпом — дегенеративные изменения все
        чаще диагностируются у молодых пациентов, чуть перешагнувших 20-летний возрастной рубеж. Предотвратить ухудшение
        состояния позвоночника помогает массаж спины при наличии остеохондроза.`,
      keywords: `массаж спины, остеохондроз`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[9]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 30; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1
