extends ../layouts/default

block variables
  -
    pageData = {
      description: `Массаж, цены, акции и скидки — прайс-лист со стоимостью услуг на массаж`,
      keywords: `цены, акции, скидки, массаж, Москва`,
      pageClass: 'prices-page service-page',
      theme: 'main'
    }

block content
  .service-page__wrap.prices-page__wrap
    h1.prices-page__title.heading
      | Цены на массаж
      br
      | Прайс лист (услуги массажа)
    section.prices-page__promotions
      h2.visually-hidden Текущие акции
      .prices-page__promotions-wrap.container
        each promo, i in globalData.promotions
          +promo-card(
            promo.title,
            promo.subtitle,
            promo.cardText || promo.text,
            promo.buttonText,
            promo.buttonColor,
            promo.image
          ).prices-page__promotion(class=(i === '1' ? 'prices-page__promotion_main' : `prices-page__promotion_${i}`))
    .price-list.prices-page__main-prices
      each section, sectionName in globalData.priceList.sections
        - var promoText = ''
        section.price-list__section
          h2.price-list__section-title= section.title
          table.price-list__table.table
            tr.table__row
              th.table__cell.table__cell_heading
              th.table__cell.table__cell_heading 1-ый сеанс
              th.table__cell.table__cell_heading Последующие
              th.table__cell.table__cell_heading Время
            each massage in section.massages
              - var additionalClass = ''
              if massage.price_list_star_placement
                - promoText = `${promoText}${massage.price_list_label}<br>`
                if massage.price_list_star_placement
                  - additionalClass = `table__row_promo table__row_promo-${massage.price_list_star_placement}`
              tr.table__row(class=additionalClass)
                td.table__cell
                  a.link.link_arrow.link_secondary.underline.price-list__massage-name(href=massage.url)= massage.name
                td.table__cell
                  if massage.old_price
                    span.price-list__old-price!= `${massage.old_price}&thinsp;₽`
                    br
                  span.price-list__first-price(class=(((massage.id === '6') || (massage.id === '11') || (massage.id === '12')) ? 'price-list__price-notification' : false))!= `${massage.first_price}&thinsp;₽`
                td.table__cell
                  if massage.old_price
                    span.price-list__old-price!= `${massage.old_price}&thinsp;₽`
                    br
                  span!= `${massage.standard_price}&thinsp;₽`
                td.table__cell!= `${massage.duration}&thinsp;мин`
          if sectionName === 'body'
            p.price-list__price-notification-description * — мужчины 90&thinsp;кг и выше + 500&thinsp;₽ за сеанс
          p.price-list__promo-text!= promoText
    .container
      section.prices-page__more-procedures.more-procedures-prices
        h2.prices-page__subtitle.more-procedures-prices__title Также мы можем провести следующие процедуры
        table.more-procedures-prices__table.table
          each procedure in globalData.priceList.procedures
            tr.table__row
              td.table__cell= procedure.name
              td.table__cell!= `${procedure.price}&thinsp;₽`
      section.prices-page__more-procedures.additions-prices
        h2.prices-page__subtitle.additions-prices__title
          | Или проработать отдельные зоны, но&nbsp;только в&nbsp;дополнение к&nbsp;основной процедуре
        p.additions-prices__description
          | Например, у&nbsp;вас болит плечо, но&nbsp;вы приходите на&nbsp;эстетический массаж, и&nbsp;хотите совместить
          | процедуры. Скажите мастеру о&nbsp;проблеме, и&nbsp;он сделает вам дополнительный массаж из&nbsp;списка ниже:
        table.additions-prices__table.table
          each addition in globalData.priceList.additions
            tr.table__row
              td.table__cell= addition.name
              td.table__cell!= `${addition.price}&thinsp;₽`
      section.prices-page__callback-form
        include ../includes/modules/content/price-list/callback-form
block script
