extends ../layouts/article

block variables
  -
    pageData = {
      title: `Как правильно делать массаж шейно-воротниковой зоны в домашних условиях`,
      description: `Проводить расслабляющую процедуру можно в любое время, когда человек почувствовал появление
        нарастающей усталости в воротниковой зоне. Делать массаж можно на табуретке, чтобы сохранить свободный доступ
        к важной зоне тела, или на диване (в таком положении лучше подложить под лоб скрещенные ладони).`,
      keywords: `массаж шейно-воротниковой зоны, ШВЗ, дома`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[8]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 44; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/cervical-massage-at-home/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/cervical-massage-at-home/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['1x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Головная боль, хроническая усталость, отеки — последствия малоактивного образа жизни и сидячей работы, которая создает напряжение в области шеи. У жителя мегаполиса и лиц, проживающих в отдаленных районах, не всегда есть возможность обратиться к опытному массажисту. Выход — сделать себе массаж шейно-воротниковой зоны в домашних условиях, который требует лишь наличия напарника и определенных знаний.

    h2#nav-2 Техника выполнения массажа шейно-воротниковой зоны
    p Массаж практикуется уже несколько тысяч лет, в течение которых удалось довести методику воздействия на шею и плечи до идеала. Современным массажистам незачем проходить через серию проб и ошибок — достаточно соблюдать правильную технику выполнения массажа шейно-воротниковой зоны, чтобы приносить пациентам только максимальную пользу.
    +picture-tag(images[1], images[1].mobile.jpg['1x'], '').article-page__image
    h3 ПРИГОТОВЛЕНИЕ К МАССАЖУ
    p Отсутствие дискомфорта во время проведения массажа обеспечивается предварительным снятием вещей и одежды. В первую очередь убираются с тела цепочки и сережки, за которые массажисту легко зацепиться. По возможности перед сеансом принимается теплый душ, позволяющий ускорить мышечное расслабление.
    p
      b Варианты размещения:
    ol
      li
        | Сидя. Пациент садится на стул или твердую кровать и облокачивается руками на подставленный столик.
        |
        +picture-tag(images[2], images[2].mobile.jpg['1x'], '').article-page__image
      li
        | Лежа. Человек ложится на кровать или специальный массажный стол, оснащенный в его нижней части прорезью для лица.
        |
        +picture-tag(images[3], images[3].mobile.jpg['1x'], '').article-page__image
    p Массаж ШВЗ также рекомендуется проводить после снятия контактных линз и очков. Минимальное время приема пищи до начала сеанса составляет 1,5 часа.
    .arcticle-page__highlight
      p Проводить массаж нужно в помещении, где отсутствуют сквозняки, но есть постоянный приток чистого воздуха.
    h4 Этап 1: подготовка мышц
    p Стимуляция мышц никогда не начинается с грубых манипуляций — легкие поглаживания помогают подготовить тело к более интенсивному и глубокому лечебному влиянию.
    p Стимуляция области ШВЗ выполняется по основным массажным линиям.
    +picture-tag(images[4], images[4].mobile.jpg['1x'], '').article-page__image
    +picture-tag(images[5], images[5].mobile.jpg['1x'], '').article-page__image.article-page__image_right.article-page__image_small
    p Поверхностное соприкосновение внутренней части ладоней с кожей начинается с середины спины и заканчивается воздействием на плечи. Попеременно ладони отдаляются от позвоночного столба, достигая края правой лопатки. Затем массажист переходит на другое плечо и повторяет аналогичную стимуляцию.
    p Первые сеансы рекомендуется начинать с продольных и поперечных поглаживаний, а затем переходить к приемам, которые имеют более сложную траекторию движения.
    +picture-tag(images[6], images[6].mobile.jpg['1x'], '').article-page__image.article-page__image_left
    p Количество поглаживаний — от 8 до 10 раз с каждой стороны. Поглаживаниям уделяется не менее 1 минуты, особенно если пациент проходит только первый сеанс. Через несколько дней тело пациента становится более подготовленным к лечебной нагрузке, поэтому техника массажа воротниковой зоны может дополняться «восьмеркой». Схема выполнения: рука описывает траекторию в виде знака бесконечности, которая распространяется на 2 плеча.
    +picture-tag(images[7], images[7].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Постепенное возрастание нагрузки на мышцы осуществляется планомерным убыстрением выполняемых манипуляций.
    h4 Этап 2: разогрев мышц
    ul
      li
        | Продольное растирание — ритмичное, но нежное движение, усиливающее локальную микроциркуляцию крови. Контакт кожи с руками меняется: теперь участвуют в соприкосновении только подушечки пальцев. По восходящей прямолинейной траектории они поднимаются к шее, каждый раз отдаляясь от позвоночника. Затем массажист меняет положение рук, повторяя движение, но уже ребрами ладони. Оба приема проделываются в течение 10–20 секунд
        |
        +picture-tag(images[8], images[8].mobile.jpg['1x'], '').article-page__image
      li
        | Продольное растирание — ритмичное, но нежное движение, усиливающее локальную микроциркуляцию крови. Контакт кожи с руками меняется: теперь участвуют в соприкосновении только подушечки пальцев. По восходящей прямолинейной траектории они поднимаются к шее, каждый раз отдаляясь от позвоночника. Затем массажист меняет положение рук, повторяя движение, но уже ребрами ладони. Оба приема проделываются в течение 10–20 секунд
        |
        +picture-tag(images[9], images[9].mobile.jpg['1x'], '').article-page__image
      li
        | Продольное растирание — ритмичное, но нежное движение, усиливающее локальную микроциркуляцию крови. Контакт кожи с руками меняется: теперь участвуют в соприкосновении только подушечки пальцев. По восходящей прямолинейной траектории они поднимаются к шее, каждый раз отдаляясь от позвоночника. Затем массажист меняет положение рук, повторяя движение, но уже ребрами ладони. Оба приема проделываются в течение 10–20 секунд
        |
        +picture-tag(images[10], images[10].mobile.jpg['1x'], '').article-page__image
    h4 Этап 3: активный массаж ШВЗ
    p Все движения при разминании осуществляются от головы к плечам, то есть сверху вниз. Единственным исключением является прием "сверление". Изучая особенности выполнения 3 этапа, начинающие массажисты, которые интересуются тем, как правильно нужно делать массаж воротниковой зоны пациенту, узнают, что процедура разминания является самой трудоемкой. Она включает 3 последовательных действия.
    ul
      li захват,
      li приподнимание,
      li разминание.
    a(href=images[11].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[11], images[11].mobile.jpg['1x'], '').article-page__image
    p Спиралевидное разминание делится на 3 типа, которые идентичны по технике выполнения (круговые движения сочетаются с захватыванием кожи и мышечной ткани).
    a(href=images[12].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[12], images[12].mobile.jpg['1x'], '').article-page__image
    p
      b Этот вид разминания различен по месту воздействия.
    ol
      li трапециевидные мышцы;
      li надостная ямка;
      li паравертебральные мышцы.
    a(href=images[13].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[13], images[13].mobile.jpg['1x'], '').article-page__image
    +picture-tag(images[14], images[14].mobile.jpg['1x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description
      b Паравертебральные мышцы.
      |
      em Эти мышцы расположены вдоль всего позвоночного столба с обеих сторон остистых отростков, часто они заметны визуально.
    p Первые два элемента выполняются методом повторяющегося восхождения и снисхождения подушечек пальцев сначала по пучкам трапециевидной мышцы, а затем — по направлению паравертебральных мышечных волокон. Надостная ямка массируется иначе: кругообразное вращение осуществляется на одном месте.
    +picture-tag(images[15], images[15].mobile.jpg['1x'], '').article-page__image
    p После стимуляции этой точки производится прием рубление.
    p Мягкость и осторожность воздействия — главная схема выполнения массажа ШВЗ при работе с этой зоной. Время проработки на каждой фазе одинаковое — от 30 до 60 сек.
    h4 Этап 4: завершение массажа шейно-воротниковой зоны
    p Пальцевый дождь — расслабляющая и очень приятная процедура, которая имитирует попадание на кожу небольших капель. Массажист очень быстро проходит пальцами по спине, напоминая своими действиями процесс набора текста с помощью клавиатуры. Время выполнения — 10-секундный период.
    +picture-tag(images[16], images[16].mobile.jpg['1x'], '').article-page__image
    p Поглаживания, которые производились на 1 этапе, повторяются для завершения техники массажа ШВЗ, чтобы оказать общее расслабляющее воздействие. Легкий контакт рук с кожей тела помогает мышцам перейти в привычное состояние, которое не мешает при занятии повседневными делами.
    p Длительность лечебного массажа шеи и воротника дома не превышает 15–20 минут, кроме случаев, когда в теле диагностированы болезненные триггерные зоны. Болевые участки образуются из-за длительного перенапряжения отдельных мышечных групп, в то время как воздействие руками позволяет снять этот спазм.
    .article-page__highlight
      p Техника массажа для детей, младенцев и пожилых выполняется по такой же схеме, но с меньшей интенсивностью.
    h3 ВЫВОДЫ
    p Строгое соблюдение схемы массажа — гарантия быстрого улучшения состояния пациента. Более детально изучить техники выполнения массажа шейно-воротниковой зоны можно на видео, на котором опытный массажист осуществляет правильную лечебную процедуру. Узнайте легко и быстро, как восстанавливают здоровье профессионалы. Если освоить уроки массажа шейно-воротниковой зоны и проводить воздействие не менее 2 раз в неделю, то можно быстро достичь заметных улучшений. Усиление кровообращения, повышение работоспособности, активизация мозговой активности — приятные результаты, которые можно обнаружить уже через 2–3 сеанса.
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/3w3f8JEI12g' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/G__uv5CKbqA' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

    h2#nav-3 Массажеры, применяемые при массаже шейно-воротниковой зоны
    p Простота использования, мобильность и доступная цена массажеров — главные преимущества, вызывающие неподдельный интерес у пациентов, которые не могут или не хотят посещать массажный кабинет. Понимая предпочтения потребителей, производители медицинской техники активно насыщают рынок компактными приборами для стимуляции мышц. Однако дают ли эффект массажеры для шейно-воротниковой зоны и могут ли они заменить воздействие, которое производится руками специалиста?
    h3 ВИДЫ МАССАЖЕРОВ ДЛЯ ВОЗДЕЙСТВИЯ НА ШВЗ
    p Массирующие приборы отличаются по конструктивному исполнению, однако их применение всегда используется для достижения двух главных целей — усиления кровотока и оттока лимфы. В зависимости от стоимости массажера, модель может оснащаться несколькими типами воздействия (пример — механическое с инфракрасным).
    p
      b Разновидности массажеров ШВЗ:
    ul
      li
        b.article-page__highlighted-text Воротниковая накладка.
        |
        | Эргономичные приспособления размещаются на верхней части спины, чтобы оказать разминающее воздействие с помощью роликов, которые автоматически перекатываются под тканью.
        |
        +picture-tag(images[17], images[17].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Подушка».
        |
        | Устройство, которое подкладывается под голову, применяется для стимулирующего воздействия на мышцы шеи и частично спины. Возникающая от движущихся головок слабая вибрация помогает снимать приступы шейного остеохондроза.
        |
        +picture-tag(images[18], images[18].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Ручной электромассажер.
        |
        | Приспособление с ручкой и сменными насадками помогает делать массаж шейно-воротниковой зоны даже в тех местах спины, которые труднодоступны для самостоятельного воздействия.
        |
        +picture-tag(images[19], images[19].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Приборы с ик-воздействием.
        |
        | Вкупе с механической проработкой ШВЗ роликами особые излучатели помогают прогреть кожу, ускоряя снятие боли.
        |
        +picture-tag(images[20], images[20].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Бабочка».
        |
        | Миостимулятор отправляет мышцам электронные импульсы, усиливающие кровоток. Кроме слабого эффекта, который относят к минусам устройства, массажер запрещается использовать лицам со слабой сердечно-сосудистой системой и «водителями ритма» (кардиостимуляторами).
        |
        +picture-tag(images[21], images[21].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массажер «Молекула».
        |
        | Универсальное устройство, обладающие несколькими выступами («ножками»), подходит для стимуляции мышц по всей поверхности тела. В отличие от электрических массажных приборов, этот вариант менее удобен для проведения массажа в домашних условиях: его использование эффективно только при наличии помощника. Удерживая центр ручного тренажера, профессиональный массажист или помощник проводит им по ШВЗ.
        |
        +picture-tag(images[22], images[22].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массажер «Дуга».
        |
        | Приспособление, оснащенное шипованными роликами, оказывает более интенсивное воздействие на шею и спину. Его также проще использовать без помощника для расщепления подкожных отложений в «холке» и на бедрах.
        |
        +picture-tag(images[23], images[23].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Ленточный массажер с роликами-зубьями.
        |
        | Устройство для стимуляции мышц визуально напоминает мочалку-пояс. Принцип действия: оказывает разминающее воздействие с помощью перемещения по всей поверхности спины деревянных или пластиковых мини-блоков. Интенсивность массажа регулируется ручками.
        |
        +picture-tag(images[24], images[24].mobile.jpg['1x'], '').article-page__image
    p Комфортнее всего пользоваться автоматизированными вариантами, поскольку они делают массаж без физических усилий со стороны человека, но и цена на эти изделия значительно выше ручных приспособлений.
    .article-page__highlight
      h3 Полезный совет
      p Переносные тренажеры для спины и шеи полезно использовать офисным сотрудникам и водителям во время обеденного перерыва, чтобы предотвратить появление боли и спазмов к концу рабочего дня.
    h3 ВЫВОДЫ
    p Возможность применять массажеры для шейно-воротниковой зоны в удобное время приносит пациентам комфорт. Благодаря этому удобству отзывы на приспособления, заменяющие руки массажиста, преимущественно положительные. Однако ручные приспособления и электрические приборы больше созданы для легкого мышечного разминания (снятия спазма), в то время как более сложные приемы классического массажа — захват и вытягивание — не могут быть повторены с их использованием. По этой причине для коррекции большинства неврологических заболеваний терапевты назначают курс лечебного воздействия в массажном кабинете, а уже после пройденного лечения они рекомендуют использовать данные устройства для профилактики.

    h2#nav-4 Убираем «холку» массажем шейного отдела позвоночника
    p «Холка» — общее обозначение выступа на верхней части спины, на которой появляется подобие горба. Эстетический дефект формируется из-за скопления жировых отложений, которые не исчезают даже при похудении. Массаж — это эффективный способ, помогающий безопасно расщепить и вывести лишние вещества в воротниковой зоне. Процедура полезна мужчинам и женщинам, заинтересованным в том, как убрать холку легко и быстро.
    +picture-tag(images[25], images[25].mobile.jpg['1x'], '').article-page__image
    h3 ТЕХНИКА ИЗБАВЛЕНИЯ ОТ «ХОЛКИ»
    p Перед началом процедуры выполняются классические рекомендации для подготовки к массажу. Усилить эффект от нижеприведенной процедуры можно также с помощью выполнения особых движений головой (через несколько часов после сеанса). Манипуляции подобны тем, которые производятся во время общения с собеседником — при согласии (вверх и вниз), неодобрении (вправо и влево) или замечании («Ай-ай-ай», как при обращении к ребенку). Каждый вид упражнений выполняется не менее 30 раз.
    +picture-tag(images[26], images[26].mobile.jpg['1x'], '').article-page__image
    p
      b Алгоритм выполнения основной техники:
    ul
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Поверхностный контакт ладоней, осуществляемый сверху вниз, помогает расслабить мышцы. Поглаживания выполняются от 7 до 10 раз.
      li
        b.article-page__highlighted-text Растирание.
        |
        | Массажист производит вращательные движения, производимые от затылка до плеч. При обнаружении подкожных уплотнений в этих участках производится более длительное локальное воздействие. Вращение пальцев на месте выполняется для того, чтобы убрать холку благодаря упражнению, которое сильно ускоряет деструкцию (расщепление) подкожных отложений.
      li
        b.article-page__highlighted-text Баночный массаж.
        |
        | Очерчивая невидимый треугольник с направленной вершиной вниз, производится движение банки (по часовой стрелке и затем против нее) для усиления кровотока, который помогает расщеплять подкожные соль и жир. После воздействия (в течение 1 минуты) повторяется процедура растирания.
      li
        b.article-page__highlighted-text Массаж кулачками.
        |
        | Специалист проводит сжатыми пальцами от шеи до плеч сверху вниз (одновременно с двух сторон от позвоночного столба). Повтор — 3–5 раз. После воздействия опять повторяется прием баночного массажа.
      li
        b.article-page__highlighted-text Сжимания.
        |
        | Вся ладонь накладывается на верхнюю часть спины, а затем сжимается. Повторять 5–10 раз.
      li
        b.article-page__highlighted-text Повторное поглаживание.
        |
        | Релаксирующая манипуляция подготавливает мышцы к повседневному ритму жизни.
    .article-page__highlight
      h3 Внимание
      p В более 80 % случаев образование «холки» сочетается с появлением и усугублением шейного остеохондроза.
    p Если не осуществлять массаж шейно-воротниковой зоны при наличии вдовьего горба (название эстетического эффекта используется в простонародной речи), то к визуальному недостатку добавится еще и боль.
    +picture-tag(images[27], images[27].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Увеличение выроста провоцирует закрепление привычки сутулиться, а также приводит к сдавливанию артерии, питающей головной мозг.
    h3 ВЫВОДЫ
    p После устранения уплотнения пациенту рекомендуется записываться на профилактические курсы массажа 1–2 раза в год, чтобы выступ на спине не появился вновь. Получить общую информацию о том, как убрать холку на шее и сделать воротниковую зону эстетически привлекательной, можно также с помощью видео, где способ продемонстрирован Анной Куркуриной. Профессиональная спортсменка и тренер показывает технику в мельчайших подробностях, но максимально емко и интересно.
    h4 Гимнастика
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/D-9I9WxBA0w' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    h4 Массаж
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/6CYe9TMOulc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

    h2#nav-5 Массаж шейно-воротниковой зоны вакуумными банками
    p Повысить скорость расщепления жировых отложений и вызвать приток крови можно с помощью пониженного давления, которое создается при использовании аптечных мини-банок. Круглые или овальные приспособления точечно наносятся на кожу, чтобы помочь сделать полезный вакуумный массаж банками в области воротниковой зоны и шеи. Лечебное воздействие сочетается с приятным тактильным контактом, вызванным легким оттягиванием кожи, которое напоминает бережный захват мышечной ткани пальцами массажиста.
    +picture-tag(images[28], images[28].mobile.jpg['1x'], '').article-page__image
    h3 ТИПЫ ИСПОЛЬЗУЕМЫХ БАНОК И ПОДГОТОВКА К МАССАЖУ ШВЗ
    p Самые удобные изделия — пластиковые или стеклянные банки уменьшенного диаметра (на упаковке имеется надпись «для шейного массажа»). Они уже оснащены резиновой грушей, помогающей создать разряжение внутри сосуда.
    +picture-tag(images[29], images[29].mobile.jpg['1x'], '').article-page__image
    p Сложнее применять варианты из цельного стекла: их нужно периодически подвергать воздействию пламени, чтобы создать вакуум. Повторять прогрев нужно каждый раз после того, как банка отсоединилась от кожи.
    +picture-tag(images[30], images[30].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Неудобны и изделия со встроенным нагнетателем, поскольку перемещение усложняется наличием прикрепленного насоса.
    p Специалисты в области массажа рекомендуют начинать лечение банками только после приема горячей ванны. Во время водной процедуры пациент равным образом использует мочалку, которой растирает область ШВЗ до появления красноты. Перед тем как делать массаж вакуумной банкой, также необходимо убедиться, что на коже отсутствуют царапины или иные повреждения.
    .article-page__highlight
      p Если принять ванну невозможно, то сеанс начинается с обязательного растирания и поглаживания области ШВЗ.
    h3 ТЕХНИКА МАССАЖА ШЕЙНО-ВОРОТНИКОВОЙ ЗОНЫ БАНКАМИ
    p Для оказания терапевтического воздействия на шею, плечи и верхнюю часть спины используется только 1 массажная банка, которая активно перемещается по телу. Чтобы изделие не соскальзывало с кожи, необходимо увлажнить кожу кремом или маслом.
    p
      b Выполнение процедуры «от а до я»:
    ol
      li
        b.article-page__highlighted-text Прикрепление.
        |
        | Сжимая пластиковую банку или грушу пальцами, массажист наносит ее на кожу таким способом, чтобы она втянулась внутрь на 1–2 см. Внимание: постановка лечебного изделия не должна вызывать боль.
      li
        b.article-page__highlighted-text Комбинация движений.
        |
        | Банка, которая присоединилась, перемещается способом скольжения по поверхности тела. Техника: круговые движения, выполняемые по часовой стрелке, сочетаются с зигзагообразными траекториями. Повторение каждого приема — 5–6 раз.
      li
        b.article-page__highlighted-text Прямолинейные линии.
        |
        | Движение, осуществляемое вверх и вниз, выполняется с постепенным отдалением от позвоночного столба до края лопатки и возвращением обратно. При максимальном приближении к нему осуществляется прием «Дуга» — переход на другую часть спины через место, где находится седьмой позвонок. Количество повторов — 5–10.
      li
        b.article-page__highlighted-text С-образная траектория.
        |
        | Массажист, описывая лопатки банкой, выполняет движение, напоминающее полукруг, 3–4 раза с каждой стороны.
      li
        b.article-page__highlighted-text Воздействие на «холку».
        |
        | Именно здесь чаще скапливаются отложения жира и соли, но с помощью движения банки по линии воображаемого треугольника, у которого вершина направлена вниз, можно ускорять расщепление нежелательных веществ.
      li
        b.article-page__highlighted-text Нереверсивная линия.
        |
        | От области головы, где заканчивается рост волос, начинается движение банки вплоть до плечевого сустава (3–4 раза).
      li
        b.article-page__highlighted-text Проработка шейных позвонков.
        |
        | Круговые движения начинаются с последнего шейного позвонка и поднимаются до первого. Затем необходимо вернуться в отправную точку.
      li
        b.article-page__highlighted-text Отсоединение.
        |
        | После выполнения массажа шейно-воротниковой зоны с помощью банок они осторожно снимаются с кожи, которая должна плавно расправляться.
      li
        b.article-page__highlighted-text Усиление эффекта.
        |
        | Чтобы дерма приняла привычный тепловой режим, необходимо после окончания массажа обернуться одеялом на 15 минут.
    +picture-tag(images[31], images[31].mobile.jpg['1x'], '').article-page__image
    p Степень оказываемой нагрузки (интенсивности вакуумного разряжения) должна возрастать постепенно — в противном случае на неподготовленной коже могут появиться легкие кровоподтеки и синяки. Наименее чувствительный к повреждениям участок шейно-воротниковой зоны тела — поверхность лопаток, наиболее восприимчивый — шея.
    .article-page__highlight
      h3 Важно
      p Тромбоз вен, повышенная ломкость капилляров и обширная пигментация кожи — запретительные условия использования массажных банок.
    h3 ВЫВОДЫ
    p Ускорение обменных процессов, отток лимфы, приток крови и насыщение клеток кислородом — результат использования вакуумной терапии. Каждый желающий в состоянии легко обучиться вакуумному массажу банкой, особенно если использовать доступное для усвоения видео, которое находится чуть ниже.
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/V5zumlFFaoY' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

    h2#nav-6 Массаж воротниковой зоны при гипертонии
    p Гипоталамус и продолговатый мозг относятся к двум центрам, регулирующим кровяное давление. Пройдя массаж при гипертонии, пациент улучшает здоровье с помощью нормализации работы сердечно-сосудистой системы, восстановления вестибулярного аппарата и стабилизации дыхания. Однако использовать лечебную процедуру разрешено только гипертоникам с начальной формой болезни, в то время как 2 и 3 степени являются запретительными условиями для посещения массажного кабинета.
    +picture-tag(images[32], images[32].mobile.jpg['1x'], '').article-page__image
    h3 ПОДГОТОВКА И НЮАНСЫ ВЫПОЛНЕНИЯ МАССАЖА ШВЗ
    p Оптимальное положение пациента — позиция сидя: спокойное размещение на стуле приводит как к расслаблению мышц, так и оттоку крови от головы. Сохранение такого положения тела предотвращает повышение давления во время сеанса.
    p
      b Особенности массажного сеанса при гипертонии:
    ol
      li благоприятное время суток — утро;
      li рекомендуемое время воздействия — от 20 до 40 минут;
      li предел верхнего давления — 160 единиц;
      li меры предосторожности — измерение давления перед сеансом.
    p Если неприятные ощущения не возникают, то можно осуществить на кушетку перенос рук, на которые опускается голова. Кроме массажа шейно-воротниковой зоны воздействие оказывается на волосистую и лобно-височную части тела.
    +picture-tag(images[33], images[33].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Все манипуляции при гипертонии выполняются в строго одном направлении — сверху вниз.
    h3 ТЕХНИКА МАССАЖА ДЛЯ ГИПЕРТОНИКОВ
    p Начало сеанса состоит из элементов классического массажа, связанного с выполнением поглаживаний и растирания поверхности ШВЗ. Затем массажист переходит к воздействию на волосистую часть головы. Во время выполнения процедуры необходимо ориентироваться на состояние больного: у пациента не должно возникать болевых ощущений — в противном случае массаж следует прекратить.
    p
      b Приемы воздействия:
    ul
      li
        b.article-page__highlighted-text Расслабление.
        |
        | После трехкратного поглаживания головы — от макушки до плеч — повторяются спиралевидные движения в области теменной части черепа, которые выполняется подушечками 4 пальцев каждой руки. Темп: от легкого касания до плавно возрастающего усилия.
      li
        b.article-page__highlighted-text Растирание.
        |
        | Попытки захватить кожу усиливаются и выполняются по траектории, протянувшейся от макушки до окончания роста волос на голове.
      li
        b.article-page__highlighted-text Воздействие на область ШВЗ.
        |
        | Легкие поглаживания (не кулачком) проводятся от линии первого шейного позвонка до плечевого сустава (с каждой стороны по 3–7 раз).
      li
        b.article-page__highlighted-text Массаж лицевой части.
        |
        | Для удобства воздействия пациент откидывается на спинку стула, чтобы открыть доступ ко лбу. Выполняется ладонное поглаживание с помощью разнонаправленного движения, производимого двумя руками от срединной линии лба. Важно: в этой области тела запрещается применять силовые приемы.
      li
        b.article-page__highlighted-text Акупунктурная проработка.
        |
        | Используя точечный массаж при гипертонии, массажист понижает давление с помощью надавливания на теменную ямку.
      li
        b.article-page__highlighted-text Снятие напряжения с висков.
        |
        | Круговыми массирующими движениями осуществляется массаж височной области.
      li
        b.article-page__highlighted-text Воздействие на брови.
        |
        | Массажист захватывает большими и указательными пальцами кожу надбровных дуг и массирует их.
      li
        b.article-page__highlighted-text Пальцевый дождь.
        |
        | Ритмичное постукивание по лицу, шее и плечам — завершающий прием массажа.
    p Основной позитивный, практически моментальный результат массажа — снижение давление сразу на 10–20 пунктов. Главное — не торопиться и не проводить сеанс интенсивно, чтобы давление, напротив, не поднялось.
    +picture-tag(images[34], images[34].mobile.jpg['1x'], '').article-page__image
    .article-page__highlihgt
      p Посещение массажного кабинета после перенесенного гипертонического криза возможно только спустя 4 суток. Техника выполнения отличается максимально щадящим воздействием.
    h3 ВЫВОДЫ
    p При высоком артериальном давлении рекомендуется хотя бы раз в полгода проходить курс, состоящий из 10 сеансов. Частота выполнения — ежедневно или через день. После массажа шеи при гипертонии удается надолго стабилизировать давление и устранить большинство симптомов (в том числе шум в ушах и онемение пальцев), возникающих при повышенном АД. При соблюдении данной рекомендации вероятность возникновения гипертонического кризиса снижается более чем на 50 %.

    h2#nav-7 Экспресс-массаж в положении сидя (массаж на рабочем месте)
    p Самостоятельный массаж — процедура, призванная заместить лечебное воздействие, которое оказывает массажист. Обрести навык проведения самомассажа шеи и плеч полезно и с целью снятия спазмов в течение рабочего дня. Восстановление хорошего самочувствия может потребоваться и в походе, и перед выполнением физических упражнений, которые иногда — без разминки мышц — вызывают дискомфорт в теле. Любой желающий может быстро освоить технику, выполняемую собственноручно, благодаря относительно несложным приемам, которые легко повторить.
    +picture-tag(images[35], images[35].mobile.jpg['1x'], '').article-page__image
    h3 МЕТОДИКА ВЫПОЛНЕНИЯ ЭКСПРЕСС-МАССАЖА ШВЗ СВОИМИ&nbsp;РУКАМИ
    p Стимуляция мышц проводится в сжатые сроки — до 5 минут, поэтому для достижения быстрого результата воздействие оказывается на главные зоны, в которых чаще всего образуется напряжение. Ускоренный массаж производится через одежду, поэтому используются преимущественно надавливающие приемы, в то время как захват и оттягивание кожи сложнее осуществить без прямого контакта с кожей.
    p
      b Техника экспресс-самомассажа:
    ul
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | 2–3 раза от головы до плечевого сустава потворяются поглаживающие манипуляции.
      li
        b.article-page__highlighted-text Растирание.
        |
        | Подушечками пальцев выполняется растирание шеи с помощью круговых движений.
      li
        b.article-page__highlighted-text Разминка плечевого отдела.
        |
        | Слегка согнутыми пальцами производится надавливание всеми пальцами сначала на одно плечо, затем на другое.
      li
        b.article-page__highlighted-text Похлопывания.
        |
        | Вся часть ШВЗ, доступная для самостоятельного воздействия, во время выполнения экспресс-массажа прорабатывается ритмичными касаниями.
      li
        b.article-page__highlighted-text Пощипывания.
        |
        | Область шеи и спины, не закрытая одеждой, слегка оттягивается в местах локального воздействия (в хаотичном порядке).
      li
        b.article-page__highlighted-text Растирание трапециевидной мышцы.
        |
        | Руки размещаются по краям 7 позвонка, чтобы затем произвести разминку (захват) мышц.
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Массаж заканчивается серией легких касаний.
    .article-page__highlight
      h3 Важно
      p Руки активно разминаются во время выполнения самомассажа, который дает вспомогательный позитивный эффект — профилактику «туннельного синдрома» (чрезмерного напряжения кисти).
    p После завершения экспресс-массажа можно оперативно вернуться к выполнению своих трудовых обязанностей. Прилив сил и прояснение сознания появляются уже через 2–3 минуты, а уменьшение напряжения можно ощутить еще во время выполнения терапевтической техники.
    +picture-tag(images[36], images[36].mobile.jpg['1x'], '').article-page__image
    h3 ТЕХНИКА ВЫПОЛНЕНИЯ ОФИСНОГО МАССАЖА ПОМОЩНИКОМ
    p Весь процесс, который перечислен выше, повторяется массажистом или коллегой по работе, однако арсенал дополнительных манипуляций, доступных для применения, значительно расширяется.
    p
      b Вспомогательные приемы:
    ul
      li
        b.article-page__highlighted-text Приподнимание плеч.
        |
        | Массажист обхватывает их с двух сторон, а затем «роняет». Количество повторов — 3–5.
      li
        b.article-page__highlighted-text Раздвигание плеч.
        |
        | Смещение плечевого пояса назад ведет к восстановлению осанки и снятию напряжения.
      li
        b.article-page__highlighted-text Надавливание на надостные ямки.
        |
        | Начиная с данного приема, пациент облокачивается на стол и слегка наклоняет голову. Массажист упирается на верхнюю часть спины и делает массаж шейно-воротниковой зоны в области этих ямок (большим пальцем). Надавливание длится 4 с, затем воздействие горизонтально смещается на 2–3 см и повторяется до момента достижения края лопаток.
      li
        b.article-page__highlighted-text Надавливание по линиям от позвоночника.
        |
        | Аналогичная манипуляция, включающая отступ, выполняется от 7 шейного позвонка до середины спины (по вертикальной плоскости).
      li
        b.article-page__highlighted-text Рубление.
        |
        | Легкое вибрирующее воздействие осуществляется ребрами ладоней, которые попеременно касаются спины. Прием длится до 2–3 минут.
    .article-page__highlight
      h3 Интересный факт!
      p Экспресс-массаж, который проводится хотя бы 2 раза в неделю, снижает уровень кортизола в крови и повышает интеллектуальные способности сотрудника.
    p Выполнять экспресс-массаж можно на офисном стуле, однако развитие сферы услуг позволило появиться необычной разновидности офисного массажа, который производится на специальной мебели раскладного типа. Приспособление имеет выступы для лица, как у настоящего массажного кресла, но положение человека сохраняется в положении сидя.
    +picture-tag(images[37], images[37].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Несмотря на удобство метода, далеко не все работодатели готовы позволить сотрудникам отдыхать именно таким способом.
    h3 ВЫВОДЫ
    p Повышение умственной и физической активности, снятие спазма и устранение сниженного кровоснабжения головного мозга — лишь небольшая часть положительных эффектов, которые наблюдаются уже через пару сеансов. Хотите научиться технике массажа на рабочем месте? Практикующий массажист, представленный на видео, делится всеми существующими тонкостями и нюансами, которые необходимы для результативного выполнения лечебной процедуры. Как только вы начнете применять действенные советы на практике, то обязательно почувствуете значительное улучшение самочувствия, повысите производительность труда и предотвратите развитие шейного остеохондроза.
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/rAblBHhjwB0' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

    h2#nav-8 Расслабляющий массаж «Антистресс»
    p Влияние стресса связано с неизбежным повышением в крови уровня кортизола, который замедляет насыщение мышц аминокислотами. Общее нервное состояние равным образом заставляет мышечные волокна напрягаться, вызывая физический дискомфорт. Больше всего спазмируется шейно-воротниковая зона, которую может легко успокоить расслабляющий массаж «Антистресс», помогающий человеку быстро вернуться к внутреннему умиротворению и гармонии.
    h3 МЕТОДИКА АНТИСТРЕССОВОГО МАССАЖА ШВЗ
    p Подготавливаясь к выполнению лечебного воздействия, массажист настраивается на более бережное воздействие, чем то, которое оказывается для лечения шейного остеохондроза и других болезней. Расслабляющий контакт рук связан только с бережным соприкосновением низкой или средней силы воздействия. Основное влияние оказывается на область головы.
    +picture-tag(images[38], images[38].mobile.jpg['1x'], '').article-page__image
    p
      b Последовательность выполнения техники «Антистресс»:
    ul
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Руки обхватывают голову, затем они постепенно спускаются до плеч (повторить 5 раз). Потом воздействие переносится на шею: движения по кругу, осуществляемые подушечками пальцев, начинаются с места расположения первого позвонка и достигают кожи плечевого пояса.
      li
        b.article-page__highlighted-text Массаж затылка и ушей.
        |
        | Большие пальцы размещаются за ушными раковинами, в то время как остальные пальцы полусогнуты и находятся чуть дальше. Траектория движения рук — от заушного пространства к центру затылка. Затем аналогичный прием повторяется в обратную сторону (по 3 раза).
      li
        b.article-page__highlighted-text Стимуляция висков.
        |
        | Аналогичное движение в области ШВЗ выполняется до затылка, но начинается с области висков. Проработка височной части — важная часть антистрессового массажа: воздействие на эту область помогает быстро убрать головную боль, которая часто присутствует при нервном напряжении. Повторять прием необходимо до появления чувства легкости.
        +picture-tag(images[39], images[39].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массаж теменной зоны.
        |
        | Пальцы повторяют движение, напоминающее почесывание, непосредственно в области теменной части головы.
      li
        b.article-page__highlighted-text Разминание лба.
        |
        | Подушечки пальцев накладываются на зону начала роста волос (область лица), а мизинчики касаются бровей. Круговые движения постепенно переносятся вправо и влево. Другой вариант — использование двух рук, но массирование выполняется без смещения пальцев.
      li
        b.article-page__highlighted-text Воздействие на плечевой пояс.
        |
        | Массажист проводит кулачками от затылка до плечевого сустава. Манипуляция повторяется 8–10 раз.
      li
        b.article-page__highlighted-text Пальцевый дождь.
        |
        | Приятная расслабляющая процедура снимает напряжение благодаря ритмичному, но легкому постукиванию пальцев по всей поверхности головы, шеи и плеч.
    p Рекомендуемая продолжительность массажа шейно-воротниковой зоны составляет 8–10 минут. Для усиления релаксирующего воздействия также можно применять ароматические свечи, тихую музыку и эфирные масла, помогающие быстро отвлечься от неприятных мыслей и эмоций.
    +picture-tag(images[40], images[40].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Пройденный курс релаксирующего массажа помогает значительно повысить стрессоустойчивость.
    h3 ВЫВОДЫ
    p Рекомендуется использовать этот вид массажа всем, кто испытывает чрезмерные психические или физические нагрузки. Использовать антистрессовый массаж тела можно и при эпизодической необходимости, если приходиться сталкиваться с волнительными ситуациями лишь изредка. Дополнительный приятный эффект — изменение отношения человека к стрессовой ситуации после лечебной стимуляции. Расслабление и восстановление сил помогают сделать проблему менее значимой или найти способы, как быстрее от нее избавиться.

    h2#nav-9 Самомассаж
    p Самостоятельный массаж — процедура, призванная заместить лечебное воздействие, которое оказывает массажист. Обрести навык проведения самомассажа шеи и плеч полезно и с целью снятия спазмов в течение рабочего дня. Восстановление хорошего самочувствия может потребоваться и в походе, и перед выполнением физических упражнений, которые иногда — без разминки мышц — вызывают дискомфорт в теле. Любой желающий может быстро освоить технику, выполняемую собственноручно, благодаря относительно несложным приемам, которые легко повторить.
    +picture-tag(images[41], images[41].mobile.jpg['1x'], '').article-page__image
    h3 ТЕХНИКА САМОМАССАЖА ШВЗ
    p Выполнять упражнение можно как сидя, так и стоя — от положения тела эффективность воздействия не меняется. Однако следует избегать неудобных поз, вызывающих мышечное напряжение.
    p
      b Метод шейного и плечевого самомассажа:
    ul
      li
        b.article-page__highlighted-text Шея.
        |
        | Сначала производится ее обхват двумя руками, которые подушечками пальцев примыкают к шейным позвонкам, но не надавливают на них. Затем осуществляются поглаживания, спускающиеся сверху вниз (амплитуда от 1 до 3 см). Варианты стимуляции: одновременно двумя руками или каждой — попеременно.
      li
        b.article-page__highlighted-text Надплечье.
        |
        | Начав растирать шею круговыми движениями, человек без отрыва от тела перемещает руки на плечи и ритмично производит захватывание кожи (техника сжатия пальцев напоминает процесс лепки пластилина). Постепенно зона массажа шейно-воротниковой зоны смещается к плечам.
        +picture-tag(images[42], images[42].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Верхняя часть спины.
        |
        | Вместе с плечевым поясом осуществляется разминание и прилегающих к нему участков кожи. Максимальное количество времени необходимо уделить верхней части трапециевидной мышцы, которая часто сильно напряжена.
      li
        b.article-page__highlighted-text Вся зона шеи и воротника.
        |
        | В завершении массажа выполняются любые действия, которые можно повторить собственноручно — похлопывания, поколачивания, рубление (по 20 раз каждый прием). Завершить разминание мышц следует поглаживаниями.
    .article-page__highlight
      p Если во время самомассажа удалось обнаружить триггерные точки, которые при нажатии вызывают боль, то растирать их следует очень осторожно.
    +picture-tag(images[43], images[43].mobile.jpg['1x'], '').article-page__image
    p Только специалисты в области массажа обладают знаниями и умениями, помогающими приносить исключительно полезное воздействие на эти участки тела.
    .article-page__highlight
      h3 Медицинский факт.
      p Массировать область ШВЗ можно даже через одежду, поэтому оказывать лечебное воздействие можно не только дома.
    h3 ВЫВОДЫ
    p Освоив полезные приемы, пациент получает выгодную возможность лечить себя в любое удобное время. Однако собственными силами удается снимать только легкие спазмы, а при наличии сильной боли и значительном ограничении подвижности тела необходимо сначала посетить терапевта. Чтобы узнать дополнительные секреты домашнего самомассажа, посмотрите видео, в котором во всех деталях можно увидеть процесс восстанавливающего воздействия на воротниковую зону.
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/T-63J2JTCt0' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
