extends ../layouts/article

block variables
  -
    pageData = {
      title: `Массаж шейно-воротниковой зоны при шейном остеохондрозе`,
      description: `Разрушение хрящевой ткани между шейными позвонками провоцирует появление чувства скованности, боли и
        сильного напряжения. Ухудшение состояния также увеличивает риски сдавливания шейной артерии, питающей головной мозг.`,
      keywords: `массаж, шейно-воротниковая зона, остеохондроз`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[7]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 44; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/cervical-massage-against-osteochondrosis/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/cervical-massage-against-osteochondrosis/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/cervical-massage-against-osteochondrosis/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/cervical-massage-against-osteochondrosis/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/cervical-massage-against-osteochondrosis/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/cervical-massage-against-osteochondrosis/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    h2#nav-1 Массаж при шейном остеохондрозе
    p Разрушение хрящевой ткани между шейными позвонками провоцирует появление чувства скованности, боли и сильного напряжения. Ухудшение состояния также увеличивает риски сдавливания шейной артерии, питающей головной мозг. Головокружение, «звездочки» в глазах, слабость в руках — все эти неприятные состояния быстро исчезают, если проводится массаж при шейном остеохондрозе, который помогает избежать дальнейшего смещения межпозвоночных дисков и предотвратить ослабление мозгового кровоснабжения.
    +picture-tag(images[1], images[1].mobile.jpg['2x'], '').article-page__image
    h3 КРАТКАЯ ТЕХНИКА МАССАЖА ШВЗ ПРИ ОСТЕОХОНДРОЗЕ ШЕИ
    p Воздействие на позвонки — деликатная процедура, поэтому в домашних условиях не рекомендуется проводить данную процедуру. Массажист начинает традиционное (для классического массажа) поглаживание в области воротниковой зоны и шеи, а затем переходит к более интенсивным приемам.
    +picture-tag(images[2], images[2].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Основное время, потраченное на процедуру, отводится шее и плечам.
    p
      br
      b Процедура лечения шеи массажем:
    ul
      li
        b.article-page__highlighted-text Растирание трапециевидной мышцы.
        |
        | Массажист сжимает и отпускает участки кожи методом их оттягивания. Время воздействия — до 1 минуты.
      li
        b.article-page__highlighted-text Массирование околопозвоночных зон.
        |
        | Два пальца выполняют вертикальные круговые движения по линии позвоночника. Манипуляции повторяются от 3 до 5 раз.
      li
        b.article-page__highlighted-text Боковое оттягивание.
        |
        | На расстоянии 2–3 см от шейных позвонков собирается кожа в небольшие складки. Быстрое разминание чередуется с их длительным удерживанием. Захваты помогают лучше расщеплять подкожные жировые и солевые отложения.
      li
        b.article-page__highlighted-text Оттягивание кожи на позвоночном столбе.
        |
        | Фаланги пальцев размещаются по бокам от шейного отдела позвоночника, а затем ими производится формирование складки. Траектория — от верхнего позвонка до середины спины.
      li
        b.article-page__highlighted-text Оздоровление остистых отростков.
        |
        | Специалист размещает большие пальцы на смежные остистые отростки позвонков, которые прилегают друг к другу. Он производит надавливание одним пальцем сверху вниз, а другим — снизу вверх.
      li
        b.article-page__highlighted-text Воздействие банками.
        |
        | Включать этот прием в сеанс массажа шейно-воротниковой зоны следует, если остеохондроз шеи осложнен наличием «холки».
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Лечебная процедура вновь завершается легким касанием шеи и плечевого пояса.
    p Практикующие массажисты устраняют неприятные ощущения уже через 1–2 сеанса. Допускается снимать приступы ноющей боли с помощью массажных действий, однако не в период рецидива болезни. Базовый курс состоит из 10–15 сеансов, которые выполняются каждый день или через сутки отдыха. Перечисленные приемы также могут быть дополнены приемами классического массажа ШВЗ — вибрацией, пальцевым дождем, рублением.
    +picture-tag(images[3], images[3].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Наибольшую интенсивность воздействия необходимо оказывать на поврежденную область
      p Точно определить позвонки, в которых хрящевая ткань поражена, можно с помощью рентгенографии. В медицинском заключении указывается список деформированных дисков (С-1/С-2, С-2/С-3 и т. д.). Его обязательно необходимо показать массажисту.
    h3 ВЫВОДЫ
    p Даже если у пациента имеются протрузии, то массаж при наличии остеохондроза шейного отдела позвоночника может стать спасительным кругом, который поможет не только улучшить самочувствие, но и предотвратить развитие более коварной формы болезни — межпозвонковой грыжи. Место разрыва фиброзного кольца восстанавливается преимущественно хирургическими методами, приводящими к длительной реабилитации пациента после оперативного вмешательства. Разумнее предотвратить серьезное осложнение с помощью курса массажа, чем затем терять время на адаптацию.

    h2#nav-2 Техника массажа шейно-воротниковой зоны при шейном остеохондрозе
    +picture-tag(images[4], images[4].mobile.jpg['2x'], '').article-page__image
    p Шейные позвонки, которых в теле насчитывается 7 штук (С1–С7), дают человеку возможность легко поворачивать голову. Из-за недостатка физической активности и влияния возрастных трансформаций межпозвонковые диски травмируются, вызывая появление дистрофических процессов в хрящевой ткани. Головная боль, скованность мышц и головокружения — распространенные дискомфортные явления, которые легко устраняются с помощью выполнения техник массажа шейно-воротниковой зоны, оказывающих сильное восстанавливающее воздействие при шейном остеохондрозе позвоночника. Однако лечебная процедура должна корректироваться с учетом ряда особенностей, которые свойственны данной болезни.
    h3 ЗАДАЧИ И ПРАВИЛА МАССАЖА ПРИ ОСТЕОХОНДРОЗЕ ШЕЙНОГО ОТДЕЛА
    +picture-tag(images[5], images[5].mobile.jpg['2x'], '').article-page__image
    p Главная задача массажа — укрепить затылочные и шейные мышцы, которые удерживают позвонки в естественном положении. Устранение боли осуществляется с помощью разминки не только шеи, но и плечевого пояса — расширение зоны воздействия помогает комплексно усилить лимфо- и кровоснабжение в области ШВЗ. Результат — восстановление комфортного самочувствия.
    p
      br
      b Рекомендации и ограничения к массажу:
    ol
      li проводится мягкое воздействие на мышцы и шейные позвонки;
      li выполняется обязательная проработка паравертебральных зон;
      li подбирается положение (сидя или лежа) в зависимости от предпочтений пациента;
      li запрещается использовать силовые приемы и интенсивные надавливания.
    p Определяя тактику лечения массажем, специалист уделяет больше времени подготовительным приемам — поглаживаниям и растираниям (не менее 30 % от общего времени массажа). При сильном гипотонусе (ослабленности) мышечных групп на первом лечебном сеансе не используют техники глубокого массажа. Время воздействия — от 20 до 40 минут — плавно нарастает и достигает максимума ближе к завершению курса.
    .article-page__highlight
      h3 Медицинский факт
      p При повреждении рук массаж области ШВЗ оказывает неоценимую пользу: благодаря связанности нервных окончаний удается быстро восстановить чувствительность и подвижность верхних конечностей.
    h3 ТЕХНИКА МАССАЖА ПРИ ШЕЙНОМ ОСТЕОХОНДРОЗЕ: НАЧАЛО СЕАНСА
    a(href=images[6].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[6], images[6].mobile.jpg['2x'], '').article-page__image
    ul
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Массажист проводит внутренней стороной ладони по нисходящей траектории, которая начинается от затылка и заканчивается плечевым поясом. Принимаемая форма ладоней — ровная, расправленная (плоскостное поглаживание). Число повторов — до 10.
      li
        b.article-page__highlighted-text Растирания.
        |
        | Подготовка мышц шеи и верхней части спины продолжается при выполнении серии массажных движений, выполняемых подушечками пальцев. На втором и последующих сеансах для данного приема можно использовать также ребра ладоней, но преимущественно для воздействия на плечевой пояс и спину.
      li
        b.article-page__highlighted-text Разминание.
        |
        | Захват мышц происходит до образования мелких складок в области шеи и более крупных — в зоне верхней части спины. Удержание мышечной ткани с боковых сторон шеи осуществляется с задержкой (до 3–4 с), которая помогает ускорить снятие гипертонуса.
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Теперь линия воздействия достигает центра спины. Количество повторов — 5–7.
    .article-page__highlight
      h3 Внимание
      p Поглаживания при остеохондрозе не выполняются по восходящей траектории.
    h3 ВОЗДЕЙСТВИЕ НА ТРАПЕЦИЕВИДНУЮ МЫШЦУ
    a(href=images[7].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[7], images[7].mobile.jpg['2x'], '').article-page__image
    ul
      li
        b.article-page__highlighted-text Пиление.
        |
        | Две руки воздействуют на верхнюю часть спины ребрами ладоней, имитируя распиливающие движения (руки движутся разнонаправленно).
      li
        b.article-page__highlighted-text Рубление.
        |
        | В аналогичной позиции руки совершают ритмичные вибрационные движения, но уже в вертикальной плоскости. Манипуляции напоминают поочередное соприкосновение каждого ребра ладони с кожей.
      li
        b.article-page__highlighted-text Вибрационное поглаживание.
        |
        | Движение имеет сходство с классическим плоскостным поглаживанием, однако во время спуска по воротниковой зоне кисть выполняет резкие волнообразные движения.
    .article-page__highlight
      h3 Внимание
      p При нестабильности позвонков нельзя использовать прием выдавливание (в том числе с отягощением второй рукой), который предполагает ее движение с надавливающим упором.
    h3 ПРОРАБОТКА ПАРАВЕРТЕБРАЛЬНЫХ ЗОН
    a(href=images[8].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[8], images[8].mobile.jpg['2x'], '').article-page__image
    p Паравертебральные мышцы локализуются по бокам от позвоночного столба, где крайне полезно использовать точечные методики воздействия. Средними и указательными пальцами надавливают на так называемые паравертебральные линии, отступая каждый раз по 1–2 см. Первостепенное внимание уделяется траектории, идущей от 1 до 7 шейного позвонка.
    a(href=images[9].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[9], images[9].mobile.jpg['2x'], '').article-page__image
    p
      br
      b Техника воздействия:
    ol
      li начать с первого позвонка шеи;
      li постепенно снижаться до седьмого позвонка;
      li повторить надавливание, но уже по восходящей траектории.
    a(href=images[10].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[10], images[10].mobile.jpg['2x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description * а — надавливание, б — круговое массирование.
    p Процедура выполнения массажа области ШВЗ при шейном остеохондрозе заключается в легком, деликатном надавливании: позвонки С1–С7 гораздо меньше чем те, которые расположены в грудной и поясничной зоне. Другой фактор — повышенная чувствительность в области шеи, которая при интенсивном надавливании может вызывать боль у пациента.
    .article-page__highlight
      h3 Медицинский факт.
      p Разминка паравертебральных зон в шейной и плечевой частях спины помогает существенно усилить питание позвонков, измененных из-за влияния шейного остеохондроза.
    h3 ЛЕЧЕНИЕ МАССАЖЕМ ПРИ ПОЯВЛЕНИИ ПОБОЧНЫХ БОЛЕЙ В ЛОПАТКЕ, РУКЕ, ПЛЕЧЕ
    p У больных шейным остеохондрозом болевой синдром часто распространяется на участки тела, связанные с областью ШВЗ. Если состояние усугублено данной симптоматикой, то в массаж необходимо включить вспомогательные массажные приемы.
    ul.article-page__list.article-page__list_no-marker
      li
        br
        b.article-page__highlighted-text Лопатка.
        |
        | Массажист проводит разминание в этой области, выполняя воздействие по С-образной линии, огибающей лопатку. Рука заводится за тело, приподнимая лопатку, на которою воздействуют разминающими движениями. В завершении воздействия необходимо выполнить граблеообразные движения, повторяемые от грудины к позвоночнику. Этот прием помогает эффективно воздействовать на межреберные промежутки. Выполнять серию описанных приемов следует после разминания межлопаточной части подушечками пальцев (растирания).
        a(href=images[11].mobile.jpg['2x'] target='_blank')
          +picture-tag(images[11], images[11].mobile.jpg['2x'], '').article-page__image
      li
        b.article-page__highlighted-text Руки.
        |
        | Для снятия спазма проводится серия интенсивных и быстрых поглаживаний, потряхиваний и вибрации. При мышечной атрофии массаж дополняется ударными приемами (постукиванием и поколачиванием).
        +picture-tag(images[12], images[12].mobile.jpg['2x'], '').article-page__image
      li
        b.article-page__highlighted-text Плечо.
        |
        | Болевой синдром в плечевом суставе нейтрализуется разминкой дельтавидной мышцы, которая располагается в этой области. Основной используемый массажный прием — разминание.
        a(href=images[13].mobile.jpg['2x'] target='_blank')
          +picture-tag(images[13], images[13].mobile.jpg['2x'], '').article-page__image
    p Если при шейном остеохондрозе возникают сердечные боли, не связанные с болезнями сердца, то больше внимания нужно уделить воздействию на лопатки и плечи.
    a(href=images[14].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[14], images[14].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Для массажа конечностей и плеч вместо поверхностного поглаживания (полного соприкосновения руки с телом) удобно использовать обхватывающий вариант. Приняв руку в форме небольшого желоба, такой вид воздействия идеален для проработки участков округлой формы.
    h3 ЗАВЕРШЕНИЕ СЕАНСА И РЕЗУЛЬТАТ МАССАЖА ПРИ ШЕЙНОМ ОСТЕОХОНДРОЗЕ
    a(href=images[15].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[15], images[15].mobile.jpg['2x'], '').article-page__image
    p Активное массажное воздействие сменяется успокаивающим приемом, который называют пальцевым дождем. Имитируя печатание текста на клавиатуре, пальцы бегло пробегают от области первого шейного позвонка и достигают центра спины.
    +picture-tag(images[16], images[16].mobile.jpg['2x'], '').article-page__image
    p После завершения техники массажа, если она выполнена опытным специалистом, то боль исчезает у пациентов, больных шейным остеохондрозом, — она заменяется чувством физического и эмоционального комфорта.
    .article-page__highlight
      h3 Интересный факт
      p Если дополнить классический массаж области ШВЗ использованием банок, то можно также убрать «холку», которая часто присутствует у больных с шейным остеохондрозом.
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/4_ldJLD3UCI' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/rlxyoHWTnAE' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

    h2#nav-3 Показания для массажа воротниковой зоны
    +picture-tag(images[17], images[17].mobile.jpg['2x'], '').article-page__image
    p Массаж одинаково полезен как для профилактики физических расстройств организма, так и устранения болезней или — как минимум — существенного улучшения состояния больного. Вегето-сосудистую дистонию и шейный остеохондроз относят к острым проблемам современного человека, который вынужден заниматься монотонной работой, заставляющей принимать различные положения тела непривычно длительное время. В итоге медицинские показания для массажа воротниковой зоны становятся нормой для все большего количества людей.
    h3 КОРРЕКЦИЯ ВРЕМЕННЫХ НАРУШЕНИЙ С ПОМОЩЬЮ МАССАЖА ШВЗ
    p Под воздействием негативных факторов — тяжелой работы и стресса — происходит расшатывание психики и физического баланса человека. Нижеописанный перечень неприятных симптомов чаще диагностируется у офисных работников, водителей и лиц, которые испытывают временные трудности.
    p
      br
      b Рациональность проведения массажа ШВЗ при:
    ol
      li Бессоннице;
      li Неврозе;
      li Сонливости;
      li Головной боли;
      li Гипертонической болезни;
      li Мигрени;
      li Хронической усталости;
      li Умственном перенапряжении;
      li Головокружении;
      li Судорогах;
      li Атеросклерозе;
      li Падении четкости зрения.
    p Ушибы и падения равным образом приводят к травмам, которые приносят временный дискомфорт, однако ухудшение качества жизни, вызванного последствиями грубого механического воздействия, может иметь длительный характер. Массаж помогает сократить время реабилитации и социализации до минимума.
    .article-page__highlight
      h3 Медицинский факт
      p Курс массажа ШВЗ помогает устранить в плечевой части тела солевые и жировые отложения, из-за которых у человека появляется неэстетичное подкожное уплотнение — «холка».
    h3 ХРОНИЧЕСКАЯ БОЛЕЗНЬ КАК ГЛАВНОЕ ПОКАЗАНИЕ ДЛЯ МАССАЖА ШВЗ
    +picture-tag(images[18], images[18].mobile.jpg['2x'], '').article-page__image
    p Шейный остеохондроз — основной «виновник» появления синдрома окаменелой головы, при котором возникает скованность в движениях. Снижение возможного градуса поворота развивается и при защемлении нерва, возникающего при резком повороте головы, а также после сна на неэргономичной подушке или кровати. Жизненно необходим массаж шейно-воротниковой зоны для взрослых, если диагноз включает нестабильность нескольких позвонков.
    p Протрузии и грыжи позвоночника не относятся к противопоказаниям: для пациентов с данными нарушениями созданы специальные программы, позволяющие мягко, но эффективно воздействовать на поврежденные участки. В комплексе с консервативным лечением процедура стимуляции мышц часто помогает избежать хирургического вмешательства и получению инвалидности после возникновения осложнений.
    p
      br
      b Вспомогательные виды показаний:
    ul
      li
        b.article-page__highlighted-text Вегето-сосудистая дистония (ВСД).
        |
        | Терапия массажем помогает нормализовать функционирование вегетативной нервной системы, а также улучшить состояние при появлении осложнения ВСД —дисциркуляторной энцефалопатии, связанной с развитием диффузного поражения головного мозга. Результат — устранение головокружений, дрожания рук, аритмии и синдрома холодных конечностей.
      li
        b.article-page__highlighted-text Внутричерепное давление (ВЧД).
        |
        | Застой спинномозговой жидкости —причина появления чувства распирания в голове, в то время как мануальное воздействие предотвращает избыточное накопление ликвора. При бездействии человека аккумуляция жидкости способна приводить к гидроцефалии мозга.
      li
        b.article-page__highlighted-text Болезни сердца.
        |
        | Ученые доказали, что от состояния мышц шеи зависит иннервация сердца (нервная чувствительность органа), поэтому отсутствие спазмированности мышц улучшает его тонус и стабилизирует давление.
      li
        b.article-page__highlighted-text Церебральная недостаточность.
        |
        | Начальная форма недуга возникает при нарушении микроциркуляции головного мозга, которая со временем приводит к переходу болезни в более тяжелые формы. Предотвратить развитие признаков оглушения, снижения зрения и появление припадков помогает мануальная терапия.
      li
        b.article-page__highlighted-text Реабилитация после инсульта.
        |
        | Нейтрализация осложнений инсульта и восстановление венозного оттока — польза от массажа, которая так необходима после «мозгового удара».
    p Благотворное воздействие процедуры также наблюдается при рассеянном склерозе, миастении (мышечной утомляемости) и гипертонии, если давление повышено незначительно и у человека отсутствуют кризы.
    .article-page__highlight
      p Массаж шеи и воротниковой зоны восстанавливает хрящевые клетки, которые быстро изнашиваются при унковертебральном артрозе.
    h3 ПОКАЗАНИЯ ДЛЯ НАЗНАЧЕНИЯ МАССАЖА ШВЗ ДЕТЯМ
    +picture-tag(images[19], images[19].mobile.jpg['2x'], '').article-page__image
    p До 18 лет осанка формируется наиболее активно — во взрослом возрасте исправлять последствия неправильного положения плеч и позвоночника крайне сложно. При риске появления сколиоза педиатры настоятельно советуют выбирать массаж ШВЗ, чтобы устранить опасное напряжение мышц. Стимуляция тела помогает расслабить шейно-воротниковую зону и быстрее привить ребенку полезную привычку, которая связана с удержанием спины в правильном положении. Медицинский массаж шейно-воротниковой зоны для детей также назначается, если среди показаний имеются нарушения речи (в том числе заикание — логоневроз) или признаки задержки развития.
    p
      br
      b Другие показания:
    ul
      li аутизм;
      li ДЦП;
      li гипотонус мышц;
      li перинатальная энцелофопатия.
    +picture-tag(images[20], images[20].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Мануальные терапевты рекомендуют процедуру воздействия на уязвимую часть тела даже младенцам.
    p Мануальные терапевты рекомендуют процедуру воздействия на уязвимую часть тела даже младенцам, если при рождении они получили травму спинки (часто встречается при использовании кесарева сечения) или шеи (при естественных родах). Бруксизм — скрежет зубами — развивается при наличии сильного напряжения в мышцах из-за роста молочных зубов. Спазм легко нейтрализовать с помощью расслабляющего массажа шеи и верхней части спины.
    .article-page__highlight
      p Массаж ШВЗ — эффективный метод снять большинство неврологических нарушений у детей.
    h3 ВЫВОДЫ
    p Головная боль, шаткость походки и быстрая усталость — вероятные признаки нарушенного кровообращения в области головы. Затрудненная циркуляция крови — одно из показаний для массажа воротниковой зоны, однако рекомендация посетить массажиста должна даваться исключительно медицинским специалистом.

    h2#nav-4 Противопоказания для массажа воротниковой&nbsp;зоны
    p Массаж воротниковой зоны — безусловно полезная процедура, однако каждое лечебное воздействие имеет показания и ограничения. Возникновение усиленного кровотока и увеличение подвижности позвонков нежелательно при определенных болезнях и патологических состояниях. Изучив все существующие противопоказания для массажа воротниковой зоны, пациент, который желает улучшить самочувствие, гарантированно получает только пользу.
    h3 АБСОЛЮТНЫЕ ПРОТИВОПОКАЗАНИЯ ДЛЯ МАССАЖА ШЕЙНО-ВОРОТНИКОВОЙ ЗОНЫ
    +picture-tag(images[21], images[21].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Табу на проведение мас&shy;сажа связано с появлением болезней, вызывающих серьезные изменения в тканях и мышцах орга&shy;низма. Пренебрежение этим ограничением создает существенные риски для жизни.
    p
      br
      b Категорические противопоказания:
    ul
      li
        b.article-page__highlighted-text Злокачественные опухоли.
        |
        | Локальное повышение температуры и усиление микроциркуляции вызывают усиление роста новообразований.
      li
        b.article-page__highlighted-text Остеомиелит.
        |
        | Даже при бережном массаже у больных с данным диагнозом (особенно при экстрамедуллярной фазе) повышается хрупкость костей и усиливается воспаление.
      li
        b.article-page__highlighted-text Декомпенсированная сердечная недостаточность (3 степень).
        |
        | Воздействие на шею приводит к увеличению нагрузки на желудочки — в результате увеличивается риск появления сердечного приступа.
      li
        b.article-page__highlighted-text Гипертония.
        |
        | Небольшое повышение давления не входит в список табу на использование массажа шейно-воротниковой зоны, в первую очередь при гипертензии 1 и 2 степени (верхние значения АД не превышают 160 единиц). Однако 3 и 4 степень относят к абсолютным противопоказаниям.
      li
        b.article-page__highlighted-text Доброкачественные новообразования.
        |
        | Невусы, бородавки и родимые пятна на коже плеч и шеи легко травмируются. Предварительно следует обратиться к онкологу, чтобы пройти биопсию. Отсутствие опасных процессов дает возможность удалить их с помощью лазера или скальпеля. После заживления кожа становится полностью гладкой и не создает сложностей при выполнении массажа.
      li
        b.article-page__highlighted-text Хроническая аллергия.
        |
        | Во время массажа выделяется гистамин, усиливающий аллергическую реакцию.
      li
        b.article-page__highlighted-text Болезнь Паркинсона.
        |
        | Другое образующееся вещество — ацетилхолин, который относится к группе медиаторов нервного возбуждения. Его избыток вызывает усиление дрожания конечностей и общее усугубление состояния.
    p Отказаться от массажа ШВЗ необходимо и при наличии признаков предынфарктного и предынсультного состояний, которые врачи нейтрализуют в амбулаторных условиях, необходимых для сохранения эмоционального и физического покоя больного.
    p
      br
      b Другие абсолютные ограничения:
    ol
      li острые инфекционные заболевания;
      li тромбоз;
      li ангиит;
      li кровотечение;
      li острый лимфаденит;
      li порок сердца.
    p Если шейный остеохондроз связан с сильной подвижностью позвонков, то лечение ШВЗ назначается после тщательного изучения состояния больного.
    .article-page__highlight
      p Проводить массаж при шейном остеохондрозе можно в любое время, кроме периода, когда диагностируется острый болевой приступ.
    h3 ВРЕМЕННЫЕ ПРОТИВОПОКАЗАНИЯ
    p Пациентов часто интересует вопрос, можно ли делать медицинский и релаксирующий массаж шейно-воротниковой зоны при физиологических расстройствах, которые длятся непродолжительное время. Опытные массажисты успокаивают: не нужно навсегда отказываться от полезной стимуляции верхней части спины — достаточно дождаться устранения неприятных симптомов.
    br
    p
      br
      b Относительные ограничения массажа ШВЗ:
    +picture-tag(images[22], images[22].mobile.jpg['2x'], '').article-page__image.article-page__image_right
    ul
      li Свежие раны. Воздействие пальцев связано с интенсивным растиранием кожи, которая еще больше травмируется. Запрет сохраняется и при появлении кровоизлияний и отеков. После полного заживления кожи можно записаться на массаж без ограничений.
      li Локальный дерматит. Аналогичный результат появляется и при возникновении сыпи в шейно-воротниковой зоне. Если воспаления возникли при использовании массажного масла, то от него следует отказаться.
      li Серьезные мышечные травмы и переломы. Массаж вызывает усиление смещения костной ткани, поэтому к нему нужно прибегать только после полного срастания.
      li Грипп. Насморк, мигрень и кашель усиливаются при классическом воздействии на ШВЗ, однако неприятные состояния успешно устраняются и с помощью надавливания на биологически активные точки (точечный массаж).
    p Следует отказаться от массажа шеи и плеч, если состояние пациента существенно ухудшилось из-за приступа диареи, тошноты или рвоты (рационально сначала дать организму восстановиться).
    .article-page__highlight
      p Наличие любых гнойных процессов — запретительное условие для прохождения курса массажа.Проводить массаж при шейном остеохондрозе можно в любое время, кроме периода, когда диагностируется острый болевой приступ.
    h3 ВЫВОДЫ
    p Опрос пациента перед началом лечебного воздействия — признанный стандарт любого медицинского учреждения, которое дорожит своей репутацией. Приведя полную информацию о своем здоровье, больной помогает массажисту составить курс, который не навредит, а принесет только пользу. Если у пациента имеются противопоказания для массажа воротниковой зоны, то рационально использовать другие методы коррекции. Альтернативный вариант — устранить по возможности болезнь и уже только после восстановления здоровья записаться на прием к массажисту.

    h2#nav-5 Сегментарный массаж при шейном остеохондрозе
    p Классический массаж воротниковой зоны — это общее воздействие на мышцы, в то время как другие виды стимуляции оказывают более направленное воздействие. Заимствованный из восточных практик, сегментарный массаж при шейном остеохондрозе выполняется с помощью воздействия на важные зоны — дерматомы. Деление тела на сегменты, подробно описанное немецкими специалистами Далихо и Глезером, помогло создать эффективную технику воздействия на участки воротниковой зоны, задействованные в иннервации с различными корешками спинного мозга.
    +picture-tag(images[23], images[23].mobile.jpg['2x'], '').article-page__image
    h3 НЮАНСЫ ВЫПОЛНЕНИЯ РЕФЛЕКТОРНО-СЕГМЕНТАРНОГО МАССАЖА
    p Данный вид стимуляции мышц проводят только после получения рекомендаций врача: воздействие на сегменты связано с интенсивной, иногда даже жесткой проработкой мышц.
    p
      br
      b Постулаты выполнения процедуры:
    ul
      li запрет на использование мазей;
      li начало сеанса — с мест, прилегающих к проблемным участкам;
      li техника выполнения — ритмичная;
      li нарастание — от верхних до глубоких слоев.
    p Время сеанса варьируется от 10 до 25 минут: методика помогает избежать утомительной обработки всей области ШВЗ.
    +picture-tag(images[24], images[24].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Сегментарный массаж рекомендуется чередовать с общим массажем
      p Периодичность процедур — 2–3 сеанса в неделю.
    h3 ПРИЕМЫ СЕГМЕНТАРНОГО МАССАЖА ОБЛАСТИ ШВЗ
    p Сегмент, который будет подвергаться проработке, зависит от диагноза, а также состояния воротниковой зоны. Массажист проверяет подвижность кожи и определяет области спазма, которые устраняются определенными массажными приемами. Часть техник напоминает поглаживание, вибрацию и разминание, которые используются в классическом варианте массажа, однако они повторяются с определенными изменениями.
    p
      br
      b Манипуляции при сегментарной технике:
    ol
      li
        b.article-page__highlighted-text Плоскостное поглаживание.
        |
        | Ладони, направленные пальцами вверх, размещаются на середине спины и постепенно перемещаются в сторону шеи.
        +picture-tag(images[25], images[25].mobile.jpg['2x'], '').article-page__image
      li
        b.article-page__highlighted-text Сверление.
        |
        | Массажист воздействует на проблемный участок большим пальцем, повторяя круговые движения на одном месте.
        +picture-tag(images[26], images[26].mobile.jpg['2x'], '').article-page__image
      li
        b.article-page__highlighted-text Пила.
        |
        | Воссоздать разнонаправленные движения можно после постановки рук по двум сторонам от позвоночника. Пальцы размещаются так, что между ладонями образуется складка. В процессе движения ее «пилят», сдвигая в стороны.
        +picture-tag(images[27], images[27].mobile.jpg['2x'], '').article-page__image
      li
        b.article-page__highlighted-text Сдвигание.
        |
        | С двух сторон захватываются участки кожи, между которыми образуется складка. Перемещение производится по проблемному сегменту. Альтернативный вариант — отодвигание кожного валика от себя или наоборот на себя (перемещение осуществляется от поясницы до шейного отдела).
        +picture-tag(images[28], images[28].mobile.jpg['2x'], '').article-page__image
    p Во время выполнения массажа шейно-воротниковой важно сделать массаж окололопаточной зоны. Проводится воздействие на широчайшую мышцу, которую захватывают руками, а лопатку слегка приподнимают.
    +picture-tag(images[29], images[29].mobile.jpg['2x'], '').article-page__image
    p Квалифицированные специалисты способны проводить массаж сегментарной зоны не только для лечения шейного остеохондроза, но и общего оздоровления.
    p Сегментарное воздействие на определенные участки помогает улучшить функционирование печени, почек, сердца и других органов.
    +picture-tag(images[30], images[30].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Использовать массаж можно даже при диагностировании зон тела, на которые воздействие противопоказано: массажист делает акцент только на одном сегменте.
    h3 ВЫВОДЫ
    p Эффект от использования сегментарного массажа — быстрое улучшение функционирования вегетативной нервной системы и рефлекторных зон тела. По этой причине метод рекомендуется использовать пациентам с мышечно-тоническими расстройствами (сильным мышечным гипертонусом) и нейродистрофическими изменениями (спазмами, сформировавшимися из-за патологических изменений в мышечных волокнах), а не только лицам, страдающим от шейного остеохондроза.

    h2#nav-6 Точечный массаж
    p Тело человека, согласно восточным техникам оздоровлениям, буквально усеяно биологически активными точками, которые связаны с важными органами и системами организма. Воздействие, оказываемое руками на определенные зоны, помогает направить силы организма на восстановление необходимого участка тела. Хотя всего насчитывается около 365 точек по всему телу, особое внимание стоит уделить тем, которые расположены в области воротниковой зоны. Результат воздействия заметен сразу: точечный массаж шеи и головы помогает устранить внутричерепное давление и мигрени, а также улучшить состояние при шейном и грудном остеохондрозе.
    +picture-tag(images[31], images[31].mobile.jpg['2x'], '').article-page__image
    h3 ВИДЫ НАДАВЛИВАНИЙ
    p При воздействии на точки необходимо выполнять строго перпендикулярное воздействие к поверхности кожи, неотрывно и в течение определенного периода времени. Отличается и интенсивность надавливания на них.
    p
      br
      b Типы оказания нагрузки:
    ol
      li
        b.article-page__highlighted-text Легкий.
        |
        | Поверхностное касание осуществляется без сильного надавливания.
      li
        b.article-page__highlighted-text Умеренный.
        |
        | Умеренное надавливание выполняется большим или указательным пальцем.
      li
        b.article-page__highlighted-text Глубокий.
        |
        | Массажист, утопая палец в кожу, интенсивно прорабатывает точку.
    p Разделить интенсивность воздействия можно и по времени: легкое воздействие — не более 20 с — относят к легкому воздействию, в то время как время массирования одной точки от 3 до 6 мин называют глубокой проработкой. Во время выполнения массажа шейно-воротниковой зоны также необходимо всегда выполнять круговые вращения (в месте расположения точки) по часовой стрелке.
    .article-page__highlight
      p Если осуществляется глубокое надавливание, то массаж обладает тонизирующим воздействием, при легком — расслабляющим.
    h3 ТЕХНИКА ТОЧЕЧНОГО МАССАЖА ШВЗ (ГЛАВНЫЕ ТОЧКИ)
    p Пациент перед началом сеанса принимает позицию сидя, в которой воздействие на точки максимально эффективно.
    p
      br
      b Последовательное надавливание на точки:
    a(href=images[32].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[32], images[32].mobile.jpg['2x'], '').article-page__image
    ul
      li
        b.article-page__highlighted-text IG 16.
        |
        | Точка размещается на боковой части шеи, в нижней части от челюсти (в направлении от ее угла). Массирование акупунктурного места осуществляется при снижении зрения, слуха, а также болезнях тонкого кишечника.
        a(href=images[33].mobile.jpg['2x'] target='_blank')
          +picture-tag(images[33], images[33].mobile.jpg['2x'], '').article-page__image.article-page__image_left
      li
        b.article-page__highlighted-text TR 16.
        |
        | Точка, которая расположена чуть выше IG 16. Ее массаж помогает устранить болевой синдром, локализующийся в задней части спины и шеи.
      li
        b.article-page__highlighted-text IG 12.
        |
        | Область надостной ямки прорабатывается при уменьшении подвижности плечевого сустава.
      li
        b.article-page__highlighted-text Точки в середине верхней части трапециевидной мышцы.
        |
        | Пальцы размещаются посередине каждого плеча и удерживаются до 1 минуты. Для усиления воздействия массажист поочередно наклоняет голову то вправо, то влево.
      li
        b.article-page__highlighted-text Точки на шее.
        |
        | Затем прорабатываются места, расположенные по бокам от позвоночного столба. Первая точка — на уровне первого шейного позвонка, вторая — пятого. При надавливании на них рекомендуется разместить лицо на руки, то есть поставить локти на стол.
        a(href=images[34].mobile.jpg['2x'] target='_blank')
          +picture-tag(images[34], images[34].mobile.jpg['2x'], '').article-page__image
      li
        b.article-page__highlighted-text Точки на позвонках шеи.
        |
        | Массировать следует и точки аналогичного расположения, но непосредственно в зоне нахождения позвонка, а не сбоку. Первая точка помогает снять головную боль и улучшить кровообращение, а следующая — уменьшить отек.
      li
        b.article-page__highlighted-text Точки на верхней части спины.
        |
        | По снисходящей траектории постепенно прорабатываются точки до середины спины.
    p При наличии частой головной боли точечный массаж дополняется воздействием на точки, расположенные в волосистой части головы (Фэн-чи). Найдя затылочные бугры, массажист слегка спускается под них и надавливает на эти места с двух сторон. Время фиксации — до 1 минуты. Очень важно: отрыв пальцев от точки производится медленно, не резко.
    +picture-tag(images[35], images[35].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Внимание
      p Хотя массаж воротниковой зоны не входит в список ограничений для беременных, однако его точечная разновидность не применяется для тех, кто вынашивает ребенка.
    h3 ВЫВОДЫ
    p Альтернативное название точечной методики — акупунктурный массаж, помогающий существенно усилить воздействие общего массажа. Благодаря этому результату некоторые приемы точечного массажа головы включаются в сеанс классического курса лечения руками, хотя его можно проводить и отдельно. Эффект от стимуляции близок к иглоукалыванию, однако прокалывать кожу нет необходимости, поэтому техника прекрасно подойдет для пациентов, остерегающихся использовать более радикальные виды лечения.

    h2#nav-7 Отводящий массаж шейно-воротниковой зоны
    p Нарушение венозного кровотока — распространенная причина ухудшения самочувствия. Излишний приток крови к голове провоцирует повышение внутричерепного и артериального давления, а также появление головокружения и головной боли. Чтобы устранить неблагоприятные симптомы, врачи рекомендуют отводящий массаж, который с помощью усиления микроциркуляции приводит к нормализации кровоснабжения. Тяжесть быстро сменяется легкостью, бодростью и позитивным взглядом на жизнь.
    +picture-tag(images[36], images[36].mobile.jpg['2x'], '').article-page__image
    h3 МЕТОДИКА ОТВОДЯЩЕГО МАССАЖА ШЕЙНОГО ОТДЕЛА
    p Техника выполнения массажа, помогающего отвести лишнюю кровь от головы, состоит из манипуляций, которые используются при гипертонии (прочитайте данный раздел статьи, чтобы узнать о дополнительных полезных приемах, помогающих предотвратить застой крови в голове). Используются также воздействие на сонную артерию, от которой в значительной степени зависит кровоснабжение головного мозга.
    +picture-tag(images[37], images[37].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Рекомендованное положение пациента — в позе сидя
      p Позиция помогает ускорить отлив лишней физиологической жидкости из области головы.
    p
      br
      b Техника отвода крови от головы:
    ul
      li
        b.article-page__highlighted-text Подготовка мышц.
        |
        | Массажист проводит классическую серию поглаживаний головы и воротниковой зоны (они также используются в конце сеанса). Перед выполнением этой процедуры можно использовать дополнительный релаксирующий прием: массажист закрывает уши пациента и сохраняет такую позицию в течение 20 с.
      li
        b.article-page__highlighted-text «Качалка».
        |
        | Руки массажиста обхватывают голову, а пальцы размещаются особым образом: большие — фиксируются на центральной части шеи, указательные — на височной части, а оставшиеся фаланги — на носу. Для равномерного движения крови соблюдается разнонаправленное движение рук: в то время как одна ладонь стремится вверх, другая идет вниз. Этот прием, отводящий кровь по лицевым венам, относят к артериальному массажу. Его делают до появления чувства легкости.
      li
        b.article-page__highlighted-text Воздействие на сонную артерию.
        |
        | Плавное надавливание, которое меняется по мере выполнения кругообразных растираний, оказывается на правую артерию, а именно — на область соединения с шейной артерией.
      li
        b.article-page__highlighted-text Разминание.
        |
        | Манипуляция — классический прием массажа шейно-воротниковой зоны, состоящий из захвата и оттягивания отдельных участков кожи. Сначала производится воздействие на область шеи, а затем — на плечи (верхнюю часть трапециевидной мышцы).
      li
        b.article-page__highlighted-text Массаж лба.
        |
        | Ладони размещаются на этой части тела, а потом двигаются в сторону висков 5–7 раз. Одновременно можно массировать лоб спиралевидными движениями.
      li
        b.article-page__highlighted-text Захват надбровной дуги.
        |
        | Большие и указательные пальцы каждой руки захватывают брови и перемещаются по всей линии роста.
      li
        b.article-page__highlighted-text Пальцевый дождь.
        |
        | Постукивание — финишная часть сеанса.
    p Технику можно выполнять в массажном кабинете или дома. Если проводится самомассаж, то также полезно повторять прием «Бесконечность». Описывая макушкой восьмерку, человек снимает спазм и ускоряет движение крови по затылочной артерии. Для усиления нагрузки можно приложить к голове руку.
    +picture-tag(images[38], images[38].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Использование массажа шейной артерии способно остановить приступ тахикардии.
    h3 ВЫВОДЫ
    p Если периодически использовать отводящий массаж шейно-воротниковой зоны для улучшения здоровья, то можно устранить застой крови в короткие сроки. Чтобы поддерживать достигнутые результаты необходимо раз в полгода проводить серию лечебных курсов. Продлить хорошее самочувствие можно и профилактическим приемом, связанным с запрокидыванием головы. В сидячем положении человек осторожно отводит голову назад и сохраняет такое положение в течение 1 минуты. Прием дает возможность стремительно отвести кровь от головы (даже в походных условиях).

    h2#nav-8 Массаж шейного отдела позвоночника при миозите
    p Миозит — воспалительный процесс в скелетных мышцах, пострадавших от переохлаждения, инфекции или токсического влияния. Поражение волокон ведет к появлению сильной, часто нестерпимой боли. Хотя болезнь поражает спину и даже икры, нередко она диагностируется и в шейном отделе позвоночника. Один из способов победить болезнь — пройти массаж при миозите, который исчезает на фоне снятия спазма, уменьшения воспаления и вывода токсинов, скопившихся в мышцах.
    +picture-tag(images[39], images[39].mobile.jpg['2x'], '').article-page__image
    h3 ОСОБЕННОСТИ МАССАЖА ПРИ ШЕЙНОМ МИОЗИТЕ
    p Курс лечения миозита составляет 5–10 сеансов. Частота проведения — через день, поскольку большинство пациентов испытывают ноющие боли, которые во время лечения могут незначительно усиливаться. Суточный перерыв помогает мышцам полностью восстановиться после оказанной стимуляции.
    p
      br
      b Постулаты лечения массажем при миозите:
    ol
      li тип воздействия — согревающий;
      li интенсивность — мягкая (щадящая);
      li длительность массажа — 10–25 минут.
    p Если болезнь диагностирована в стадии обострения, то начинать процедуры разрешается только после снятия сильной боли. Во время лечения равным образом рекомендуется носить теплые шарфы — в зимний период — для исключения воздействия холода на уязвимую часть организма. Чтобы усилить разогревающий эффект массажа, можно дополнять его приемами, использующимися при выполнении баночного массажа.
    .article-page__highlight
      p Легкие формы миозита легко устраняются массажем без применения сторонних способов, более тяжелые — в комплексе с другими лечебными компонентами (компрессы, медикаменты, физиотерапия, грелка).
    +picture-tag(images[40], images[40].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Важно
      p Массаж ШВЗ предотвращает развитие мышечной атрофии, которая часто возникает из-за воспалительного процесса в мышечных волокнах.
    h3 МЕТОДИКА МАССАЖА ПРИ МИОЗИТЕ ШЕИ
    p Для глубокого проникновения лечебных веществ внутрь дермы используют противовоспалительные или разогревающие мази вместо массажного масла. Нюансы процедуры: во время массажа запрещается применять поколачивания (ударный прием) и «щипки», которые будут лишь усиливать боль при миозите. Дополнительная причина ограничения — возможное стимулирование сократительной функции мышцы.
    h4 Поглаживания
    p При воспалении мышц массаж шейно-воротниковой зоны начинается с легкого плоскостного касания кожи (от макушки до плечевого пояса). В области плечевых суставов производится обхватывающее поглаживание, чтобы ускорить снятие общего напряжения.
    +picture-tag(images[41], images[41].mobile.jpg['2x'], '').article-page__image
    h4 Растирания
    p Осторожное спиралевидное массирование начинается от зоны первого шейного позвонка и заканчивается в области центра спины. Допускается использовать все виды легких растираний: зигзагообразные, граблевидные, прямолинейные, но следует отказаться от гребневидного типа, который выполняется с помощью слишком интенсивного растирания мышц кулаками.
    +picture-tag(images[42], images[42].mobile.jpg['2x'], '').article-page__image
    h4 Вибрация
    p При миозите рекомендуется использовать только метод непрерывной вибрации. Потряхивание: рука с разведенными фалангами ритмично проводится вверх и вниз по поверхности спины.
    +picture-tag(images[43], images[43].mobile.jpg['2x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description Встряхивание: массажист поочередно берет руку пациента и слегка трясет ее.
    .article-page__highlight
      h3 Внимание
      p Острый миозит часто возникает после получения мышечных травм, а также мышечного перенапряжения (в том числе в спорте). При гнойной форме болезни массаж строго противопоказан!
    h3 ВЫВОДЫ
    p Несвоевременное реагирование на появление острой формы миозита ведет к плавному перетеканию болезни в хроническую форму. После череды обострений повышается риск развития серьезных осложнений — миогелоза (повышения плотности мышц) и фибромиозита (развития хронической боли). Чтобы предотвратить ухудшение здоровья, рекомендуется использовать массаж при шейном миозите сразу после обнаружения неприятных симптомов.


