extends ../layouts/article

block variables
  -
    pageData = {
      title: `Противопоказания к массажу`,
      description: `Противопоказания к массажу. Допустимость проведения массажа зависит от отсутствия противопоказаний,
        которые делятся на абсолютные и временные. Первый вид включает список заболеваний, при которых назначать
        лечебную процедуру нельзя ни в каком виде. Временные противопоказания к массажу - ограничительные условия,
        которые автоматически снимаются после избавления от патологического явления в организме.`,
      keywords: `противопоказания, массаж`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[3]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 5; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/contraindications-for-massage/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/contraindications-for-massage/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/contraindications-for-massage/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/contraindications-for-massage/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/contraindications-for-massage/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/contraindications-for-massage/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Противопоказания к массажу делятся на абсолютные, временные и локальные. При абсолютных противопоказаниях массаж полностью запрещен, а временные действуют до избавления от проблемы. При локальных противопоказаниях можно проводить массаж, но нужно избегать определенных участков тела.
    h2#nav-2 Временные противопоказания к&nbsp;массажу
    +picture-tag(images[1], images[1].mobile.jpg['2x'], '').article-page__image
    p В некоторых ситуациях пациенту не требуется полностью отказываться от массажа, достаточно перенести сеанс на более благоприятное время.
    p Это касается следующих случаев:
    ul.article-page__list.article-page__list_no-marker
      li - Болезни кожи, в том числе аллергические и грибковые проявления
      li - Кровотечения (в том числе носовое) и повышенная температура тела
      li - Нестабильность артериального давления и сердечные боли
      li - Беременность (для общего массажа, и лечебного массажа спины)
      li - Инфекционные заболевания в стадии обострения
      li - Свежая татуировка в области массажа
      li - Первые несколько дней менструального цикла
      li - Период сразу после перенесенного ОРВИ и гриппа.Необходимо подождать 3-7 дней, чтобы организм успел восстановиться
      li - Алкогольное опьянение — при нем массаж становится не только неэффективным(из-за сниженного гуморального ответа), но и приводит к атипичной сосудистой реакции(возникает риск резкого перепада давления).
    .article-page__highlight
      h3 Идти на сеанс массажа следует через 1,5 часа после приема пищи
    h2#nav-3 Абсолютные противопоказания
    +picture-tag(images[2], images[2].mobile.jpg['2x'], '').article-page__image
    p При противопоказаниях из списка ниже, массаж вреден, так как он усиливает кровообращение и лимфоток, что только навредит организму
    p Табу на массаж:
    ul.article-page__list.article-page__list_no-marker
      li - Грипп, ОРВИ, ангина, любые острые воспалительные процессы
      li - Болезни крови, внутренние кровотечения
      li - Злокачественные новообразования и опухоли
      li - Гнойные процессы любой локализации
      li - Цинга
      li - Остеомиелит
      li - Осложненные формы варикозного расширения вен: тромбоз, тромбофлебиты и трофические язвы, любые острые воспаления кровеносных и лимфатических сосудов
      li - Аневризма аорты и сердца, острая ишемия миокарда
      li - Легочно-сердечная недостаточность третьей степени
      li - Гипер- и гипотонический криз
      li - Заболевания органов брюшной полости с наклонностью к кровотечениям
      li - Активная форма туберкулеза
      li - Почечная и печеночная недостаточность
      li - Венерические заболевания
      li - Психические заболевания с чрезмерным возбуждением и значительно измененной психикой.
    br
    br
    br
    p Более детальная информация есть в следующем видео:
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/pq-3e4G0qGw' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    h2#nav-4 Локальные противопоказания
    +picture-tag(images[3], images[3].mobile.jpg['2x'], '').article-page__image
    p При противопоказаниях из этого списка, массаж делать можно, но нужно избегать определенной области:
    ul.article-page__list.article-page__list_no-marker
      li - Ссадины, аллергические высыпания и раны, свежие татуировки
      li - Родинки, невусы и бородавки. Массаж разрешен на участках, где родинки не выступают над поверхностью кожи, то есть не задевая их. Если родинки крупные, находятся по всему телу, и их невозможно обойти при массаже, то эту особенность относят уже к абсолютному противопоказанию
      li - Менструальный цикл. Массажист избегает воздействия на зону живота, а в первые несколько дней воздействия на поясницу
    p Локальные противопоказания при острых и хронических болезнях:
    ul.article-page__list.article-page__list_no-marker
      li - Грыжа. Коррекция пупочной грыжи с помощью массажа допускается только у грудных детей — у взрослых она удаляется хирургически
      li - Камни в желчном пузыре, печени и почках. В таком случае запрещен массаж в области живота
      li - Заболевания молочных желез. Массирование этого участка тела строго запрещается, в том числе при мастопатии.
      li - Псориаз. Запрещается воздействовать на псориатические высыпания, так как их количество может увеличиться
      li - Эндоартериит. Из мест воздействия исключают стопы и область ниже колена: сужение кровеносных сосудов может привести к отмиранию тканей из-за усиления кровотока
      li - Трофические язвы. Мягкий массаж допускается на ранних стадиях болезни. При склеротизации периферических сосудов воздействие на стопы с язвами не выполняется
      li - Беременность, недавние роды (до 2 мес) или недавно перенесенный аборт – противопоказания для массажа живота
      li
        | - Доброкачественные опухоли. При новообразованиях репродуктивной сферы (аденома простаты, миома матки, киста яичников), необходимо избегать зоны животы и поясницы.
        br
        | Ограничения сохраняются и после удаления новообразований, специалист будет избегать зоны, где было проведено хирургическое вмешательство.
    .article-page__highlight
      h3 Если на каком-то участке тела уже долгое время есть кожное раздражение или зуд, его тоже нужно избегать при массаже.
      p Эти симптомы могут указывать на возникновение болезни, о которой пациент еще не знает
    h2#nav-5 Противопоказания к&nbsp;массажу лица
    +picture-tag(images[4], images[4].mobile.jpg['2x'], '').article-page__image
    p Для массажа лица список противопоказаний короче:
    ul.article-page__list.article-page__list_no-marker
      li - Острые воспалительные процессы полости рта и носовых пазух(острый гайморит, синусит, ринит, стоматит, гингивит, кариозный рот)
      li - Герпес
      li - Акне выше 2 степени (воспалительные элементы более 10 шт.) или фурункулез
      li - Период после глубоких пилингов и чисток (до 1 мес.)
      li - Онкология.
    .article-page__highlight
      h3 Массаж лица не рекомендуется после ботокса и других инъекций, и установки золотых нитей
    h2#nav-6 Выводы
    p Зная все противопоказания к массажу, пациент избегает распространенного неприятного последствия, которое можно охарактеризовать народной мудростью: «одно — лечим, другое — калечим». Предоставление подробных сведений о здоровье помогает специалисту в области массажа разработать тактику лечения на основе состояния пациента. Именно при таком подходе удается достичь благотворного результата, который и ожидает получить пациент.
