extends ../layouts/article

block variables
  -
    pageData = {
      description: `Дефицит свободного времени и усталость в конце рабочего дня — главные причины, почему визит
        к массажисту часто откладывается на неопределенный срок. Однако почувствовать облегчение с помощью
        расслабляющего воздействия на мышцы можно и вне стен медицинского учреждения. Достаточно научиться делать массаж
        спины в домашних условиях.`,
      keywords: `массаж спины, дома`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[12]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 121; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/correct-back-massage-at-home/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/correct-back-massage-at-home/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['1x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Дефицит свободного времени и усталость в конце рабочего дня — главные причины, почему визит к массажисту часто откладывается на неопределенный срок. Однако почувствовать облегчение с помощью расслабляющего воздействия на мышцы можно и вне стен медицинского учреждения. Достаточно научиться делать массаж спины в домашних условиях — наиболее комфортном для большинства людей месте. Привычная атмосфера дает возможность получить порцию приятных ощущений, которые становятся доступными в любой удобный момент.

    h3 Правила массажа.
    p Чтобы провести расслабляющую процедуру, потребуется напарник, которым может стать муж, жена или другой близкий родственник. Классические рекомендации: проводить массаж на полу (или на жестком матрасе) и в помещении с температурными условиями выше +20 градусов. Рекомендации для массажиста: ногти коротко сострижены, а руки хорошо вымыты. Положение человека, которому делается массаж: лежа (для полного массажа спины) или сидя (для воздействия преимущественно на область шейно-воротниковой зоны). Начинающему любителю, который не обладает большим опытом и полным знанием анатомии, следует сконцентрироваться на освоении относительно простых приемов. Такой подход делает массаж для начинающих полностью безопасным и приятным, поскольку не требует особых навыков и знаний. Сохранить комфортное самочувствие поможет также исключение силовых вариантов, а также вправляющих техник, которые вправе выполнять только специалисты, прошедшие медицинскую подготовку. Необходимо равным образом избегать прямого надавливания на позвонки, чтобы не принести — из-за незнания — вред.
    +picture-tag(images[1], images[1].mobile.jpg['1x'], '').article-page__image
    h3 Подготовка к массажу спины.
    p В кабинете у специалиста все заранее подготовлено к проведению процедуры, но в домашних условиях их нужно специально создавать. Психологическое расслабление — фактор быстрого расслабления мышц спины и других участков тела. По этой причине необходимо перед началом процедуры устранить все раздражающие факторы: отключить телефоны, закрыть окна (исключить сквозняки) и попросить посторонних временно покинуть помещение. Для усиления релаксации можно включить приятную музыку.
    +picture-tag(images[2], images[2].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Согрев руки перед началом сеанса, массажист предотвратит появление дополнительного мышечного спазма.

    h2#nav-2 Техника выполнения массажа спины в домашних условиях
    +picture-tag(images[3], images[3].mobile.jpg['1x'], '').article-page__image
    p Изучая массаж спины для начинающих, необходимо запомнить главное правило, которое используется при начале воздействия на тело. Сначала используются разогревающие, плавные приемы, а затем постепенно переходят к манипуляциям, которые относят к глубокой проработке мышечных волокон.
    h3 РАЗОГРЕВ МЫШЦ: ПОГЛАЖИВАНИЯ И РАСТИРАНИЯ
    p Выполнение поверхностного воздействия в начале сеанса массажа помогает усилить эластичность мышечных волокон, снять гипертонус и улучшить гибкость связок и сухожилий.
    a(href=images[4].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[4], images[4].mobile.jpg['1x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description
      b 1. Плоскостное поглаживание.
      |
      em Не сгибая пальцев, ладони внутренней стороной проводятся от линии начала роста волос (или от макушки) и достигают сначала плеч (3 повтора), затем середины спины (еще 3 повтора), а затем поясницы (4 раза).
      br
      b 2. Обхватывающее поглаживание.
      |
      em Чтобы расслабить мышцы плечевого пояса, боковых частей шеи и туловища, массажист использует поглаживания, выполняемые руками, которые слегка собраны.
      br
      b 3. Растирание.
      |
      em Массирование ладонью сменяется на воздействие подушечками пальцев, которое оказывается на мышцы по всей поверхности спины.
    p После выполнения плоскостного поглаживания можно применять и другие разновидности этого приема, отличающегося траекторией движения.
    a(href=images[5].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[5], images[5].mobile.jpg['1x'], '').article-page__image
    p Выполняя растирание, можно также проявлять фантазию: использовать несколько разновидностей вышеописанных приемов, которые можно чередовать между собой практически в любой последовательности.
    p Хотя начинающий массажист и ограничен общими знаниями, однако после того, как он начнет делать массаж в домашних условиях регулярно, ему удастся снимать легкие неприятные состояния в позвоночнике. Пример: при использовании граблеобразного разминания можно быстро устранить дискомфортные ощущения в ребрах.
    +picture-tag(images[6], images[6].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Граблеобразное разминание удобно применять для проработки мыщц, расположенных в межреберных промежутках. Прием часто используется для устранения межреберной невралгии.
    h3 УСИЛЕННЫЕ ЭЛЕМЕНТЫ МАССАЖА: РАЗМИНАНИЯ И ВЫЖИМАНИЯ
    p Разминание отличается захватыванием и незначительным приподниманием складок кожи над поверхностью спины. Выжимание — это оказание давления на кожу, при котором она сдвигается. 2 приема относят к видам глубокого массажа, которые могут выполняться в нескольких вариантах.
    +picture-tag(images[7], images[7].mobile.jpg['1x'], '').article-page__image
    ul
      li
        b.article-page__highlighted-text Разминание.
        |
        | Длительность его выполнения занимает около половины всего массажного сеанса. Техника: применение коротких, скользящих движений, перемещающихся на прилегающий участок кожи после того, как рука сформировала и отпустила складку. Оптимальная интенсивность — от 50 до 60 разминаний в 1 минуту. Новичкам проще всего повторять одинарное разминание, в то время как двойной гриф и двойной кольцевое разминание выполняют опытные массажисты.
        |
        a(href=images[8].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[8], images[8].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Выжимание.
        |
        | Порядок выполнения — медленно, ритмично, без прерываний во время движения. При наличии отеков увеличивается. время, затрачиваемое на выполнение этого приема.
        |
        a(href=images[9].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[9], images[9].mobile.jpg['1x'], '').article-page__image
    p В пособиях о том, как правильно делать массаж спины в домашних условиях всегда приводится важная рекомендация — в области расположения крупных мышц и зон, где есть повышенное количество подкожного жира, глубокие виды воздействия следует усиливать.
    .article-page__highlight
      h3 Медицинский факт
      p Выжимание оказывает воздействие не только на кожу, но и на подкожную клетчатку и глубинные мышцы.
    h3 ВИБРАЦИОННЫЕ ПРИЕМЫ
    p Создание колебательных волн, распространяемых по коже, — главная причина, почему приемы вибрации так называются.
    a(href=images[10].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[10], images[10].mobile.jpg['1x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description
      b 1. Пиление.
      |
      em Ребра ладоней, постепенно смещаемые по спине, движутся по ней разнонаправленно.
      br
      b 2. Рубление.
      |
      em Идентичная позиция рук сочетается с выполнением ритмичных движений, но уже в вертикальной плоскости.
      br
      b 3. Волновое потряхивание.
      |
      em По линии позвоночного столба — сверху вниз — перемещаются ладони, которые совершают плавные сдвиги вправо и влево.
    p При выполнении рубления необходимо снижать ритм, если массажист преодолевает область почек, печени и ягодичных мышц. На уроках и курсах по массажу спины опытные специалисты в области массажа также рекомендуют уделять вибрационным приемам на первых сеансах лишь небольшую часть от общего времени.
    +picture-tag(images[11], images[11].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Поколачивание — прием, выполняемый с помощью постукивания кулаками
      p Интенсивность воздействия следует подбирать в зависимости от ощущений человека: при появлении дискомфорта необходимо ослабить силу.
    h3 ПОДГОТОВКА К ЗАВЕРШЕНИЮ МАССАЖА СПИНЫ
    p Новичкам следует также запомнить, что массаж спины всегда заканчивается определенными приемами, которые нельзя исключать из техники.
    a(href=images[12].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[12], images[12].mobile.jpg['1x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description
      b 1. Похлопывания.
      |
      em Собрав каждую ладонь в форме ковшиков, необходимо провести серию касаний от плечевого пояса до поясницы.
      br
      b 2. Пальцевый дождь (душ).
      |
      em По все поверхности спины массажист бегло оказывает ритмичное постукивание всеми пальцами обеих рук.
      br
      b 3. Поверхностное поглаживание.
      |
      em Цикл массажных воздействий, использовавшихся в начале, повторяется и в конце процедуры.
    p Грамотно выполненная техника восстанавливающего массажа спины в домашних условиях приносит легкое чувство эйфории, которое многие описывают, как снятие с тела невидимых оков и грузов. Если после процедуры возникла боль, то следует в следующий раз оказывать менее интенсивное разминание.
    .article-page__highlight
      p Тепло хорошо подготавливает мышцы к разминанию, поэтому перед сеансом рекомендуется принять теплую ванну.

    h2#nav-3 Показания и противопоказания к массажу спины
    +picture-tag(images[13], images[13].mobile.jpg['1x'], '').article-page__image
    p Врач хорошо осведомлен о всех противопоказаниях и показаниях к массажу, в то время как лица, не имеющие детального представления о таком виде лечения, не всегда знают, когда его можно делать, а когда — нет.
    h3 Показания:
    ul
      li чрезмерные психические и умственные нагрузки;
      li ограниченная подвижность туловища, рук, шеи;
      li головные, спинные, шейные боли;
      li сильная физическая усталость;
      li снижение тонуса организма;
      li онемение конечностей;
      li признаки атрофии мышечной ткани;
      li плохой сон;
      li ухудшение работы ЖКТ;
      li адаптация после болезни.
    p Подобные неприятные симптомы диагностируются у работников, которые длительно время проводят за компьютером или занимаются тяжелым физическим трудом. Полезно делать массаж дома лицам, страдающим гастритом, гипертонией 1 степени, остеохондрозом, невритом, невралгией или запором.
    p Более внимательно следует изучить состояния, которые являются постоянным или временным запретом на обращение к массажисту.
    +picture-tag(images[14], images[14].mobile.jpg['1x'], '').article-page__image
    h3 Абсолютные противопоказания:
    ol
      li онкология (рак в любой стадии);
      li заболевания сосудов (тромбоз, тромбофлебит, сильный варикоз);
      li сильная кровоточивость (патологии костного мозга);
      li болезни почек и печени (цирроз, гепатит, пиелонефрит);
      li патологии сердца (недостаточность 3 степени, ишемия миокарда);
      li скачки давления (гипертония 2 и 3 стадии);
      li болезни с появлением гноя (лимфангит, сепсис, остеомиелит);
      li инфекционные болезни (активный туберкулез, оспа, тиф, дифтерия);
      li болезни мочеполовой системы (все виды вензаболеваний).
    p В данную группу также входит: цинга, гангрена, склероз сосудов мозга (при наличии риска появления кровоизлияния). Некоторые состояния длятся эпизодически, поэтому их относят к периодическим противопоказаниям.
    +picture-tag(images[15], images[15].mobile.jpg['1x'], '').article-page__image
    h3 Временные противопоказания:
    ul
      li простуда, грипп, недомогание;
      li алкогольное опьянение и похмелье;
      li кожные — грибковые и аллергические высыпания;
      li гипертонический и гипотонический кризы.
    p Нельзя проводить процедуру и при сильном обострении хронических болезней: повышение крово- и лимфопотока увеличивает риски ухудшения самочувствия.
    .article-page__highlight
      h3 Предупреждение
      p При обнаружении грыж и протрузий необходимо оказывать на область спины очень осторожное воздействие, поэтому пациентам с такими диагнозами следует выбирать только профессиональный массаж.

    h2#nav-4 Виды массажа в домашних условиях
    +picture-tag(images[16], images[16].mobile.jpg['1x'], '').article-page__image
    p Желание насладиться теплым касанием рук в домашних условиях может быть воплощено с помощью различных — хотя и не всех — массажных техник, которые можно с успехом выполнять как в медицинском центре, так и дома. Чтобы доставить удовольствие близкому человеку, массаж спины должен выполняться с учетом определенных тонкостей.
    h3 РАССЛАБЛЯЮЩИЙ МАССАЖ
    +picture-tag(images[17], images[17].mobile.jpg['1x'], '').article-page__image
    p Мышечный гипертонус — неприятное последствие, которое испытывает большинство работников после интенсивного рабочего дня. Физическая и умственная активность часто вызывают мышечные спазмы, но благодаря лечебной процедуре можно добиться быстрого успокоения сознания и тела. Делать массаж рекомендуется перед сном, особенно тем, кто страдает от частых пробуждений и длительного засыпания.
    +picture-tag(images[18], images[18].mobile.jpg['1x'], '').article-page__image
    p
      b Техника расслабляющего массажа спины:
    ol
      li
        b.article-page__highlighted-text Начало релаксации.
        |
        | Массажист проводит серию поглаживаний, которые выполняются плавно — легким касанием спины.
      li
        b.article-page__highlighted-text Уменьшение болей.
        |
        | Следующим этапом следуют растирания, позволяющие быстрее расслабить мышцы, которые стремительно избавляются от спазма именно во время выполнения этого приема.
      li
        b.article-page__highlighted-text Улучшение тока лимфы и крови.
        |
        | Разминание («щипки») помогает улучшить настроение, но чтобы сохранить расслабляющий эффект, приему необходимо уделить не более 15 % массажного времени. В противном случае сеанс станет обладать тонизирующим эффектом.
      li
        b.article-page__highlighted-text Снятие утомления.
        |
        | Приемы глубокого массажа спины — рубление, пиление — проясняют ум и придают свежести. Чтобы воздействие было максимально нежным, массажист должен выполнять приемы медленно. При повторении рубления равным образом следует максимально расслабить руку, чтобы вибрация не была грубой.
    a(href=images[19].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[19], images[19].mobile.jpg['1x'], '').article-page__image
    p Комфортные условия для проведения релаксирующего массажа: затененная комната, тихая музыка (идеально — звуки природы) и горящие благовония или нанесенные на ткань эфирные масла. Для улучшения скольжения рук по телу можно использовать массажное или оливковое масло.
    +picture-tag(images[20], images[20].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Основная часть процедуры уделяется поглаживаниям и легким разминаниям
      p Для получения максимального расслабления из сеанса массажа исключают любые грубые и силовые приемы — поколачивание, выжимание, потряхивание.
    h3 МАССАЖ ВАКУУМНЫМИ БАНКАМИ
    +picture-tag(images[21], images[21].mobile.jpg['1x'], '').article-page__image
    p Медицинские банки — вспомогательные приспособления, помогающие увеличить лечебный эффект от применения массажа. Вакуумное воздействие дает возможность легче воздействовать на организм, у которого повышено количество подкожного жира. Разбивая нежелательные отложения, метод эффективно используется для устранения целлюлита (в первую очередь на боках) и «холки» на спине.
    a(href=images[22].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[22], images[22].mobile.jpg['1x'], '').article-page__image
    p
      b Разделяют два типа массажа банками:
    ol
      li статистический (банка остается на месте);
      li кинетический (приспособление активно перемещается).
    p Легче всего использовать силиконовые или резиновые банки, которые при надавливании дают возможность искусственно создать вакуум при контакте с кожей. Стеклянные варианты легче разбить, дополнительное неудобство — необходимость разогревать их пламенем. Выполняя массаж спины банкой в домашних условиях, массажист просто сдавливает ее перед соприкосновением с дермой и таким способом легко перемещают по телу. Эффективность процедуры также выше, чем при использовании вариантов, которые ставятся статистическим методом. Признак правильной постановки — незначительное втягивание кожи внутрь (на 1–2 см), а также сохранение такого положения во время выполнения всех массажных приемов.
    +picture-tag(images[23], images[23].mobile.jpg['1x'], '').article-page__image
    h4 Общий массаж банками
    p Последовательность прикрепления дополнительного атрибута к коже включает 3 этапа: сдавливание банки, закрепление ее на теле и отпускание. Приподнимаясь, кожа втягивается из-за возникшего пневматического эффекта. Перед прикреплением медицинского изделия следует потратить 5–7 минут на проведение поглаживаний и растираний. Чтобы не допустить появление гематом, не следует задерживать долго банку на одном месте.
    p
      b Техника выполнения:
    ol
      li
        b.article-page__highlighted-text По линии паравертебральных мышц.
        |
        | Банки ставятся с двух сторон от позвоночника и переносятся без потери вакуумного эффекта вверх и вниз.
      li
        b.article-page__highlighted-text По траектории лопаток.
        |
        | Огибающее движение С-образного типа дает возможность воздействовать на межлопаточное пространство. Массажная линия — полукруг.
      li
        b.article-page__highlighted-text По крестцу.
        |
        | В области поясницы выполняется поперечный массаж (относительно позвоночного столба).
    +picture-tag(images[24], images[24].mobile.jpg['1x'], '').article-page__image
    p Завершить сеанс нужно проведением кулачков от шеи до плечевых суставов с каждой стороны. Финализировать воздействие следует поглаживаниями.
    .article-page__highlight
      p Запрещается ставить банки на область позвонков из-за риска их смещения, а также массировать боковую часть шеи, где проходят крупные кровеносные сосуды.
    h4 Массаж банками от «холки»
    p Процедура избавления от эстетического дефекта, который еще называют соляным горбом, включает направленное воздействие на шейно-воротниковую область. Вся техника сводится к проведению банкой по нескольким массажным линиям. Если их использовать, то вопросов о том, как правильно делать массаж спины от «холки» в домашних условиях, не возникнет.
    ul
      li
        b.article-page__highlighted-text Треугольник.
        |
        | Траектория описывает фигуру, у которой вершина направлена вниз. Сначала соблюдается направление по часовой, а затем против часовой стрелки. Этому элементу уделяют максимум времени.
      li
        b.article-page__highlighted-text Круг.
        |
        | По области «загривка» выполняются кругообразные вращения, но небольшой отрезок времени.
      li
        b.article-page__highlighted-text Галочка.
        |
        | На «холке» банкой проводят движение, которое визуально напоминает летящую чайку. Массажная траектория сменяется движениями банки то влево, то вправо.
    +picture-tag(images[25], images[25].mobile.jpg['1x'], '').article-page__image
    p Дополнительно необходимо совершить цикл захватов горбика, а именно всей ладонью руки, и его сжиманием от 5 до 7 раз. После выполнения массажа спины, призванного избавить от «холки» в домашних условиях, удается постепенно растворить подкожные отложения, затрудняющие приток крови к головному мозгу и провоцирующие появление сутулости.
    .article-page__highlight
      p Время, которое затрачивается на выполнение техники массажа банками, не должно превышать 20 минут.
    h3 СТОУН-МАССАЖ
    +picture-tag(images[26], images[26].mobile.jpg['1x'], '').article-page__image
    p Практика лечения теплыми и холодными камнями появилось на Востоке, где их размещали на тело человека с целью оказать приятное отягощение. Говорят, что его использовала даже Клеопатра. Спустя века применение неординарного массажного метода заинтересовало специалистов в США, где новую популярность обрело так называемое камнелечение, или научным языком — литотерапия. В отличие от релаксирующего вида процедур, данная разновидность лечебной процедуры относится к тонизирующему типу воздействия.
    p
      b Важные правила выполнения стоунтерапии.
      |
      | Чтобы выполнить лечебную процедуру, необходимо приобрести набор специальных камней, применяемых для массажа. Приплюснутый вид и гладкая поверхность — главные качества, которые делают сеанс максимально комфортным.
    +picture-tag(images[27], images[27].mobile.jpg['1x'], '').article-page__image
    p
      b Особенности выбора камней:
    ul
      li для воздействия теплом (выбор камней из вулканических пород);
      li для лечения холодом (покупка вариантов из мрамора).
    p Использовать только холодные камни запрещается из-за риска переохлаждения, однако они нужны для комбинирования с нагретыми минералами, чтобы достичь контрастного эффекта.
    a(href=images[28].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[28], images[28].mobile.jpg['1x'], '').article-page__image
    p Во время процедуры обязательно используется массажное масло для облегчения перемещения камней. Нагреть камни в домашних условиях проще всего размещением их в теплый кипяток, а после аккумулирования тепла их следует завернуть в полотенце.
    .article-page__highlight
      h3 Медицинский факт
      p Благодаря мягкому воздействию, длительность терапии может различаться от 45 до 90 минут. Глубина мышечного прогрева теплыми камнями достигает 4-х сантиметров.
    p
      b Техника массажа камнями дома.
      |
      | Хотя область воздействия может включать практически все участки на теле — от лица до пяток, опытные массажисты разрешают воздействовать банками и только на спину. Особенно такой подход любят мужчины, которые могут испытывать легкое смущение при проработке зон лица и ног. Перед использованием камней необходимо провести 5-минутный разогрев мышц, который выполняется после приемов поглаживания и растирания.
    p
      b Вариант массажа №1 (активный вариант):
    ol
      li взять два теплых камня и провести ими вдоль позвоночника до поясницы;
      li совершить восходящую траекторию движения вновь до шеи;
      li оставить один минерал на пояснице;
      li повторить массажную линию, но другим камнем с его вращением;
      li
        | поставить камни на поясницу и совершить расходящиеся движения в сторону боков;
        |
        +picture-tag(images[29], images[29].mobile.jpg['1x'], '').article-page__image
      li выполнять восходящий перекрестный подъем камней через линию позвоночника;
      li пройтись минералами по рукам и вернуться в область поясницы;
      li повторить подъем по спине и совершить массирование плечевого пояса;
      li
        | закончить сеанс разнонаправленными поглаживаниями.
        |
        +picture-tag(images[30], images[30].mobile.jpg['1x'], '').article-page__image
    p После окончания массажного воздействия следует выпить травяной чай. Домашний массаж камнями для начинающих все же рекомендуется начинать с воздействия, не предполагающего перемещение минералов. Камни выкладываются на активные точки и располагаются там на протяжении всего лечебного сеанса.
    p
      b Вариант массажа №2 (пассивный вариант — зоны размещения):
    ul
      li
        b.article-page__highlighted-text Вдоль позвоночника.
        |
        | Нагретые камни (можно самые большие) помогают снять напряжение с глубинных мышц и увеличить приток к позвонкам.
      li
        b.article-page__highlighted-text Шея.
        |
        | На эту деликатную зону выкладывают минералы малого диаметра, чтобы не оказывать излишнего напряжения на голову.
      li
        b.article-page__highlighted-text Лопатки.
        |
        | Каменный массаж помогает устранять легкие боли в области сердца. Оптимальный вариант — камни среднего размера.
      li
        b.article-page__highlighted-text Поясница.
        |
        | Размещение нескольких камней с каждой стороны от позвоночника помогает восстанавливать мочеполовую сферу. Габариты минералов — самые большие. Часто на эту зону размещают один крупный камень.
        +picture-tag(images[31], images[31].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Комбинирование.
        |
        | Расположение камней на всех выше описанных зонах возможно — оно углубляет релаксационное влияние.
    p Допускается также держать небольшие камни в руках тому, кто получает массажное воздействие.
    +picture-tag(images[32], images[32].mobile.jpg['1x'], '').article-page__image
    p Пассивный сеанс литотерапии разрешается использовать перед выполнением классического массажа — действие камней оказывает мощный расслабляющий эффект. Такой подход рекомендован лицам с очень сильным мышечным гипертонусом.
    .article-page__highlight
      h3 Исторический факт
      p Жители Древнего Китая нагревали камни особым образом — выставляли их под солнечные лучи. Придавав теплоту минералам естественным способом, они верили, что используют целебную энергию природы, которая помогает исцелять от многих болезней и устранять ментальный негатив.
    h3 МЕДОВЫЙ МАССАЖ
    +picture-tag(images[33], images[33].mobile.jpg['1x'], '').article-page__image
    p Мед — природный лекарь, который оказывает благотворное воздействие не только при употреблении вкусного лакомства внутрь, но еще и при его поверхностном применении. Выполняя медовый массаж спины в домашних условиях, можно улучшить эластичность кожи, а также придать ей более приятный, увлажненный оттенок. Дополнительные результаты, которые удается достичь, — усиленное отведение солей, шлаков и других видов токсинов.
    h4 Подготовка к массажу медом
    +picture-tag(images[34], images[34].mobile.jpg['1x'], '').article-page__image
    p Первый вопрос, возникающий во время приготовления к лечебной процедуре, относится к тонкостям выбора главного используемого вещества — продукта пчеловодства.
    p
      b Критерии выбора меда:
    ul
      li
        b.article-page__highlighted-text Тип.
        |
        | Густой мед — самый лучший, поскольку в исходном состоянии он не обладает сильной текучестью. Пасечники называют его иначе — севшим.
      li
        b.article-page__highlighted-text Сорт.
        |
        | Выбирать можно любой мед на индивидуальное усмотрение — результат от этого не меняется.
      li
        b.article-page__highlighted-text Время сбора.
        |
        | Наибольшую пользу приносит свежесобранный мед, в котором максимум витаминов.
      li
        b.article-page__highlighted-text Цена.
        |
        | К самым недорогим сортам относят: луговой, полевой, цветочный и разнотравье.
    p Не рекомендуется покупать перетомленный мед, который не кристаллизуется со временем и не застывает в процессе массажа, поэтому он не приносит желаемого терапевтического эффекта.
    .article-page__highlight
      p Если густой мед необходимо сделать более жидким, то в него достаточно добавить несколько капель спирта. Сделать однородным засахаренный мед просто: нагреть его на водяной бане.
    h4 Техника массажа
    p На одну процедуру необходимо от 3 до 5 столовых ложек меда. Чтобы придать приятный аромат лечебной массе, в нее добавляют также масла: апельсиновое, лавандовое, лимонное или эвкалиптовое. Комфортный температурный режим консистенции — не более 38 градусов.
    p Мед не следует наносить на определенные участки спины и смежные с ней области — шею, подмышечные впадины, паховую область. Отказаться от этого вида лечебного воздействия следует и при наличии тонкой кожи, которая легко травмируется.
    p
      b Шаг 1.
      |
      | Перед началом сеанса выполняют серию разогревающих приемов без использования продукта пчеловодства. На поглаживания и растирания уходит от 5 до 7 минут.
    +picture-tag(images[35], images[35].mobile.jpg['1x'], '').article-page__image
    p
      b Шаг 2.
      |
      | Массажист берет мед или медово-эфирную консистенцию и распределяет ее по все поверхности спины. Варианты переноса — сначала на руки, а потом на тело, либо сразу на спину.
    +picture-tag(images[36], images[36].mobile.jpg['1x'], '').article-page__image
    p
      b Шаг 3.
      |
      | Теплой массой равномерно смазывают всю кожу спины, одновременно повторяют разминание («щипки»), чтобы ускорить впитывание меда в дерму.
    +picture-tag(images[37], images[37].mobile.jpg['1x'], '').article-page__image
    p
      b Шаг 4.
      |
      | Массажист прикладывает ладони к коже и ждет, пока они слегка прилипнут друг к другу. В зависимости от личных предпочтений, помощник, который проводит массаж своим близким, выбирает комфортную скорость отведения руки от кожи.
    p
      b Массажные приемы:
    ul
      li резкий (рука убирается быстро);
      li плавный (ладонь отделяется от кожи медленно).
    +picture-tag(images[38], images[38].mobile.jpg['1x'], '').article-page__image
    p Самой щадящей формой отрыва является постановка на спину только пальцев или ребер ладоней. Применять этот метод рекомендуется и при использовании меда, который плохо превращается в кашицу.
    +picture-tag(images[39], images[39].mobile.jpg['1x'], '').article-page__image
    p Оздоровительный медовый массаж спины допускается выполнять хаотичными движениями, поэтому о том, как правильно его делать в домашних условиях не стоит беспокоиться. Ощущения подскажут верную тактику ведения процедуры. В завершении домашнего сеанса обязательно посещают душ, а затем выпивают чашку горячего чая.
    p Перерыв между процедурами не должен превышать 3 дней, лучший вариант — 1–2 суток между процедурами. Общая длительность сеанса — от 20 до 40 минут. Курс — до 10 процедур.
    +picture-tag(images[40], images[40].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Вторая половина сеанса может вызывать легкие неприятные ощущения: мед, приобретая более высокую плотность и превращаясь в кашицу, оказывает легкое скрабирующее воздействие. Достигаемый эффект помогает устранить отмершие клетки и усилить приток крови к эпидермису и мышцам.
    h3 МАССАЖ ПЕРЕД ФИЗИЧЕСКОЙ НАГРУЗКОЙ (СПОРТИВНЫЙ МАССАЖ)
    +picture-tag(images[41], images[41].mobile.jpg['1x'], '').article-page__image
    p Разогрев мышц — важная процедура, подготавливающая тело к длительной физической нагрузке. В домашних условиях спортивный массаж рекомендован перед походом в спортзал, пробежкой, занятиями со штангой или гантелями вне тренажерных залов. Рационально использовать массаж и перед выполнением бытовых задач, отнимающих много сил. Генеральная уборка, колка дров, перенос мебели — независимо от возникших задач, подготовительный (разминочный) массаж защищает человека от риска растяжения связок и защемления нервных корешков в позвоночнике.
    +picture-tag(images[42], images[42].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Спортивный массаж максимально эффективен, если физическая нагрузка на организм оказывается не позднее 10 минут после окончания сеанса.
    h4 Техника спортивного и подготавливающего массажа
    p Особой подготовки не требуется, поэтому переходить к выполнению массажных приемов можно сразу при возникновении необходимости. При выполнении спортивного массажа в домашних условиях, в отличие от расслабляющего сеанса, следует увеличить количество силовых и ударных приемов, чтобы усилить тонизирующий эффект. Они понадобятся для увеличения работоспособности.
    a(href=images[43].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[43], images[43].mobile.jpg['1x'], '').article-page__image
    p
      b Цели использования массажа и последовательность его проведения:
    ol
      li
        b.article-page__highlighted-text Приток крови.
        |
        | Поглаживания приводят к разогреву мышц и предотвращают спазм во время физической активности.
      li
        b.article-page__highlighted-text Усиление кровотока.
        |
        | Серия растираний, выполняемых подушечками пальцев, дает возможность максимально ускорить питание мышечных волокон.
      li
        b.article-page__highlighted-text Повышение упругости мышц.
        |
        | Разминание помогает мягко растягивать мышцы, которые не будут травмироваться после начала тренировки или при выполнении физической работы по дому.
      li
        b.article-page__highlighted-text Разминка глубоких слоев в мышцах спины.
        |
        | Разминания — двойной гриф и кольцевой прием — дают возможность повысить тонус мышечных волокон.
      li
        b.article-page__highlighted-text Усиление тонуса.
        |
        | Рубление, пиление и поколачивание — главные вибрирующие и ударные приемы, которые вызывают эмоциональное возбуждение. Эти движения также помогают устранить апатию и слабую мотивацию.
      li
        b.article-page__highlighted-text Приток крови к сердцу.
        |
        | Проводят серию выжиманий, выполняемых по траектории от поясницы к шее.
      li
        b.article-page__highlighted-text Приведение в тонус всех мышц.
        |
        | В завершении проводится прием потряхивание туловища (небольшое раскачивание), а также рук и ног.
    p Нельзя прорабатывать воспаленные мышцы без специальных навыков, чтобы не вызвать ухудшение состояния. Спортивный массаж для профессионалов может достигать 70 минут, в то время как общее время, затрачиваемое на процедуру перед менее насыщенной физической нагрузкой, длится не более 20 минут.
    +picture-tag(images[44], images[44].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Если планируется очень важное выступление, или даже соревнование, то необходимо провести глубокий подготовительный массаж, который в состоянии выполнить только специалист.
    h3 МАССАЖ МАССАЖЕРАМИ
    p Специальные приспособления повышают качество массажа спины — большинство из них можно даже применять без привлечения помощника. Ограниченность доступа рук к области спины легко устраняется вариантами, оснащенными ручками или имеющими особый тип использования, при котором на массажер необходимо ложиться.
    h4 Виды массажеров и техники их использования
    ul
      li
        b.article-page__highlighted-text Инфракрасный массажер.
        |
        | Тепловое излучение ускоряет восстановление мышечных тканей, особенно если оно сочетается с вибрирующим воздействием. Длинная ручка дает возможность захватывать даже недоступные части спины.
        +picture-tag(images[45], images[45].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массажер на ручке с одним роликом.
        |
        | Приспособлением, оснащенным одним роликом, легко делать массаж в шейно-воротниковой зоне, по бокам туловища и на пояснице.
        +picture-tag(images[46], images[46].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Ленточный массажер.
        |
        | Процесс самомассажа включает перемещение приспособления по телу такими движениями, которые напоминают использование мочалки-пояса. Техника выполнения: массажер перемещается по спине сверху вниз, а задерживается только в местах, где сохраняются неприятные ощущения (боль, скованность).
        +picture-tag(images[47], images[47].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массажный цилиндр (роллер).
        |
        | Приспособление внешне напоминает трубу, которой прокатывают от плечевого пояса до ягодичных мышц и обратно. Роллеры часто используются для восстановления спортсменов после травм.
        +picture-tag(images[48], images[48].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Бабочка».
        |
        | Миостимулятор используется для устранения легкого спазма, а также укрепления мышц, особенно у лиц, адаптирующихся после операции. Время воздействия — около 15 минут.
        +picture-tag(images[49], images[49].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Накидки на кресло.
        |
        | Делать массаж в домашних условиях массажерами электрического типа гораздо проще, чем ручными. Достаточно включить необходимый режим, чтобы ролики, расположенные внутри устройства, сами выполняли массажные приемы по заданной программе.
        +picture-tag(images[50], images[50].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Подушки-массажеры.
        |
        | Электрический вариант обладает меньшей площадью, поэтому используется для массирования отдельных зон спины. Время процедуры ограничено длительностью, заданной выбранной программой.
        +picture-tag(images[51], images[51].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массажные кресла.
        |
        | Самые дорогостоящие варианты, однако они способны имитировать массаж спины человеком в сочетании с воздействием на все зоны тела.
        +picture-tag(images[52], images[52].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Аппликаторные валики и подстилки.
        |
        | Схожим эффектом обладают подушки без электрического питания — их подкладывают под шею, плечи, центр спины или поясницу. Чтобы получить терапевтический эффект, на них необходимо лежать без движения (пассивный массаж). Аппликаторы применяют при повышенном тонусе мышц, остеохондрозе, бессоннице, мигренях. Находиться на валике рекомендуется не больше 1 часа в день.
        +picture-tag(images[53], images[53].mobile.jpg['1x'], '').article-page__image
    p При выборе массажеров следует помнить, что электрические варианты часто невозможно использовать в походных условиях, в то время как ручные разновидности могут использоваться практически в любом месте.
    p
      b Массажер-мостик.
      |
      | Регулируемый выступ образует дугу, воссоздающую правильный изгиб позвоночника. Для начального уровня подходит высота 5 см, после привыкания уровень можно повышать. Постановка лежа: человек медленно ложится на мостик и находится в такой позиции 5–10 минут. Постановка сидя: приспособление закрепляется на спинке стула. Массажер-мостик рекомендуется использовать при нарушенной осанке.
    a(href=images[54].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[54], images[54].mobile.jpg['1x'], '').article-page__image
    p При использовании массажеров без помощника необходимо оказывать воздействие на тело дозированно, чтобы предотвратить появление гематом. Повреждения возникают при слишком усердном воздействии.
    .article-page__highlight
      h3 Медицинский факт
      p Постоянное использование массажеров дает возможность ежедневно снимать напряжение с позвоночника. Расслабление и снятие спазма — лучшая профилактика остеохондроза.
    h4 Техника выполнения при использовании массажеров с помощником
    p Воздействовать массажерами можно по классическим массажным линиям.
    a(href=images[55].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[55], images[55].mobile.jpg['1x'], '').article-page__image
    p
      b Теперь рассмотрим различные виды приспособлений для воздействия на мышцы.
    ul
      li
        b.article-page__highlighted-text «Молекула».
        |
        | Популярный атрибут массажа в домашних условиях стал известен благодаря невысокой цене и универсальности применения. Устройство помогает существенно увеличивать глубину воздействия при меньших физических усилиях. «Молекула» подходит для проведения не только классического, но и точечного (варианты с небольшими мягкими шипами), антицеллюлитного и медового видов массажа. Хотя массажер можно использовать без посторонней помощи, однако мышцы в центре спины удается обрабатывать только с помощником. Длительность применения — до 30 минут.
        +picture-tag(images[56], images[56].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Шипованный массажер на ручке.
        |
        | Наиболее часто встречающееся название — «Вездеход». Приспособление используется для глубокого воздействия на крупные мышцы, т.е. ближе к завершению окончания сеанса (после разминаний).
        +picture-tag(images[57], images[57].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Массажер «Дуга».
        |
        | Разновидность вышеописанного приспособления, обладающая меньшим количеством движущихся элементов, Техника использования аналогична предыдущей. Отлично подходит для выполнения антицеллюлитного массажа в области боков спины и на бедрах.
        +picture-tag(images[58], images[58].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Аппликатор-валик.
        |
        | Массажер используется по всей поверхности спины, на которую оказывается динамическое воздействие. Применение акупунктурных приемов помогло создать эффект множественного «игольчатого душа». Назначение: повышение чувствительности кожи и лечение заболеваний ЦНС, ЖКТ и сердца. Техника: использование в утренние часы с целью придания тонуса. Время воздействия — до 15 минут.
        +picture-tag(images[59], images[59].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Скалка с двумя рифлеными роликами.
        |
        | Особое расположение прокатывающих валиков помогает глубоко воздействовать на паравертебральные мышцы. Техника: массажер прокатывается по областям, располагающимся по бокам от позвоночника. Свободное пространство между валиками дает возможность не затрагивать позвонки, а воздействовать только на прилегающие мышцы.
        +picture-tag(images[60], images[60].mobile.jpg['1x'], '').article-page__image
    p Обычно к каждому массажеру прилагается подробная инструкция, которая позволяет делать массаж спины правильно и без особых сложностей. Следование рекомендациям — гарантия благотворного эффекта на здоровье.
    .article-page__highlight
      h3 Обратите внимание
      p Массажеры для спины больше подходят для профилактики, а не лечения заболеваний.
    h3 ДЕТСКИЙ ИГРАЮЩИЙ МАССАЖ
    +picture-tag(images[61], images[61].mobile.jpg['1x'], '').article-page__image
    p Используя детский массаж, родители помогают ребенку правильно развиваться и быстрее адаптироваться к возрастающим нагрузкам в школе. Однако подрастающее поколение с неохотой смотрит на все, что полезно для здоровья. Если проводить приятную процедуру в виде игры, то интерес у домочадца обязательно появится. Специально для этой цели придумали детский играющий массаж, который способен одновременно еще и поднять настроение.
    h4 Техника выполнения
    p Чтобы процедура принесла пользу, не следует оказывать сильное воздействие на кожу и мышцы. Если сеанс проводится малознакомым человеком, то перед процедурой следует немного пообщаться, чтобы у ребенка появилось доверие к гостю. Сеанс домашнего массажа проводится одновременно с напевом известной песни, в которой развитие сюжета быстро превращается в воздействие руками, напоминающее сказанное.
    +picture-tag(images[62], images[62].mobile.jpg['1x'], '').article-page__image
    p
      b Вариант №1:
    ul
      li
        b.article-page__highlighted-text «Рельсы, рельсы, шпалы, шпалы».
        |
        | Повторяя данную фразу, один из родителей проводит ребрами ладоней по спине. Используется одновременно две руки, которые очерчивают незримые полосы. Сначала движения идут сверху вниз по направлению позвоночника (напевается «рельсы, рельсы»), затем — поперек него (повторяются «шпалы, шпалы»).
      li
        b.article-page__highlighted-text «Ехал поезд запоздалый».
        |
        | Мама или папа легким движением перемещает кулачок от поясницы к шее, как будто по спине двигается настоящий поезд.
      li
        b.article-page__highlighted-text «Из последнего вагона — вдруг посыпалось зерно».
        |
        | По всей поверхности спинки бегло перемещаются пальцы (прием «Пальцевый дождь»). Другой вариант — выполнение серии поглаживаний от шеи к пояснице.
      li
        b.article-page__highlighted-text «Пришли куры поклевали».
        |
        | Пальцами производится легкое надавливание на любую часть спины.
      li
        b.article-page__highlighted-text «Гуси пощипали».
        |
        | Производится легкое пощипывание (захват кожных складок с мягким сжиманием и оттягиванием).
      li
        b.article-page__highlighted-text «Слоны потоптали».
        |
        | Тот, кто делает массаж спины, сжимает руки в кулачки и слегка надавливает на тело.
      li
        b.article-page__highlighted-text «А потом мышка пришла и хвостиком все смела».
        |
        | Мама или папа повторяют поглаживающие движения.
    +picture-tag(images[63], images[63].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Проводить массаж младенцам рекомендуется после преодоления месячного возраста.
    p Если ребенок боится животных или ему по другим причинам не нравится первый вариант, то можно использовать стишки, в которых рассказывается о повседневных и более понятных занятиях.
    +picture-tag(images[64], images[64].mobile.jpg['1x'], '').article-page__image
    p
      b Вариант №2:
    ul
      li
        b.article-page__highlighted-text «Мы капусту рубим, рубим».
        |
        | Ребрами ладоней производится серия похлопываний по спине.
      li
        b.article-page__highlighted-text «Морковку трем, трем».
        |
        | Кисти рук из вертикальной плоскости переходят в горизонтальную, напоминая движение пилы, только в разные стороны.
      li
        b.article-page__highlighted-text «Чеснок давим, давим».
        |
        | Выполняется прием «Пальцевый дождь».
      li
        b.article-page__highlighted-text «Лимон жмем, жмем».
        |
        | Один из родителей совершает воздействие, сходное с пощипыванием (как с гусями в предыдущем варианте массажа).
      li
        b.article-page__highlighted-text «Сок томатный пьем, пьем».
        |
        | Массаж заканчивается поглаживанием.
    p Используя данную технику, можно легко адаптировать любую песенку для проведения процедуры массажа в домашних условиях.
    +picture-tag(images[65], images[65].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Массаж ребенка помогает эмоционально сблизить домочадцев и быстро преодолеть временное недопонимание.

    h2#nav-5 Массаж с эфирными маслами
    +picture-tag(images[66], images[66].mobile.jpg['1x'], '').article-page__image
    p Тактильный контакт оказывает выраженное благотворное воздействие на организм, но положительный результат можно дополнительно усилить, если использовать ароматизированные масла. Активизация обоняния помогает быстрее расслабить психику во время проведения массажа с эфирными маслами, которые результативно расслабляют даже сильно спазмированные мышцы. Контактное использование жидких благовоний равным образом ускоряет наступление терапевтического эффекта еще и с помощью стремительного проникновения полезных веществ через кожу.
    h3 ПОДГОТОВКА К МАССАЖУ И ВЫБОР МАСЛА
    +picture-tag(images[67], images[67].mobile.jpg['1x'], '').article-page__image
    p Подбор масел должен производиться в зависимости от преследуемой цели — некоторые варианты обладают тонизирующим, другие расслабляющим эффектом. Дополнительное условие для проведения комфортной процедуры — подбор приятного масла, в противном случае аромат вызовет дополнительный мышечный спазм и психологическое напряжение.
    a(href=images[68].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[68], images[68].mobile.jpg['1x'], '').article-page__image
    p По сравнению с процедурами, где применяется только базовое массажное масло, время сеанса с использованием эфирных масел не удлиняется и не укорачивается.
    p
      b Классические табу:
    ol
      li не применять эфирные масла в чистом виде для контактного нанесения;
      li не использовать ароматические композиции в плохо проветриваемом помещении;
      li не применять туалетную воду за 2 часа до сеанса;
      li не наносить на тело искусственно синтезированные (ненатуральные) масла.
    p Без разведения эфирное масло можно применять только для ароматизации помещения — нанесение его на кожу предполагает смешивание с базовым маслом.
    a(href=images[69].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[69], images[69].mobile.jpg['1x'], '').article-page__image
    p Это правило считается незыблемым для тех, кто стремится правильно делать массаж в домашних условиях своим близким. Косметологи советуют использовать масла с оливой, жожобой, косточкой абрикоса (а также винограда), миндалем или макадамией. После смешения с эфирным продуктом базовое масло начинает выполнять транспортную и защитную функцию. Альтернативное название процедуры, в которой используются жидкие вещества, — оил-массаж.
    .article-page__highlight
      h3 Лавандовое масло — известный лекарь, избавляющий от мигреней
      p Применение его во время сеанса массажа также быстро устраняет психологическое напряжение. Аналогичным воздействием обладает и мелисса.
    h4 Техника массажа
    +picture-tag(images[70], images[70].mobile.jpg['1x'], '').article-page__image
    p Особенности проведения «эфирной» процедуры не отличаются от классического массажа — все приемы выполняются в аналогичной последовательности, но только с использованием эфирных масел. Темп аромамассажа — плавный и неспешный, поскольку оил-массаж чаще применяется для релаксации.
    p
      b Серия массажных приемов:
    ol
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Руки, скользя от шеи до середины спины, совершают от 5 до 10 легких движений по коже.
      li
        b.article-page__highlighted-text Растирания.
        |
        | Подушечками пальцев проводят по всем частям спины (нисходящими и восходящими движениями).
      li
        b.article-page__highlighted-text Разминания.
        |
        | С помощью захватывания и оттягивания кожных складок, удается достичь более глубокого воздействия на мышцы.
      li
        b.article-page__highlighted-text Выжимание.
        |
        | Рука с легким надавливанием совершает восходящее движение к шее.
        a(href=images[71].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[71], images[71].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Потряхивания.
        |
        | Рука, совершая линейное движение, одновременно вибрирует. Траектория — в сторону поясницы.
      li
        b.article-page__highlighted-text Похлопывания.
        |
        | Собранными в чашу руками проводят серию хлопков по всей поверхности спины.
        a(href=images[72].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[72], images[72].mobile.jpg['1x'], '').article-page__image
    p Рубление и поколачивание редко используются при аромамассаже, кроме случаев получения тонизирующего эффекта. Прекратить сеанс нужно, если обнаружилась индивидуальная непереносимость, связанная с появлением аллергической реакции на коже.
    +picture-tag(images[73], images[73].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Массажный эффект при использовании масел более длителен по сравнению с сеансом, который проводится без применения интенсивно пахнущих веществ.

    h2#nav-6 Массаж грудной клетки
    +picture-tag(images[74], images[74].mobile.jpg['1x'], '').article-page__image
    p Во время выполнения массажа спины, захватывающего заднюю часть грудной клетки, благотворное влияние на нее оказывается естественным образом, в то время как на переднюю часть туловища влияние остается минимальным. Массажные приемы, которые применяются в области грудины, используются для достижения дополнительного терапевтического эффекта, хотя проработку данной области тела рационально проводить при определенных проблемах со здоровьем. Удаленность от спины и повышенная чувствительность данной зоны часто приводят к напрасным сомнениям, связанным с тем, делают ли массаж грудной клетки мужчинам и женщинам. Вертебрологи и терапевты не устанавливают запрет на такой вид воздействия — они даже часто рекомендуют включать проработку области груди во время массажа спины.
    h3 ПОКАЗАНИЯ ДЛЯ ПРОВЕДЕНИЯ ГРУДНОГО МАССАЖА
    +picture-tag(images[75], images[75].mobile.jpg['1x'], '').article-page__image
    p Воздействие на область груди оказывается при диагностировании легочных болезней: муковисцидоза, астмы, бронхита, бронхоспазма, стеноза трахеи, катаре дыхательных пробок, а также любых состояний, сопровождающихся большим выделением мокроты или признаками задержки дыхания. Оздоровительная процедура помогает быстрее отвести секрет и устранить приступы кашля.
    +picture-tag(images[76], images[76].mobile.jpg['1x'], '').article-page__image
    p Рекомендуется использовать массаж груди при пневмонии и кашле в составе комплексной терапии, включающей прием медикаментозных средств. Полезно проводить процедуру при ОРВИ, гриппе (после устранения острых признаков болезни) и предпростудных состояниях. Процедура может также устранить межреберную невралгию и улучшить состояние при шейно-грудном остеохондрозе. Проводить сеанс лучше за 2 часа до проведения дыхательной гимнастики.
    +picture-tag(images[77], images[77].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p При обнаружении злокачественных образований в легких лечение массажем запрещено. Ограничения действуют и для лиц, перенесших операцию на сердце.
    h3 ТЕХНИКА МАССАЖА ГРУДИ В ДОМАШНИХ УСЛОВИЯХ
    +picture-tag(images[78], images[78].mobile.jpg['1x'], '').article-page__image
    p Сидячая или лежачая позиция — два варианта, при которых перкусионный массаж проводится в домашних условиях. Сидячая поза рекомендована больным бронхиальной астмой, особенно сразу после приступа. Ритм выполнения: осторожный, изменчивый (следует корректировать интенсивность воздействия при появлении неприятных ощущений). Оптимальный вариант проведения — завершающий этап после массажа спины. Общее время выполнения — от 5 до 10 минут.
    p
      b Приемы перкусионного массажа:
    ol
      li
        b.article-page__highlighted-text Поглаживание.
        |
        | Внутренней стороной ладони проводится серия касаний до появления легкого покраснения кожи. Выполнение приема направлено на плавную подготовку груди к массажу.
        +picture-tag(images[79], images[79].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Растирание грудных мышц.
        |
        | Подушечками пальцев по области кожи выше сосков проводятся кругообразные движения, помогающие также разогреть мышцы в области диафрагмы.
        +picture-tag(images[80], images[80].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Растирание межреберных промежутков.
        |
        | По области ребер растирание выполняется разведенными пальцами, в том числе в зоне расположения передних зубчатых мышц.
        +picture-tag(images[81], images[81].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Разминание.
        |
        | Большие грудные мышцы массируются с помощью образования мелких и крупных кожных складок.
        +picture-tag(images[82], images[82].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Постукивания.
        |
        | Рука размещается на грудь человека, а вторая ладонь сжимается в кулак или воздействует в расправленном положении. Затем легкими постукиваниями ладонь соприкасается с рукой, наложенной на тело. Постукивание, как часть техники массажа грудной клетки, оказывает вибрирующее воздействие, улучшающее отхождение мокроты.
        +picture-tag(images[83], images[83].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Одновременное сжимание.
        |
        | Руки размещаются по бокам туловища, а в момент вдоха человека, которому делается массаж, они плавно сводятся к центру грудной клетки. На пике набора воздуха руки слегка надавливают на диафрагму, а на выдохе они обратно разводятся до уровня подмышечных впадин. Прием улучшает функционирование рецепторов легких и плевр, которые упрощают процесс дыхания.
        +picture-tag(images[84], images[84].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Косое сжимание.
        |
        | Процедура надавливания производится одной рукой, как и при использовании предыдущего метода, но в измененном варианте. К центру стремится только одна рука, в то время как другая остается на боку. Затем ладони меняются местами.
        +picture-tag(images[85], images[85].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Вибрация.
        |
        | Рука удерживается в разных частях груди и совершает короткие колебательные движения. Упростить выполнение данного приема можно с помощью вибромассажера.
        +picture-tag(images[86], images[86].mobile.jpg['1x'], '').article-page__image
    p Все приемы оказывают колебательное воздействие, поэтому методику также называют вибрационным массажем грудной клетки, который разрешается делать как детям, так и взрослым. Процедура для женщин выполняется в аналогичной последовательности, но для воздействия на межреберные промежутки достаточно ладонью приподнять грудь, чтобы провести серию растираний под ней. Если грудь небольшого размера, то процедуру допустимо проводить в бюстгальтере. Другое важное замечание: при медицинском массаже воздействие на молочные железы у представителей прекрасной половины человечества не оказывается.
    +picture-tag(images[87], images[87].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Во время или сразу после массажа возможно появление естественного приступа кашля, который дает возможность выйти избыточной мокроте. Проводя сеанс дома, необходимо заранее подготовить полотенце или салфетки, чтобы быстро и легко устранить секрет.

    h2#nav-7 Боль в спине: во время и после массажа
    +picture-tag(images[88], images[88].mobile.jpg['1x'], '').article-page__image
    p Воздействие на мышечные волокна улучшает общее самочувствие, но иногда у человека после массажа возникает боль в спине, а также в соседних участках тела. На сеансе у специалиста подобные состояния возникают редко, однако любители, не имеющие медицинской квалификации, часто совершают ошибки, которые искажают конечный эффект. Чтобы процедура была полезной, нужно знать, как правильно делать массаж спины в домашних условиях, чтобы неприятные ощущения не появились.
    h3 ПРИЧИНЫ БОЛИ ВО ВРЕМЯ МАССАЖНОГО СЕАНСА
    +picture-tag(images[89], images[89].mobile.jpg['1x'], '').article-page__image
    p Первый фактор, который приходит на ум новичку, относится к запрету, связанному с сильным надавливанием на позвонки. Однако привести к нежелательным ощущениям могут и другие причины.
    p
      b Условия появления боли:
    ul
      li
        b.article-page__highlight Короткий разогрев мышц.
        |
        | Качественная подготовка тела к массажу — залог проведения комфортной процедуры. Приступать к приемам глубокого массажа после 10-секундного разогрева — значит с высокой долей вероятности получить боль в теле. В зависимости от силы мышечного спазма, разогрев может длиться от 3 до 10 минут. Альтернативный вариант — прием горячей ванны перед сеансом, на котором можно сократить время, затрачиваемое на подготовку мышц.
        a(href=images[90].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[90], images[90].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlight Тип массажа.
        |
        | Тонизирующие методики включают глубокую проработку мышц, поэтому эпизодически боль возникает у большинства людей. Наиболее интенсивными видами считаются спортивный и мануальный массаж, в то время как после расслабляющего воздействия боли не должно быть по определению.
      li
        b.article-page__highlight Полный желудок.
        |
        | В таком состоянии велик риск развития желудочных болей, а также рвоты. Гарантия проведения безопасного сеанса — пустой желудок.
      li
        b.article-page__highlight Грубое воздействие на болевые точки.
        |
        | На теле человека триггерные участки тела находятся в определенных местах, поэтому новичок — по неопытности — может оказать на них неверное воздействие и вызвать боль во время массажа как у взрослых, так и детей.
        a(href=images[91].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[91], images[91].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlight Воздействие на некоторые органы.
        |
        | Силовые приемы, выполненные в области почек и мочеточника, часто вызывают болевой синдром, поэтому интенсивность воздействия в этих местах снижается.
      li
        b.article-page__highlight Отсутствие квалификации.
        |
        | Любительский массаж создан преимущественно для расслабления, поэтому силовые приемы в нем запрещено применять. Неумелое выполнение способно спровоцировать ухудшение состояния.
    p Чтобы сохранить хорошее самочувствие, перед сеансом также следует сообщить о перенесенных травмах. Обладая этой информацией, массажист будет избегать воздействия на озвученные зоны или выбирать щадящие приемы воздействия на них.
    +picture-tag(images[92], images[92].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Проводить самостоятельный массаж при грыже позвоночника не рекомендуется.
    h3 ФАКТОРЫ РАЗВИТИЯ БОЛИ ПОСЛЕ ПРОЦЕДУРЫ
    +picture-tag(images[93], images[93].mobile.jpg['1x'], '').article-page__image
    p Другая ситуация связана с отличным самочувствие во время массажа, но его ухудшением после окончания процедуры. Диапазон ощущений может варьироваться от легких покалываний до чувства, которое сходно с тем, когда человек выполнил тяжелую физическую работу.
    p
      b Возможные причины постмассажных болей:
    +picture-tag(images[94], images[94].mobile.jpg['1x'], '').article-page__image
    ol
      li
        b.article-page__highlighted-text Адаптация мышечных групп.
        |
        | Первый сеанс массажа — умеренный стресс для тканей, особенно если человек ведет сидячий образ жизни, а его мышцы не привыкли к нагрузке. В этот период мышечные волокна, связки, кожа и ткани активно регенерируются, а возникшее состояние называют крепатурой — совокупностью неприятных ощущений, самопроизвольно исчезающих через 2–3 дня после нагрузки, к которой мышцы не были подготовлены.
      li
        b.article-page__highlighted-text Активизация очистительных процессов.
        |
        | Массаж приводит к усилению лимфо- и кровообращения, которые участвуют в удалении токсинов из организма. В этом случае действует известное в медицинской среде правило восстановления: улучшение происходит через кратковременное ухудшение состояния.
      li
        b.article-page__highlighted-text Переохлаждение.
        |
        | В течение 30 минут после сеанса рекомендуется побыть в тепле. Выйдя из дома сразу после массажа, человек рискует застудиться.
        +picture-tag(images[95], images[95].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Длительный массаж спины.
        |
        | 1 час — максимальный предел, после которого риск получения растяжения увеличивается.
      li
        b.article-page__highlighted-text Рецидив болезни.
        |
        | После массажа боль может возникнуть из-за обострения остеохондроза, если процедура изначально проводилась при сильном болевом синдроме. Проводить массаж не следует при наличии воспалений и любых болезней, который входят в список противопоказаний к массажу.
      li
        b.article-page__highlighted-text Гипертония.
        |
        | Больные с 1 степенью болезни могут проходить оздоровительную процедуру, однако после сеанса следует отдохнуть от 30 до 60 минут. Если резко погрузиться в слишком активное занятие, то велик риск повышения давления. Другой фактор — использование тонизирующих приемов у гипертоников, в то время как для этой категории пациентов необходимо подбирать релаксирующие варианты воздействия.
    +picture-tag(images[96], images[96].mobile.jpg['1x'], '').article-page__image
    p Сохранение боли после массажа спины длительное время — повод обратиться к врачу. Атипичная реакция должна натолкнуть на мысль, что у человека присутствует какое-то противопоказание, о котором он может не догадываться.
    +picture-tag(images[97], images[97].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Появление гематом после массажа — признак хрупкости сосудов, но данное последствие может стать причиной и неумелых манипуляций массажиста.

    h2#nav-8 Можно ли делать массаж спины при различных болезнях и состояниях
    +picture-tag(images[98], images[98].mobile.jpg['1x'], '').article-page__image
    p Массаж запускает мощные восстановительные процессы в теле при различных недугах, но некоторые виды патологий вызывают у людей опасения. Чтобы не навредить близким, их интересуют нюансы — можно ли делать массаж спины при болезнях, а также временных изменениях в теле. В этот список также входят беременность и период месячных.
    h3 МОЖНО ЛИ ПРИ МИОМЕ
    a(href=images[99].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[99], images[99].mobile.jpg['1x'], '').article-page__image
    p Миома — это доброкачественное изменение, которое образуется во влагалище. Гинекологическое изменение относится к распространенным физиологическим расстройствам, возникающим у женщин. Миому не следует относить к злокачественным опухолям, при которых массаж строго противопоказан. Неонкологическое новообразование часто исчезает (регрессирует) самостоятельно, но для самоисцеления может потребоваться много времени. Массаж спины — метод, помогающий ускорить процесс избавления от миомы.
    p Подробно изучив тему, связанную с тем, можно ли делать женщине массаж при миоме, современные гинекологи пришли к выводу, что данное воздействие благотворно для организма. Усиление лимфотока ускоряет отвод токсинов из тела и содействует уменьшению новообразования.
    +picture-tag(images[100], images[100].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Небольшие миомные узлы — менее 20 мм — диагностируются у более чем 80 % женщин в разные периоды жизни, но их наличие не приводит к появлению дискомфорта или возникновению опасного для здоровья состояния.
    p Однако проведение массажа допустимо не во всех случаях: из техники исключаются приемы, которые воздействуют на гинекологическую зону. Остальные участки тела можно массировать без изменений.
    +picture-tag(images[101], images[101].mobile.jpg['1x'], '').article-page__image
    p
      b Другие табу:
    ul
      li
        b.article-page__highlighted-text Тепловой массаж.
        |
        | Процедура, включающая тепловое воздействие, может привести к росту новообразования. Нельзя использовать стоун-массаж с нагретыми камнями, а также самомассаж, при котором используются приборы с ик-излучением.
      li
        b.article-page__highlighted-text Миома с кровотечением.
        |
        | Усиление кровотока, возникающее во время сеанса, провоцирует выход сравнительно большего количества крови, поэтому кровоточивость входит в список абсолютных противопоказаний.
      li
        b.article-page__highlighted-text Субмукозная миома.
        |
        | Около 32 % всех гинекологических новообразований относится к данной разновидности. Стремительный рост образования делает неэффективным консервативное лечение, поэтому лицам, страдающим данной формой болезни, обычно приходится прибегать к более радикальным методам воздействия — операции.
    p В области, прилегающей к половым органам, нельзя также использовать мази, обладающие согревающим эффектом.
    +picture-tag(images[102], images[102].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Важная информация
      p Максимальный риск развития миомы существует у женщин в возрасте от 20 до 40 лет. Большинство образований регрессирует при наступлении климакса.
    h3 МОЖНО ЛИ ПРИ БЕРЕМЕННОСТИ
    +picture-tag(images[103], images[103].mobile.jpg['1x'], '').article-page__image
    p Смещение естественной кривизны позвоночного столба, которое диагностируется при увеличении плода, приводит к возникновению периодической боли, нарастанию мышечного спазма и появлению временного поясничного лордоза. Разминание мышц помогает расслабить напряженные участки тела и убрать дискомфортные ощущения, но можно ли делать будущим мамам массаж при беременности на разных ее сроках?
    a(href=images[104].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[104], images[104].mobile.jpg['1x'], '').article-page__image
    h4 Особенности проведения массажа
    p Общие рекомендации связаны с исключением из процедуры двух областей тела — живота и поясницы, в то время как на остальных частях туловища (плечевом поясе, голове, шее, руках) выполнять расслабляющие приемы не запрещается. Тем, кто ожидает пополнения в семействе, нужно также учитывать временные сроки развития плода при желании пройти массаж.
    +picture-tag(images[105], images[105].mobile.jpg['1x'], '').article-page__image
    p
      b Сроки беременности и нюансы проведения массажа:
    ul
      li
        b.article-page__highlighted-text Первый триместр.
        |
        | Массаж в домашних условиях не рекомендуется проводить в начале беременности из-за риска воздействия неспециалистом на так называемые «абортирующие зоны». В них включают: зону спины — копчик, крестец; рук и ног — основание большого пальца, пятка и ахиллово сухожилие. Однако легкие поглаживания тела (плеч, рук, головы), выполняемые с помощью самомассажа, допустимы.
      li
        b.article-page__highlighted-text Второй триместр.
        |
        | Вероятность выкидыша после 12 недели существенно снижается, поэтому следующий этап беременности считается благоприятным для проведения ЛФК. Во втором триместре можно проводить массаж спины в домашних условиях уже не только самостоятельно, но и с привлечением близких людей.
      li
        b.article-page__highlighted-text Третий триместр.
        |
        | На поздних сроках процедура дает возможность расслабиться, улучшить эластичность тканей и подготовить организм к родам. Чтобы сделать процедуру комфортной и безопасной, использование специальных валиков и подушек в 3 триместре считается обязательным условием проведения сеанса.
    +picture-tag(images[106], images[106].mobile.jpg['1x'], '').article-page__image
    p Независимо от срока беременности, из массажных приемов исключается использование силовых и ударных вариантов — поколачиваний, постукиваний и интенсивных вибраций. Рекомендованные типы воздействия: поглаживания, растирания, похлопывания. Щадящий вариант массажа спины полезен для будущей роженицы: выделение эндорфинов подавляет болевую пульсацию и снижает напряжение, созданное из-за смещения внутренних органов. Конечный результат — появление легкости в теле и улучшение самочувствия.
    +picture-tag(images[107], images[107].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Массаж, который проводится на поздних сроках беременности, помогает сократить длительность послеродовой депрессии до минимума.
    h4 Можно ли при менструации
    +picture-tag(images[108], images[108].mobile.jpg['1x'], '').article-page__image
    p Месячные — повторяющийся физиологический процесс, который приводит к выделению ограниченного количества крови. Противопоказания к проведению массажа включают запрет на его прохождение, если в организме есть признаки кровотечения. Возникает резонная дилемма: можно ли при менструации девушкам и женщинам делать массаж спины, если хочется улучшить состояние опорно-двигательного аппарата с помощью именно этой оздоровительной процедуры?
    h4 Особенности проведения массажа в критические дни
    a(href=images[109].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[109], images[109].mobile.jpg['1x'], '').article-page__image
    p Гинекологи не рекомендуют выполнять любые процедуры, связанные с воздействием на мышечные волокна в период обильных месячных. Однако при скудных выделениях такой запрет медики не устанавливают: риск развития сильного кровотечения отсутствует, зато благотворное воздействие руками помогает устранить патологическое явление — довести количество выделений до нормы.
    +picture-tag(images[110], images[110].mobile.jpg['1x'], '').article-page__image
    p Если объем выделяемой жидкости составляет менее 50 мл, то такое состояние называется гипоменореей. Активизация кровообращения, вызванная массажем, также может избавить от длительного отсутствия месячных — аменореи.
    p
      b Массаж при нормальных (обычных) месячных:
    ul
      li запрет на массаж — первые 3 дня с момента начала выделений;
      li допустимость воздействия — 4 и последующие дни цикла;
      li темп выполнения — легкий, плавный.
    p Как и во время беременности, женщинам выполняется релаксирующий массаж при менструации, где отсутствуют ударные приемы. Сконцентрироваться следует на поглаживаниях и разминаниях, дополнительно можно использовать точечные приемы массажа. Мягкое воздействие помогает устранить неприятные ощущения, особенно при чрезмерно болезненной менструации, которую называют дисменореей.
    +picture-tag(images[111], images[111].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Скудные выделения — послеродовая норма, которая длится в течение 2-недельного периода с момента окончания беременности. Корректировать состояние с помощью массажа не нужно.
    h3 МОЖНО ЛИ ПРИ ГРЫЖЕ
    +picture-tag(images[112], images[112].mobile.jpg['1x'], '').article-page__image
    p Грыжа — патологическое состояние межпозвонкового диска, который уменьшает свою высоту и из-за разрыва фиброзного кольца начинает выходить за пределы позвонка Деструктивное изменение приносит ощутимую боль в спине, но если для пациентов с протрузиями массаж показан с минимальными ограничениями, то вопрос, можно ли делать массаж человеку при грыже позвоночника, остается актуальным.
    h4 Массаж спины при грыже поясничного, грудного и шейного отделов
    a(href=images[113].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[113], images[113].mobile.jpg['1x'], '').article-page__image
    p Независимо от места расположения, грыжа — серьезное изменение в позвоночнике, которое не рекомендуется корректировать массажем спины в домашних условиях до консультации с врачом. После изучения исследований определяется размер пролапса, и если противопоказания отсутствуют, то пациент проходит цикл оздоровительных сеансов у специалиста. Благотворное воздействие на поврежденную хрящевую ткань помогает быстрее реабилитироваться лицам, страдающим от деструктивных изменениях в позвоночнике.
    +picture-tag(images[114], images[114].mobile.jpg['1x'], '').article-page__image
    p
      b Положительный эффект массажа:
    ol
      li устранение мышечного гипертонуса;
      li предотвращение увеличения грыжи;
      li снятие воспаления;
      li уменьшение отечности тканей;
      li устранение ущемления нервных корешков.
    p Для того, чтобы знать, как правильно выполнять массаж дома, предварительно необходимо проконсультироваться у опытного массажиста, который составит перечень допустимых и запрещенных приемов для больной спины. Вне стен массажного кабинета допускается выполнять поддерживающую процедуру после пройденного основного лечения у массажиста. Не допускается использовать силовые приемы, слишком интенсивные разминания — основное воздействие включает техники поглаживания всей спины и точечного надавливания на паравертебральные мышцы. Ускорить восстановление помогает использование во время массажа мазей с веществами, которые восстанавливают хрящевую ткань (на основе глюкозамина и хондроитина).
    +picture-tag(images[115], images[115].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Грыжу размером более 12 мм относят к большому пролапсу, который в более чем 80 % случаев устраняют оперативным путем. При такой форме максимально высок риск секвестрации — отделения пульпозного ядра в область спинномозгового канала.

    h2#nav-9 Как часто можно делать массаж в домашних условиях
    +picture-tag(images[116], images[116].mobile.jpg['1x'], '').article-page__image
    p Быстрая смена чувства усталости на ощущение легкости возможна при проведении массажа, однако комфортность процедуры зависит от периодичности ее повторения. Осведомленность о том, как часто можно делать массаж спины, особенно если воздействие выполняется в домашних условиях, помогает планомерно улучшать физическое состояние без риска столкнуться с неприятными последствиями.
    h3 ГРАФИК ПРОВЕДЕНИЯ МАССАЖА В ДОМАШНИХ УСЛОВИЯХ
    +picture-tag(images[117], images[117].mobile.jpg['1x'], '').article-page__image
    p Цель выполнения процедуры — главный фактор, влияющий на определение оптимальной длительности перерывов, которые устанавливаются между сеансами массажа.
    p
      b Частота проведение массажа (цели выполнения):
    ul
      li
        b.article-page__highlighted-text Релаксация.
        |
        | Расслабляющие виды массажа спины можно делать каждый день: поверхностный контакт, который не воздействует на глубокие мышцы, не создает необходимости для организма длительно восстанавливаться после полученной нагрузки. Обычно релакс-массаж проводится по желанию, но если у человека напряженная работа, то рекомендуется пройти курс, состоящий из 5–10 сеансов, которые выполняются с перерывом в 1–2 дня. В год количество курсов варьируется от 2 до 5.
      li
        b.article-page__highlighted-text Подготовка к нагрузке.
        |
        | Спортивный массаж проводят при необходимости — перед бегом, подъемом тяжестей и другими видами активности. Если планируется участие в соревнованиях, то перед спортивным событием рекомендуется ежедневно — в течение 2–3 дней — проходить подготовительные сеансы.
      li
        b.article-page__highlighted-text Самомассаж.
        |
        | Разминание мышц без помощника также разрешается делать ежедневно и даже несколько раз в день, но недолго (5–15 минут). Чтобы снять напряжение после рабочего дня, чаще всего разминание проводится в шейно-воротниковой зоне.
      li
        b.article-page__highlighted-text Поддержка здоровья.
        |
        | Коррекционный массаж дома выполняют после посещения специалиста, чтобы закрепить достигнутые положительные результаты. Проходить лечение курсом не требуется — достаточно 1 сеанса в неделю, чтобы предотвратить рецидив болезни. Минимальное количество процедур в месяц — 3 сеанса.
      li
        b.article-page__highlighted-text Реабилитация.
        |
        | После инфаркта проводить массаж рекомендуется не раньше, чем через неделю после приступа (курс включает 20 процедур). Время выполнения — перед лечебной гимнастикой. При переломах массаж делается через 1 день или ежедневно до выздоровления, но только в областях, расположенных до и после гипса.
    +picture-tag(images[118], images[118].mobile.jpg['1x'], '').article-page__image
    p Лечебный массаж, который направлен на устранение определенного заболевания, не рекомендуют проводить дома, если схема массажа не согласована со специалистом. Врач подскажет, сколько и как часто делать массаж спины взрослому для устранения болезней опорно-двигательного аппарата. Причина связана с опасностью ухудшить состояние больного из-за риска выполнения приемов, которые не используют при определенных болезнях.
    .article-page__highlight
      p Массаж спины после инсульта проводят после исчезновения критических болезненных ощущений. Лучшее время — поздний восстановительный период (сразу после выписки из больницы).
    p Оценка состояния мышц человека — другой критерий, который используется для определения безопасного перерыва между сеансами.
    +picture-tag(images[119], images[119].mobile.jpg['1x'], '').article-page__image
    p
      b Периодичность выполнения (физическое состояние):
    ol
      li
        b.article-page__highlighted-text Слабый мышечный корсет.
        |
        | Преобладание малоподвижного образа жизни приводит к увеличению времени, затрачиваемого на восстановление мышц, которые редко испытывают физическую нагрузку. Этой группе лиц следует проходить сеансы массажа через 2–3 дня, затем перерыв следует сокращать до 1 дня.
      li
        b.article-page__highlighted-text Развитая мускулатура.
        |
        | Подготовленность мышечных волокон, которая есть у спортсменов и лиц, занимающихся физической работой, дает возможность проводить массаж ежедневно или через 1 день до окончания курса.
      li
        b.article-page__highlighted-text Формирующиеся мышцы.
        |
        | Массаж помогает правильно развиваться малышу, поэтому цикл процедур для детей до 1 года проводится чаще — 1 курс (по 10–15 процедур) через каждые 3 месяца. Подрастающему поколению старшего возраста назначают цикл сеансов, который в год повторяется 2 раза.
    p Базовое количество сеансов в одном курсе — 10 процедур, но их можно легко корректировать в зависимости от динамики воздействия. При быстром и стойком положительном эффекте — сокращать, а слабом — увеличивать.
    +picture-tag(images[120], images[120].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Предупреждение
      p Массаж спины при гипертонии 1 степени не следует делать чаще, чем 2 курса в год.
