extends ../layouts/article

block variables
  -
    pageData = {
      title: `Показания к массажу`,
      description: `Показания к массажу. На новый уровень практика применения мышечной стимуляции вышла после ее
        распространения в Европе - тогда были составлены все показания к массажу, которые при таком подходе приносили
        только положительное влияние на тело.`,
      keywords: `показания, массаж`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[2]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 4; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/indications-for-massage/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/indications-for-massage/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/indications-for-massage/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/indications-for-massage/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/indications-for-massage/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/indications-for-massage/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Массаж — способ лечить тело руками, возник в Китае как составляющая народной медицины. Затем техника стала практиковаться священнослужителями, которые предпочитали предотвращать болезнь, а не лечить ее. После распространения массажа в Европе, эта процедура вышла на новый уровень — тогда и были составлены все показания к массажу. С тех пор эта оздорови&shy;тельная процедура назначается при многих патологических состояниях.

    h2#nav-2 Кому рекомендуется, и&nbsp;кому необходим массаж
    +picture-tag(images[1], images[1].mobile.jpg['2x'], '').article-page__image
    p Врачи советуют пройти лечебный массаж при определенных диагнозах, но важно учитывать и влияние негативных факторов, связанных с работой, старением или ростом организма.
    h3 КАТЕГОРИИ ЛЮДЕЙ, КОТОРЫМ НЕОБХОДИМ МАССАЖ:
    p
      b Офисные работники.
    p Сидячий образ жизни — угроза для здоровья, которое начинает ухудшаться из-за застоя крови, нарушения осанки и длительной неподвижности скелета. Массаж является отличным профилактическим средством как от шейного остеохондроза, так и от «синдрома компьютерной мыши».
    br
    p
      b Пожилые.
    p Общий массаж улучшает сердечную деятельность, стабилизирует давление и восстанавливает опорно-двигательный аппарат.
    br
    p
      b Реабилитируемые после болезни.
    p Долгий постельный режим приводит к синдрому мышечной дистонии, которую легче преодолеть с помощью массажа.
    br
    p
      b Дети.
    p Родовые травмы и задержка развития — главные показания для назначения массажа несовершеннолетним.
    br
    p
      b Спортсмены.
    p Необходимость физически напрягать мышцы приводит к появлению устойчивого гипертонуса, который часто удается снять только массажем.
    br
    p
      b Парикмахеры и продавцы.
    p Длительное нахождение в положении стоя провоцирует возникновение варикозной болезни.
    br
    p
      b Профессиональные водители.
    p Застой крови — обременительный спутник тех, кто вынужден длительно находиться за рулем. В особой группе риска — дальнобойщики.
    h3 КАТЕГОРИИ ЛЮДЕЙ, КОТОРЫМ ЖЕЛАТЕЛЕН МАССАЖ:
    p
      b Женщины старше 30 лет.
    p Массаж — это не только разминание мышц, которое стимулирует приток крови к тканям, но еще и мощное лифтинг-воздействие. Массаж помогает сохранить молодость на долгие годы.
    br
    p
      b Школьники и студенты.
    p В стадии активного роста массаж помогает предотвратить искривление осанки и произвести психологическую разгрузку.
    br
    p
      b Начальники и предприниматели.
    p Огромная ответственность может приводить к неврозам, провоцирующим появление мышечного гипертонуса.
    .article-page__highlight
      h3 Тактильный контакт развивает младенцев
      p Ученые сформировали 2 тестовые группы, состоящие из младенцев: в первой — детей ежедневно гладили около 45 минут, во второй — нет. Уже через 10-дневный срок малыши первой группы весили на 47 % больше, хотя суточная калорийность питания была идентична.

    h2#nav-3 7 причин обратиться к&nbsp;опытному массажисту
    +picture-tag(images[2], images[2].mobile.jpg['2x'], '').article-page__image
    br
    p
      b Быстрое снятие спазма.
    p Опытный массажист на ощупь определяет степень спазмированности мышц и оказывает ту интенсивность воздействия, которая необходима. Результат — стремительное избавление от неприятных ощущений.
    br
    p
      b Индивидуальный подход.
    p Специалист, прошедший обучение, владеет большинством массажных техник (а их более 50), поэтому способен подобрать тот вид воздействия, который нравится клиенту, а также безопасен для него.
    br
    p
      b Сохранение здоровья.
    p Идеальное знание анатомии помогает предотвратить неправильное воздействие на мышцы. Массаж — это интенсивная лечебная процедура, в которой компетентность специалиста играет огромную роль
    br
    p
      b Высокая результативность.
    p «Новички» часто выполняют ошибки, из-за которых появление эффекта наблюдается гораздо позже, чем у профессиональных коллег. Неопытные массажисты также нередко выбирают неверную тактику воздействия, приводя к растяжению связок, а иногда и сильной боли. С профессионалами же результативность массажа крайне высока.
    br
    p
      b Хорошая оснащенность кабинета.
    p В хороших массажных клиниках соблюдаются все санитарные нормы: в помещении есть регулируемый по высоте массажный стол, умывальник (для очищения рук), одноразовые простынки и другие средства гигиены.
    br
    p
      b Экономия времени.
    p Обучиться массажу можно, но для этого потребуются годы. Если необходимо лечить уже возникшую болезнь (остеохондроз, протрузию), то на изучение нюансов потребуется много времени, в то время как болезнь будет прогрессировать.
    br
    p
      b Приятное общение.
    p Массажист со стажем — практически психолог, который умеет расслабить человека не только руками, но и словами.
    br
    p Чтобы посещение массажной клиники принесло только положительные эмоции, пациенту следует ознакомиться с лицензией на оказание медицинской деятельности. Доверие должны вызывать сертификаты: чем больше их у массажиста, тем выше его квалификация, а значит — заметнее результат его действий. Наличие медицинского образования относится к современному must-have истинного профессионала

    h2#nav-4 Показания к&nbsp;массажу + видео
    +picture-tag(images[3], images[3].mobile.jpg['2x'], '').article-page__image
    p Перечень показаний к массажу включает большое количество болезней и состояний, которые эффективно лечатся мануальным воздействием.
    ul.article-page__list.article-page__list_no-marker
      li - Боли в спине, шее, пояснице;
      li - Головные боли, мигрени;
      li - Остеохондроз различных отделов позвоночника;
      li - Радикулиты, невралгии, невриты, полиневриты;
      li - Грыжи и протрузии межпозвоночных дисков;
      li - Артриты, миалгии, миозиты;
      li - Артрозы, плечелопаточный периартроз;
      li - Сколиозы, кифозы и лордозы любой степени;
      li - Мышечная гипотония;
      li - Болезни, травмы опорно-двигательного аппарата;
      li - Ушибы, растяжения связок, мышц и сухожилий;
      li - Период адаптации после перелома и вывиха;
      li - Воспалительные, дистрофические процессы в суставах;
      li - Артериальная гипертензия(гипертония);
      li - Артериальная гипотония;
      li - Перенесенный инсульт;
      li - Гипотериоз;
      li - Стенокардия в межприступный период;
      li - Ишемическая болезнь сердца;
      li - Хроническая недостаточность сердечной мышцы 1 и 2 степени;
      li - Реабилитационный период после инфаркта миокарда;
      li - Параличи, парезы;
      li - Заболевания артерий и вен;
      li - Хронические заболевания верхних дыхательных путей вне фазы обострения;
      li - Хронические бронхиты, пневмонии в период выздоровления;
      li - Бронхиальная астма вне стадии обострения;
      li - Снижение иммунитета;
      li - Нарушение процесса обмена веществ;
      li - Нарушение работы системы пищеварения;
      li - Заболевания пищеварительных органов вне фазы обострения;
      li - Ожирение;
      li - Подагра;
      li - Сахарный диабет;
      li - Синдром хронической усталости;
      li - Профилактика различных заболеваний и поддержание тонуса организма;
      li - Физическое, нервное переутомление.
    br
    br
    br
    p Больше интересных подробностей — в видео:
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/2b_7IvBcnuc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .article-page__highlight
      h3 Медицинский факт: массаж полезен зимой
      p Массаж в холодное время года предотвращает возникновение приступов хронических болезней: именно зимой наблюдается замедление лимфотока и кровообращения, что ухудшает вывод продуктов распада из организма

    h2#nav-5 Выводы
    p Массаж — востребованная процедура, и список показаний для ее проведения очень велик. Дополнение практики лечения руками действенными атрибутами — банками, маслами, камнями — помогло расширить количество показаний для массажа и сделать его универ&shy;сальным средством для достижения не только лечебного, но и косметического эффекта.
