extends ../layouts/default

block variables
  -
    pageData = {
      description: `Массаж в центре Москвы, рядом с метро Цветной бульвар, адрес: 1-й Волконский переулок, 15 (5 минут ходьбы от станции метро)`,
      keywords: `массаж, центр, Москва, контакты, адрес, телефон, метро`,
      pageClass: 'contact-info service-page',
      theme: 'main',
      placementPhoto: [
        {
          desktop: false,
          tablet: false,
          mobile: {
            webp: {
              '1x': `${THEME_IMG_PATH}/contacts-page/placement-photo-1@1x.webp`,
              '2x': `${THEME_IMG_PATH}/contacts-page/placement-photo-1@2x.webp`
            },
            jpg: {
              '1x': `${THEME_IMG_PATH}/contacts-page/placement-photo-1@1x.jpg`,
              '2x': `${THEME_IMG_PATH}/contacts-page/placement-photo-1@2x.jpg`
            }
          }
        },
        {
          desktop: false,
          tablet: false,
          mobile: {
            webp: {
              '1x': `${THEME_IMG_PATH}/contacts-page/placement-photo-2@1x.webp`,
              '2x': `${THEME_IMG_PATH}/contacts-page/placement-photo-2@2x.webp`
            },
            jpg: {
              '1x': `${THEME_IMG_PATH}/contacts-page/placement-photo-2@1x.jpg`,
              '2x': `${THEME_IMG_PATH}/contacts-page/placement-photo-2@2x.jpg`
            }
          }
        }
      ],
      hasMap: true
    }

block head

block content
  .service-page__wrap.contact-info__wrap
    .container
      h1.contact-info__title.heading Контакты
      .contact-info__content
        .contact-info__left-column
          section.contact-info__address
            h2.contact-info__subtitle Мы ждём вас по адресу:
            p.contact-info__text!= `${globalData.company.addressCity}, ${globalData.company.address}`
          section.contact-info__working-hours
            h2.contact-info__subtitle Режим работы:
            p.contact-info__text!= globalData.company.workingHours
          section.contact-info__phones
            h2.contact-info__subtitle.visually-hidden Звоните нам:
            ul.contact-info__phones-list.phones-list
              each phone in globalData.company.phones
                - var phoneNumber = phone.replace(/[()\s-]/g, '')
                li.phones-list__phone
                  +svg-icon('#phone-icon').phones-list__icon(width='15' height='16')
                  a.phones-list__phone-number.link.undeline.underline_dotted.underline_blue-dotted(href=`tel:${phoneNumber}`)= phone
          section.contact-info__socials.socials
            h2.contact-info__subtitle Мы в соцсетях:
            +socials({ ig: ['24', '23'], vk: ['36', '22'], fb: ['24', '24'] })
        .contact-info__right-column
          +picture-tag(pageData.placementPhoto[0], pageData.placementPhoto[0].desktop.jpg['2x'], globalData.company.address.replace('<br>', ', ')).contact-info__placement-photo.hidden_desktop-tablet
          +picture-tag(pageData.placementPhoto[1], pageData.placementPhoto[1].desktop.jpg['2x'], globalData.company.address.replace('<br>', ', ')).contact-info__placement-photo
      include ../includes/modules/footer/map-block

block script
