extends ../layouts/article

block variables
  -
    pageData = {
      title: `Польза и вред массажа`,
      description: `Польза и вред массажа. Сила, красота, расслабление, здоровье — цели, которые хочет достичь каждый
        пациент, но массаж иногда приносит не только пользу, но и при неправильном выполнении — вред.`,
      keywords: `массаж, польза, вред`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[5]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 7; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/massage-pros-and-cons/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/massage-pros-and-cons/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/massage-pros-and-cons/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/massage-pros-and-cons/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/massage-pros-and-cons/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/massage-pros-and-cons/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Ценность массажа колоссальна: он может исцелить организм без таблеток, укрепить физическое и эмоциональное состояние, устранить жировые отложения и мышечные спазмы, восстановить после травм и приступов. Но при неправильном выполнении массаж не принесет той силы, красоты, расслабления и здоровья, которых хочет достичь каждый пациент, а в некоторых случаях возможен и вред. Разберемся, как получить от массажа мощный оздоровительный эффект.
    h2#nav-2 Польза для организма, отдельных органов и&nbsp;систем
    +picture-tag(images[1], images[1].mobile.jpg['2x'], '').article-page__image
    p Пользу от выполнения массажа медики делят по зонам воздействия — на отдельные участки тела, системы и органы. Благоприятное воздействие во многом связано с активизацией лимфатической системы, благодаря которой клетки очищаются от вредных веществ. Разминание тканей тела помогает усилить отток лимфы, в то время как у большинства пациентов наблюдается ее нежелательный застой.
    h3.article-page__medium-text ВЛИЯНИЕ МАССАЖА НА&nbsp;МЫШЦЫ:
    ul.article-page__list.article-page__list_no-marker
      li - снятие спазма;
      li - улучшение микроциркуляции;
      li - снижение концентрации молочной кислоты;
      li - укрепление мышечного корсета;
      li - усиление оттока лимфотической жидкости;
      li - профилактика атрофии;
      li - устранение судорог;
      li - увеличение физической силы.
    h3.article-page__medium-text ВЛИЯНИЕ МАССАЖА НА&nbsp;СУСТАВЫ:
    ul.article-page__list.article-page__list_no-marker
      li - улучшение кровоснабжения;
      li - улучшение подвижности суставов;
      li - снижение усталости в области суставов.
    h3.article-page__medium-text ВЛИЯНИЕ МАССАЖА НА&nbsp;КОЖУ:
    ul.article-page__list.article-page__list_no-marker
      li - очищение кожи от старого эпидермиса;
      li - выведение секрета из потовых и сальных желез;
      li - повышение гладкости и эластичности кожи;
      li - улучшение обменных процессов;
      li - уменьшение количества жира в подкожно-жировой клетчатке.
    h3.article-page__medium-text ВЛИЯНИЕ МАССАЖА НА&nbsp;ЛИМФАТИЧЕСКУЮ И&nbsp;КРОВЕНОСНУЮ СИСТЕМЫ:
    ul.article-page__list.article-page__list_no-marker
      li - улучшение кровообращения;
      li - устранение застоя лимфы;
      li - облегчение работы внутренних органов, сердца;
      li - устранение застойных явлений в венах;
      li - улучшение газообмена в тканях.
    h3.article-page__medium-text ВЛИЯНИЕ МАССАЖА НА&nbsp;ОРГАНИЗМ МЛАДЕНЦЕВ И&nbsp;ПОДРОСТКОВ:
    ul.article-page__list.article-page__list_no-marker
      li - правильное и быстрое развитие мышц;
      li - усиление сенсорного восприятия;
      li - улучшение координации движений;
      li - профилактика искривления осанки;
      li - снижения напряжения, возникающего при учебном процессе.
    .article-page__highlight
      h3 Польза массажа зависит от времени воздействия
      p Для положительного эффекта важно пройти полный курс. В большинстве случаев пациентам достаточно от 7 до 10 сеансов. Время сеанса определяется врачом — в диапазоне от 15 минут до 1 часа. Эффект массажа наблюдается уже после нескольких процедур
    h2#nav-3 Польза разных видов массажа
    +picture-tag(images[2], images[2].mobile.jpg['2x'], '').article-page__image
    p Популярные виды массажа и их польза:
    ul.article-page__list.article-page__list_no-marker
      li
        a.link.link_primary(href='/back-massage/')
          b Лечебный массаж спины.
        |
        span Один из самых популярных массажей, который помогает устранить многие болезни и патологические состояния — от боли в пояснице и защемлении нервных корешков до межпозвонковых грыж и постинсультных состояний.
      li
        a.link.link_primary(href='/body-lymphatic-drainage/')
          b Лимфодренажный массаж тела.
        |
        span Относится к лечебным массажам и приносит мощный оздоровительный эффект всему организму, повышает иммунитет, возвращает крепкий сон, снимает отеки.
      li
        a.link.link_primary(href='/figure-modeling/')
          b Ручное моделирование.
        |
        span Улучшает качество кожи, устраняет жировые отложения.
      li
        a.link.link_primary(href='/sports-massage/')
          b Спортивный.
        |
        span Помогает подготовить тело, особенно при интенсивных физических нагрузках, повышает выносливость, снимает боль, уменьшает риск получения травмы.
      li
        a.link.link_primary(href='/sculptural-buccal-massage/')
          b Массаж лица.
        |
        span Подтягивает и увлажняет кожу, возвращает свежесть и молодость лицу, убирает заломы и морщины
    .article-page__highlight
      h3 Результативность массажа определяется тремя элементами: темпом, силой и длительностью, которые подбираются строго индивидуально. Некоторые виды массажа допускается комбинировать, чтобы получить максимальный эффект.
    h2#nav-4 Почему массаж помогает? Механизм действия
    +picture-tag(images[3], images[3].mobile.jpg['2x'], '').article-page__image
    p Влияние массажа на мышцы ограничивается не только механическим фактором, оно дополняется еще и другими, не менее важными причинами.
    p Виды благотворного воздействия:
    ul.article-page__list.article-page__list_no-marker
      li Гуморальный («жидкостный») фактор. Под воздействием улучшается проницаемость капилляров, клетки насыщаются кислородом через ток, который проходит через кровеносные сосуды и лимфу. Во время сеанса массажа в кровь поступают гормоны и нейромедиаторы, в том числе эндорфины.
      li Механическое влияние. Даже поверхностный контакт с руками специалиста повышает обменные процессы и приводит к релаксации или повышению тонуса организма (в зависимости от используемых техник). Механический фактор, связанный с разминанием мышц и растяжением кожи, увеличивает эластичность тканей, очищает от отмерших клеток эпидермиса, повышает подвижность суставов и ликвидирует застойные явления.
      li Нервно-рефлекторная реакция. Раздражение рецепторов ЦНС приводит к восстановлению вегетососудистой системы, которая улучшает состояние больных с соматическими и психическими заболеваниями. Если совмещать несколько массажных методик, то можно по-разному воздействовать на состояние мышечной системы: при спазмах — понижать тонус мускулатуры, а при парезах — предупреждать ее атрофию.
    .article-page__highlight
      h3 Медицинский факт: массаж благотворно воздействует на парасимпатическую нервную систему
      p
        | От ее состояния зависит скорость восстановления организма во время покоя.
        br
        | После курса лечения все системные процессы в организме протекают правильно
    h2#nav-5 В каких случаях процедура может принести вред
    +picture-tag(images[4], images[4].mobile.jpg['2x'], '').article-page__image
    p
      b Вред от массажа возможен в следующих случаях:
    ul.article-page__list.article-page__list_no-marker
      li
        | - выполнение массажа при наличии
        |
        a.link.link_primary(href='/articles/contraindications-for-massage/') противопоказаний
        | ;
      li - превышение рекомендуемой длительности процедуры(более 1 часа);
      li - посещение массажного кабинета при обострении хронических болезней;
      li - выполнение массажа при наличии температуры(грипп, ОРВИ);
      li - обращение к специалистам в состоянии алкогольного опьянения.
    p Будьте внимательны к своим ощущениям — если после массажа возникает легкая усталость, то посещайте специалиста не чаще чем через день, чтобы организм восстановился. Перед сеансом массажа также рекомендуется измерить давление тем, кто страдает гипотонией или гипертонией, чтобы массажист подобрал тонизирующую или расслабляющую технику.
    .article-page__highlight
      h3 Аллергикам нужно быть осторожнее
      p Отечественные ученые Звоницкий Н. С. и Альперн Д. Е. доказали повышение в крови гистамина после прохождения сеанса массажа. Лица, страдающие сильной аллергией, могут почувствовать вред, поскольку данное заболевание лечится антигистаминными препаратами.
    h2#nav-6 Вред от непрофес&shy;сионального массажа
    +picture-tag(images[5], images[5].mobile.jpg['2x'], '').article-page__image
    p Неумение правильно распределить нагрузку на мышцы, неверное выполнение техник, грубые переходы между приемами и плохое знание анатомических нюансов — распространенные ошибки непрофессионалов. Неквалифицированное поведение усугубляется и невнимательным изучением истории болезни пациента, в то время как опытные массажисты всегда проводят предварительную консультацию о состоянии здоровья пациента. От подобных неправильных действий пациент рискует не улучшить, а ухудшить свое здоровье.
    p
      b Вероятные негативные последствия:
    ul.article-page__list.article-page__list_no-marker
      li - повреждение мышечной ткани;
      li - появление боли из-за неверной работы с триггерными точками;
      li - усиление уже имеющегося воспаления;
      li - нарушение функционирования внутренних органов;
      li - занесение инфекции из-за несоблюдения правил гигиены.
    p Повышен риск нанесения травм при выполнении глубокого массажа непрофессионалом, который может даже повредить нервные окончания. Самоучки нередко выполняют силовые приемы, которые не рекомендованы медиками, отмечающими высокий риск смещения дисков и даже появления переломов при выполнении таких приемов.
    .article-page__highlight
      h3 Непрофессиональные массажисты опасны
      p Медицинский факт. «Действия массажистов-недоучек формируют неутешительную статистику: около 15 % пациентов, прошедших курс у такого псевдоспециалиста, нуждаются в дополнительной восстановительной терапии». (Роберт Готлин, спортивный врач из центра медицинского профиля «Бет Исраэль», США).
    h2#nav-7 Видео о&nbsp;пользе и&nbsp;вреде массажа
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/PpjobsNv210' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .article-page__video-block
      .article-page__video
        iframe(width='320' height='177' src='https://www.youtube.com/embed/Io6iGVoCcOQ' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .article-page__highlight
      h3 Час массажа по&nbsp;восстанавливающему воздействию идентичен отдыху во&nbsp;время сна длительностью 7&nbsp;часов
    h2#nav-8 И напоследок, высказывания великих людей о&nbsp;массаже
    +picture-tag(images[6], images[6].mobile.jpg['2x'], '').article-page__image
    p
      q Эффект массажа — естественная восстанавливающая сила организма, сила жизни
      br
      em Гиппократ
    p
      q Массаж — поистине это полезно и предотвращает от болезней органов
      br
      em Авиценна
    p
      q Когда болезней много, причина одна — позвоночник
      br
      em Гиппократ
    p
      q Массаж может заменить любое лекарство в мире, но все лекарства вместе не заменят действия массажа
      br
      em Тиссо
    p
      q Массаж во врачевании во все времена играл огромную роль, и люди давно должны были поставить памятник рукам массажиста
      br
      em И.М. Сарнизов-Серазини
    p
      q Цель массажа — уничтожить болезненные вещества, обнаруженные в мышцах, которые не были выведены из организма физическими упражнениями
      br
      em Авиценна
    p
      q Массаж нужен миру, потому что из мира исчезла любовь
      br
      em Ошо
    p
      q Наше тело все время говорит с нами, если бы мы только нашли время послушать
      br
      em Луиза Хей
    p
      q Больному и несчастному человеку массаж нужен, а здоровому и счастливому необходим
      br
      em Восточная пословица
    p
      q Кроме массажа способ сохранить здоровье - это есть то, чего не хочешь, пить то, чего не любишь, и делать то, чего не нравится
      br
      em Марк Твен
    h2#nav-9 Выводы
    p В любой оздоровительной процедуре есть свои нюансы, но при соблюдении лечебных рекомендаций массаж приносит организму только пользу. Будьте внимательны при выборе врача и учитывайте возможные противопоказания, следите за своим самочувствием во время процедуры и после нее, и тогда массаж поможет вам решить ваши проблемы и наладить все процессы в организме.
