extends ../layouts/article

block variables
  -
    pageData = {
      description: `Динамика распространения остеохондроза отличается нарастающим темпом — дегенеративные изменения все
        чаще диагностируются у молодых пациентов, чуть перешагнувших 20-летний возрастной рубеж. Предотвратить ухудшение
        состояния позвоночника помогает массаж спины при наличии остеохондроза.`,
      keywords: `массаж спины, остеохондроз`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[9]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 30; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/back-massage-for-osteochondrosis/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['1x'], '').article-page__image
    .article-page__abstract
      p Динамика распространения остеохондроза отличается нарастающим темпом — дегенеративные изменения все чаще диагностируются у молодых пациентов, чуть перешагнувших 20-летний возрастной рубеж. Предотвратить ухудшение состояния позвоночника помогает массаж спины при наличии остеохондроза, который в медицинской статистике все прочнее укрепляется в списке самых распространенных болезней опорно-двигательного аппарата.

    h2#nav-1 Остеохондроз: что это такое и причины появления
    +picture-tag(images[1], images[1].mobile.jpg['1x'], '').article-page__image
    p В молодом возрасте позвоночный столб имеет повышенный запас прочности, поэтому даже при длительном воздействии неблагоприятных факторов разрушение межпозвоночных дисков происходит медленно. Естественные механизмы старения и изнашивания организма постепенно ускоряют этот процесс. После 25 лет у большинства пациентов периодически возникают спинные боли, поэтому они все чаще начинают задумываться о том, что это такое и как воздействует на тело остеохондроз. С медицинской точки зрения патология включает дистрофические изменения хрящевой ткани в позвоночнике, который снижает свою подвижность. Смещение костной ткани, вызывая рефлекторный спазм, формирует болевой синдром.
    a(href=images[2].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[2], images[2].mobile.jpg['1x'], '').article-page__image
    p Деструктивные изменения провоцируют смещение межпозвоночных дисков, защемление корешковых нервов и появление остеофитов (костных наростов) в позвоночнике. Без использования лечебных и профилактических средств патологическое состояние может прогрессировать, вызывая состояния, которые необходимо впоследствии корректировать хирургическим путем.
    p
      b Причины появления остеохондроза:
    ol
      li возрастные изменения;
      li неправильное положение тела;
      li гиподинамия (недостаток активности);
      li механические травмы;
      li транспортировка тяжелых предметов;
      li слабый мышечный каркас;
      li нарушения осанки (в том числе сколиоз);
      li генетическая предрасположенность;
      li плоскостопие;
      li лишний вес;
      li сон на неэргономичной подушке;
      li профессиональный спорт.
    p У женщин остеохондроз быстрее образуется из-за ношения обуви на каблуках — изменение нагрузки приводит к смещению позвонков. Беременность — другой распространенный фактор развития болезни: рост плода провоцирует смещение поясничных позвонков, поэтому ближе к родам будущие мамы часто испытывают боли, локализующиеся в пояснично-крестцовой области.
    p Тяжелая физическая нагрузка, характерная для мужчин, вызывает остеохондроз и сопутствующие дистрофические изменения чаще именно по этой причине. Сильный пол равным образом часто злоупотребляет курением и приемом алкогольных напитков, которые ухудшают протекание обменных процессов в организме, в том числе внутри межпозвоночных дисков. Интоксикация организма уменьшает количество внутрисуставной жидкости и приводит к вымыванию кальция из позвонков.
    .article-page__highlight
      h3 Боль в позвоночнике необязательно указывает на повреждение хряща
      p Падение или неудобная поза могут повредить только связки и мышечные волокна, которые и вызывают боль из-за образовавшегося гипертонуса.
    h2#nav-2 Симптомы остеохондроза
    +picture-tag(images[3], images[3].mobile.jpg['1x'], '').article-page__image
    p Сравнение собственных физических ощущений с симптомами остеохондроза помогает в полном объеме донести до терапевта список имеющихся неприятных ощущений, чтобы специалист смог безошибочно поставить верный диагноз.
    p
      b Симптоматика при остеохондрозе:
    ol
      li ограничение подвижности;
      li болевой синдром в груди, шее или пояснице;
      li онемение конечностей;
      li звон и другие шумы в голове;
      li головокружение;
      li скачки давления;
      li головные боли;
      li хруст при движении (часто — в шее).
    p При ухудшении состояния больного количество симптомов расширяется до появления обмороков, ослабления памяти и скорости реакции. Чувство скованности и онемения диагностируются с самого утра, а в течение дня ощущения периодически то снижают, то увеличивают свою интенсивностьа.
    .article-page__highlight
      h3 Тип боли при остеохондрозе — острый, пронизыва&shy;ющий и заставляющий человека резко прекратить движение.
    h2#nav-3 Степени остеохондроза: 1, 2, 3, 4 стадии
    p Независимо от локализации патологии — в шее, пояснице или груди, при всех видах остеохондроза наблюдаются одинаковые патологические изменения внутри позвонков и дисков, которые их разделяют.
    a(href=images[4].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[4], images[4].mobile.jpg['1x'], '').article-page__image
    ul.article-page__list.article-page__list_no-marker
      li
        b.article-page__highlighted-text 1 стадия.
        |
        | Начальные изменения связаны с незначительным уменьшением высоты диска, но уже в таком виде смещение приводит к возникновению трещин фиброзного кольца и дегидратации (обезвоживанию) ядра позвонка. Боль у человека появляется только при длительном сохранении неудобной позы.
      li
        b.article-page__highlighted-text 2 стадия.
        |
        | Дальнейшее сокращение высоты диска ведет к ослаблению связок и позвоночных мышц, которые начинают хуже удерживать позвонки. По этой причине повышается их подвижность, особенно при физической нагрузке. На 2 стадии возможно появление костных выростов (остеофитов), в то время как у пациентов с 3 стадией они уже диагностируются в 100 % случаев.
      li
        b.article-page__highlighted-text 3 стадия.
        |
        | Диск, испытывая чрезмерное давление смежных позвонков, принимает приплюснутую форму, при которой его часть выходит за пределы соприкосновения с позвонками. У пациента диагностируются протрузии («выпячивания»), пролапсы, артроз межпозвоночных суставов. При данной форме болезни массаж спины при остеохондрозе все еще может помочь больному не допустить появления осложнений. Симптомы при третьей стадии: длительные боли, возникающие из-за ущемления нервных корешков.
      li
        b.article-page__highlighted-text 4 стадия.
        |
        | Разрыв фиброзного кольца приводит к появлению межпозвонковой грыжи, вызывающей острую боль и проблемы с передвижением (развивается анкилоз — неподвижность позвонковых суставов). Тип выбранного лечения зависит от размера грыжи: операция показана при наличии большого пролапса — более 12 мм, а также признаках секвестрации (отделения части диска и ее попадание в область прилегающего к позвонку спинномозгового канала).
    +picture-tag(images[5], images[5].mobile.jpg['1x'], '').article-page__image
    h2#nav-4 Польза массажа спины при остеохондрозе
    +picture-tag(images[6], images[6].mobile.jpg['1x'], '').article-page__image
    p Деструктивные изменения в позвонках развиваются преимущественно из-за недостатка физической активности, но курс массажа спины способен восстановить выпадающую полезную нагрузку. Дополнительно мышечное разминание приводит к усилению кровотока, который запускает в организме процесс самоисцеления, если причина проблем со здоровьем относится к другим факторам, вызывавших патологию.
    h3 ПОЛЬЗА ПРИ ШЕЙНОМ ОСТЕОХОНДРОЗЕ
    +picture-tag(images[7], images[7].mobile.jpg['1x'], '').article-page__image
    ul
      li избавление от спазма шейных и затылочных мышц;
      li улучшение питания головного мозга;
      li восстановление нервной системы;
      li нейтрализация иррадиирующих (побочных) болей в плечи, руки, шею;
      li повышение умственных способностей;
      li устранение головных болей;
      li улучшение зрения;
      li нормализация давления.
    .article-page__highlight
      h3 Удивительный факт
      p Использование методик точечного массажа на область спины (локально — ШВЗ) способно также повысить концентрацию внимания.
    h3 ПЛЮСЫ ИСПОЛЬЗОВАНИЯ МАССАЖА ПРИ ГРУДНОМ ОСТЕОХОНДРОЗЕ
    +picture-tag(images[8], images[8].mobile.jpg['1x'], '').article-page__image
    ul
      li устранение гипертонуса широчайшей мышцы;
      li купирование боли между лопатками;
      li уменьшение угла патологического искривления позвоночника;
      li устранение некардиологической боли в области сердца;
      li активизация работы легких и сердца.
    .article-page__highlight
      p Отличить грудной остеохондроз от кардиологической болезни легко — после приема «сердечных» медикаментов боль в груди не исчезает.
    h3 ПОЛЬЗА ПРИ ПОЯСНИЧНОМ ОСТЕОХОНДРОЗЕ
    +picture-tag(images[9], images[9].mobile.jpg['1x'], '').article-page__image
    ul
      li снятие напряженности пояснично-грудной фасции;
      li устранение иррадиирующих болей в ноги;
      li исчезновение болей при наклоне и ходьбе;
      li восстановление подвижности бедер;
      li устранение судорог в области ног;
      li улучшение функционирования мочеполовой системы.
    +picture-tag(images[10], images[10].mobile.jpg['1x'], '').article-page__image
    p Общие благотворные результаты массажа спины при всех видах остеохондроза включают: укрепление мышечного корсета, улучшение кровоснабжения прилегающих тканей, устранение компрессии артерий и нервных корешков, исчезновение отеков, восстановление правильного расположения позвонков.
    .article-page__highlight
      h3 Медицинский факт
      p Курс массажа повышает амортизирующие свойства позвонков, которые не дают костным и хрящевым тканям повреждаться в процессе движения.
    h2#nav-5 Правила выполнения массажа
    a(href=images[11].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[11], images[11].mobile.jpg['1x'], '').article-page__image
    p На первом сеансе массажист, осторожно прощупывая кожный покров и мышцы, определяет болезненные участки спины, на которые следует воздействовать более мягко. Время лечения определяется индивидуально, но стандартное количество сеансов в курсе включает 10–15 процедур, в то время как для профилактики остеохондроза достаточно всего 5–7 сеансов. Длительность процедуры — от 20 до 40 минут, которая нарастает по мере адаптации мышц к нагрузкеы.
    +picture-tag(images[12], images[12].mobile.jpg['1x'], '').article-page__image
    p
      b Важные аспекты массажа:
    ol
      li размещение пациента — горизонтально;
      li положение при наличии боли — на боку;
      li техника первого сеанса — мягкая стимуляция без нагрузки на поврежденные области спины;
      li последовательность воздействия — переход от здоровых участков к больным;
      li направление массажных движений — по току лимфы;
    p Массажист также способен усилить приток крови, если будет использовать разогревающие мази во время сеанса.
    .article-page__highlight
      h3 Запрещается посещать массажный кабинет при обострении заболевания, которое вызывает острую боль.
    h2#nav-6 Техника выполнения массажа спины и важные приемы
    +picture-tag(images[13], images[13].mobile.jpg['1x'], '').article-page__image
    p Основная цель массажа — вызвать активный приток крови, который создаст максимальное питание позвонков и дисков. Учитывая данное физиологическое воздействие, вертебрологи, которым часто задают вопрос, можно ли проходить курс массажа спины при остеохондрозе, дают на него утвердительный ответ — его полезно делать. Благотворные эффекты также включают реминерализацию костной ткани и устранение компрессии нервных окончаний, расположенных в позвоночнике.
    +picture-tag(images[14], images[14].mobile.jpg['1x'], '').article-page__image
    p
      b Последовательность воздействия при остеохондрозе
    ul
      li
        b.article-page__highlighted-text Поглаживания (поверхностное воздействие).
        |
        | Специалист в области массажа проводит серию поглаживаний, начинающихся от макушки и заканчивающихся в области плеч, потом траектория удлиняется до середины спины.
      li
        b.article-page__highlighted-text Растирания.
        |
        | Подушечки пальцев круговыми движениями воздействуют сначала на одну часть спины, затем — на другую.
      li
        b.article-page__highlighted-text Разминания.
        |
        | При выполнении этого приема захват рук приводит к образованию небольшой складки (воздействие напоминает замешивание теста). При остеохондрозе применяется несколько разновидностей разминания: продольное, поперечное, усиленное (с отягощением второй рукой), щипцеобразное.
    p Для увеличения полезного воздействия массажа спины также следует проводить разминание в зоне ягодиц и крестцовой части, особенно при наличии поясничного остеохондроза, вызванного деструктивными изменениями между крестцом и пятым поясничным позвонком (протрузии L5–S1).
    a(href=images[15].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[15], images[15].mobile.jpg['1x'], '').article-page__image.article-page__image_with-description
    p.article-page__image-description
      b Важно.
      |
      | Массажное воздействие на область почек проводится с меньшей силой.
    ul
      li
        b.article-page__highlighted-text Перекатывание (активный массаж).
        |
        | Эффективный расслабляющий прием при массаже спины включает захват кожной складки и постепенное ее перекатывание в область шеи.
      li
        b.article-page__highlighted-text Вибрация и постукивание.
        |
        | Элементы с более интенсивным воздействием необходимо выполнять на расстоянии не менее 5 см от места поврежденных позвонков.
      li
        b.article-page__highlighted-text Выжимания (глубокий массаж).
        |
        | Одна рука накладывается на другую, чтобы образовался крест, который перемещается снизу вверх — от поясницы до плечевого пояса. Внимание: касание позвоночного столба не происходит.
      li
        b.article-page__highlighted-text Похлопывания и пальцевый дождь (релаксирующее завершение).
        |
        | Первый прием предполагает формирование пальцами «ковшей», которыми плавно воздействуют на все участки спины. Следующее воздействие осуществляется легким, но быстрым постукиванием подушечек пальцев по коже. Финальную часть сеанса можно дополнить серией поглаживаний.
    +picture-tag(images[16], images[16].mobile.jpg['1x'], '').article-page__image
    p Опытные массажисты также советуют придерживаться правильных классических (незыблемых) рекомендаций о том, как делать лечебный массаж спины — использовать твердую поверхность (пол, мат, жесткую кровать), проводить лечебный сеанс при остеохондрозе только при отсутствии противопоказаний и соблюдать перерыв между процедурами не более 1–2 суток (при курсовой терапии).
    p Финальный результат массажа спины — снятие воспаления в позвонках и торможение дегенеративных процессов, которые снижают подвижность позвоночника и приводят к атрофии мышечной ткани.
    .article-page__highlight
      h3 Предупреждение
      p Силовые приемы запрещено использовать в местах, где наблюдается сильная нестабильность позвонков (выявлена рентгенологическим исследованием).
    h2#nav-7 Массаж спины при различных видах остеохондроза: шейном, грудном, поясничном
    a(href=images[17].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[17], images[17].mobile.jpg['1x'], '').article-page__image
    ul
      li
        b.article-page__highlighted-text Шейный.
        |
        | Пациент, страдающий шейным остеохондрозом, может принять на сеансе позицию сидя, а само воздействие будет ограничиваться преимущественно разминанием шейно-воротниковой зоны.
      li
        b.article-page__highlighted-text Грудной.
        |
        | Поражение позвонков в центре спины часто ведет к появлению боли, создающей иррадиацию в плечевые суставы. Включение области дельтавидных мышц в зону воздействия помогает быстро устранить боль. Массаж спины при остеохондрозе грудного и поясничного отделов позвоночника также выполняется на всей поверхности задней стороны туловища.
      li
        b.article-page__highlighted-text Поясничный.
        |
        | В области поясницы темп массажа усиливается: массажист применяет приемы постукивания и поколачивания, а также интенсивные разминания и вибрации.
    .article-page__highlight
      p Разминание ягодичных мышц включает воздействие кулаками, внутренней стороной и ребрами ладони.
    h2#nav-8 Показания и противопоказания к массажу спины при остеохондрозе
    +picture-tag(images[18], images[18].mobile.jpg['1x'], '').article-page__image
    p Массаж является частью комплексной терапии при наличии патологий опорно-двигательного аппарата. Лечебные процедуры рекомендованы пациентам, если у них есть показания к проведению массажу спины при наличии остеохондроза, который при бездействии пациента прогрессирует. Однако — из-за имеющихся противопоказаний — посещение массажного кабинета может быть запрещено.
    p
      b Показания при хондрозе:
    ol
      li мышечный гипертонус;
      li ограничение подвижности;
      li риск перехода болезни в более тяжелую стадию;
      li нарушенное мозговое кровообращение;
      li кислородное голодание тканей и органов;
      li хруст при повороте туловища или головы;
      li наличие болей в спине, пояснице, шее;
      li быстрая утомляемость;
      li бессонница;
      li головные боли;
      li появление и рост «холки».
    p Рекомендацию посетить специалиста в области массажа выдает терапевт, если после опроса пациента и изучения анализов нет выявленных ограничений. Дополнительное условие — переход остеохондроза в стадию полной или частичной ремиссии.
    +picture-tag(images[19], images[19].mobile.jpg['1x'], '').article-page__image
    p
      b Отказ от массажа спины при наличии осложнений:
    ul
      li секвестрация (отделение) грыжи;
      li сильное головокружение;
      li нарушенная координация движений;
      li скачок давления (свыше 160 АД);
      li обострение болезни (сильная боль).
    p Дополнительно учитываются и общие противопоказания к массажу — состояния, которые создают угрозу для здоровья вне зависимости от диагноза пациента.
    +picture-tag(images[20], images[20].mobile.jpg['1x'], '').article-page__image
    p
      b Общие противопоказания:
    ul
      li злокачественные заболевания;
      li раневая поверхность;
      li гнойные процессы;
      li гипертоническая болезнь (2 и 3 степень);
      li нарастающая тахикардия;
      li сердечная недостаточность;
      li прединфарктое состояние;
      li склонность к кровотечениям;
      li цинга;
      li гангрена;
      li недостаточность почек и печени;
      li туберкулез в открытой форме;
      li алкогольное опьянение (временно);
      li простуда и грипп (временно).
    p После сеанса также запрещается долго находиться на холоде и в помещениях, где есть сквозняки. Рекомендуется после завершения процедуры побыть в тепле хотя бы 30-минутный период.
    .article-page__highlight
      p Небольшие царапины и ссадины относят к локальным противопоказаниям, при которых необходимо проводить массаж на расстоянии (до 5 см) от поврежденной дермы. Не касаются также выпуклых родинок и бородавок.
    h2#nav-9 Массаж с медицинскими мазями
    p Классическое применение мазей, призванных избавить от боли в различных отделах позвоночника, часто ограничивается самостоятельным втиранием их в кожу пациентами. Поверхностное растирание, выполненное таким способом, приводит к ограниченному впитыванию действующих веществ в эпидермис, в то время как массаж с медицинскими мазями помогает увеличить степень проникновения лечебных компонентов до глубинных слоев кожи и мышечных волокон.
    a(href=images[21].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[21], images[21].mobile.jpg['1x'], '').article-page__image
    p
      b Варианты применения мазей по группам:
    ul
      li
        b.article-page__highlighted-text Противовоспалительные.
        |
        | Разрушение межпозвоночного диска провоцирует патологическое воздействие на окружающие мягкие ткани. Популярные представители группы — Финалгель, Диклофенак, Нимесулид гель — помогают снять воспаление и отек за счет угнетения синтеза веществ, ответственных за воспаление тканей, — простогландинов.
      li
        b.article-page__highlighted-text Местнораздражающие.
        |
        | Известные варианты с разогревающим эффектом — Капсикам, Эфкамон, Финалгон, Никофлекс — имеют в составе пчелиный или змеиный яд, красный перец или нонивамид (синтетические вещества), которые вызывают чувство потепления благодаря усиленному притоку крови. Мази с камфорой, маслом мяты перечной и ментолом (камфорная мазь, Дип Рилиф), напротив, обладают охлаждающим воздействием (оптимально использовать в жаркое время года).
      li
        b.article-page__highlighted-text Сосудистые.
        |
        | Венорутон, Троксевазин, гепариновая мазь входят в группу венотоников — препаратов, укрепляющих стенки сосудов. Флеботонизирующие и ангиопротекторные мази при остеохондрозе следует включать в сеанс массажа, когда у пациента есть склонность к появлению венозного расширения вен. Если у пациента на теле диагностирована так называемая капиллярная сетка, то в течение лечебной процедуры снижается ломкость капилляров и уменьшается отек.
      li
        b.article-page__highlighted-text Хондропротекторы.
        |
        | Втирая в кожу препараты с глюкозамином и хондроитином (Хондроксид, Терафлекс, Хондроитин-АКОС, Хондролон), можно добиться быстрого обновления хрящевой ткани и устранения боли. Если применять хондропротекторы во время лечебного массажа, который еще называют оздоровительным при остеохондрозе, то можно также повысить устойчивость соединительной ткани к механическому воздействию.
    +picture-tag(images[22], images[22].mobile.jpg['1x'], '').article-page__image
    p Для усиления воздействия следует чередовать использование различных смазывающих средств. Наиболее эффективной считается комбинация: протововоспалительные средства + местнораздражащие + расслабляющие мази. Если остеохондроз вызван получением травмы, то рационально изменить данное сочетание: противовоспалительные средства совмещают с сосудистыми вариантами.
    .article-page__highlight
      h3 Медицинский факт
      p Использование лечебных мазей во время массажного сеанса помогает гарантированно сократить сроки лечения остеохондроза.
    h2#nav-10 Самомассаж спины при остеохондрозе
    +picture-tag(images[23], images[23].mobile.jpg['1x'], '').article-page__image
    p
      | Самостоятельное массирование при остеохондрозе возможно только при диагностировании поражений поясничных или шейных позвонков, в то время как на грудные позвонки — из-за анатомических особенностей расположения рук и спины — без посещения массажного кабинета нельзя обойтись. Ознакомиться с техникой массажа в домашних условиях вы можете в отдельном разделе, который посвящен нюансам ее выполнения.
      |
      a.link.link_primary.underline(href='/kak-pravilno-delat-massazh-shejno-vorotnikovoj-zony-v-domashnih-usloviyah/') Узнайте подробнее.
    .article-page__highlight
      p Освоив технику самомассажа, пациент получает возможность закрепить и надолго продлить лечебный эффект после окончания курса массажа, пройденного у специалиста.
    h2#nav-11 Массаж при обострении остеохондроза и трещинах позвоночника
    p Снижение межпозвоночного пространства приводит к появлению у пациента периодов хорошего и плохого самочувствия, поэтому пациенты часто интересуются, можно ли делать массаж, если у пациента наблюдается обострение остеохондроза, но есть стойкое желание посетить массажный кабинет. Вертебрологи относят данное состояние к временному противопоказанию — после ослабления болей курс лечебных процедур можно пройти без ограничений.
    a(href=images[24].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[24], images[24].mobile.jpg['1x'], '').article-page__image
    p Состояние, которое называют трещиной позвоночника, медики относят к переломам, которые возникают после удара, падения или попадания человека в ДТП. Неблагоприятная ситуация может привести к перелому как позвонка, так и его остистых, а также поперечных отростков. Прибегать к слугам массажиста следует только после заживления костной и хрящевой тканей. Причина — высокий риск усилить деструктивные процессы из-за увеличения подвижности мышц и кожи.
    .article-page__highlight
      p Потеря или снижение чувствительности конечностей — вероятный признак перелома позвоночника и повреждения спинного мозга.
    h2#nav-12 Критерии выбора массажиста для лечения остеохондроза
    +picture-tag(images[25], images[25].mobile.jpg['1x'], '').article-page__image
    p Общему массажу, который применяется исключительно для расслабления, проще научиться, другое дело — освоить лечебное воздействие. При наличии болезни спины выбор массажиста должен производиться по более жестким критериям.
    p
      b Качества опытного массажиста:
    ul
      li
        b Медицинская лицензия.
        |
        | Наличие разрешительного документа — фундамент успешного лечения остеохондроза с помощью массажа. Самоучки имеют отдаленное представление об анатомии и особенностях течения заболеваний позвоночного столба, в то время как специалисты с медицинским образованием знают строение тела в идеале.
      li
        b Опыт.
        |
        | Большой стаж — гарантия получения безопасной услуги, которая принесет настоящую пользу. Новички часто совершают ошибки в начале освоения навыков массажа при хондрозе, а такое поведение опасно появлением осложнений. Неопытные массажисты также не способны создать индивидуальную программу для пациента в зависимости от его диагноза — чаще всего они применяют универсальные приемы, не задумываясь о тонкостях.
      li
        b Способность к эмпатии.
        |
        | Человек, страдающий расстройством двигательного аппарата, нуждается в том числе и в снятии эмоционального напряжения. Опытный массажист всегда умеет поддержать беседу, выслушать и одновременно получить дополнительную информацию о болезни во время сеанса. Главные качества специалиста: деликатность, доброжелательность, открытость, отзывчивость, аккуратность, искренность.
    p Обратить внимание следует и на условия, в которых работает массажист. Клиника — лучшее место, где удается поддержать благоприятные санитарные и температурные условия.
    .article-page__highlight
      p Каждый новый сеанс у опытного и авторитетного массажиста должен начинаться с мытья рук.
    h2#nav-13 Прогноз лечения остеохондроза массажем и частота его выполнения
    +picture-tag(images[26], images[26].mobile.jpg['1x'], '').article-page__image
    p Терапия, включающая исключительно прием медикаментов и соблюдение режима покоя, малоэффективна, в то время как ЛФК вместе с массажем при остеохондрозе помогают усилить кровоток и укрепить мышцы. 1 и 2 стадия болезни поддаются коррекции — затормозить деструктивные процессы удается относительно легко. На 3 и 4 стадии посещение специалиста также полезно, однако эти формы уже не могут лечиться исключительно массажем. При внимательном отношении к здоровью прогноз является благоприятным.
    p Периодичность процедур зависит от состояния больного: для профилактики достаточно 5–7 сеансов, которые проводят 1 раз в полгода; при ухудшении состояния необходимо увеличивать количество сеансов вдвое, иногда втрое (до 10–20 процедур), а промежутки между курсами сокращать до 2–4 месяцев. При наличии грыж и протрузий тактика лечения определяется строго индивидуально.
    +picture-tag(images[27], images[27].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Динамика лечения зависит от выполнения рекомендаций врача, и устранения главных повреждающих факторов — чрезмерной физической нагрузки, нарушения осанки, гиподинамии, избыточного веса.
