extends ../layouts/article

block variables
  -
    pageData = {
      description: `Тактильный контакт рук мастера с кожными покровами пациента становится более комфортным, если во
        время проведения сеанса массажное масло наносится на тело. Пользу ощущает и пациент, который быстро начинает
        чувствовать мощный оздоровительный эффект, оказываемый не только на дерму.`,
      keywords: `масло, массаж`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[6]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 87; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/massage-oil/image_${i}@1x.webp`,
            '2x': `${THEME_IMG_PATH}/articles/massage-oil/image_${i}@2x.webp`,
            '3x': `${THEME_IMG_PATH}/articles/massage-oil/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/massage-oil/image_${i}@1x.jpg`,
            '2x': `${THEME_IMG_PATH}/articles/massage-oil/image_${i}@2x.jpg`,
            '3x': `${THEME_IMG_PATH}/articles/massage-oil/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Тактильный контакт рук мастера с кожными покровами пациента становится более комфортным, если во время проведения сеанса массажное масло наносится на тело. Пользу ощущает и пациент, который быстро начинает чувствовать мощный оздоровительный эффект, оказываемый не только на дерму.
    h2#nav-2 ВИДЫ МАСЕЛ ДЛЯ МАССАЖА: БАЗОВЫЕ, ЭФИРНЫЕ. ПРИМЕНЕНИЕ
    +picture-tag(images[1], images[1].mobile.jpg['2x'], '').article-page__image
    p Магазинное или самостоятельно приготовленное массажное масло обычно состоит из двух компонентов — базовых и эфирных масел. Базовый вариант представляет собой «основу», которая глубоко питает и восстанавливает кожу.
    +picture-tag(images[2], images[2].mobile.jpg['2x'], '').article-page__image
    p «Базу» допускается использовать без добавления вспомогательных веществ, но после смешения с эфирными маслами, которые по интенсивности воздействия еще называют активными, эффект от массажа усиливается в несколько раз. Соединение нескольких компонентов дает возможность «основе» также превратиться в «проводник», выполняющий транспортную функцию (лечебный эфир доставляется в кровь через клетки кожи).
    h3 БАЗОВОЕ МАСЛО
    +picture-tag(images[3], images[3].mobile.jpg['2x'], '').article-page__image
    p Базовое массажное масло — текучий продукт, который не растворяется в воде. Его также называют маслом-носителем, несущим маслом, маслом-основой и базисным маслом. Благодаря растительному происхождению, оно имеет огромное количество полезных компонентов: липохром, токоферол, фосфатидов и триглециридов.
    p Все базовые виды масел отличаются по уровню плотности, который влияет на сферу их применения. Плотная консистенция хорошо питает, но дольше впитывается, поэтому ее рекомендуется использовать для смешивания с другими маслами, чтобы получить более легкую структуру.
    +picture-tag(images[4], images[4].mobile.jpg['2x'], '').article-page__image
    p
      b Вязкие масла:
    ol
      li
        b.article-page__highlighted-text Жожоба.
        |
        | Масло жожоба используется исключительно в комбинации с другими маслами для массажа тела и лица. Создает воздухопроницаемую пленку, устраняет ранки, матирует кожу. В чистом виде подходит только для массажа рук.
      li
        b.article-page__highlighted-text На зародышах пшеницы.
        |
        | Масло обладает выраженным регенерирующим свойством, которое может устранить прыщи, рубцы и даже иногда экзему (воздействие на лицо). Используется для массажа живота, чтобы устранить растяжки, а также для спортивного массажа, при котором нужно быстро восстанавливаться после мышечных повреждений.
      li
        b.article-page__highlighted-text Масло макадамии.
        |
        | Тяжелая, даже вязкая консистенция продукта, который рекомендуется смешивать с другими маслами. Очень питательная «база», которую чаще используют в зимнее время для массажа кожи лица и тела. Обладает омолаживающим эффектом.
      li
        b.article-page__highlighted-text Оливковое.
        |
        | Универсальное массажное масло для массажа, которое используют для выполнения самых разнообразных оздоровительных техник. Дополнительно обладает ранозаживляющим эффектом, лечит экземы и устраняет пигментные пятна. Без разведения имеет небольшую липкость.
      li
        b.article-page__highlighted-text Какао.
        |
        | Твердый вид масла подходит для кожи любого типа (даже детской). Чаще смешивают с масло жожоба, касторовым и оливковым. Используется в обертываниях для уменьшения растяжек и придания внутреннего сияния коже.
      li
        b.article-page__highlighted-text Карите (масло ши).
        |
        | Обладая выраженным обезболивающим эффектом, оно используется при лечебном массаже от ревматизма и суставных болей. Относится к твердому типу масла, которое при таянии обладает вязкой консистенцией.
      li
        b.article-page__highlighted-text Касторовое.
        |
        | Используется в антицеллюлитном и лечебном видах массажа. Глубоко питает кожу и устраняет даже сильные воспаления.
    p Причина повышенной вязкости у данного вида масел — преобладание насыщенных кислот.
    +picture-tag(images[5], images[5].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Совет
      p При увядании кожи и ее чрезмерной сухости выбор плотного базового масла — лучшее решение, которое помогает ощутить выраженный омолаживающий эффект.
    +picture-tag(images[6], images[6].mobile.jpg['2x'], 'Дополнительные варианты нанесения массажного масла').article-page__image
    p Базовые масла средней и легкой плотности применяются чаще без смешения с другими маслами: они даже без разведения быстро распределяются по телу, создавая отличное скольжение.
    +picture-tag(images[7], images[7].mobile.jpg['2x'], '').article-page__image
    p
      b Легкие и средней текстуры масла:
    ol
      li
        b.article-page__highlighted-text На виноградной косточке.
        |
        | Идеальный вариант для антицеллюлитного массажа, в то время как на лицо и тело его не рекомендуется наносить. В чистом виде сушит дерму, но массажное масло виноградной косточки прекрасно очищает жирную кожу. В смесях используется для выполнения спортивного массажа.
      li
        b.article-page__highlighted-text Абрикосовое.
        |
        | Тонкий аромат и большая концентрация моно- и ненасыщенных кислот делают процедуру приятной и максимально полезной. Масло идеально подходит для чувствительной и склонной к аллергии, в том числе детской. Подходит для косметического массажа.
      li
        b.article-page__highlighted-text Персиковое.
        |
        | Очень питательное масло, подходящее для сухой кожи. Равно как и абрикосовое масло, персиковое подходит для применения в абсолютно любых смесях. Часто применяется для тонизирующего, детского и антицеллюлитного видов массажа.
      li
        b.article-page__highlighted-text Кокосовое.
        |
        | Эта «основа» не оставляет при нанесении жирной пленки, отлично скользит и стремительно поглощается кожей. Для массажа используется только кокосовое массажное масло рафинированного типа. Применяется для массажа тела и головы: питает секущиеся концы при массаже шейно-воротниковой зоны и устраняет трещины на пятках, а также шелушение кожи при массаже ног.
      li
        b.article-page__highlighted-text Миндальное.
        |
        | Обладает низкой вязкостью (но выше, чем у виноградного), поэтому идеально подходит для массажа лица, головы (от секущихся кончиков), тела (для ускоренного восстановления при растяжении связок).
      li
        b.article-page__highlighted-text Кукурузное.
        |
        | Содержание витамина Е в 10 раз выше, чем в оливковом. Применяется для лечебного массажа от ушибов и при лечении переломов.
      li
        b.article-page__highlighted-text Подсолнечное.
        |
        | Бюджетный вариант, но при его смешивании с эфирами рационально расходовать полностью, поскольку в таком виде хранится очень короткий период. Образует плотную пленку, мешающую проведению массажа, но при разведении теряет этот недостаток. Подходит для выполнения общего массажа.
      li
        b.article-page__highlighted-text Кунжутное.
        |
        | Обладает средней плотностью, применяется при параличах, растяжениях, болезнях суставов, бессоннице. Используется в релаксирующих и разогревающих сеансах.
      li
        b.article-page__highlighted-text Авокадное.
        |
        | Концентрация полиненасыщенных кислот находится в очень большой концентрации, поэтому оно используется для сухой и увядающей кожи. Не обладает запахом, не образует пленку, не пачкает белье. Применяется от целлюлита.
      li
        b.article-page__highlighted-text Льняное.
        |
        | Увлажняющее средство отлично питает, устраняет сухость и расщепляет жиры. Часто используется в антицеллюлитном массаже. Недостаток: легко портится, поэтому редко используется для проведения лечебных процедур. Признаки порчи — резкое помутнение и появление сильной вязкости.
      li
        b.article-page__highlighted-text Масло ламинарии.
        |
        | Универсальный косметический продукт, чаще использующийся для лимфодренажного и антицеллюлитного вида массажа.
    +picture-tag(images[8], images[8].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Совет
      p Виноградное, оливковое и масло ши, а также ламинарии обладают выраженным солнцезащитным эффектом, поэтому они могут успешно использоваться во время проведения оздоровительной процедуры, которая выполняется на курорте под открытым небом.
    p
      b Минеральное базовое масло
    p Благодаря невысокой стоимости, популярностью также пользуются и минеральные виды масел, но главный их недостаток — ненатуральность. Они создаются из бензина, полученного методом высшей степени очистки, поэтому они долгое время не портятся. Представители группы, созданные из продуктов нефтехимии: вазелиновое, солидоловое и парафиновое масло.
    +picture-tag(images[9], images[9].mobile.jpg['2x'], '').article-page__image
    p Отличительная особенность связана с отсутствием их впитывания в кожу, хотя скольжение при нанесении увеличивается, равно как и при использовании масел растительного происхождения. Однако косметологи уже давно объяснили, что использовать массажное масло можно только в том случае, если оно является продуктом природного происхождения. Применять минеральные масла, фактически синтетические смеси, во время массажа не рекомендуется.
    .article-page__highlight
      h3 Минеральное масло часто содержит красители и искусственные ароматизаторы!
    h3 ЭФИРНОЕ МАСЛО
    +picture-tag(images[10], images[10].mobile.jpg['2x'], '').article-page__image
    p Эфирное масло кардинально отличается от базового: эфир — это концентрированное вещество, обладающее выраженным приятным запахом, но легко испаряющейся консистенцией. В них нет жирных кислот, поэтому к маслам их относят условно. Они также отличаются высокой концентрацией, поэтому не используются в чистом (неразведенном) виде, а только добавляются в небольшом количестве в «основу», которая одновременно еще становится и «проводником». Добавляя их в базовые масла, массажист усиливает целебный эффект за счет быстрого проникновения полезных веществ через межклеточное пространство сразу в лимфу. Там питательные элементы благотворно разносятся по всему организму, восстанавливая его.
    +picture-tag(images[11], images[11].mobile.jpg['2x'], '').article-page__image
    p Подбирают эфиры в зависимости от того эффекта, который хотят получить. Некоторые варианты обладают релаксирующим воздействием, другие — тонизирующим, третьи — разогревающим.
    +picture-tag(images[12], images[12].mobile.jpg['2x'], '').article-page__image
    p
      b Виды массажа и подбор эфирного масла:
    ol
      li
        b.article-page__highlighted-text Антицеллюлитный.
        |
        | Эфиры цитрусовых — мандарина, лимона, апельсина. Масло можжевельника, кипариса, цитронеллы, герани, перца (красный и черный), корицы, гвоздики, мускатного ореха, имбиря.
      li
        b.article-page__highlighted-text Обезболивающий.
        |
        | Гвоздика, герань, розмарин, майоран, мирт, имбирь.
      li
        b.article-page__highlighted-text Косметологический.
        |
        | Вербена, герань, ладан, жасмин, сандал, роза.
      li
        b.article-page__highlighted-text Спортивный.
        |
        | Вербена, имбирь, лимонник, шалфей, апельсин (часто с добавлением перца).
      li
        b.article-page__highlighted-text Релаксирующий.
        |
        | Сосна, пихта, иланг-иланг, герань, мята, анис, базилик, бергамот, майоран, мелисса.
      li
        b.article-page__highlighted-text Тонизирующий.
        |
        | Жасмин, мандарин (все цитрусовые), ладан, корица, гвоздика.
      li
        b.article-page__highlighted-text Антистрессовый.
        |
        | Кориандр, пачули, жасмин, бергамот.
      li
        b.article-page__highlighted-text Жаропонижающий.
        |
        | Чайное дерево, мирра, ромашка, бергамот.
      li
        b.article-page__highlighted-text Противоревматический.
        |
        | Лаванда, эвкалипт, ромашка, шалфей, арника.
      li
        b.article-page__highlighted-text От бессонницы.
        |
        | Лаванда, ромашка, роза, душица.
      li
        b.article-page__highlighted-text От головной боли.
        |
        | Лимон, ветивер, лаванда, мандарин, ромашка.
      li
        b.article-page__highlighted-text Для появления грудного молока.
        |
        | Лаванда, кедр ((втираются в молочные железы).
    p Применять эфирные масла можно и без смешивания с базовым. Добавив его в аромолампу, можно провести аромомассаж, который связан с поступлением полезных веществ через дыхательную систему. Таким способом базовое масло, которое обычно не обладает запахом (или имеет слабый аромат), становится ароматическим массажным маслом, оказывающим существенное влияние еще и на эмоциональное состояние пациента.
    +picture-tag(images[13], images[13].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Будьте внимательны
      p Эфирные масла смешиваются с базовыми маслами и никогда не наносятся на тело в чистом виде. В противном случае можно получить ожог.

    h2#nav-3 КАК ВЫБРАТЬ МАСЛО: КРИТЕРИИ КАЧЕСТВА И ОЖИДАЕМЫЙ РЕЗУЛЬТАТ
    +picture-tag(images[14], images[14].mobile.jpg['2x'], '').article-page__image
    p Многообразие производителей увеличивает риск покупки некачественного массажного масла для тела или даже подделки. Нижеописанные советы помогают не допустить нежелательной ошибки.
    +picture-tag(images[15], images[15].mobile.jpg['2x'], '').article-page__image
    h3 Критерии выбора качественно масла
    ul.article-page__list.article-page__list_no-marker
      li
        b.article-page__highlighted-text Натуральность.
        |
        | Самый полезный вариант — натуральное масло, которое создается из природных компонентов: фруктов, семян, плодов. Если в составе есть термин «отдушки», то в нем используются синтетические ароматизаторы. Альтернативные попытки замаскировать синтетическое масло связаны с использованием других названий — «реструктурированное» или «восстановленное» масло.
      li
        b.article-page__highlighted-text Консистенция.
        |
        | Если есть возможность протестировать масло, то его следует нанести на кожу и подождать результата. Добросовестно изготовленное масло быстро впитывается. При покупке твердого массажного масла (плитка) нужно обратить внимание на скорость размягчения: качественная плитка быстро становится мягкой от теплоты рук.
      li
        b.article-page__highlighted-text Цена.
        |
        | Дешевое масло редко бывает качественным: использование натурального сырья требует ощутимых трудозатрат. Дороже всего стоят масла с натуральными экстрактами розы, сандала, ириса, жасмина, лотоса. Последнее растение и вовсе занесено в Красную книгу.
      li
        b.article-page__highlighted-text Тара.
        |
        | Качественная смесь уровня премиум заливается в темные стеклянные флаконы (допустимый вариант — непрозрачная пластиковая тара), защищающие содержимое от воздействия солнечных лучей и одновременно продляющие срок годности масла.
      li
        b.article-page__highlighted-text Бренд.
        |
        | Давно существующие компании дорожат своей репутацией, поэтому не допускают «халтуры».
      li
        b.article-page__highlighted-text Вид отжима.
        |
        | Максимальное количество полезных веществ сохраняется в маслах, полученных путем использования холодного отжима. В список исключений входит масло на виноградной косточки, которое при таком способе получения экстракта дает очень малый выход конечного продукта.
      li
        b.article-page__highlighted-text Сертификат.
        |
        | В точке распространения масел можно попросить сертификат, который должен соответствовать стандартам Таможенного союза.
    p Подбор массажного масла также связан с индивидуальной реакцией организма, которая может проявиться аллергией. Чтобы определить влияние масла, необходимо нанести его на кожу.
    +picture-tag(images[16], images[16].mobile.jpg['2x'], '').article-page__image
    p Если через 3 часа кожа не покраснела и не образовался отек, то этот вариант можно смело покупать или начинать использовать.
    +picture-tag(images[17], images[17].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Предупреждение
      p Если производитель скрывает информацию о происхождении масла на упаковке, то велика вероятность столкнуться с синтетическим вариантом. Разновидности искажения информации — «100 % массажное масло», «100 % чистое масло», «100 % концентрированное масло». Формат предоставления честных данных — «100 % натуральное массажное (или эфирное) масло».
    h3 Как влияет массажное масло и какого результата ожидать?
    p Обладая большим количеством преимуществ, массажное масло для тела приносит много выгод при его использовании.
    +picture-tag(images[18], images[18].mobile.jpg['2x'], '').article-page__image
    p
      b Плюсы применения масла во время массажа:
    ol
      li повышение общей эффективности массажа;
      li ускорение восстановления мышц и эпидермиса;
      li нормализация клеточного обмена;
      li быстрое проникновение полезных веществ через кожу;
      li упрощение выполнения большинства массажных приемов;
      li эффективное смягчение кожи;
      li повышение упругости дермы;
      li увеличение местного и общего иммунитета.
    +picture-tag(images[19], images[19].mobile.jpg['2x'], 'Действие массажных масел: до и после').article-page__image
    p Использование массажного масла помогает достичь дополнительных выгод — от омолаживающего и направленного лечебного (снижение веса, питание кожи) до выраженного разогревающего и умиротворяющего эффектов. Влияние на организм существенно зависит от типа используемого эфирного масла, поэтому при покупке увлажняющих средств на этот нюанс следует всегда обращать внимание.
    +picture-tag(images[20], images[20].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Важно
      p Обладательницы тонкой кожи бояться получить механические повреждения во время массажа, но защитное воздействие масла делает процедуру полностью безопасной для эпидермиса.

    h2#nav-4 МАССАЖНЫЕ МАСЛА
    +picture-tag(images[21], images[21].mobile.jpg['2x'], '').article-page__image
    p Использовать масла для выполнения массажа можно на различных участках тела, особенно магазинную продукцию, которая часто универсальна в применении. Существует и отдельная линейка продуктов, ориентированная на решение определенных задач (расслабление, расщепление подкожных жиров, разогрев). Смешивание базовых масел с эфирными компонентами дает возможность воздействовать направленно — такие смеси обладают приятными, часто необычными ароматами, а также повышенной эффективностью.
    h3 МАССАЖНЫЕ МАСЛА ДЛЯ ТЕЛА
    +picture-tag(images[22], images[22].mobile.jpg['2x'], '').article-page__image
    p К лучшим базовым маслам для тела относят те, которые изготовлены из виноградных косточек и оливок. Их относят к гипоаллергенным вариантам, которые подходят большинству людей, даже с очень «капризной» кожей.
    +picture-tag(images[23], images[23].mobile.jpg['2x'], '').article-page__image
    p
      b Виды масел и особенности их использования:
    ol
      li
        b.article-page__highlighted-text Масло виноградной косточки.
        |
        | Универсальный вариант, применяемый для любого вида массажа. Противовоспалительные свойства востребованы в лечебном массаже, а эффект, усиливающий производство коллагена и нормализующий салоотделение, — в косметических процедурах.
      li
        b.article-page__highlighted-text Оливковое.
        |
        | Используется мастерами со стажем при массаже спины, шейно-воротниковой зоны, рук и ног.
      li
        b.article-page__highlighted-text Персиковое.
        |
        | Применяется во время выполнения общего массажа и подходит для кожи с микроповреждениями (прыщи, раздражение).
      li
        b.article-page__highlighted-text Миндальное.
        |
        | Рекомендуется для проведения процедур, в которых используются глубокие массажные техники.
      li
        b.article-page__highlighted-text Кокосовое.
        |
        | Ароматное масло, существенно усиливающее лимфо- и кровоток, используется в лимфодренажных процедурах.
      li
        b.article-page__highlighted-text Ростки пшеницы.
        |
        | Классический ангиопротектор, укрепляющий стенки сосудов и устраняющий отек. Идеален для массажа ног, которые необходимо защитить от развития варикозной болезни. Устраняет купероз.
      li
        b.article-page__highlighted-text Авокадо.
        |
        | Применяется авокадное массажное масло для тела при выполнении антистрессового массажа. Не рекомендуется его смешивать с другими эфирными маслами (для ароматизации допускается комбинировать с 1 компонентом).
      li
        b.article-page__highlighted-text Виноградное масло.
        |
        | Помогает подтянуть обвисшую кожу в зонах декольте, бюста. Применяется в лифтинговых типах массажа.
      li
        b.article-page__highlighted-text Масло макадамии.
        |
        | После курса косметического массажа придает телу «холеный» вид.
    +picture-tag(images[24], images[24].mobile.jpg['2x'], '').article-page__image
    p В аптеках и супермаркетах массажные масла для тела продаются уже в готовом виде. Они подходят тем, кто не хочет самостоятельно смешивать «базу» и эфиры или просто не умеет это делать. После покупки магазинной продукцией ее можно применять сразу. Техника выполнения массажа после включения массажного масла в процедуру не корректируется.
    +picture-tag(images[25], images[25].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Взбитое масло для тела можно использовать в качестве массажного
      p Оно отличается невероятно легкой консистенцией и удобным распределением на коже.
    h3 МАССАЖНЫЕ МАСЛА ДЛЯ ЛИЦА
    +picture-tag(images[26], images[26].mobile.jpg['2x'], '').article-page__image
    p Кожа, расположенная на лице, очень чувствительна, поскольку обладает природной тонкостью. Использование большинства питательных средств на спине, руках и ногах дает возможность применять различные виды масел благодаря большей плотности дермы. Переднюю часть головы относят к деликатной зоне — использовать на ней допускается далеко не все виды средств, а только массажные масла для лица, обладающие особыми свойствами.
    p Главное условие — применение некомедогенных масел, которые не вызывают закупорку пор после частого их нанесения. Комедогенные масла (кокосовое, на ростках пшеницы) можно применять, но периодически.
    a(href=images[27].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[27], images[27].mobile.jpg['2x'], '').article-page__image
    p
      b Масла, сохраняющие поры открытыми:
    ol
      li арганы;
      li жожоба;
      li ши;
      li черного тмина;
      li сафлоры;
      li подсолнечника;
      li манго;
      li шиповника;
      li облепихи;
      li на косточках (винограда, персика и абрикоса).
    p Базовые масла наносятся на очищенное и увлажненное лицо самостоятельно или после смешения с эфирными маслами. Готовые варианты уже имеют необходимую приставку к названию: «Омолаживающий», «Лифтинг», «Улучшающий цвет лица».
    +picture-tag(images[28], images[28].mobile.jpg['2x'], '').article-page__image
    p
      b Варианты комбинирования масел для получения разных эффектов:
    ul.article-page__list.article-page__list_no-marker
      li
        b.article-page__highlighted-text Омолаживающий.
        |
        | Масло, созданное из ростков пшеницы или косточек винограда, персика и абрикоса, смешивается с маслом нероли. Оно стимулирует регенерацию новых клеток, улучшает эластичность кожи и освежает ее внешний вид.
      li
        +picture-tag(images[29], images[29].mobile.jpg['2x'], '').article-page__image.article-page__image_right
        b.article-page__highlighted-text Антивозрастной (от глубоких морщин).
        |
        | Масло из ростков пшеницы, которое смешивается с маслом розы, улучшает клеточный метаболизм и выравнивает рельеф кожи.
      li
        b.article-page__highlighted-text Лечебный (от фурункул и прыщей).
        |
        | Кунжутное масло (или любой другой вариант легкой консистенции) вкупе с розмарином регулирует салоотделение, сужает поры и устраняет гнойно-воспалительные процессы.
      li
        b.article-page__highlighted-text Лечебный (от болезней губ).
        |
        | Масло авокадо, заживляя слизистую губ, устраняет ангулиты и хейлиты. Используется в чистом виде без добавления сторонних компонентов.
      li
        b.article-page__highlighted-text Отбеливающий.
        |
        | Добавление эфира лимона в «базу» помогает улучшить цвет лица, а также устранить неприятный блеск, который образуется у обладательниц жирной кожи. Усилить эффект можно с помощью использования виноградного масла.
        .article-page__highlight
          h3 Предупреждение
          +picture-tag(images[30], images[30].mobile.jpg['2x'], '').article-page__image.article-page__image_left
          p Нанесение смесей с лимоном (а также другими цитрусовыми) рационально осуществлять вечером: кожные покровы снижают естественную защиту от солнечных лучей, если во время сеанса использовался лимон. Другие представители фототоксичной группы: нероли, тимьян, бергамот, вербена, кумин, петигрейн, петрушка.
      li
        b.article-page__highlighted-text Подтягивающий (лифтинг).
        |
        | Чтобы устранить очаги обвисания, используются сложные смеси из масла пачули, ладана, розового дерева и масла семян моркови. Лучшие базовые масла: виноградное, авокадное, аргановое, касторовое. Готовые массажные масла для лица часто обогащаются гиалуроновой кислотой.
      li
        b.article-page__highlighted-text Регенерирующий.
        |
        | Подходит любое массажное масло, содержащее жасмин, который заживляет мелкие шрамы и повреждения, ранее сформировавшиеся от прыщей.
    +picture-tag(images[31], images[31].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p Дорогие виды твердых массажных масел содержат частички золота. Они оказывают легкий скрабирующий эффект, а также имеют способность удалять тяжелые металлы из кожи и укреплять дермальный иммунитет.
    p В зависимости от индивидуальных ощущений можно использовать различные массажные линии при добавлении масла на лицо.
    +picture-tag(images[32], images[32].mobile.jpg['2x'], '').article-page__image
    p При нанесении массажного масла необходимо придерживаться плавных и легких движений. Начинать массаж следует с легких поглаживаний, переходящих в похлопывания. Для улучшения впитывания смеси воздействуют на кожу преимущественно кончиками пальцев. Если выполняется лифтинг-массаж, то сеанс необходимо дополнить легкой вибрацией (движения пальцами перемещаются по волнообразной траектории).
    +picture-tag(images[33], images[33].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Кокосовое масло не используется для массажа лица и шеи при склонности к образованию прыщей
      p Высокая комедогенность продукта только усиливает дерматологические проблемы. В эту группу также входят масло льна, какао, пальмы и зародышей пшеницы.
    h3 АНТИЦЕЛЛЮЛИТНЫЕ МАСЛА
    a(href=images[34].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[34], images[34].mobile.jpg['2x'], '').article-page__image
    p Бедра с «апельсиновой коркой» — особая зона тела, на которую для получения косметического эффекта необходимо оказывать значительную массажную нагрузку. Используя антицеллюлитное масло для массажа, мастера увеличивают скорость расщепления подкожного жира и поэтапно выравнивают кожный покров. Положительный эффект удается получить при использовании сложных комбинаций, созданных благодаря соединению разнообразных базовых и эфирных масел.
    +picture-tag(images[35], images[35].mobile.jpg['2x'], '').article-page__image
    p
      b Подходящие базовые масла:
    ol
      li персиковое,
      li оливковое,
      li виноградное,
      li миндальное,
      li льняное,
      li соевое.
    p Лучшими вспомогательными компонентами являются эфиры, содержащие кислоты и сильные активные вещества, которые приводят к появлению разогревающего эффекта. Нарастание чувства жара в бедрах усиливает кровоток, помогающий быстрее расщеплять подкожный жир.
    +picture-tag(images[36], images[36].mobile.jpg['2x'], '').article-page__image
    p
      b Группы используемых масел по типу воздействия:
    ol
      li
        b.article-page__highlighted-text Расщепление жиров и регенерация клеток.
        |
        | Сильными разогревающими свойствами обладают все цитрусовые — лимон, апельсин, грейпфрут, мандарин, а также красный и черный перец, корица, имбирь, мускатный орех, гвоздика.
      li
        b.article-page__highlighted-text Усиление кровообращения и лифтинг-эффект.
        |
        | Если есть возможность протестировать масло, то его следует нанести на кожу и подождать результата. Добросовестно изготовленное масло быстро впитывается. При покупке твердого массажного масла (плитка) нужно обратить внимание на скорость размягчения: качественная плитка быстро становится мягкой от теплоты рук.
      li
        b.article-page__highlighted-text Восстановление эстетичного кожного рельефа.
        |
        | Цветочные масла — сандала, пачули, герани — устраняют неровность эпидермиса.
    p В готовых магазинных маслах содержится не менее 4 компонентов, которые относятся к разным группам. Такой подход дает возможность оказать комплексное воздействие на проблемную зону.
    p Список компонентов, который приведен ниже, используется в популярных антицеллюлитных комплексах, представленных на отечественном рынке.
    +picture-tag(images[37], images[37].mobile.jpg['2x'], '').article-page__image
    p
      b Возможные комбинации:
    ul
      li
        b.article-page__highlighted-text Вариант №1.
        |
        | Смесь базовых масел винограда и сладкого миндаля, эфирных: апельсина, грейпфрута, можжевельника, кипариса.
      li
        b.article-page__highlighted-text Вариант №2.
        |
        | Соевое масло, грейпфрут, лимон, розмарин, сладкий фенхель.
      li
        b.article-page__highlighted-text Вариант №3.
        |
        | Растительное масло, апельсин, грейпфрут, лимон, витамин Е.
      li
        b.article-page__highlighted-text Вариант №4.
        |
        | Смесь масла миндаля, макадамии, зародышей пшеницы, смешанных с экстрактом красного перца.
      li
        b.article-page__highlighted-text Вариант №5.
        |
        | Оливковое и миндальное масла, масло черного тмина, эфиры: герань, грейпфрут, экстракты: опунция, дягиль. Дополнительно добавляется обычная или морская соль.
    p Перед использованием смеси ее рекомендуется немного подогреть на «водяной бане», чтобы она лучше проникла в глубокие слои кожи.
    +picture-tag(images[38], images[38].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Совет
      p Использовать антицеллюлитные смеси можно также при воспалении мышц — миозите. Особенно если в составе есть красный перец.

    h4.article-page__highlighted-text
      br
      | КАК ПРИМЕНЯТЬ МАССАЖНОЕ МАСЛО ПРИ ЦЕЛЛЮЛИТЕ
    +picture-tag(images[39], images[39].mobile.jpg['2x'], '').article-page__image
    p Посещая массажный кабинет, пациент пассивно наслаждается процедурой, в то время как дома необходимо проявить усилия для получения должного эффекта. После посещения душа на бедра, бока, живот и ягодицы наносится массажное масло, а затем проблемные места мягко разминаются руками. После берут массажную варежку и активно воздействуют на тело до появления покраснения кожи. Альтернативный вариант — применение ручных массажеров (варианты с мягкими шипами). После процедуры остатки масла удаляются салфеткой, а затем необходимо посетить душ.
    p Время профессионального массажа составляет 1 час. Заметный эффект можно обнаружить через 5–10 сеансов использования массажного масла. Если масло применяется в домашних условиях, то изменения проявляются дольше. Для поддерживающего эффекта достаточно повторять процедуру 1–2 раза в неделю.
    +picture-tag(images[40], images[40].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p Использование массажных банок — возможность усилить антицеллюлитный эффект благодаря созданию вакуума, который усиливает механическое воздействие.
    h3 МАССАЖНОЕ МАСЛО ДЛЯ ДЕТЕЙ И ГРУДНИЧКОВ
    +picture-tag(images[41], images[41].mobile.jpg['2x'], '').article-page__image
    p Малыш, еще недавно появившийся на свет, обладает кожей, которая очень чувствительна к внешнему воздействию. Во время массажа полезно использовать увлажняющие средства, чтобы создать защиту его нежных кожных покровов от возможного раздражения. Применяя детское массажное масло, мастер или один из родителей, выполняющий оздоровительную процедуру, получает возможность сделать движения более плавными и приятными, а кожу — более мягкой и здоровой. В продаже представлено много масел, но подбор безопасного варианта связан с более тщательным отбором, чем при покупке массажного средства для взрослых.
    +picture-tag(images[42], images[42].mobile.jpg['2x'], '').article-page__image
    p
      b Нюансы выбора разных видов масел:
    ul
      li
        b.article-page__highlighted-text Минеральные (несъедобные).
        |
        | Вазелиновое, солидоловое и другие виды масел, изготовленные из нефти, несут высокий риск развития аллергии. Нежелательная реакция организма развивается из-за несформировавшегося иммунитета и пока еще относительно низкой сопротивляемости организма.
      li
        b.article-page__highlighted-text Эфирные.
        |
        | Педиатры допускают применение только успокаивающих эфирных масел (ромашка, лаванда, розовое дерево), включенных в состав массажного масла. Для детей применяют смеси только с малым содержанием пахучих веществ, поэтому для грудничков рекомендуется использовать готовые (магазинные) варианты. В них соблюдена максимально безопасная дозировка активных компонентов.
      li
        b.article-page__highlighted-text Растительные (съедобные).
        |
        | Масла природного происхождения очень редко вызывают дерматологические проблемы, поэтому их относят к гипоаллергенной группе. Лучшие варианты: оливковое, миндальное, персиковое.
    p Иногда советуют использовать облепиховое базовое масло, однако следует учитывать, что оно сильно окрашивает кожу.
    +picture-tag(images[43], images[43].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Одним из самых безопасных эфирных масел является лаванда, которая практически никогда не приносит неприятные последствия. Не допустимо использовать разогревающие масла (пример — на основе перца).
    br
    +picture-tag(images[44], images[44].mobile.jpg['2x'], 'Массаж грудничков и детей до 1 года').article-page__image
    p
      b Особенности использования масел по возрасту:
    ul
      li
        b.article-page__highlighted-text До 2 недель.
        |
        | Применяются только масла без эфирных компонентов, а также увлажняющие средства растительного происхождения, не имеющие выраженного запаха.
      li
        b.article-page__highlighted-text C 2 недель.
        |
        | Вводится массажное масло с успокаивающими эфирами.
      li
        b.article-page__highlighted-text С 2 месяцев.
        |
        | Допускается применять эфирные продукты из бергамота, фенхеля, сандала.
      li
        b.article-page__highlighted-text После 1 года.
        |
        | Возможно применение масел с другими эфирами, которые не обладают сильным запахом. Не рекомендуется применять горчичное масло, а также увлажняющие продукты, изготовленные из экзотических растений вплоть до 10 лет.
    p При покупке готовых масел нужно внимательно читать состав, чтобы не приобрести масло с недопустимыми компонентами. Домашние массажные масла также можно приготовить самостоятельно, если использовать безопасное соотношение ингредиентов.
    a(href=images[45].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[45], images[45].mobile.jpg['2x'], '').article-page__image
    p Определить реакцию ребенка на определенный аромат можно с помощью предварительного нанесения капли эфира на воротник или на пропитанную салфетку, которую оставляют рядом с кроваткой.
    +picture-tag(images[46], images[46].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Важно
      p Детям, которые длительно страдают дерматологическими проблемами, не рекомендуется применять контактный способ нанесения эфирных масел, смешанных с базовыми.
    h3 ДЛЯ ЭРОТИЧЕСКОГО МАССАЖА
    +picture-tag(images[47], images[47].mobile.jpg['2x'], '').article-page__image
    p Массаж — это приятная процедура, связанная с мощной выработкой гормонов счастья. Вкупе с использованием эротического массажного масла сеанс дополняется не только общим, но и направленным воздействием. Влияя особым образом на рецепторы, смесь с пленительным ароматом выступает мощным эрогенным стимулятуром, который избавляет от тревоги, приводит к приятной пульсации и создает романтическую атмосферу.
    +picture-tag(images[48], images[48].mobile.jpg['2x'], '').article-page__image
    p
      b Часто используемые базовые масла:
    ul
      li виноградное,
      li миндальное,
      li персиковое,
      li жожоба.
    p Рекордсменом по проникающей способности является именно масло на виноградной косточке. В комбинации с эфирными маслами оно помогает активным веществам быстро впитаться в кровь, тем самым стремительно отправив их в крово- и лимфоток.
    +picture-tag(images[49], images[49].mobile.jpg['2x'], '').article-page__image
    p
      b Список эфирных масел с возбуждающим эффектом (афродизиаки):
    ul
      li
        b.article-page__highlighted-text Бергамот.
        |
        | Компонент, усиливающий половое возбуждение, но устраняющий закомплексованность и психологическое напряжение.
      li
        b.article-page__highlighted-text Иланг-иланг.
        |
        | Эфир дарит чувство безмятежности и усиливает потенцию.
      li
        b.article-page__highlighted-text Мускатный орех.
        |
        | Природный афродизиак, который придает силы даже при сильной усталости.
      li
        b.article-page__highlighted-text Пачули.
        |
        | Сильное возбуждающее средство, способное пробуждать страсть и лечить импотенцию, а также фригидность.
      li
        b.article-page__highlighted-text Сандал.
        |
        | Возбуждающий компонент, который сильнее воздействует на женщин, чем мужчин. Пробуждает томность и негу.
      li
        b.article-page__highlighted-text Грейпфрут.
        |
        | Во время массажа создает эмоции, близкие к эйфорическим. Вместо него также можно использовать горький апельсин или другие виды цитрусовых, которые быстро улучшают настроение.
      li
        b.article-page__highlighted-text Роза.
        |
        | При смешении с сандалом притягивает мужчин. Считается, что роза столистная обладает более возбуждающим действием, чем даосская роза.
    +picture-tag(images[50], images[50].mobile.jpg['2x'], 'Компоненты эротических массажных масел').article-page__image
    p Для комплексного воздействия смешивается несколько эфиров.
    +picture-tag(images[51], images[51].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p Комфортность обстановки зависит не только от приятного аромата: температура в помещении, где проводится эротический массаж, должна быть не менее 24 градусов.
    h4.article-page__highlighted-text
      br
      | ТЕХНИКА ЭРОТИЧЕСКОГО МАССАЖА С МАССАЖНЫМИ МАСЛАМИ
    +picture-tag(images[52], images[52].mobile.jpg['2x'], '').article-page__image
    p Чтобы возбуждающее массажное масло приносило должный эффект, необходимо использовать определенную технику воздействия на тело. Во время выполнения общего массажа контакт начинается со спины, в то время как в возбуждающем варианте процедуры — со стоп.
    a(href=images[53].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[53], images[53].mobile.jpg['2x'], '').article-page__image
    ol
      li Деликатный тактильный контакт с мизинцев переходит на другие пальцы ног, затем на внутренние части икроножных мышц, колено и область, располагающуюся рядом с промежностью.
      li Второй этап массажа связан с переходом от точки копчика на ягодицы, а затем с переносом движения на пупок.
      li Из этой точки руки постепенно поднимаются к макушке. Затем цикл массирующих движений можно повторить с подушечек пальцев рук, а после перейти к голове и захватить область ушей и шеи. Третью линию движения можно начать с головы и продолжить до линии крестца.
    p Воздействие на гениталии оказывать необязательно — эротический массаж с маслом не всегда предшествует половому акту. Однако если сеанс предполагает продолжение, то контакт с самыми сильными эрогенными зонами происходит в финале процедуры.
    +picture-tag(images[54], images[54].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Обряд разбрасывания лепестков розы на брачном ложе уходит корнями в обычаи древних римлян
      p Уже в те времена они знали, что этот нежный цветок улучшает самочувствие и настраивает на душевный и телесный контакт. При использовании масла розы удается достичь аналогичного эффекта.
    h4.article-page__highlighted-text
      br
      | МАССАЖНЫЕ МАСЛА ДЛЯ МУЖЧИН И ЖЕНЩИН
    br
    p Если масло готовится самостоятельно, то можно использовать ингредиенты, которые создают ответную реакцию у противоположного пола.
    +picture-tag(images[55], images[55].mobile.jpg['2x'], '').article-page__image.article-page__image_right
    br
    p
      b Деление масел по «половому признаку»:
    ol
      li
        b.article-page__highlighted-text Для мужчин.
        |
        | Можжевельник, бергамот, сандал, майоран, кедр, имбирь, ветивер.
      li
        b.article-page__highlighted-text Для женщин.
        |
        | Нероли, пачули, мирра, роза, жасмин, иланг-иланг, герань.
    br
    p Обладая сильным ароматом, природные компоненты создают приятные ассоциации только при дозированном использовании. Оптимальное количество — 4 капли на 10 мл «базы», но если добавить больше, то можно сделать запах слишком интенсивным. В итоге процедура станет неприятной. Меньшее количество капель также нежелательно: 1 капля создаст слабый расслабляющий эффект.
    +picture-tag(images[56], images[56].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Использование массажного масла с возбуждающими компонентами способно освежить отношения, обогатив их ноткой пикантности и новизны.

    h2#nav-5 ГОТОВИМ МАСЛА САМИ ДЛЯ РАЗНЫХ ВИДОВ МАССАЖА (РЕЦЕПТЫ)
    +picture-tag(images[57], images[57].mobile.jpg['2x'], '').article-page__image
    p Процесс создания особого масла относительно прост, поэтому необязательно приобретать для массажа магазинную продукцию. Достаточно смешать несколько ингредиентов, чтобы получить качественное увлажняющее средство, особенно если используются компоненты высшего класса. Чтобы результат был положительным, массажное масло для его приготовления в домашних условиях смешивается с активными действующими веществами (эфирами или иными веществами) в строго определенной пропорции.
    h3 ТЕХНИКА СОЗДАНИЯ МАССАЖНОГО МАСЛА
    +picture-tag(images[58], images[58].mobile.jpg['2x'], '').article-page__image
    p В качестве «базы» используется тот вид масла, который подходит индивидуально и соответствует по свойствам цели процедуры (питание, устранение жирного блеска, избавление от «апельсиновой корки»). Затем подбираются виды эфирных масел — проще всего создавать композиции из 1 базового и 1 эфирного масла.
    p
      b Пошаговый алгоритм приготовления (вариант №1):
    ol
      li взять чашу для смешивания компонентов;
      li залить базовое масло;
      li добавить эфирное масло (по каплям);
      li тщательно перемешать;
      li перелить в емкость темного цвета.
    p Метод подходит для компонентов, которые не прогоркают (миндальное, кокосовое, оливковое, жожоба). Остальные виды масел необходимо использовать сразу и не оставлять их на длительное хранение.
    +picture-tag(images[59], images[59].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Использование емкостей с распылителями — легкий способ упростить распределение масла по всему телу.
    p
      b Пошаговый алгоритм приготовления (вариант №2):
    ol
      li подготовить флакон, который можно затем взболтать;
      li залить «базу»;
      li добавить эфир;
      li закрыть крышкой;
      li интенсивно потрясти.
    p Если полученная смесь используется сразу же, то ее необходимо подогреть на «водяной бане», а затем использовать после охлаждения до температуры тела человека или ниже.
    +picture-tag(images[60], images[60].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p При длительном хранении полученной композиции необходимо использовать емкость, которую предварительно дезинфицируют.
    p Есть и метод, не предполагающий добавления эфира, вместо него используются только цельные компоненты растений, а иногда даже специи. Готовый продукт называется мацератом.
    p
      b Вариант №3:
    ol
      li добавить базовое масло;
      li добавить лепестки роз, специи или травы;
      li поставить на несколько дней в темное место;
      li удалить фитокомпоненты;
      li использовать по назначению.
    p Последний метод изготовления не смешивается с травой мелкого помола, поскольку ее трудно удалять из полученного массажного масла. Однако некоторым лицам нравится легкий скрабирующий эффект, который получается при использовании такого увлажняющего средства.
    +picture-tag(images[61], images[61].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Чтобы создать массажное масло розы дома, необходимо в 100 мл «основы» добавить 60–70 лепестков растения.
    h3 РЕЦЕПТЫ МАССАЖНЫХ СМЕСЕЙ ДЛЯ ПРОВЕДЕНИЯ РАЗЛИЧНЫХ ВИДОВ МАССАЖА
    +picture-tag(images[62], images[62].mobile.jpg['2x'], '').article-page__image
    p Если хочется достичь комплексного и более сильного эффекта, то можно использовать сложные смеси, но количество эфирных масел не должно превышать 6 разновидностей.
    h4.article-page__highlighted-text
      br
      | ДЛЯ ТЕЛА
    a(href=images[63].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[63], images[63].mobile.jpg['2x'], '').article-page__image
    a(href=images[64].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[64], images[64].mobile.jpg['2x'], '').article-page__image
    a(href=images[65].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[65], images[65].mobile.jpg['2x'], '').article-page__image
    h4.article-page__highlighted-text
      br
      | ДЛЯ ЛИЦА
    a(href=images[66].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[66], images[66].mobile.jpg['2x'], '').article-page__image
    a(href=images[67].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[67], images[67].mobile.jpg['2x'], '').article-page__image
    a(href=images[68].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[68], images[68].mobile.jpg['2x'], '').article-page__image
    a(href=images[69].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[69], images[69].mobile.jpg['2x'], '').article-page__image
    a(href=images[70].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[70], images[70].mobile.jpg['2x'], '').article-page__image
    h4.article-page__highlighted-text
      br
      | ОТ ЦЕЛЛЮЛИТА
    a(href=images[71].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[71], images[71].mobile.jpg['2x'], '').article-page__image
    a(href=images[72].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[72], images[72].mobile.jpg['2x'], '').article-page__image
    a(href=images[73].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[73], images[73].mobile.jpg['2x'], '').article-page__image
    h4.article-page__highlighted-text
      br
      | ДЛЯ ДЕТЕЙ И ГРУДНИЧКОВ
    a(href=images[74].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[74], images[74].mobile.jpg['2x'], '').article-page__image
    a(href=images[75].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[75], images[75].mobile.jpg['2x'], '').article-page__image
    a(href=images[76].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[76], images[76].mobile.jpg['2x'], '').article-page__image
    h4.article-page__highlighted-text
      br
      | ЭРОТИЧЕСКИЙ МАССАЖ
    a(href=images[77].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[77], images[77].mobile.jpg['2x'], '').article-page__image
    a(href=images[78].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[78], images[78].mobile.jpg['2x'], '').article-page__image
    a(href=images[79].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[79], images[79].mobile.jpg['2x'], '').article-page__image
    a(href=images[80].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[80], images[80].mobile.jpg['2x'], '').article-page__image
    h4.article-page__highlighted-text
      br
      | ДОПОЛНИТЕЛЬНЫЕ РЕЦЕПТЫ ДЛЯ РАЗНЫХ ВИДОВ МАССАЖА
    a(href=images[81].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[81], images[81].mobile.jpg['2x'], '').article-page__image
    a(href=images[82].mobile.jpg['2x'] target='_blank')
      +picture-tag(images[82], images[82].mobile.jpg['2x'], '').article-page__image
    ol
      li
        b.article-page__highlighted-text Для общего массажа.
        |
        | Рецепт масла универсального применения: 100 мл оливкового масла смешивается с эфирными маслами: мелиссы, мяты перечной капли, лаванды (каждого по 10 капель).
      li
        b.article-page__highlighted-text Расслабляющий.
        |
        | В 100 мл базового масла добавляется по каплям масла: розового дерева (15), герани (10), жасмина (8). После смешения и взбалтывания композиция готова к использованию.
      li
        b.article-page__highlighted-text Антидепрессивный.
        |
        | В базовое оливковое масло добавляются стручки ванили, которые настаиваются в темном месте 2 недели. Рецепт: на 20 мл «базы» достаточно одного стручка. Ваниль также используется для легкого возбуждающего массажа (аромат подходит женщинам).
      li
        b.article-page__highlighted-text Омолаживающий.
        |
        | Масло на ростках пшеницы (80 мл) смешивают с эфирами каждого по 2 капли: кипариса, лаванды и ладана.
      li
        b.article-page__highlighted-text Антицеллюлитный.
        |
        | 1 ст. л. персикового или виноградного масла смешиваются с каплей любого разогревающего эфира (гвоздики, апельсина, красного перца или мускатного ореха). Смесь применяется сразу.
    +picture-tag(images[83], images[83].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      p Если используется густое кунжутное или касторовое масло, то добавление легкого виноградного варианта (пропорция 1:1) дает возможность получить смесь средней консистенции, которая оптимальна для проведения массажа.

    h2#nav-6 ПРОТИВОПОКАЗАНИЯ К ИСПОЛЬЗОВАНИЮ МАССАЖНОГО МАСЛА
    +picture-tag(images[84], images[84].mobile.jpg['2x'], '').article-page__image
    p
      | Кроме классических
      |
      a.link.link_primary.underline(href='/informatsiya/protivopokazaniya-k-massazhu/') противопоказаний к массажу
      |
      | существуют еще и ограничения, связанные с применением масла. Негативная реакция может возникнуть из-за терапевтического воздействия, которое несовместимо с физическим состоянием человека, особенно если в увлажняющем средстве есть активные действующие вещества (эфиры). Они могут вызвать индивидуальную непереносимость.
    p Базовые масла практически не имеют строгих ограничений на применение, особенно оливковое масло, но его подбор требует определенных знаний.
    +picture-tag(images[85], images[85].mobile.jpg['2x'], 'Признаки качественного базового масла').article-page__image
    .article-page__highlight
      h3 Оливковое масло необходимо брать только первого холодного отжима (Extra Virgin)
      p Продукция, изготовленная другими способами, может содержать рапсовое и переваренное масла, которые увеличивают риски появления аллергии.
    p Эфирные масла следует подбирать с большей осторожностью.
    br
    p
      b Табу и относительные ограничения (масла с эфирными добавками):
    ul
      li
        b.article-page__highlighted-text Раны и ссадины.
        |
        | Необходимо дождаться заживления повреждений или выполнять массаж без касания данных зон. Недостаток — вероятность попадания масла во время процедуры из-за естественной способности увлажняющего средства растекаться по телу.
      li
        b.article-page__highlighted-text Беременность.
        |
        | Некоторые виды массажа не запрещено делать в этот период, но в массажных маслах не должны присутствовать следующие эфиры: кедр, базилик, душица, эстрагон, гвоздика, пижма. Сильные запахи способны даже вызвать преждевременные схватки, особенно душица, багульник болотный, горечавка которые обладают абортирующим действием.
      li
        b.article-page__highlighted-text Использование слишком пахучих эфирных масел.
        |
        | В группе риска: лица, страдающие легочными проблемами, и дети. Пренебрежение рекомендацией ведет к появлению ларингоспазма.
      li
        b.article-page__highlighted-text Гипертония.
        |
        | Не используются массажные масла, содержащие тонизирующие компоненты: гвоздика, базилик, можжевельник, розмарин, пихта, мускатный шалфей, апельсин (все цитрусовые).
      li
        b.article-page__highlighted-text Склонность к аллергии.
        |
        | Риск появление кожных высыпаний повышается при использовании эфиров следующих растений и деревьев: цитронеллы, гвоздики, душицы, чабреца, апельсина.
    p Опасна и передозировка, которая вызывает ухудшение состояния из-за негативного влияния на нервную систему (головная боль, головокружение). Чрезмерное нанесение создает риски для переработки веществ, которые попали в кровь (повышается гепатотоксическое воздействие из-за повышения нагрузки на печень).
    +picture-tag(images[86], images[86].mobile.jpg['2x'], '').article-page__image
    .article-page__highlight
      h3 Внимание
      p Масло макадамии не применяют для массажа аллергиков, которые не переносят употребление орехов.
