extends ../layouts/article

block variables
  -
    pageData = {
      description: `При наличии болезней оздоровительный эффект массажа рационально усилить использованием смазывающих
        средств, которые применяются для устранения боли в мышцах и позвоночнике. Полезный атрибут ускоренной
        регенерации тканей — медицинская мазь для массажа, которую применяют для наступления быстрого терапевтического
        эффекта.`,
      keywords: `массаж, медицинские мази`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[10]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 85; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/massage-with-medical-ointments/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/massage-with-medical-ointments/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['2x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Даже без применения дополнительных препаратов массаж является эффективной восстанавливающей процедурой, улучшающей состояние человека. Однако при наличии болезней оздоровительный эффект рационально усилить использованием смазывающих средств, которые применяются для устранения боли в мышцах и позвоночнике. Полезный атрибут ускоренной регенерации тканей — медицинская мазь для массажа, которую применяют для наступления быстрого терапевтического эффекта.
    h2#nav-2 Польза и плюсы использования мазей во время массажа
    +picture-tag(images[1], images[1].mobile.jpg['1x'], '').article-page__image
    p Смазывающие средства отличаются по виду воздействия, однако все они направлены на достижение одних и тех же положительных результатов.
    p
      b Общие преимущества применения мазей:
    ol
      li быстрое купирование болевого синдрома;
      li снятие мышечного спазма;
      li восстановление подвижности туловища;
      li снятие отека травмированных тканей;
      li повышение местного кровотока;
      li усиление клеточного обмена;
      li повышение локального иммунитета.
    p Положительный результат заметен уже после первого применения благодаря глубинному проникновению действующих веществ, содержащихся в мазях. Учитывая усиленную проницаемость смазывающих средств, врачи часто рекомендуют проходить курс массажа именно с использованием лечебных мазей. Самостоятельное втирание густого лекарства не приводит к столь выраженному результату: стандартное время сеанса у специалиста длится от 30 до 60 минут, в то время как на растирание мази, выполняемое своими силами, уходит не более 3 минут.
    a(href=images[2].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[2], images[2].mobile.jpg['1x'], '').article-page__image
    p Использование мазей и гелей также упрощает проведение сеанса — улучшается скольжение рук и выполнение даже трудоемких массажных приемов мастером. Большинство пациентов также отмечают улучшение тактильного восприятия, чем при выполнении «сухой» процедуры. Подавляющее число смазывающих средств равным образом имеют в составе питающую основу (парафин, вазелин), поэтому после сеанса кожа становится увлажненной. Максимальную пользу от данного эффекта ощутят обладатели сухой кожи, которая склонна к шелушению.
    +picture-tag(images[3], images[3].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинские мази включаются в курс только при лечебном виде массажа
      p Применение их в расслабляющих сеансах нецелесообразно из-за специфического запаха и более слабой проработки мышечного корсета.

    h2#nav-3 Виды применяемых в массаже мазей
    +picture-tag(images[4], images[4].mobile.jpg['1x'], '').article-page__image
    p Конечный результат — главный критерий, по которому выбирают тип смазывающего средства. Определить подходящий препарат помогает консультация врача, а также информация в рецепте, выписанном после внимательного изучения состояния больного. В документе на отпуск лекарства содержится наименование мази для массажа, отобранной по типу воздействия, которое будет максимально эффективно при определенном заболевании.
    h3 ПРОТИВОВОСПАЛИТЕЛЬНЫЕ
    +picture-tag(images[5], images[5].mobile.jpg['1x'], '').article-page__image
    p Средства противовоспалительной группы эффективны при развитии неприятных последствий, связанных с обострением радикулита, остеохондроза, ишиаса, люмбаго, миозита (воспаление мышц). Патологический процесс, развивающийся при получении травм и возникающего из-за него воспаления, легко устраняется массажем с препаратами нестероидной противовоспалительной группы (НПВC).
    +picture-tag(images[6], images[6].mobile.jpg['1x'], '').article-page__image
    ul
      li
        b.article-page__highlighted-text Фастум гель.
        |
        | Угнетение выработки простогландинов (источников воспаления) происходит за счет поступления главного действующего вещества — кетопрофена. Эфирные масла нероли и лаванды улучшают ароматические качества медикамента и усиливают общее действие мази при болях в позвоночнике. Заменители с кетопрофеном: Феброфид, Пенталгин гель, Кетонал, Кетопрофен. Российский аналог — Быструм гель.
      li
        b.article-page__highlighted-text Найз.
        |
        | Мазь с нимесулидом относится к новому поколению препаратов на основе сульфонамидов. Она помогает во время массажа подавить медиаторы воспаления и воздействовать на простаноидные рецепторы, что приводит к анальгетизирующему эффекту.
      li
        b.article-page__highlighted-text Индометацин.
        |
        | Мазь используется при массаже, если необходимо устранить отек, воспаление и боль. Дополнительные преимущества — свойство устранять эритему (покраснение) и дисменорею (болевой синдром, возникающий внизу живота в период менструации).
      li
        b.article-page__highlighted-text Биопин.
        |
        | Натуральная мазь для устранения воспаления, состоящая из оливкового масла, сосновой смолы и пчелиного воска, повышает общую эффективность массажа. Биопин применяется и для лечения посттравматических болезней, а также миозитов.
      li
        b.article-page__highlighted-text Ревма-гель.
        |
        | Мазь направленного действия, созданная для лечения суставов, устранения люмбаго и миалгии. Содержит большое количество вытяжек из трав с общим названием «Шведская горечь», а также линимент скипидарный (добавляет средству разогревающий эффект).
    +picture-tag(images[7], images[7].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Предупреждение
      p Мази группы НПВC могут вызвать обострение хронических болезней у пожилых лиц, поэтому для этой группы пациентов сокращают общее время процедуры, а также уменьшают дозировку препарата.
    h3 МЕСТНОРАЗДРАЖАЮЩИЕ
    +picture-tag(images[8], images[8].mobile.jpg['1x'], '').article-page__image
    p Разогревающий эффект местнораздражающих препаратов создает локальное повышение температуры и приток крови к очагу боли и дискомфорта. Вызывая появление чувства тепла, медицинские мази для массажа также помогают замаскировать боль с помощью отвлекающего воздействия. Группа медикаментов применяется при любых болезненных состояниях, связанных с деструктивными процессами в позвоночнике.
    +picture-tag(images[9], images[9].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Массаж с разогревающими мазями и гелями проводится только в перчатках, чтобы исключить болезненные ощущения в руках, которые могут возникнуть у массажиста из-за длительного контакта с жидким препаратом.
    p
      b Варианты разогревающих мазей:
    ul
      li
        b.article-page__highlighted-text Скипидарная мазь.
        |
        | Продукция изготавливается из сырья растительного происхождения и показана при артралгиях, ревматизме и радикулите. Усиление кровотока устраняет воспаление, а поступление энкефалинов приводит к обезболивающему результату.
      li
        b.article-page__highlighted-text Випросал.
        |
        | Смазывающий препарат является заменителем скипидарной мази, поскольку включает аналогичное действующее вещество. Терапевтический эффект усилен добавлением камфоры, салициловой кислоты и яда гадюки. Последние 2 компонента обеспечивают появление выраженного анальгетизирующего влияния на тело. Випросал рекомендован для массажа спины и других участков тела при невралгии, ишиасе, радикулите и артрите различного происхождения (для купирования боли).
      li
        b.article-page__highlighted-text Капсикам.
        |
        | В составе также есть скипидар, но действие усилено вспомогательными средствами: бензилникотинатом и нонивамидом. Разогревающий эффект длится до 12 часов.
      li
        b.article-page__highlighted-text Эфкамон.
        |
        | Применяется для массажа перенапряженных мышц — он снимает локальную усталость, усиливает кровоток и содержит комплекс натуральных масел (гвоздика, эвкалипт, горчица, камфора, ментол). Разогревающий эффект Эфкамона проявляется благодаря проникновению в кожу метилсалицилата и перца стручкового.
      li
        b.article-page__highlighted-text Апизатрон.
        |
        | Мазь на основе пчелиного яда вызывает потепление в месте нанесения уже через несколько минут. Однако сильное жжение отсутствует, что упрощает проведение процедуры. Компонент улучшает эластичность соединительной ткани, устраняет гипертонус, усиливает местный кровоток.
      li
        b.article-page__highlighted-text Никофлекс.
        |
        | Полностью натуральная мазь, состоящая из перца стручкового и лавандового масла. Средство используется при массаже со слабым или умеренным болевым синдромом.
    p Препараты с разогревающим эффектом равным образом обладают способностью — за счет активного притока крови — активно сжигать подкожные жиры. Благодаря данному свойству они применяются для устранения целлюлита, но самыми лучшими вариантами являются мази на основе природных компонентов: камфорного масла, красного перца, кофеина, корицы.
    +picture-tag(images[10], images[10].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Максимальное действие разогревающих мазей наблюдается через 15–30 минут
      p При наличии обманчиво слабого эффекта в начале сеанса увеличение дозировки может привести к чрезмерному жжению после окончания процедуры.
    h3 ОБЕЗБОЛИВАЮЩИЕ
    +picture-tag(images[11], images[11].mobile.jpg['1x'], '').article-page__image
    p Средства противовоспалительной группы также обладают обезболивающим свойством, но в них отсутствует анальгетик — эффект оказывается через снятие воспаления. Популярные обезболивающие мази для массажа спины и других участков тела включают анальгетизирующие или сходные по воздействию вещества.
    ul
      li
        b.article-page__highlighted-text Пироксикам.
        |
        | Смазывающее средство относится к ненаркотическим анальгетикам, оно создано на основе компонента, благодаря которому мазь и получила свое название. Лечебное средство применяется для устранения мышечных болей ревматического и неревматического происхождения. Гелевая консистенция упрощает распределение, но быстрее высыхает. Аналог — Финалгель.
      li
        b.article-page__highlighted-text Ибуфен.
        |
        | Другой вариант на гелевой основе (ибупрофен) с аналогичным эффектом, который дополняется высокой скоростью выведения действующего вещества из организма — через 24 часа. Заменитель — Нурофен гель.
      li
        b.article-page__highlighted-text Долгит.
        |
        | Средство на основе ибупрофена выпускается, кроме геля, также в качестве лечебного крема для массажа, который лучше скользит, дольше не высыхает и прекрасно подходит для физиотерапии. Восстанавливает подвижность тела и ускоряет заживление гематом. В состав геля входит изоприловый спирт, обладающий высокими дезинфицирующими свойствами.
      li
        b.article-page__highlighted-text Диклофенак.
        |
        | Средство с одноименным действующим веществом уменьшает скованность в движениях и обладает легким местным жаропонижающим действием. Аналоги — Ортофен, Диклофен.
    p Массажисты иногда включают мази, используемые для массажа, лишь временно с целью ускорить адаптацию тела к нагрузкам. Актуальность коррекции сеанса возникает преимущественно в течение первых 2–3 процедур, а затем смазывающие средства можно исключить.
    +picture-tag(images[12], images[12].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p Часть клиентов, посещающих массажные кабинеты, отказываются от проведения процедуры с мазями. Мотивация — наличие выраженного медицинского аромата, который частично сохраняется после процедуры. Некоторые средства, например Нурофен гель, не имеют запаха, поэтому более удобны в применении.
    h3 СОСУДИСТЫЕ (ОТ ВАРИКОЗА)
    +picture-tag(images[13], images[13].mobile.jpg['1x'], '').article-page__image
    p Повышенная нагрузка на ноги и генетическая предрасположенность — главные факторы развития варикозной болезни. Чтобы улучшить состояние сосудов и капилляров, врачи выписывают венотоники, устраняющие отечность и снижающие ломкость всех транспортных элементов кровеносной системы. Использовать мази для массажа от варикоза рационально во время разминания ног, при котором конечности прорабатываются особым образом.
    a(href=images[14].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[14], images[14].mobile.jpg['1x'], '').article-page__image
    p
      b Смазывающие средства от варикоза:
    ul
      li
        b.article-page__highlighted-text Гинкор гель.
        |
        | Троксерутин и экстракт гинкго билоба придают гелю желтый оттенок и легкое распределение лечебной консистенции по телу. Гель эффективен при наличии судорог, гематом (кровоподтеков) и венозной недостаточности. Устраняет склероз сосудов и применяет даже при поверхностном флебите, усугубленном инфильтрацией под кожу.
      li
        b.article-page__highlighted-text Троксерутин.
        |
        | Смазывающий препарат с аналогичным действующим веществом, обладающим идентичным эффектом.
      li
        b.article-page__highlighted-text Гепариновая мазь.
        |
        | Действующее вещество — антикоагулянт (гепарин), который разжижает кровь, препятствуя образованию тромбов. Средство снимает воспаление и боль, поэтому часто используется в спортивных видах массажа.
        +picture-tag(images[15], images[15].mobile.jpg['1x'], '').article-page__image
        .article-page__highlight
          h3 Антикоагулянты и ангиопротекторы применяют при массаже лица у пациентов, перенесших операцию на челюсти
          p Мази этой группы предотвращают распространенное осложнение — закупорку сосудов. Другой вариант назначения венотоника — появление сильной гематомы в лицевой части головы.
      li
        b.article-page__highlighted-text Венорутон.
        |
        | Лечебный вариант улучшает микроциркуляцию и угнетает медиаторы воспаления с помощью действия рутозидов.
      li
        b.article-page__highlighted-text Гирудовен.
        |
        | Натуральная медицинская мазь, которая может применяться для массажа. Экстракт пиявки предотвращает появление тромбов.
      li
        b.article-page__highlighted-text Тромбоцид.
        |
        | Гелеобразный препарат, который применяется у лиц, имеющих риски развития тромба на ногах. Активное вещество — пентозанполисульфат натриевой соли.
      li
        b.article-page__highlighted-text Индовазин.
        |
        | Мощное средство на основе индометацина, обладающее направленным действием на кровеносные сосуды. Мазь используется для снятия напряжения, отека и чувства тяжести. Она даже используется при поверхностных тромбофлебитах и послефибитных состояниях.
    +picture-tag(images[16], images[16].mobile.jpg['1x'], '').article-page__image
    p Усилить общее воздействие на вены можно также с помощью приема венотоников в таблетках: Детралекса, Флебодиа, Венорутона, Антистакса, Венаруса или Эскузана.
    +picture-tag(images[17], images[17].mobile.jpg['1x'], '').article-page__image
    p Важное условие проведения массажа при варикозном недуге — сохранение горизонтального положения тела, которое благоприятно для отвода лишней жидкости из области нижних конечностей. Проводить такую процедуру рекомендуется в конце дня, чтобы облегчить состояние человека, особенно если он весь день находился на ногах.
    +picture-tag(images[18], images[18].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Венотоники — группа препаратов, защищающая человека от развития варикозной болезни.
      p В классическом массаже они используются преимущественно для профилактики, но при сильной выраженности болезни воздействие ограничивается мягким поглаживающим втиранием мази. При вздувшихся венах и тромбофлебите от процедуры следует отказаться. Более детальная информация находится в разделе «Противопоказания».
    p У некоторых пациентов на всей поверхности ног диагностируются воспаленные вены, а участков, не пораженных болезнью, иногда просто нет. Этой группе пациентов интересно, можно ли использовать массаж при варикозе с сильными проявлениями. Мастера допускают прохождение сеанса, но при исключении из него ударных и других силовых приемов. Чтобы напрямую не воздействовать на вены, мастер использует граблевидное разминание, которое выполняется с разведенными пальцами: образуемые промежутки между фалангами помогают обойти опасные участки тела и таким методом сохранить безопасность проведения процедуры. Прием можно использовать и на спине и руках, если воспаленные сосуды есть в этих участках туловища.
    a(href=images[19].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[19], images[19].mobile.jpg['1x'], '').article-page__image
    p Другой рекомендуемый тип воздействия при варикозе — лимфодренажная процедура, которая ускоряет ток лимфы. Усиливая обменные процессы, этот тип воздействия улучшает состояние вен с помощью усиления отвода лишней жидкости.
    a(href=images[20].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[20], images[20].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Самый щадящий вариант массажа — поглаживание тела с мазями, а затем обертывание ног пленкой.
    h3 ХОНДРОПРОТЕКТОРЫ (ОТ ОСТЕОХОНДРОЗА И АРТРИТА)
    +picture-tag(images[21], images[21].mobile.jpg['1x'], '').article-page__image
    p Разрушение хрящевой ткани приводит к возникновению артроза, остеохондроза, грыж и протрузий межпозвонковых дисков. Курс массажа с хондропротекторами дает возможность сначала затормозить разрушение, а затем — восстановить хрящевой матрикс. Массаж при подтвержденных болезнях рекомендуется проходить на ранних этапах и при умеренных патологических изменениях: полную деструкцию соединительной ткани нельзя уже восстановить средствами данной группы.
    a(href=images[22].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[22], images[22].mobile.jpg['1x'], '').article-page__image
    p После первой процедуры с мазью, содержащей вещества, которые относят к хондропротекторной группе, наблюдается увеличение количества синовиальной жидкости. В итоге восстановленный объем смазки повышает амортизирующие способности хряща.
    a(href=images[23].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[23], images[23].mobile.jpg['1x'], '').article-page__image
    p В начале лечения наблюдается еще и сильный обезболивающий эффект, который также возникает благодаря повышению количества синовиальной жидкости. После курса лечения суставы и позвонки перестают травмироваться, поэтому неприятные ощущения надолго покидают человека.
    +picture-tag(images[24], images[24].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Хондропротекторы — как в мазях, как и таблетках — часто содержат дополнительные восстанавливающие вещества: антиоксиданты, витамины и минералы, помогающие ускорять реабилитацию больного.
    p
      b Мази-хондропротекторы:
    ul
      li
        b.article-page__highlighted-text Терафлекс.
        |
        | Крем, который одновременно применяют вместе с таблетками этого же производителя. В составе находится хондроитина сульфат (естественный компонент хрящевой ткани), усиливающий регенерацию тканей и обладающий противовоспалительным эффектом (действие мелоксикама). Заменители — мазь 911 с хондроитином, Хондроитин-АКОС, Артроцин, Хондроксид (гель и мазь), Артрафик, Хондролон, Хондра-сила.
      li
        b.article-page__highlighted-text Живокост.
        |
        | Мазь-бальзам с хондроитином, но дополненная окопником, бодягой и комбинацией эфирных масел (5 компонентов).
      li
        b.article-page__highlighted-text Акулий жир.
        |
        | Популярное и недорогое средство, богатое витаминов D, A, E, а также сваламином — компонентом, обладающим обезболивающий действием, и скваленом — веществом, восстанавливающим хрящевую ткань. Мазь обладает еще и сильным увлажняющим свойством, поэтому она дополнительно устраняет сухость кожи во время массажа.
      li
        b.article-page__highlighted-text Лошадиная доза.
        |
        | Интересный вариант, но уже содержащий бычий хрящ. Эффект аналогичен результату, который появляется при использовании средств с акульим жиром.
    p Техника массажа с хондропротекторами значительно не отличается от выполнения процедуры без добавления мазей — повышенное внимание уделяется участкам с поврежденными тканями. При использовании мазей с глюкозамином и хондроитином основное время воздействия отводится проработке суставов, а также позвонков. Восстанавливающее средство наносится преимущественно на них, а затем постепенно втирается в кожу. Хондропротекторы считаются лучшими массажными мазями от остеохондроза и болезней суставов, поскольку в сочетании с ЛФК легко проникают в глубокие слои кожи.
    +picture-tag(images[25], images[25].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Мази на основе хондроитина, впитываясь в кожу рук массажиста, также защищают и здоровье мастера. Пальцы лучше сгибаются и меньше болят, несмотря на высокие механические нагрузки.
    p Нанесение мази во время посещения массажного кабинета можно сочетать с приемом хондропротекторов в таблетках: Терафлекса, Инолтры, Доны, Артры, Кондронова, Артрогликана, Хондрофлекса и других аналогов.
    +picture-tag(images[26], images[26].mobile.jpg['1x'], '').article-page__image
    p Оба соединения — хондроитин и глюкозамин — производятся внутри организма самостоятельно, однако в пожилом возрасте их синтез замедляется.
    +picture-tag(images[27], images[27].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Стойкое положительное действие хондропротекторов диагностируется преимущественно через полгода, если мази наносились без массажа. При комбинации этих двух лечебных методов скорость регенерации заметно увеличивается.

    h2#nav-4 Нюансы сочетания нескольких мазей в курсе
    +picture-tag(images[28], images[28].mobile.jpg['1x'], '').article-page__image
    p Комбинируя несколько видов смазывающих средств, мастер получает возможность добиться заметного терапевтического эффекта. Лечебные мази для массажа тела помогают выгодно усилить действие одних препаратов, если используется метод их чередования. Чтобы сочетание было эффективным, необходимо знать особенности их использования.
    +picture-tag(images[29], images[29].mobile.jpg['1x'], '').article-page__image
    p
      b Правила применения мазей:
    ul
      li
        b.article-page__highlighted-text Снятие воспаления.
        |
        | Допускается одновременное сочетание Меновазина с Индовазином или Дип-релифом. Другой вариант — первоначальное смазывание кожи суспензией гидрокортизона, на которую наносится любая другая мазь. Комбинация последних двух компонентов увеличивает проницаемость полезных веществ, поэтому чаще используется для массажа спины при остеохондрозе и других болезнях опорно-двигательного аппарата.
      li
        b.article-page__highlighted-text Снятие спазма.
        |
        | Для массажа с активным растиранием, необходимым для сильного усиления крово- и лимфотока, можно сочетать несколько препаратов: Гидрокортизон, Новокаин, Диклофенак, Димексид и Новокаин (1/2 часть).
      li
        b.article-page__highlighted-text Бытовая или спортивная травма.
        |
        | До 4 дней массаж не проводится, однако мази с охлаждающим эффектом (преимущественно гели) наносятся в виде компрессов. На пятый день допускается применение разогревающих компонентов (без сочетания с другими мазями), но уже с выполнением массажных приемов.
        +picture-tag(images[30], images[30].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Растяжение.
        |
        | Одновременно можно применять мазь для массажа от радикулита и артрита под названиями Випратокс и Гимнастогал. Действие последнего становится более мягким.
      li
        b.article-page__highlighted-text Ушиб в острой стадии.
        |
        | Лазонил быстро купирует болевой синдром при сильных ушибах, однако наступление эффекта можно ускорить, если перед его нанесением провести краткосрочный массаж (3 минуты) с Финалгоном, Слонцом или тигровой мазью. Разогревающие препараты хорошо расширяют капилляры и усиливают микроциркуляцию.
    +picture-tag(images[31], images[31].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Финалгон нельзя использовать вместе с Хондроксидом
      p В противном случае из-за реакции действующих веществ хондроитина и никобоксила можно получить химический ожог. Венорутон запрещается сочетать с разогревающими мазями, а также тепловыми процедурами.
    p Популярностью пользуется схема поэтапного использования мазей: курс делится на 3 промежутка, в течение которых последовательно применяются сначала противовоспалительные, затем местнораздражающие, а затем успокаивающие мази.
    +picture-tag(images[32], images[32].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Одновременное использование гелей и мазей нерационально
      p Нанесение сначала геля, а затем мази приводит к созданию пленки, через которую густая лечебная консистенция не может проникнуть под кожу (причина: образовалась пленка). При обратном порядке нанесения гель будет оттесняться мазью.

    h2#nav-5 Подготовка к сеансу и техника выполнения массажа
    +picture-tag(images[33], images[33].mobile.jpg['1x'], '').article-page__image
    p Соблюдение медицинских норм и техники безопасности — гарантия отсутствия побочных явлений во время и после массажа, при котором используются мази, гели или крема.
    h3 ПОДГОТОВКА
    +picture-tag(images[34], images[34].mobile.jpg['1x'], '').article-page__image
    p Перед нанесением мази необходимо протестировать средство на небольшом участке тела и подождать пару часов. Дополнительно ознакомиться с противопоказаниями, указанными в аннотации к медикаменту. Если средство не вызвало неприятных ощущений и нет индивидуальных ограничений, то его можно применять для более обширного втирания.
    p Когда кожа слишком жирная, то рационально применять средства на гелевой основе. Если замена невозможна, то дерма предварительно обрабатывается спиртосодержащими растворами (в домашних условиях — водкой или одеколоном). Нанесение средства помогает убрать слой, способный ухудшить всасывание мази.
    +picture-tag(images[35], images[35].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Прием теплой ванны перед процедурой снижает гиперспазм и улучшает проницаемость кожи — эффективность использования мазей увеличивается.
    h3 ПРОЦЕСС МАССАЖА
    +picture-tag(images[36], images[36].mobile.jpg['1x'], '').article-page__image
    p Мазь всегда наносится на ту часть кожных покровов, где есть патологический процесс. Затем она втирается в нужную зону, а после впитывания воздействие руками переносится и на другие части тела.
    p
      b Правила массажа:
    ol
      li
        b.article-page__highlighted-text Безопасное начало сеанса.
        |
        | Проведение сначала подготовительного сухого массажа (в течение 3–5 минут) с преобладанием поглаживаний и растираний.
      li
        b.article-page__highlighted-text Защита чувствительных зон.
        |
        | Соблюдение осторожного массирования с целью предотвращения попадания средств на слизистые.
      li
        b.article-page__highlighted-text Коррекция неприятных симптомов.
        |
        | Первоначальное нанесение вазелина или масла предотвратит быстрое всасывание мази через кожу у пациентов, обладающих высокой чувствительностью дермы.
    p Иногда проработка участка, где имеется очаг деструктивных изменений (остеохондроз, артрит), вызывает неприятные ощущения во время работы мастера. Смещение зоны массажа на несколько сантиметров в сторону дает возможность исключить боль и сохранить лечебный эффект, который достигается доставкой лечебных компонентов через рядом расположенные кровеносные сосуды.
    +picture-tag(images[37], images[37].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 После массажа необходимо обязательно вымыть руки и заменить перчатки
      p Компоненты мазей, которые часто обладают местнораздражающим действием, не должны попасть на слизистую. Дополнительная рекомендация — принять душ, чтобы смыть все остатки смазывающего препарата, которые не успели впитаться.
    p Опытные мастера знают, что такие средства, как Финалгон, Слонц, Дольпик сложно смыть водой. Ограничение связано еще и с риском получить ожог. Остатки средства легко устраняются жиросодержащими компонентами — растительным маслом, молоком (высокой жирности), сметаной.
    a(href=images[38].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[38], images[38].mobile.jpg['1x'], '').article-page__image
    p При посещении хорошо обустроенного массажного кабинета в нем всегда есть возможность в любой момент смыть мазь, если во время процедуры внезапно появилось жжение.
    +picture-tag(images[39], images[39].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p После интенсивного разогрева тканей необходимо побыть в тепле и закрыть проработанные места шерстяными вещами.

    h2#nav-6 Разогревающие мази для спортивного массажа
    +picture-tag(images[40], images[40].mobile.jpg['1x'], '').article-page__image
    p Ушибы, растяжения, гематомы — будничные повреждения, которые встречаются у спортсменов как профессионального, так и любительского уровня. Однако снятие неприятных симптомов не является единственной причиной использования разогревающих мазей для спортивного массажа — лечебные препараты востребованы и для предотвращения разрыва мышечных волокон (они применяются до нагрузки) и усиленного восстановления (используются после тренировки).
    h3 ВИДЫ СМАЗЫВАЮЩИХ СРЕДСТВ ДЛЯ СПОРТСМЕНОВ
    +picture-tag(images[41], images[41].mobile.jpg['1x'], '').article-page__image
    p Среди множество препаратов, применяемых в спорте, на ум первым делом приходит вариант на базе никобоксила — Финалгон, однако количество смазывающих вариантов, полезных для атлетов, не ограничивается только им.
    p
      b Средства с умеренным прогревом:
    ul
      li
        b.article-page__highlighted-text Бенг-Гей.
        |
        | В профилактических целях используется для подготовки мышечной ткани к нагрузкам. Действующее вещество — метиловый эфир салициловой кислоты, который обезболивает, снимает спазм и мягко прогревает. В своей линейке производитель выпускает еще и усиленный вариант — спортивный бальзам, созданный для профессиональных спортсменов. Применяется при миалгиях, которые возникают до и после спортивной нагрузки.
      li
        b.article-page__highlighted-text Гевкамен.
        |
        | Препараты с камфорой (в том числе гель Пихтанол, камфоровая мазь) также воздействуют на мышцы с помощью щадящего прогрева, который не вызывает сильного чувства жжения. Гевкамен равным образом содержит ментол, поэтому сначала наблюдается охлаждающее, а уже затем согревающее действие.
    p Двойное действие диагностируется при сочетание ментола с любым компонентом, имеющим разогревающий эффект, — в таком случае мазь становится охлаждающе-разогревающей («действие 2 в 1»).
    +picture-tag(images[42], images[42].mobile.jpg['1x'], '').article-page__image
    p Если интенсивность тренировок повышена или мышцы слишком напряжены, то можно применять препараты более сильной группы.
    p
      b Мази с сильным разогревающим эффектом:
    ul
      li со скипидаром (Скипофит, скипидарная мазь);
      li с ядами змеи или пчел (Апизартрон, Вирапин, Кобратоксан, Наятокс);
      li на основе перца стручкового (Капсикам, Капситрин, Никофлекс);
      li с эфирными маслами (Эфкамон крем и бальзам, «вьетнамская звездочка»).
    p При получении травмы используют охлаждающие гели на основе ментола, анальгетиков, антикоагулянтов или некоторых эфирных масел. Для снятия напряжения применяется Бом-Бенге, состоящий из ментола и мяты перечной. Наносить их можно и до нагрузок, чтобы снять болевой синдром. Другой вариант — ментоловая мазь, обладающая неизменным охлаждающим эффектом. После 5 дней (с момента получения травмы) снова можно начинать пользоваться разогревающими мазями.
    +picture-tag(images[43], images[43].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p Используя сленг, спортсмены называют разогревающие средства просто — «растирками».
    h3 ТЕХНИКА ПРЕДВАРИТЕЛЬНОГО МАССАЖА
    +picture-tag(images[44], images[44].mobile.jpg['1x'], '').article-page__image
    p Цель выполнения массажа с мазью до тренировки — достижение глубокой разминки, которая предотвращает получение растяжений. Области проработки включают спину, бедра, области таза, на которые наносится разогревающее лекарство, или препарат втирается точечно (при гипертонусе отдельных мышечных групп). Большинство атлетов применяют сильнодействующие мази Финалгон, Дольпин, Форапин, но нужно учитывать, что при потоотделении они дополнительно усиливают прогрев тела. Апизартрон на основе пчелиного яда — другое популярное и универсальное средство, которое можно применять как до, так и после спортивной нагрузки.
    p
      b Алгоритм выполнения предстартового массажа:
    ol
      li выполнить сухой массаж до 3 минут;
      li нанести 2–3 г мази;
      li втирать до появления легкого покраснения (5–7 минут);
      li перейти к тренировке.
    p 50 % времени уделяется комбинированным поглаживаниям, оставшееся — ритмичному разминанию и потряхиванию. Если предстоит важное событие, требующее повышенной самоотдачи, то длительность сеанса увеличивается до 40–60 минут. После него необходимо посетить душ.
    +picture-tag(images[45], images[45].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Время подготовки мышц сокращается, если перед нанесением мази, используемой в спортивных целях, воздействовать на тело сухим теплом — нагретой грелкой, соляным или крупяным мешочком.
    h3 ТЕХНИКА ВОССТАНОВИТЕЛЬНОГО МАССАЖА
    +picture-tag(images[46], images[46].mobile.jpg['1x'], '').article-page__image
    p Интересный факт — скорость восстановления мышц после массажа увеличивается в 4 раза, если процедуры проводятся систематически. Оптимальное время для выполнения сеанса — от 30 минут до 4 часов после окончания тренировочного процесса. Для снятия усталости отлично подходит мазь Бен-гей, которая рекомендована производителем для использования после тренировок. Время восстановительного массажа обычно длится от 15 до 35 минут в зависимости от усталости.
    p
      b Особенности проведения:
    ol
      li выполнить сухой массаж необходимое время;
      li определить перенапряженные мышцы;
      li нанести на них 1–2 г мази;
      li втирать за 3–5 минут до окончания сеанса.
    p Спортсменам часто советуют посещать бассейн после нагрузки, но разминание руками способно заменить купание. Используя массаж с мазями после тренировки, можно быстро снять напряжение и избавить от «зажатости» мышц. После спортивного массажа также рекомендуется посетить парную или принять теплый душ.
    +picture-tag(images[47], images[47].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Бегунам и всем спортсменам, у которых основная нагрузка приходится на ноги, полезно после тренировки использовать венотоники (Троксевазин, Венорутон, гепариновую мазь).

    h2#nav-7 Массаж грудной клетки от бронхита
    +picture-tag(images[48], images[48].mobile.jpg['1x'], '').article-page__image
    p Отведение мокроты существенно затрудняется, если простуда поразила легкие. Ускорить выздоровление помогает массаж груди при бронхите и других расстройствах дыхательной системы. Применение аптечных мазей дает возможность целебным веществам быстро проникнуть через сосуды и достичь бронхов.
    h3 ВЫБОР МАССАЖНОЙ МАЗИ ПРИ БРОНХИТЕ
    +picture-tag(images[49], images[49].mobile.jpg['1x'], '').article-page__image
    p Все виды смазывающих препаратов объединяет один, но важный общий эффект — выраженное согревающее действие, необходимое для запуска восстановительных процессов в организме.
    p
      b Лекарственные мази для взрослых:
    ul
      li
        b.article-page__highlighted-text «Вьетнамская звездочка».
        |
        | Универсальное разогревающее средство на основе богатой комбинации эфирных масел, которые вызывают сильное ощущение потепления в груди.
      li
        b.article-page__highlighted-text Доктор Тайс Mucoplant эвкалипт.
        |
        | Мазь не содержит ментол, но усилена камфорой и экстрактом сосновой хвои.
      li
        b.article-page__highlighted-text Терафлю Бро.
        |
        | Противовоспалительная мазь, которую можно применять для массажа, усиливающего отхаркивание мокроты. Компоненты: масла (эвкалипт, розмарин), камфора, перуанский бальзам.
      li
        b.article-page__highlighted-text Скипидарная мазь.
        |
        | Недорогой вариант с сильным разогревающим эффектом.
      li
        b.article-page__highlighted-text Бриония.
        |
        | Гомеопатический препарат (на основе растения бриония), используемый при бронхите и трахеите. После нанесения вызывает обезболивающий и согревающий эффекты.
      li
        b.article-page__highlighted-text Абикап.
        |
        | Натуральное смазывающее средство с ментолом и эвкалиптовым маслом.
      li
        b.article-page__highlighted-text Викс Актив.
        |
        | Кроме камфоры, левоментола и эвкалипта содержит еще и терпентинное масло, усиливающее разогревающее влияние на грудь.
    p В продаже также встречаются и другие варианты: мазь Суприма-плюс, Растирка от Бабушки Агафьи, Кофол, Линкас балм, Комбигрипп.
    a(href=images[50].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[50], images[50].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p При сильном кашле мазью смазывают еще и заднюю часть грудного отдела, расположенного на спине.
    p Фармацевтическая промышленность выпускает разнообразные лечебные мази при бронхите у детей, в том числе и для грудничков, не достигших 12-месячного возраста.
    ul
      li
        b.article-page__highlighted-text Доктор мом фито.
        |
        | В состав входят левоментол, камфора и 4 эфирных масла. Смазывающее средство наносится на грудь при бронхите, но также допускается увлажнение практически любых болезненных мышц, расположенных и на других участках тела. На данный момент Доктор мом — самая популярная мазь от кашля для детей от 3 лет.
      li
        b.article-page__highlighted-text Пульмекс Бэби.
        |
        | Мягкая мазь, специально созданная для лечения детского кашля. Врачами допущена к применению малышами от 6 месяцев. Состав: масла эвкалипта и розмарина.
      li
        b.article-page__highlighted-text Розтиран.
        |
        | Согревающее смазывающее средство с мускатным, пихтовым и эвкалиптовым маслами. Рекомендовано к употреблению детьми и взрослыми.
      li
        b.article-page__highlighted-text Барсучок детский.
        |
        | Среди натуральных средств также выделяют препараты на основе барсучьего жира. Производитель выпускает еще и вариант для взрослых (без приставки «детский» в названии). Аналог — массажная мазь Барсукор.
    p Если у ребенка чувствительная кожа, то от средств, содержащих эфирные масла, лучше отказаться в пользу вариантов, созданных на базе барсучьего жира.
    +picture-tag(images[51], images[51].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Чтобы ускорить выздоровление, необходимо дополнять массаж с мазями увеличением объема жидкости, выпитой в сутки.
    h3 ТЕХНИКА МАССАЖА С МАЗЯМИ ДЛЯ ВЗРОСЛЫХ И ДЕТЕЙ
    +picture-tag(images[52], images[52].mobile.jpg['1x'], '').article-page__image
    p Простуженные пациенты могут использовать грудные мази для самостоятельного растирания (нанесение выполняется в произвольном порядке) или с помощью мастера, который использует комбинацию различных приемов. Сначала больной принимает горизонтальное положение тела, а затем начинается процедура.
    p
      b Ограничения:
    ol
      li не дотрагиваться смазанными руками до слизистой и лица;
      li не выполнять массаж при высокой температуре;
      li избегать сильного воздействия на сердце.
    p У лиц, страдающих кардиологическими болезнями, из списка зон воздействия и вовсе исключается область сердца: массаж грудной клетки с левой стороны может вызвать приступ.
    a(href=images[53].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[53], images[53].mobile.jpg['1x'], '').article-page__image
    p Разогревающие мази наносят на грудную клетку очень бережно, чтобы также не попасть на поверхность чувствительной кожи сосков, в том числе и во время массирования. У женщин мазь не наносится на молочные железы. Общее время процедуры занимает от 5 до 10 минут.
    +picture-tag(images[54], images[54].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Действие массажа, выполняемого от болезней легких, усиливается, если за 30 минут до процедуры принять внутрь жидкое отхаркивающее средство.
    p Перед нанесением мази проводится 3-минутное сухое поверхностное разминание мышц, затем переходят к классическому массажу груди. В зависимости от состояния больного можно разделить массаж на 2 этапа — сначала прорабатывается область диафрагмы, затем спины.
    p
      b Техника массажа для взрослых:
    ol
      li
        b.article-page__highlighted-text Подготовительные поглаживания.
        |
        | Траектория движения рук проходит от шеи до участка, где заканчиваются ребра. Манипуляции выполняются сверху вниз.
      li
        b.article-page__highlighted-text Глубокое растирание грудных мышц.
        |
        | Сжав пальцы, массажист подушечками пальцев проводит по малой и большой грудным мышцам.
      li
        b.article-page__highlighted-text Разминание.
        |
        | Воздействие на мышечные волокна изменяется: захватываются небольшие кожные складки, но уже всей внутренней частью ладони.
        a(href=images[55].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[55], images[55].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Постукивания.
        |
        | Одна рука накладывается на грудную клетку, на которую мягко воздействует кулак, сформированный второй рукой. Постукивание приводит к вибрирующему эффекту, способствующему очищению бронхов.
      li
        b.article-page__highlighted-text Вибрация.
        |
        | Рука накладывается на тело, затем она двигается по грудной клетке и плавно сдвигается в стороны, выполняя волнообразные движения.
      li
        b.article-page__highlighted-text Финальные поглаживания.
        |
        | Серия легких касаний, которая выполняется в начале сеанса, снова повторяется. Прием успокаивает мышцы.
        a(href=images[56].mobile.jpg['1x'] target='_blank')
          +picture-tag(images[56], images[56].mobile.jpg['1x'], '').article-page__image.article-page__image_with-description
        p.article-page__image-description
          em Усилить воздействие можно баночным массажем.
    p Если требуется достичь расслабления, снять болезненное напряжение и стимулировать глубокое дыхание, то можно использовать методики китайской медицины — акупунктуру. Если в течение 45 секунд надавливать на точку между бровями, а затем на CV 17, то можно достичь всех вышеперечисленных эффектов.
    +picture-tag(images[57], images[57].mobile.jpg['1x'], '').article-page__image
    p Для детей проводится более щадящее воздействие, которое показано на фото массажа грудной клетки с использованием мазей.
    a(href=images[58].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[58], images[58].mobile.jpg['1x'], '').article-page__image
    p При воздействии на руки и ноги малыша нанесение мази осуществляется кратковременно — в конце сеанса. Другой вариант — включить проработку стоп и ладоней без добавления смазывающего препарата, если конечности прорабатываются на этапе выполнения сухого массажа (в начале процедуры).
    +picture-tag(images[59], images[59].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Детский перкуссионный массаж
      p Простая и короткая процедура, которая облегчает освобождение бронхов от скопившейся слизи. Методика выполнения: в указанной позиции производится легкое массажное похлопывание спины (до 15 с). Затем ребенку дают прокашляться в положении сидя. Прием выполняется при отсутствии высокой температуры. Выполнять процедуру можно с мазью или без нее.
    p Чтобы быстро удалить мокроту, необходимо подготовить полотенце или салфетки еще до начала сеанса. После нормализации дыхания можно выпить горячий травяной чай.
    +picture-tag(images[60], images[60].mobile.jpg['1x'], '').article-page__image
    p Лечение легких рационально проводить на ночь, чтобы усилить прогрев проблемной зоны тела. Уже после 2–3 процедур состояние значительно улучшается.
    +picture-tag(images[61], images[61].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Важно
      p Курс лечения массажем с добавлением разогревающих мазей не должен превышать 10 дней.

    h2#nav-8 Массаж при пяточной шпоре
    +picture-tag(images[62], images[62].mobile.jpg['1x'], '').article-page__image
    p Плантарный (подошвенный) фасциит — медицинское название неприятного ощущения, которое возникает в области стопы. Причина — формирование костного выроста (остеофита), вызывающего локальную компрессию рецепторов. Болевой синдром возникает при нагрузке, но если пройти массаж пятки при шпоре, то его можно устранить. Целебное воздействие влияет на несколько групп мышц, расположенных в нижних конечностях и связанных с болезненным местом. Учитывая возникновение воспалительно-дегенеративного процесса, врачи рекомендуют использовать во время лечебного массажа медицинские мази, помогающие усилить их действие в несколько раз.
    h3 МАЗИ ДЛЯ ИСПОЛЬЗОВАНИЯ В МАССАЖЕ СТОПЫ
    +picture-tag(images[63], images[63].mobile.jpg['1x'], '').article-page__image
    p Боли в подошве стопы — распространенный недуг, который чаще встречается у пациентов в возрасте от 40 лет. По этой причине в аптеке представлен богатый выбор смазывающих средств, используемых именно при шпоре.
    p
      b Мази и гели для стоп:
    ul
      li
        b.article-page__highlighted-text Пяткашпор.
        |
        | Гель на основе масла эму, яблочного уксуса, экстракта прополиса, пчелиного воска и мочевины останавливает рост костного выроста и одновременно размягчает грубые кожные наросты на подошве.
      li
        b.article-page__highlighted-text Орто крем.
        |
        | Противовоспалительное средство с хреном, лопухом, можжевельником и маслом лимона дополнительно — кроме главного предназначения — избавляет еще и от усталости в ногах и трещин.
      li
        b.article-page__highlighted-text ШпорНет.
        |
        | Богатый состав, включающий мумие и масло какао, увеличивает способность ноги выдерживать нагрузку.
      li
        b.article-page__highlighted-text Акулий жир.
        |
        | Для устранения пяточной шпоры приобретается специальный крем для ног, а не суставов. Входящий в состав золотой ус заживляет кожу, а ментол — охлаждает.
    p Для лечения могут использоваться также варианты универсального действия: Димексид, Долобене, Гидрокортизон (гормональный вариант для быстрого подавленяи воспаления).
    +picture-tag(images[64], images[64].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p В группу риска входят: футболисты, лица с лишним весом и болезнями суставов. Ношение неудобной обуви, в том числе с высоким каблуком, также создает неравномерное распределение нагрузки и неправильный отток крови.
    h3 ТЕХНИКА МАССАЖА НОГ ПРИ ШПОРЕ
    +picture-tag(images[65], images[65].mobile.jpg['1x'], '').article-page__image
    p Перед началом процедуры необходимо распарить ногу, чтобы лечебные вещества быстрее проникали через кожу. Положение — сидя или лежа на кушетке.
    p
      b Способы экстренного снятия боли:
    ul
      li Воздействие на заднюю большеберцовую мышцу (пациент лежит на спине). Без массирования осуществляется глубокое надавливание на нее через раздвигание головок икроножной мышцы (голень). После манипуляции боль начинает проходить, поскольку происходит проработка самых глубоких мышечных слоев, связанных с соединительной тканью, расположенной на стопе.
      li Проработка камбаловидной мышцы (пациент лежит на животе). Специалист сгибает ногу, затем стопу, после он делает упор рукой на подошву. В таком положении она растягивается — в итоге исчезает спазм и боль.
    a(href=images[66].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[66], images[66].mobile.jpg['1x'], '').article-page__image
    a(href=images[67].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[67], images[67].mobile.jpg['1x'], '').article-page__image
    p Вспомогательный прием — легкое постукивание стопы, которое необходимо повторять после проработки вышеописанных мышечных групп.
    p
      b Массаж с мазью:
    ul
      li
        b.article-page__highlighted-text «Щипцы».
        |
        | 4 пальца находятся на пятке, а большой — на боковой части ноги, примыкающей к подошве. Сжимающими движениями, идущими к пяточному бугру, повторяется мягкое разминание кожи и мягких тканей.
      li
        b.article-page__highlighted-text «Круг».
        |
        | Пятка удерживается всей ладонью, а затем рука выполняет движение, описывающее окружность. Продолжительность — до 2 минут.
      li
        b.article-page__highlighted-text «Гребни».
        |
        | Выполняется классическое гребневидное разминание (фалангами 4 пальцев), но только на пятке.
      li
        b.article-page__highlighted-text «2 точки».
        |
        | Вращение повторяется, но теперь в этом приеме 2 большими пальцами, которые переносятся на пятку.
      li
        b.article-page__highlighted-text «Смещение».
        |
        | Прием выполняет 2 руками, которые обхватывают пятку по бокам, а затем двигаются в сторону ахиллова сухожилия. «Смещение» выполняется до 1 минуты. После усилия повторяется упражнение «Щипцы».
    a(href=images[68].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[68], images[68].mobile.jpg['1x'], '').article-page__image
    p Перед началом массажа болезненная нога смазывается противовоспалительной мазью (1 г). Ее использование также упрощает выполнение лечебных приемов с помощью увлажнения кожи, облегчающего скольжение рук (кожа на пятках часто чрезмерна груба).
    +picture-tag(images[69], images[69].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Предупреждение
      p Если не начать консервативное лечение шпоры, то патологический процесс будет усиливаться из-за разрастания шипа (остеофита). В запущенных стадиях устранить недуг можно только хирургически.
    h3 МАССАЖ ПЯТОК В ДОМАШНИХ УСЛОВИЯХ
    +picture-tag(images[70], images[70].mobile.jpg['1x'], '').article-page__image
    p Самый простой вариант самомассажа пяточной шпоры — раскатывание бутылки стопой. Если нет возможности обратиться к специалисту, то такая техника дает возможность проработать проблемную зону и вызвать временное облегчение. Контакт ноги с подручным «массажером» усложняется, если катать его сразу после нанесения мази, поэтому для упрощения выполнения процедуры нужно сначала использовать лечебный препарат и дождаться его впитывания, а уже затем перейти к лечебному воздействию на стопу.
    +picture-tag(images[71], images[71].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Чтобы существенно облегчить болезненное состояние, можно в купе с массажем использовать вспомогательные методы коррекции, защищающие стопу от травм.

    h2#nav-9 Массаж при переохлаждении
    +picture-tag(images[72], images[72].mobile.jpg['1x'], '').article-page__image
    p Длительное воздействие низких температур создает риски, связанные с повреждением кожи и мягких тканей, в то время как массаж при переохлаждении дает возможность избежать негативных последствий. Можно проводить сухие растирания, которые создают приток крови к слабо защищенному от холода места, а также использовать мази. Поступление определенных веществ восстанавливает здоровое состояние организма.
    h3 ВИДЫ МАЗЕЙ
    +picture-tag(images[73], images[73].mobile.jpg['1x'], '').article-page__image
    p Если «продуло» спину и необходимо исключить вероятность появления миозита, то следует использовать разогревающие мази.
    p
      b Лечебные средства с согревающим эффектом:
    ol
      li Финалгон;
      li Фастум;
      li Апизатрон;
      li Слонц;
      li Капсикам;
      li Вольтарен;
      li Меновазин;
      li Эфкамон;
      li Эспол;
      li Вольтарен.
    p Наносят мази при переохлаждении спины, рук, ног во время массажа, который выполняется по той же технике, что и без использования смазывающих средств. При переохлаждении ног можно использовать приемы, выполняемые при пяточной шпоре (внутренняя ссылка), а также распространить воздействие на всю стопу (прорабатываются еще и пальцы).
    +picture-tag(images[74], images[74].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Растирание переохлажденного участка тела рекомендуется выполнять даже при отсутствии признаков воспаления мышц: первые болезненные симптомы обычно возникают через 10 часов после воздействия холода.
    h3 МЕТОДИКА СОГРЕВАЮЩЕГО МАССАЖА
    +picture-tag(images[75], images[75].mobile.jpg['1x'], '').article-page__image
    p Отдельной техники массажа при риске местного отморожения не существует — достаточно проводить активные растирания до появления легкого розового оттенка кожи. Однако нужно знать об технике безопасности при выполнении процедуры, которая восстанавливает кровоснабжение в отдаленные участки тела.
    p
      b Правила массажа:
    ol
      li
        b.article-page__highlighted-text Обработка.
        |
        | Перед контактом с кожей необходимо протереть руки спиртом, чтобы исключить вероятность занесения инфекции.
      li
        b.article-page__highlighted-text Последовательность.
        |
        | Растирания начинаются со здоровых участков (с «периферии») и планомерно захватывают поврежденные участки, пока массажист не доберется до главного очага поражения.
      li
        b.article-page__highlighted-text Утепление.
        |
        | После процедуры человека накрывают шерстяными вещами и оставляют в теплом помещении.
    p После лечебного воздействия переохлажденного отправляют принять ванну, но температура должна быть не выше 40 градусов, чтобы не допустить опасного контраста, который может быть губительным для кожи. Растирания можно также проводить и в воде, но воздействие должно быть максимально щадящим.
    +picture-tag(images[76], images[76].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Если переохлаждение сильное, то пострадавший должен во время массажа также и сам двигать конечностями, чтобы ускорить согревание.
    p Восстановительный массаж может быть назначен с целью ускорить адаптацию кожи: усиление лимфо- и кровообращения предотвращает кислородное голодание и нормализует обмен веществ. Если на коже появились рубцы, то лечебная процедура ускоряет их заживление. Количество сеансов — от 5 до 10. Время воздействия — до 30 минут.
    p
      b Правила массажа:
    ol
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Внутренней частью ладони проводят по всей поверхности тела (начиная с головы и заканчивая ногами).
      li
        b.article-page__highlighted-text Растирания.
        |
        | Подушечками пальцев растирают сначала спину (сверху вниз), затем — руки, после — ноги.
      li
        b.article-page__highlighted-text Разминания.
        |
        | В аналогичной последовательности прорабатывают все мышечные группы с помощью захватывания и легкого оттягивания кожных складок.
      li
        b.article-page__highlighted-text Поглаживания.
        |
        | Серия плавных манипуляций, которая была в начале, снова повторяется, чтобы успокоить больного.
    p У всех, кто пострадал от холода и реабилитируется после травмы, из серии лечебных приемов исключают методы рубления и поколачивания.
    a(href=images[77].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[77], images[77].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Запрещено проводить массаж при обморожении на тех участках тела, где появились волдыри
      p Первым делом необходимо обработать дерму антисептическим раствором, а затем вызывать врача.

    h2#nav-10 Противопоказания к использованию мазей
    +picture-tag(images[78], images[78].mobile.jpg['1x'], '').article-page__image
    p Глубокое проникновение лечебных веществ во время массажа обязывает внимательно изучать все противопоказания, связанные с использованием мазей.
    h3 ОБЩИЕ ОГРАНИЧЕНИЯ ДЛЯ ВСЕХ ВИДОВ МАЗЕЙ
    +picture-tag(images[79], images[79].mobile.jpg['1x'], '').article-page__image
    p
      | Независимо от типа смазывающего вещества, отказаться от сеанса следует при наличии общих
      |
      a.link.link_primary.underline(href='/informatsiya/protivopokazaniya-k-massazhu/') противопоказаний к массажу
      | , а также при определенных состояниях, несовместимых с добавлением жидкого лекарства во время выполнения процедуры.
    p
      b Табу на массаж с мазями:
    ol
      li непереносимость действующего вещества;
      li дерматит и другие аллергические кожные поражения;
      li мокнущие экземы;
      li раневая поверхность;
      li язвенно-некротические процессы на коже.
    p При небольших ранках и единичных высыпаниях массаж проводить можно, но только без воздействия на проблемную зону. Разминание руками проводится на расстоянии не менее 5 сантиметров от поврежденного участка дермы.
    +picture-tag(images[80], images[80].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 С осторожностью следует использовать смазывающие средства при почечной и печеночной недостаточности
      p При тяжелой форме недуга (КК — менее 30 мл в мин.) от применения густых лекарственных средств нужно полностью отказаться.
    h3 ПРОТИВОВОСПАЛИТЕЛЬНЫЕ
    p Мази НПВС не используют при наличии «аспириновой астмы» (непереносимости ацетилсалициловой кислоты), поллинозе носа рецидивирующего типа, тяжелых почечных и печеночных заболеваниях, беременности и в период лактации. При одновременном использовании глюкокортикостероидных препаратов увеличивается риск развития НПВС-гастропатии (появление эрозийно-язвенного поражения). Большинство препаратов группы НПВС можно применять только после 6 лет.
    +picture-tag(images[81], images[81].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Финалгон не рекомендуется использовать до 18 лет: действие нонивамида на формирующийся организм еще до конца не изучено. Гель Найз не используют до 7 лет.
    h3 МЕСТНОРАЗДРАЖАЮЩИЕ
    p Смазывающие вещества этой группы вызывают сильный приток крови к месту нанесения, а также увеличивают риск развития аллергической реакции (крапивницы, зуда), поэтому разогревающие мази при беременности нельзя использовать.
    +picture-tag(images[82], images[82].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Внимание
      p Согревающие средства также не наносят на кожу в период грудного вскармливания из-за риска появления небезопасных компонентов в молоке.
    h3 ОБЕЗБОЛИВАЮЩИЕ
    p Убирая болевой синдром, анальгетизирующие мази не всегда лечат причины неприятного ощущения, поэтому если они сохраняются длительно (более 5 дней), то от их применения стоит отказаться и обратиться к врачу.
    h3 СОСУДИСТЫЕ (ОТ ВАРИКОЗА)
    p При использовании мазей вместе с приемом таблеток необходимо удостовериться в отсутствии болезней желудка и двенадцатиперстной кишки (язвы, очаги воспаления). Чтобы снизить негативное влияние на слизистую, необходимо дополнять курс приемом средств, которые усиливают выработку защитного секрета. Лучшие варианты: Пантопразол, Нольпаза. Таблетки и мази от варикоза не используют в возрасте до 15 лет и во время вынашивания плода.
    +picture-tag(images[83], images[83].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Гепариновую мазь допускается использовать во время беременности.
    h3 ХОНДРОПРОТЕКТОРЫ (ПРИ ОСТЕОХОНДРОЗЕ И АРТРИТЕ)
    p Одновременное использование мазей-хондропротекторов в массаже с приемом таблеток внутрь создает риски для желудка, аналогичные при лечении варикоза. Для сохранения здоровья необходим прием медикаментов, защищающих ЖКТ.
    +picture-tag(images[84], images[84].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Предупреждение
      p Некоторые густые виды мазей (Индометацин) усложняют выполнение массажных приемов — иногда липкая консистенция может даже доставить боль человеку. Для разжижения допускается смешивать ее с вазелином.
