extends ../layouts/article

block variables
  -
    pageData = {
      description: `У большинства граждан старше 40 лет остеохондроз диагностируется в подавляющем большинстве случаев.
        Невнимательное отношение к собственному здоровью приводит сначала к легким изменениям, которые практически
        не беспокоят, но вскоре сменяются неприятными симптомами — болями, напряжением и скованностью. Рассмотрим саму
        болезнь, а также ее профилактику и лечение с помощью лечебного массажа`,
      keywords: `остеохондроз, лечебный массаж`,
      pageClass: 'article-page',
      theme: 'main'
    }
  - var article = articles[11]
  - pageData.article = article
  -
    var images = []
  -
    for (var i = 1; i <= 95; i++) {
      - images.push({
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': `${THEME_IMG_PATH}/articles/osteochondrosis/image_${i}@2x.webp`
          },
          jpg: {
            '1x': `${THEME_IMG_PATH}/articles/osteochondrosis/image_${i}@2x.jpg`
          }
        }
      })
    }

block article-content
  .article-page__content
    +picture-tag(images[0], images[0].mobile.jpg['1x'], '').article-page__image
    .article-page__abstract
      p#nav-1 Клинические обследования позвоночника (рентген, МРТ, КТ), которые периодически проходит каждый пациент, эффективно выявляют все болезненные состояния «каркаса» нашего организма. У большинства граждан старше 40 лет остеохондроз диагностируется в подавляющем большинстве случаев. Невнимательное отношение к собственному здоровью приводит сначала к легким изменениям, которые практически не беспокоят, но вскоре сменяются неприятными симптомами — болями, напряжением и скованностью. Пристальное изучение факторов развития болезни и патогенеза полезно для каждого: старение и разрушение межпозвонковых дисков начинается в жизни — рано или поздно — у каждого человека.

    h2#nav-2 Что такое остеохондроз: симптоматика и признаки болезни
    +picture-tag(images[1], images[1].mobile.jpg['1x'], '').article-page__image
    p Здоровое состояние позвоночника характеризуется наличием неповрежденных дисков, которые разделяют позвонки. Выполняя амортизирующую функцию, они придают ему повышенную гибкость, облегчающую совершение ходьбы, бега, прыжков. Дегенеративные изменения хрящевой ткани приводят к снижению естественной высоты дисков, заставляющей их со временем вступать в контакт друг с другом.
    p Одновременно диск меняет свою форму — он становится приплюснутым, а его часть смещается к краям столба. Иными словами разрушение соединительной ткани в позвоночнике — вот что такое остеохондроз, который локализуется в определенном участке позвоночника (шея, грудь или поясница). Признаки болезни в каждом случае отличаются друг от друга.
    a(href=images[2].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[2], images[2].mobile.jpg['1x'], '').article-page__image
    p
      b Симптомы шейного остеохондроза:
    ol
      li появление боли в шее и затылке;
      li гипертонус (напряженность) плечевого пояса;
      li иррадиация боли в голову или руки;
      li возникновение звуковых галлюцинаций;
      li появление шума в голове;
      li учащение головокружений;
      li диагностирование скачков давления.
    p При сдавливании сосудов, которые вызывают сокращение поступления крови к головному мозгу, у пациентов наблюдается также: снижение умственных способностей, ухудшение слуха и остроты зрения.
    +picture-tag(images[3], images[3].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p При корешковом синдроме — защемлении нерва — у пациентов с остеохондрозом шейно-воротниковой зоны возможно даже периодическое онемение языка.
    p
      b Симптомы грудного остеохондроза:
    ol
      li возникновение сердечных болей;
      li иррадиация болей в желудок и ребра;
      li усиление боли при подъеме рук;
      li появление горба (при грудном кифозе);
      li дискомфорт во время глубокого вдоха или выдоха;
      li чувство сдавливания клетки невидимым обручем;
      li облегчение состояния во время ходьбы;
      li нарушение координации движений.
    p Вызывая боль в области диафрагмы, грудной остеохондроз часто путают с кардиологическим заболеванием. Выявить недуг, существующий у пациента, легко: отсутствие поражения сердца указывает на поражение костной и хрящевой ткани в области грудины. Во время приступа, который считают кардиологическим, прием нитроглицерина равным образом не приносит положительного эффекта.
    +picture-tag(images[4], images[4].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Иннервация сердца (обеспечение связи органа с нервными окончаниями спинного мозга) связана с 1 по 6 грудными позвонками, а пищевода — с 5 по 9.
    p
      b Симптомы поясничного остеохондроза:
    ul
      li боли в области спины;
      li иррадиация болевого синдрома в ноги;
      li возникновение судорог (особенно ночью);
      li нарушение чувствительности ягодиц;
      li плохое кровоснабжение стоп;
      li варикозная болезнь (иногда).
    p Именно при пояснично-крестцовом остеохондрозе часто диагностируется люмбаго — состояние, сопровождающееся возникновением в пояснице сильнейшей боли, которая активизируется во время начала практически любого движения или при поднятии тяжелых предметов.
    +picture-tag(images[5], images[5].mobile.jpg['1x'], '').article-page__image
    p Распространенность остеохондроза в области поясницы превышает поражения в груди и шее: при перемещении тела в пространстве и совершении физических действий максимальную нагрузку испытывает именно этот отдел. Крестец позвоночника очень редко поражается в отдельности — обычно деструктивные процессы в нем развиваются из-за смещения дисков, относящихся к поясничной части позвоночника.
    +picture-tag(images[6], images[6].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Общие признаки остеохондроза
      p Вне зависимости от локализации повреждения остеохондроз вызывает: ощущение онемения конечностей, снижение работоспособности и нарушение кровообращения.

    h2#nav-3 Причины появления остеохондроза (патогенез)
    +picture-tag(images[7], images[7].mobile.jpg['1x'], '').article-page__image
    p Риски возникновения дегенеративных изменений увеличиваются с возрастом, однако причины остеохондроза связаны не только с этим фактором. Неправильное распределение нагрузки — главное негативное воздействие, которое возникает равным образом у молодых лиц.
    p
      b Причины появления остеохондроза:
    ul
      li длительное сохранение неудобной позы;
      li травмы, ушибы, переломы;
      li генетический фактор;
      li нарушения осанки и сколиоз;
      li чрезмерные физические нагрузки (в том числе спорт);
      li кратковременное перенапряжение (перенос тяжелых предметов);
      li малоактивный образ жизни;
      li опухоли, воздействующие на позвоночник;
      li длительное ношение сумок на плече;
      li ожирение;
      li сон на чрезмерно мягких матрасах;
      li длительный невроз и стресс;
      li употребление экологически небезопасных продуктов.
    p Курение и употребление алкогольных напитков — вредные привычки, которые нарушают метаболизм, поэтому восстановление клеток хряща происходит медленнее. Никотин и алкоголь создают условия для дефицита коллагена, локальной дегидратации хрящевой ткани и уменьшения плотности клеток. Возникать сильные нагрузки, оказываемые на межпозвонковые диски, могут и при опасном поведении — склонности совершать резкие движения, привычке принимать неудобные позы, а также делать резкие наклоны и развороты.
    +picture-tag(images[8], images[8].mobile.jpg['1x'], '').article-page__image
    p Остеохондроз можно назвать профессиональной болезнью у ряда лиц, вынужденных длительное время находиться в одинаковой позе или долго выполняющих монотонные действия (грузчики, водители, крановщики, горнорабочие, лесорубы, работники на конвейерных фабриках, продавцы, парикмахеры). В эту группу также входят все должности, которые относят к офисной сфере: бухгалтеры, менеджеры, секретари, инженеры.
    +picture-tag(images[9], images[9].mobile.jpg['1x'], '').article-page__image
    p Нарушения в позвоночнике возникают у спортсменов не только из-за чрезмерной нагрузки, но также причины появления остеохондроза зависят от соблюдения атлетами техники безопасности. Профессионалы знают, что нельзя не только резко увеличивать нагрузку, но и резко ее сокращать (делать длительный перерыв в тренировках). Начинающие посетители тренажерного зала или любители, занимающиеся в домашних условиях, совершают другую ошибку — неправильно держат спину, особенно при выполнении приседаний и упражнений на пресс. Подобные ошибки ведут к уменьшению высоты межпозвоночных дисков.
    a(href=images[10].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[10], images[10].mobile.jpg['1x'], '').article-page__image
    p У профессиональных спортсменов причины боли при остеохондрозе связаны с развитием недуга из-за длительного и частого влияния толчков и ударов (особенно у хоккеистов), постепенно изнашивающих позвоночник. Увеличенную опасность представляют горнолыжные виды спорта, которые обязывают выдерживать сильные нагрузки во время совершения спуска и лавирования.
    a(href=images[11].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[11], images[11].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Плоскостопие — важный фактор развития остеохондроза, который образуется из-за смещения нагрузки, поглощаемой (амортизируемой) преимущественно не конечностями, а позвоночником. Аналогичный негативный эффект сохраняется и у лиц, использующих неудобную или тесную обувь. Все они попадают в группу высокого риска.

    h2#nav-4 Разновидности остеохондроза: локализация и степени поражения
    a(href=images[12].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[12], images[12].mobile.jpg['1x'], '').article-page__image
    p Позвоночник — это осевая часть скелета, которая имеет значительную протяженность. Начинаясь в области головы и заканчиваясь в крестце, «каркас» человека испытывает нагрузки, способные деформировать разные участки позвоночного столба. Из-за этой особенности остеохондроз различают на несколько видов, если исходить из места его возникновения.
    p
      b Отделы, которые поражает остеохондроз:
    ol
      li шейный;
      li грудной;
      li поясничный.
    +picture-tag(images[13], images[13].mobile.jpg['1x'], '').article-page__image
    p Независимо от места расположения, болезнь всегда прогрессирует по идентичной схеме — больной позвонок постепенно смещается, а диск, планомерно разрушаясь, не может дальше амортизировать возникающие нагрузки. По этой причине выделяют определенные виды остеохондроза, которые можно разделить на стадии.
    h3 1 СТАДИЯ
    +picture-tag(images[14], images[14].mobile.jpg['1x'], '').article-page__image
    p Начальная форма болезни, которая часто развивается практически бессимптомно. Однако она создает условия для дальнейшего ухудшения состояния пациента.
    ul
      li незначительное снижение высоты межпозвонкового диска;
      li возникновение дефектов фиброзного кольца;
      li дефицит влаги в хрящевой ткани.
    p Острый болевой синдром появляется редко — у пациента возникает только боль тянущего типа и исключительно при сохранении неудобного положения тела.
    a(href=images[15].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[15], images[15].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p На 1 стадии остеохондроза пульпозное ядро — центр внутри фиброзного кольца — практически всегда остается неизменным.
    h3 2 СТАДИЯ
    +picture-tag(images[16], images[16].mobile.jpg['1x'], '').article-page__image
    p Дальнейшее прогрессирование остеохондроза приводит к более ощутимым изменениям.
    ul
      li значительное снижение размеров диска;
      li возникновение надрывов и натяжения фиброзного кольца;
      li смещение студенистого ядра к краю кольца;
      li частичная атрофия отдельных мышц и связок;
      li изменения костной ткани (остеофиты);
      li повышение подвижности позвонков.
    p Больные со 2 степенью остеохондроза уже сталкиваются с острой болью, а при обследовании у них нередко обнаруживаются посторонние костные выросты в области позвонков. При периодическом сдавливании нервных корешков появляются очаги воспаления и сильный болевой синдром, который исчезает после устранения патологического процесса.
    .article-page__highlight
      p Именно на этой стадии и формируется протрузия — смещенный участок диска, который все больше приобретает приплюснутую форму.
    h3 3 СТАДИЯ
    +picture-tag(images[17], images[17].mobile.jpg['1x'], '').article-page__image
    p Подвывыхи и смещение позвонков — распространенные явления на данной стадии, которая характеризуется появлением боли через короткий промежуток времени. Неприятные ощущения возникают после выполнения физической активности или принятия неудобной позы.
    ul
      li полное разрушение фиброзного кольца;
      li частичный выход студенистого ядра через кольцо;
      li сильная дегидратация (обезвоживание) диска;
      li сдавливание нервных корешков;
      li учащение приступов радикулита.
    p Пациенты с 3 стадией остеохондроза в 100 % случаях ощущают периодическое онемение конечностей, особенно во время или сразу после сна. Парезы — нарушения двигательных функций — возникают в большинстве случаев.
    h3 4 СТАДИЯ
    +picture-tag(images[18], images[18].mobile.jpg['1x'], '').article-page__image
    p Последняя фаза прогрессирования болезни связана с появлением наиболее тяжелых изменений. Учитывая способность организма регенерироваться, медики отмечают, что вместо межпозвоночного диска появляется соединительная ткань, однако она не способна в полной мере защитить позвонки от повреждений.
    ul
      li частичное (более 75 %) или полное разрушение диска;
      li травмирование позвонков из-за контакта друг с другом;
      li отмирание части клеток фиброзного кольца;
      li появление грыжи;
      li существенное ограничение подвижности человека.
    p Диагностирование остеохондроза 4 стадии — это самое обременительное осложнение, которое часто корректируется с помощью операции. Безальтернативно вмешательство при секвестрации грыжи — отделении ее от диска и попадании в области спинного мозга.
    +picture-tag(images[19], images[19].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p В последней фазе болезни боль может настигать больного даже при рядовом наклоне головы или чихании.

    h2#nav-5 Нюансы диагностики и постановки диагноза
    +picture-tag(images[20], images[20].mobile.jpg['1x'], '').article-page__image
    p Боли и напряжение в области спины еще не являются безоговорочным подтверждением, что у человека есть нарушения в опорно-двигательном аппарате. Чтобы точно определить причины неприятных ощущений, врачами проводится диагностика остеохондроза с целью отвергнуть или подтвердить предварительно поставленный диагноз. Для получения достоверных сведений используется несколько способов.
    h3 МЕТОДЫ ДИАГНОСТИКИ ОСТЕОХОНДРОЗА
    +picture-tag(images[21], images[21].mobile.jpg['1x'], '').article-page__image
    p Врач во время первичного обращения пациента осматривает его визуально: изучает осанку, проверяет рефлексы, выявляет болезненность в определенных участках тела. Специалист также оценивает общее состояние больного, в том числе осведомляется со списком его хронических болезней. После консультации он отправляет пациента пройти исследование.
    +picture-tag(images[22], images[22].mobile.jpg['1x'], '').article-page__image
    p
      b Варианты обследований:
    ol
      li
        b.article-page__highlighted-text Рентген.
        |
        | Распространенный метод определения остеохондроза, часто применяемый в бюджетных клиниках, дает возможность оценить степень уменьшения высоты дисков и выявить вероятные опасные изменения — появление протрузий и грыж. Обычно используется сегментарный способ изучения: при диагностике шейного остеохондроза делают снимок области головы, грудного — диафрагмы, поясничного — нижнего отдела позвоночника. Время обследования не превышает 1–2 минут.
      li
        b.article-page__highlighted-text МРТ.
        |
        | Более современный способ, который дает лучшую детализацию и отсутствие распространенного изъяна рентгенологического исследования — заслонения позвонков другими органами и тканями. В этом методе магнитное поле (вместо лучей) дает возможность визуально отобразить состояние внутренних органов пациента. МРТ обладает способностью также выявлять и другие недуги: остеопороз, опухоли позвоночника, артрит. Длительность процедуры — при полном изучении позвоночного столба — может составлять до 40 минут.
      li
        b.article-page__highlighted-text Компьютерная томография (КТ).
        |
        | Метод также использует рентгенологические лучи, но их сканирование идет в нескольких плоскостях, поэтому удается получить не двух-, а трехмерное изображение. Исследование длится до 15 минут.
      li
        b.article-page__highlighted-text УЗИ.
        |
        | Относительно безопасный метод, помогающий внимательно изучить любой отдел позвоночника. Выгодное отличие — возможность видеть изменения при движении спины, головы или грудной клетки, в то время как МРТ-диагностика обязывает пациента сохранять исключительно статичную (неподвижную) позу.
      li
        b.article-page__highlighted-text Лабораторные анализы.
        |
        | Сдача крови и мочи — вспомогательные методы диагностики, позволяющие комплексно оценить состояние больного и выявить факторы, влияющие на появление болезни. Полученные результаты также дают информацию о наличии или отсутствии воспалительного процесса в организме.
    +picture-tag(images[23], images[23].mobile.jpg['1x'], '').article-page__image
    p Выбирая методы диагностики остеохондроза при беременности, врач ограничивается только сбором анализов, УЗИ-обследованием и осмотром, поскольку во время вынашивания плода КТ, МРТ и рентгенография противопоказаны. Если недуг выявлен, то его стадия определяется на основе характерных симптомов.
    a(href=images[24].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[24], images[24].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Ультразвуковая допплерография (УЗДГ)
      p Назначается как дополнительный метод, определяющий скорость прохождения крови по сонным и позвоночным артериям. При остеохондрозе последние составляющие кровеносной системы часто ущемляются, нарушая снабжение тканей и органов головы.
    h3 СХОЖИЕ С ОСТЕОХОНДРОЗОМ БОЛЕЗНИ: КАК ОТЛИЧИТЬ ОТ ОСТЕОХОНДРОЗА
    +picture-tag(images[25], images[25].mobile.jpg['1x'], '').article-page__image
    p Без прохождения лабораторных исследований легко выбрать неправильный метод лечения. Обладая схожими симптомами, некоторые болезни и патологические состояния очень похожи на него, поэтому важно знать, как отличить остеохондроз от заболеваний, идентичных по клиническим проявлениям.
    p
      b Состояния-«хамелеоны»:
    ul
      li
        b.article-page__highlighted-text Воспаленные мышцы.
        |
        | Миозит обычно не повреждает позвонки, но приводит к появлению узелков в мышечных волокнах, которые часто располагаются рядом с позвонками. Отличить состояние можно при обнаружении выпуклостей и очагов боли под кожей (в удалении от столба).
      li
        b.article-page__highlighted-text Зло- и доброкачественные опухоли.
        |
        | Располагаясь рядом с позвоночником, новообразования приводят к тому, что боль иррадиирует в опорно-двигательный аппарат. Определить наличие образований можно при прохождении исследования.
      li
        b.article-page__highlighted-text Травмы и ушибы.
        |
        | Повреждения мышечных волокон, смежных к спинному мозгу, могут создавать обманчивое ощущение, что болит именно позвоночник. Метод выявления: в месте повреждения есть кровоподтек, а при прощупывании болевой синдром возникает при соприкосновении с поврежденной мышцей.
      li
        b.article-page__highlighted-text Заболевания бедер.
        |
        | Разрушение сустава в этой части организма также провоцирует появление болевого синдрома в позвоночном столбе. Чтобы исключить наличие коксоартроза тазобедренного сустава, необходимо сделать снимок бедра.
      li
        b.article-page__highlighted-text Почечные колики.
        |
        | Боль сочетается с повышенным сердцебиением и учащенным мочеиспусканием, поэтому отличить 2 состояния друг от друга относительно легко.
      li
        b.article-page__highlighted-text Кардиологические болезни.
        |
        | Ишемию и неврогенную кардиалгию легко спутать с грудным остеохондрозом, однако проблемы с сердцем напрямую связаны с нервным состоянием. Как отличить? После стресса человек испытывает истинную сердечную боль, в то время как при грудном остеохондрозе боль возникает преимущественно после физической нагрузки. Любая сердечная патология также часто связана с появлением не только сердцебиения и одышки, но озноба и чувства холода в конечностях.
    a(href=images[26].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[26], images[26].mobile.jpg['1x'], '').article-page__image
    p Отличить грудной остеохондроз можно также по наличию боли опоясывающего характера. Зачастую неприятные ощущения возникают и в области на спине — между лопатками. Общей чертой также является появление неприятных ощущений при движении — наклоне головы, развороте туловища, иногда перемещении рук и ног.
    +picture-tag(images[27], images[27].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Туберкулез позвоночника (внелегочная форма болезни), развивающийся из-за проникновения в организм палочки Коха, также снижает высоту межпозвонковых дисков. Однако основное разрушительное воздействие направлено на тело позвонков, которые воспаляются после проникновения внутрь них инфекции. По мере прогрессирования болезни обнаруживаются абсцессы и свищевые ходы, также поражаются 3 нижнегрудных позвонка, поэтому у больного часто возникает S-образный сколиоз.
    a(href=images[28].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[28], images[28].mobile.jpg['1x'], '').article-page__image
    p Если после обследования остеохондроз не выявили, то причиной дискомфорта могут быть еще и мочеполовые проблемы (болевой синдром развивается как и при поясничном остеохондрозе).
    .article-page__highlight
      p Мигрень не всегда вызывается шейным остеохондрозом, она также возникает при воспалении тройничного нерва, сильных стрессах и длительном переутомлении.

    h2#nav-6 Осложнения остеохондроза: протрузии и грыжи
    +picture-tag(images[29], images[29].mobile.jpg['1x'], '').article-page__image
    p Постепенная деструкция хрящевой ткани и смещение позвонков приводят к неприятному последствию, когда осложнения остеохондроза существенно нарушают подвижность тела и вызывают сильный болевой синдром.
    h3 ПРОТРУЗИИ
    +picture-tag(images[30], images[30].mobile.jpg['1x'], '').article-page__image
    p Патологические процессы, происходящие в скелете, нарушают естественную форму дисков, которые идеально обхватывают соседние позвонки. При развитии остеохондроза после прохождения обследования может быть выявлена протрузия дисков позвоночника, но не все пациенты знают, что это такое и какими последствиями грозит ее наличие в теле.
    p
      b Симптоматика протрузий:
    ol
      li сниженная высота межпозвоночного диска;
      li обезвоживание фиброзного кольца;
      li появление трещин на поверхности диска;
      li сильное смещение пульпозного ядра (к краю);
      li выход краев хряща за пределы позвонка.
    p Патологические изменения чаще появляются при старении организма (протрузия развивается медленно), а также получении травм (амортизирующий элемент меняет форму одномоментно), когда диск сильно смещается из-за удара или падения.
    a(href=images[31].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[31], images[31].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Протрузии могут выявляться уже на 2-й стадии остеохондроза
      p Их размер относительно небольшой — от 1 до 3 мм. На 3-й стадии смещение может достигать от 3 до 5 мм. Чем больше размеры протрузии, тем выше риск ее перехода в грыжу.
    p Однако размеры протрузии позвоночника зависят и от места проецирования: смещение диска в области поясницы — до 5 мм — называют протрузией, в то время как для шейного отдела смещение более 3 мм часто диагностируется как грыжа. В редких случаях шейная протрузия может достигать 7 мм, но не больше этого показателя.
    p
      b Виды протрузий по месту смещения:
    ul
      li вентральная (передняя),
      li латеральная (боковая),
      li фораминальная (задне-боковая),
      li центральная,
      li дорсальная, или медианная (задняя).
    p Самая опасная протрузия позвоночника относится к последнему типу, представленному в списке: выпячивание диска в область, где находится спинной мозг (позади позвонка), приводит к сдавливанию и нарушению его функций.
    +picture-tag(images[32], images[32].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Максимальные нагрузки, которые выдерживает позвоночник, приходятся на поясничный и в меньшей степени на грудной отдел (более 90 % всех выявленных протрузий). Оставшаяся доля относится к протрузиям шейного отдела: перегрузка области плечевого пояса возникает достаточно редко.
    h3 ГРЫЖИ
    +picture-tag(images[33], images[33].mobile.jpg['1x'], '').article-page__image
    p Чтобы поставить пациенту диагноз грыжа позвоночника, изменения в нем должны преодолеть стадию протрузии. Длительное отсутствие лечения и резкие нагрузки могут привести к окончательному разрыву фиброзного кольца, через которое выделяется пульпозное ядро. После нарушения целостности диска размер смещения значительно увеличивается.
    p
      b Дополнительные признаки грыжи позвоночника:
    ul
      li сдавливание нервных окончаний в месте разрыва кольца;
      li резкая боль при выполнении физической работы;,
      li покалывание и онемение конечностей.
    a(href=images[34].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[34], images[34].mobile.jpg['1x'], '').article-page__image
    p Если грыжа располагается в пояснично-крестцовом отделе, то возможно воспаление седалищного нерва, в грудном — появление проблем с ЖКТ, шейном — образование резких скачков давления. При повреждении крестца у мужчин могут развиваться проблемы с эрекцией, а у женщин — с менструальным циклом. Импотенция и фригидность появляются, если повреждение привело к развитию так называемого синдрома конского хвоста. Повреждая пучок спинномозговых нервов, расположенных в тазовой части туловища, остеохондроз способен даже привести к потере чувствительности ног и их параличу.
    a(href=images[35].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[35], images[35].mobile.jpg['1x'], '').article-page__image
    p Отдельный вид поражения — грыжа Шморля, которая возникают не в горизонтальной, а вертикальной плоскости. Проваливаясь в тело позвонка (в середине, по линии паравертебральных мышц), хрящ частично утопает в его губчатой части. Патология передается по наследству и преимущественно проявляется у детей, когда туловище быстро растет.
    a(href=images[36].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[36], images[36].mobile.jpg['1x'], '').article-page__image
    p В пенсионном возрасте грыжа Шморля также диагностируется, преимущественно у лиц, страдающих остеопорозом. В возрасте от 20 лет до 50 лет патология может развиться при падении человека в вертикальном положении или получении сильного удара в аналогичной проекции.
    +picture-tag(images[37], images[37].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Грыжи бывают статичными, когда перемещение ядра неизменно в спокойном состоянии, равно как и при получении нагрузки, но также существуют и перемещающиеся формы. После исчезновения нагрузки смещение возвращается на место, однако со временем такие формы постепенно принимают постоянную патологическую позицию.
    p Грыжа от 9 до 12 мм считается большой, а после превышения данного предела возникает риск появления секвестрации — отделения части диска. Крупный пролапс с разрывом способен вызвать сильное воспаление, поэтому при его диагностировании уже показано хирургическое вмешательство.
    +picture-tag(images[38], images[38].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Грыжа может стать причиной сколиоза из-за смещения позвонков: измененный диск постепенно нарушает естественную кривизну позвоночного столба.

    h2#nav-7 Взаимосвязь остеохондроза, ВСД и скачков давления
    +picture-tag(images[39], images[39].mobile.jpg['1x'], '').article-page__image
    p Ускорение или замедление перемещения крови по сосудам приводит к изменению самочувствия человека, зачастую неестественные трансформации возникают при компрессии артерий. Врачи связывают вместе 2 явления — шейный остеохондроз и давление: позвоночные сосуды, располагающиеся в верхней части туловища (возле головы), являются более узкими, поэтому смещение дисков и уменьшение их высоты нередко приводит к нежелательному ущемлению.
    h3 НАРУШЕНИЕ КРОВОСНАБЖЕНИЯ И ВСД
    +picture-tag(images[40], images[40].mobile.jpg['1x'], '').article-page__image
    p ВСД не относится врачами к типу самостоятельных болезней, а определяется как вторичное последствие, возникшие из-за других патологических состояний, которые уже появились в организме. Недомогание, головокружение, головные боли, внутричерепное давление, слуховые галлюцинации — список симптомов дистонии обширен, но часто они наблюдаются и даже усиливаются при уменьшении поступления питательных веществ, а также кислорода в мозг из-за изменений в позвоночнике.
    +picture-tag(images[41], images[41].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Приступы ВСД могут появиться у больных остеохондрозом в утренние часы: ночью человек не контролирует позу, которую он принимает. Лучшее положение для гипертоников — лежа на животе, в то время как сон на спине увеличивает риски повышения АД.
    p Кроме воздействия на сосуды изменения в позвонках также приводят к патологическому влиянию на нервные корешки, которые снижают чувствительность конечностей и иногда вызывают двигательные расстройства. Причина — проводящая функция ущемляемых рецепторов, которая нарушается при данном состоянии. Нередко у больных возникают панические атаки, но источником их развития выступает гипоксия — именно так организм реагирует на недостаток важного компонента.
    +picture-tag(images[42], images[42].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p ВСД развивается в первую очередь при влиянии психических и соматических заболеваний (невроз, деменция, депрессия), но если они отсутствуют у пациента, то следует пройти исследование позвоночника, в первую очередь шейного отдела.
    h3 МОЖЕТ ЛИ ПОВЫШАТЬСЯ ДАВЛЕНИЕ У БОЛЬНЫХ ОСТЕОХОНДРОЗОМ?
    +picture-tag(images[43], images[43].mobile.jpg['1x'], '').article-page__image
    p Стремительный скачок давления появляется при шейном остеохондрозе 3 и 4 степени, когда ущемление сосудов значительно. Высокая нестабильность показателей наблюдается у пациентов, страдающих грыжами или протрузиями.
    +picture-tag(images[44], images[44].mobile.jpg['1x'], '').article-page__image
    p
      b Условия повышения давления:
    ol
      li длительное нахождение в неудобной позе;
      li рецидив остеохондроза;
      li получение травм в область позвоночного столба.
    p Часто повышается давление у пациентов при остеохондрозе, если у них выявлен синдром позвоночной артерии. Она может сжиматься как при смещении позвонками, так и мышцами, которые при болезнях опорно-двигательного аппарата часто спазмированы.
    .article-page__highlight
      h3 Медицинский факт
      p Доля перекачиваемой крови, приходящейся на позвоночные артерии, достигает от 20 до 30 %.
    p
      b Признаки зажатости позвоночной артерии:
    ul
      li головная боль в шейно-затылочной части головы;
      li иррадиирование неприятный ощущений в виски и окологлазную область;
      li возникновение дискомфорта при длительном нахождении в неподвижной позе;
      li усиление боли при наклоне;
      li шум в ушах.
    +picture-tag(images[45], images[45].mobile.jpg['1x'], '').article-page__image
    p Во время приступов может также неметь лицо и ухудшаться зрение (появление затуманенности видения). Сдавливая сосуды, шейный остеохондроз провоцирует развитие гипертонии, поскольку в кровеносной системе возникает напряжение, которое приводит к атипичному ускорению переноса физиологической жидкости.
    +picture-tag(images[46], images[46].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Лечение высокого давления, вызванного проблемами в позвоночнике, необходимо начинать с опорно-двигательного аппарата. Препараты от гипертонии, устраняя следствие, помогают получать лишь временное облегчение.

    h2#nav-8 Лечение остеохондроза
    +picture-tag(images[47], images[47].mobile.jpg['1x'], '').article-page__image
    p При сохранении травмирующих факторов болезнь опорно-двигательного аппарата постепенно прогрессирует, переходя из одной стадии в другую. Если вовремя начать лечение остеохондроза, то возможно остановить патологический процесс и предотвратить возможные осложнения.
    h3 КОНСЕРВАТИВНОЕ ЛЕЧЕНИЕ
    +picture-tag(images[48], images[48].mobile.jpg['1x'], '').article-page__image
    p На ранних этапах, не усугубленных наличием осложнений — грыж и протрузий, рационально проводить лечение без применения хирургического метода. Физическое воздействие на позвоночник способно принести выраженное восстанавливающее воздействие, особенно при сочетании нескольких видов физиотерапии.
    p
      b Разновидности безоперационной коррекции:
    ul
      li
        b.article-page__highlighted-text Массаж.
        |
        | Действенный метод, помогающий снять гиперспазм мышц и устранить боль. После курсовой терапии удается существенно улучшить качество жизни пациента. Массажем можно восстанавливать любые отделы позвоночника, но для получения эффекта необходимо выбирать не расслабляющие, а лечебные виды процедуры.
      li
        b.article-page__highlighted-text Лечебная физкультура (ЛФК).
        |
        | Поддерживающий вариант коррекции, который уместно проводить на любой стадии недуга. Сохраняя подвижными позвонки и мышцы, разминка дает возможность предотвратить новый рецидив остеохондроза. В эту группу можно включить изометрическую кинезиотерапию, в которую входят упражнения, полезные для всего скелета.
      li
        b.article-page__highlighted-text Электрофорез.
        |
        | Вариант относится к аппаратному способу, при котором одновременно через кожу поступают лечебные вещества, содержащиеся в растворах. Для облегчения проникновения жидких медикаментов используется электрический ток.
      li
        b.article-page__highlighted-text Тракционный метод.
        |
        | Вытяжение позвоночника применяется при лечении шейного отдела позвоночника, а также грудного и поясничного. Располагаясь на специальной кушетке, пациент лежит и испытывает вытяжение через прикрепленные ленты, которые задают определенную нагрузку на позвонки.
      li
        b.article-page__highlighted-text Иглотерапия (рефлексотерапия).
        |
        | Специфическое воздействие, оказываемое на определенные точки с помощью игл, способно быстро устранить разнообразные вегето-сосудистые нарушения (головокружение, головную боль, спазмы), которые часто сочетаются с остеохондрозом.
      li
        b.article-page__highlighted-text Гирудотерапия.
        |
        | Использование пиявок помогает ускорить обменные процессы в месте поражения и устранять воспаление (особенно полезно при поражении мышц — миозите).
      li
        b.article-page__highlighted-text Плавание и подводный массаж.
        |
        | Мягко снимая нагрузку, вода устраняет застойные явления, усиливает ток крови и лимфы, а также укрепляет мышечный корсет.
    p Чтобы пройти физиотерапевтическую процедуры, необходимо обращаться в клиники, однако получить полезное воздействие можно и другим способом. Безопасное лечение остеохондроза в домашних условиях осуществляется при использовании изделий, обладающих корректирующим воздействием.
    +picture-tag(images[49], images[49].mobile.jpg['1x'], '').article-page__image
    p
      b Анатомические лечебные средства:
    ul
      li
        b.article-page__highlighted-text Корсет.
        |
        | Временное ношение ортопедической мягкой конструкции, напоминающей одежду, предотвращает смещение позвонков и восстанавливает здоровую осанку. Для воздействия на шейный отдел используют эргономичный воротник.
      li
        b.article-page__highlighted-text Стельки.
        |
        | Если остеохондроз вызван плоскостопием, то показано размещение лечебного приспособления в обувь. Во время ходьбы нагрузка по телу распределяется более равномерно, а смещение дисков прекращается.
      li
        b.article-page__highlighted-text Подушка.
        |
        | Ортопедическая принадлежность для сна рекомендована тем, кто ищет ответ на вопрос, как лечить шейный остеохондроз и устранить боль при данном состоянии. Нейтрализуя мышечное напряжение, ортопедическая подушка предотвращает сдавливание позвонков и дисков во время ночного отдыха.
      li
        b.article-page__highlighted-text Поясничный фиксатор спины.
        |
        | Из-за длительного нахождения в положении сидя значительно страдает поясничный и грудной отделы, но если прикрепить к креслу корректор, то сохраняется естественный изгиб позвоночника. Приспособление рекомендовано всем офисным работникам и тем, кто много времени проводит за компьютером.
      li
        b.article-page__highlighted-text Массажеры.
        |
        | Большое количество приспособлений, созданных для массажа в домашних условиях, также помогает лечить патологию «каркаса» человека. Массажеры (внутренняя ссылка) отлично снимают спазм и расслабляют психику.
    p В качестве вспомогательного способа применяют и метод изменения рациона, однако он не может выступать самостоятельным способом лечения.
    +picture-tag(images[50], images[50].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Медицинский факт
      p Воздействие аппаратов, использующих вибрации и магнитное поле, также успешно стимулирует кровообращение и продляет период ремиссии у больных.
    h3 ЛЕЧЕНИЕ ОСТЕОХОНДРОЗА ПРЕПАРАТАМИ
    +picture-tag(images[51], images[51].mobile.jpg['1x'], '').article-page__image
    p Комплексное лечение остеохондроза с помощью лекарств необходимо при прогрессировании болезни, особенно если есть боль и другие неприятные явления.
    p
      b Медикаментозная терапия (цели):
    ul
      li
        b.article-page__highlighted-text Обезболивание.
        |
        | Баралгин, Трамадол, Анальгин, а также смазывающие средства Пироксикам, Ибуфен, Долгиит, Диклофенак. Препараты данной группы применяют при обострении остеохондроза.
    ul
      li
        b.article-page__highlighted-text Снятие воспаления.
        |
        | Воздействие на корешки и прилегающие ткани провоцирует отек, который можно устранить приемом Найза, Кеторола, Ибупрофена, а также нанесением мазей Финалгон, Фастум, Биопин, Ревма-гель.
    ul
      li
        b.article-page__highlighted-text Устранение спазма.
        |
        | Напряженность в мышцах усугубляет боль. Чтобы ее устранить, применяют миорелаксанты: Миоластан, Мидокалм, Сирдалуд, Дротоверин, Баклофен.
    ul
      li
        b.article-page__highlighted-text Усиление микроциркуляции.
        |
        | Недостаток питания клеток диска устраняется приемом препаратов для лечения остеохондроза: Теоникола, Актовегина, Трентала.
    ul
      li
        b.article-page__highlighted-text Устранение судорог.
        |
        | Поражение поясничного отдела иногда вызывает дрожь в ногах, а грудного и шейного — в руках. Неприятные явления легко устранить с помощью приема Триметина, Морсуксимида или Суксилепа.
    ul
      li
        b.article-page__highlighted-text Восстановление хрящевой ткани.
        |
        | Средства с глюкозамином, хондроитином и гиалуроновой кислотой (Терафлекс, Дона, Хондроксид) отлично подходят для укрепления фиброзного кольца и пульпозного ядра.
    p Гормональные препараты — группа медикаментов, которая имеет высокую эффективность, но используется у пациентов с плохими результатами лечения. Курс применения кортикостероидных медикаментов (нередко подбирается сочетание Гидрокортизона с Новокаином) длится несколько дней, поскольку часто приводит к побочным явлениям.
    p Больным также рекомендуют принимать витамины, однако при наличии рациона, богатого питательными веществами, их прием необязателен.
    +picture-tag(images[52], images[52].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Сильную боль не всегда способны подавить анальгетизирующие таблетки и мази, поэтому используют метод купирования боли блокадой. Укол с Лидокаином или Новокаином дает возможность забыть о боли на срок до 2–3 дней.
    h3 ОПЕРАТИВНОЕ ЛЕЧЕНИЕ
    +picture-tag(images[53], images[53].mobile.jpg['1x'], '').article-page__image
    p Когда улучшить состояние больного невозможно консервативными методами, врачи прибегают к более радикальным способам.
    p
      b Показания к назначению операции:
    ol
      li секвестрация части диска;
      li разрушение позвонка;
      li 4 стадия остеохондроза;
      li перелом позвоночника;
      li частичный или полный паралич;
      li сильный воспалительный процесс;
      li поражение спинного мозга;
      li грыжа размером более 12 мм.
    p При шейном остеохондрозе хирургическое лечение позвоночника показано при спондилолистезе — состоянии, которое характеризуется сильным смещением позвонков в горизонтальной плоскости.
    +picture-tag(images[54], images[54].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Остеохондроз на ранних стадиях ущемляет позвоночный канал незначительно и периодически, однако при появлении грыжи вероятность возникновения стеноза увеличивается в несколько раз. Чаще всего поражение диагностируется в поясничном отделе.
    p Способ хирургической коррекции подбирается в зависимости от состояния пациента.
    +picture-tag(images[55], images[55].mobile.jpg['1x'], '').article-page__image
    p
      b Методы оперативного вмешательства:
    ul
      li
        b.article-page__highlighted-text Нуклеотомия.
        |
        | Мини-инвазивный метод характеризуется использованием щипцов, удаляющих выпячивание — грыжу или протрузию. Сжимание оставшейся части осуществляется лазером.
      li
        b.article-page__highlighted-text Ламинотомия.
        |
        | Хирург удаляет только костные выросты, сдавливающие спинной канал. Выполняется через рассечение нескольких или одной дуг позвонка.
      li
        b.article-page__highlighted-text Фораминомия.
        |
        | Оперативное вмешательство также связано с удалением остеофитов, но при данной процедуре они уничтожаются полностью.
      li
        b.article-page__highlighted-text Дисэктомия.
        |
        | Поврежденный диск отделяется под общей анестезией, а на его место ставится опорный протез — никелид-титановый имплант. После процедуры восстанавливается нормальная подвижность позвоночника.
      li
        b.article-page__highlighted-text Межостистая динамическая стабилизация.
        |
        | Более мягкий, силиконовый имплант размещается между остистыми отростками, которые в измененном положении устраняют патологическую нагрузку на прилегающие к нему позвонки.
      li
        b.article-page__highlighted-text Лазерная вапоризация (декомпрессия).
        |
        | Чтобы заставить вышедшее пульпозное ядро втянуться внутрь диска, врачи выпаривают центр — в итоге объем ядра уменьшается. Преимущество: возможность проводить процедуру без операции и под местным наркозом. Ограничение: неэффективность способа, если размер грыжи — более 6 мм.
      li
        b.article-page__highlighted-text Радиочастотная абляция.
        |
        | В позвоночник вводятся иглы, устраняющие возможность отдельных рецепторов передавать боль.
    +picture-tag(images[56], images[56].mobile.jpg['1x'], '').article-page__image
    p После хирургической процедуры пациенту запрещают сидеть во время всего периода адаптации, а также поднимать тяжести, совершать резкие движения и испытывать физическую нагрузку (не более 2 кг на одну руку). Избегать следует и эффекта вибрации, который часто образуется при перемещении на общественном транспорте.
    +picture-tag(images[57], images[57].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Сроки реабилитации после операции у пациентов с остеохондрозом проходят поэтапно
      p Полное заживление шва длится до 3 недель, сращение трансплантата — от 3 до 4 месяцев, а полное восстановление человека — до 2 лет. Дополнительный нюанс — необходимость носить корсет в течение 6–12 месяцев после хирургической процедуры.

    h2#nav-9 Коррекция диетой
    +picture-tag(images[58], images[58].mobile.jpg['1x'], '').article-page__image
    p Чтобы затормозить дегенеративные процессы в позвоночнике, пациентам рекомендуется соблюдать диету, полезную при остеохондрозе и болезнях суставов. Наряду с другими способами коррекции, восстанавливающими опорно-двигательный аппарата, подбор полезных продуктов дает возможность улучшениям наступить быстрее.
    h3 ВКЛЮЧЕНИЕ ПРОДУКТОВ С ОСОБЫМ ВИТАМИННЫМ СОСТАВОМ
    +picture-tag(images[59], images[59].mobile.jpg['1x'], '').article-page__image
    p Витамины и минералы — важный фундамент, без которого возникает дефицит питательных веществ. Негативное состояние создает сложности для естественного восстановления фиброзного кольца и пульпозного ядра, которые формируют позвоночный диск.
    p
      b Необходимые витамины для позвоночника:
    ul
      li
        b.article-page__highlighted-text Витамины А и Е.
        |
        | Рыбий жир, куриные яйца, растительные масла и печень животных дают возможность вырабатываться внутрисуставной смазке. Они также препятствуют обезвоживанию дисков.
      li
        b.article-page__highlighted-text Витамин С.
        |
        | Элемент помогает синтезировать коллаген, снимать воспаление и улучшать метаболизм. Входит в состав фасоли, зеленого горошка, редьки, цветной капусты, калины, ирги, всех цитрусовых.
      li
        b.article-page__highlighted-text Витамин D3.
        |
        | Важнейший компонент, без которого кальций плохо усваивается в организме. Максимальное его количество содержится в рыбьем жире и тресковой печени (250 мкг/100 г).
      li
        b.article-page__highlighted-text Кальций.
        |
        | Строительный материал для костей входит в состав тимьяна, петрушки, базилика, молока, сои, фундука, фасоли, семян подсолнечника, оливок, абрикоса, смородины, апельсина, сыров, мяса, грецких орехов и миндаля.
      li
        b.article-page__highlighted-text Фосфор.
        |
        | Микроэлемент питает костную структуру. Продукты с фосфором: отруби, горох, сыры, рыба, горох, капуста.
      li
        b.article-page__highlighted-text Марганец.
        |
        | Употребление яиц, куриного мяса, водорослей, сельдерея, лука, бананов обеспечивает правильное функционирование опорно-двигательного аппарата. Именно этот элемент участвует в синтезе глюкозамина.
    p Среди наиболее полезных продуктов, овощей и фруктов диетологи выделяют: яблоки, груши, виноград, топинамбур, фундук, тыкву, йогурт (на основе сои), чечевицу.
    +picture-tag(images[60], images[60].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p В диету при остеохондрозе часто рекомендуют включать употребление холодца. Главными ингредиентами данных блюд является желеобразное вещество, полученное из вываривания сухожилий, связок, костей, в которых много коллагена. Полезны и блюда, приготовленные из желатина, который также содержит много белка.
    p Однако некоторые продукты, напротив, приводят к обратному эффекту и в том числе рецидиву болезни.
    +picture-tag(images[61], images[61].mobile.jpg['1x'], '').article-page__image
    p
      b Ограничения при обострении остеохондроза (продукты):
    ol
      li алкоголь,
      li шоколад,
      li перец (приправа),
      li кофе,
      li копчености,
      li соленья.
    p Употребление этих продуктов питания способно усилить воспалительный процесс и принести дополнительное раздражение при корешковом синдроме. Прием соленой пищи приводит к вымыванию кальция и провоцирует появление отложений в позвоночнике. Норма соли для больного остеохондрозом — 5–8 г в сутки, воды — 2 литра чистой жидкости. Рацион в килокалориях не должен превышать 2 500 единиц, особенно при сидячем образе жизни.
    a(href=images[62].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[62], images[62].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Коллаген восстанавливает хрящевую ткань, но он усваивается лишь частично
      p Для усиления расщепления создана иная форма — гидролизованный коллаген, который выпускается в таблетках. Добавка используется для улучшения качества рациона, особенно если пациент не имеет возможности правильно питаться. Дополнительно коллаген улучшает состояние кожи.
    h3 ПРИРОДНЫЕ ХОНДРОПРОТЕКТОРЫ И РИСОВАЯ ДИЕТА
    +picture-tag(images[63], images[63].mobile.jpg['1x'], '').article-page__image
    p При остеохондрозе рекомендуют применение хондропротекторов, содержащих глюкозамин и хондроитин — главные составные элементы хрящевой ткани. 2 важнейших компонента, укрепляя фиброзное кольцо, предотвращают разрушение межпозвонкового диска. Получить их можно и при употреблении определенных продуктов.
    p
      b Природные хондропротекторы:
    ol
      li
        b.article-page__highlighted-text Глюкозамин.
        |
        | Пациенту необходимо есть больше сыров (только твердых сортов), куриного мяса и хрящей.
      li
        b.article-page__highlighted-text Хондроитин.
        |
        | Восстанавливающий элемент также является компонентом хрящей животных, а также находится в огромных количествах в красной рыбе (семге, форели, лососе).
    p Очищение организма — другой важный фактор, помогающий запустить восстановительные процессы в организме. Выводя лишние соли, шлаки и жидкость, рисовая диета при остеохондрозе увеличивает работоспособность и стимулирует обменные процессы.
    p
      b Особенности лечения диетой с рисом:
    ol
      li общая длительность — 6 недель;
      li прием — только на завтрак;
      li перерыв между обедом — 4–5 часов;
      li меню обеда и ужина — любой рацион.
    p Употреблять можно как рис, приготовленный в мультиварке, так и настоянный на воде (в банку добавляется 2 ст. л., а затем рис заливается водой и настаивается в ней сутки). Перед употреблением размокшего риса необходимо слить воду, в которой он находился. В первом случае завтрак можно запивать водой, во втором — нет (диета воздействует по принципу сухого голодания).
    +picture-tag(images[64], images[64].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Лицам с лишним весом необходимо перейти на диету с небольшим количеством поступающих в организм животных жиров
      p Дополнительно следует исключить продукты с легко усваиваемыми углеводами (варенье, мед, сладости, хлеб). Диетическое лечение направлено преимущественно на снижение веса: жировая ткань увеличивает нагрузку на позвонки и ухудшает метаболизм.

    h2#nav-10 Профилактика
    +picture-tag(images[65], images[65].mobile.jpg['1x'], '').article-page__image
    p Предупредить заболевание проще, чем заниматься его лечением. Лучшая превентивная мера — профилактика остеохондроза, которая включает комплекс мер, помогающих не допустить опасных нагрузок и патологических влияний на позвоночник.
    h3 ОБЩИЕ РЕКОМЕНДАЦИИ
    +picture-tag(images[66], images[66].mobile.jpg['1x'], '').article-page__image
    p Нормы правильного образа жизни, защищающие костную ткань, не являются чем-то сложным для усвоения, поэтому понять азы профилактики сможет даже ребенок.
    p
      b Советы, сохраняющие здоровье:
    ul
      li
        b.article-page__highlighted-text Правильная позиция.
        |
        | Во время ходьбы необходимо держать плечи ровно, как и при сидении на стуле за компьютером.
      li
        b.article-page__highlighted-text Перерывы.
        |
        | Неподвижно сидеть можно не более 40 минут, затем необходимо хотя бы в течение 2 минут походить. Смена положения тела помогает предотвратить застойные явления.
      li
        b.article-page__highlighted-text Массаж.
        |
        | Прилив крови, питающей позвонки, во время процедуры является одним из эффективных способов профилактики болезней позвоночника.
      li
        b.article-page__highlighted-text Безопасный сон.
        |
        | Сохранение здоровья спины обеспечивают также сильная или умеренная жесткость матраса и подушка прямоугольной формы. Эти принадлежности для сна препятствуют появлению зажима между позвонками, который иногда возникает во время ночного отдыха.
    +picture-tag(images[67], images[67].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Особый процесс транспортировки тяжелых предметов сохраняет здоровье. Основная опасность — сгибание спины, в то время как при нагрузке она должна быть прямой. Женщинам со слабым мышечным корсетом и вовсе не рекомендуется переносить вес свыше 6 кг.
    ul
      li
        b.article-page__highlighted-text Нормальный индекс тела.
        |
        | Ожирение ведет к смещение позвонков и ослаблению мышц, которые начинают хуже удерживать позвонки.
      li
        b.article-page__highlighted-text Устранение хронических заболеваний.
        |
        | Нарушения в организме, особенно связанные с горлом, носом и ушами, способны ухудшить иммунитет и увеличить риск развития остеохондроза.
      li
        b.article-page__highlighted-text Защита от переохлаждения.
        |
        | Воспаленные мышцы могут привести к миозиту, который формирует гиперспазм, нарушающий правильную работу соединительной ткани и связок. Врачи рекомендуют одеваться по погоде и избегать воздействия сквозняков.
      li
        b.article-page__highlighted-text Физическая активность.
        |
        | Прогулки, бег, ходьба, плавание — хорошие методы разгрузить мышечный корсет и защитить скелет от напряжения.
    p Если соблюдать все эти условия, то образ жизни станет правильным, а чрезмерная нагрузка на позвоночный столб станет минимальной.
    a(href=images[68].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[68], images[68].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Во время работы вредно длительно склонять голову, отказ от этой привычки — лучшая профилактика шейного остеохондроза и болей в области головы.
    h3 ГИМНАСТИКА И САМОМАССАЖ КАК ПРОФИЛАКТИЧЕСКИЕ МЕТОДЫ
    +picture-tag(images[69], images[69].mobile.jpg['1x'], '').article-page__image
    p Чаще всего нарушения опорно-двигательного аппарата развиваются у офисных работников, которые практически неотрывно работают за компьютером. Для них разработан цикл упражнений, который — в идеале — рекомендуется выполнять каждый час.
    p
      b Профилактика на рабочем месте:
    ol
      li 10 приседаний;
      li 10 вращений тазом (в разные стороны);
      li 10 поворотов корпусом;
      li 10 поворотов головы;
      li 10 вращений плечевыми суставами;
      li 10 поворотов локтевыми суставами;
      li 10 вращений кистями;
      li удерживание рук за головой 10 секунд.
    p
      | Разминка помогает предотвратить уменьшение высоты диска во всех отделах позвоночника. Подобный комплекс упражнений дает возможность предупредить развитие не только остеохондроза, но и артрита. Дополнительно гимнастика предотвращает появление застойных явлений в органах малого таза. Отличным профилактическим средством станет и
      |
      a.link.link_primary.underline(href='/kak-pravilno-delat-massazh-spiny-v-domashnih-usloviyah/') массаж в домашних условиях
      | , если он проведен правильно.
    +picture-tag(images[70], images[70].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      h3 Интересный факт
      p Длительное использование телефона также способно нанести вред шейному отделу. Наклон головы создает опасную нагрузку.
    h3 ПРОФИЛАКТИКА ПОЯСНИЧНОГО, ГРУДНОГО И ШЕЙНОГО ОСТЕОХОНДРОЗА
    +picture-tag(images[71], images[71].mobile.jpg['1x'], '').article-page__image
    p Комплекс профилактических упражнений, который делают несколько раз в течение дня, помогает позвонкам двигаться, в то время как малоподвижный образ жизни замедляет лимфо- и кровоток. Таким способом создается нежелательный дефицит питания костной и хрящевой тканей. Из-за высокой распространенности неприятных ощущений, возникающих именно в нижней части позвоночника, рационально начать ЛФК с изучения профилактики поясничного остеохондроза, которая достигается выполнением гимнастики. Каждый вид упражнений необходимо повторять не менее 10 раз или до появления усталости.
    p
      b Упражнения для поясницы:
    ol
      li
        b.article-page__highlighted-text «Опора на ногу».
        |
        | Производится постановка сначала на одну, затем на другую ногу. Упражнение отлично разминает позвонки поясницы и крестец.
        +picture-tag(images[72], images[72].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Вытягивание».
        |
        | Усложненный вариант для тех, у кого хорошо укреплен мышечный корсет. Положение — лежа на животе. Техника: выполнение напряжения мышц спины, а затем совершение подъема головы и рук.
        +picture-tag(images[73], images[73].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Подъем таза».
        |
        | В положении лежа нижняя часть туловища приподнимается, а затем опускается.
        +picture-tag(images[74], images[74].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Велосипед».
        |
        | Ноги удерживаются в воздухе, затем они повторяют движение, напоминающее кручение педалей.
        +picture-tag(images[75], images[75].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Гантели».
        |
        | Усилить нагрузку на поясницу можно с помощью удержания спортивного инвентаря. Техника: одновременно выбрасывается левая рука и правая нога, затем правая рука и левая нога.
        +picture-tag(images[76], images[76].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Мяч».
        |
        | Ягодицы размещаются на шаре, а ноги поочередно поднимаются вверх.
        +picture-tag(images[77], images[77].mobile.jpg['1x'], '').article-page__image
    +picture-tag(images[78], images[78].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p При регулярном выполнении гимнастики для поясницы дополнительно удается устранить лишние объемы талии и повысить либидо.
    p Боли в груди — распространенное явление, но его можно легко предотвратить. Представляем подборку упражнений для профилактики остеохондроза с картинками, которые улучшают восприятие информации.
    p
      b Полезная гимнастика для грудного отдела позвоночника:
    ul
      li
        b.article-page__highlighted-text «Движения в стороны».
        |
        | Две руки перемещаются то влево, то вправо. После адаптации к нагрузке можно удерживать ногу одной конечностью, чтобы сильнее растянуть мышечные волокна.
        +picture-tag(images[79], images[79].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text Проработка плеч».
        |
        |«Движения рук назад и вперед дают возможность усилить подвижность грудных позвонков. Упражнение можно выполнять с гантелями.
        +picture-tag(images[80], images[80].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Прогиб спины».
        |
        | Усложненный вариант воздействия на грудную клетку и заднюю часть спины. Выполняется с помощью заметного выброса плеч вперед и назад.
        +picture-tag(images[81], images[81].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Гантели».
        |
        | Руки, удерживающие спортивный предмет, двигаются по окружности.
        +picture-tag(images[82], images[82].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Мяч».
        |
        | Опорный элемент размещается в центре спины, в то время как руки заброшены за голову.
        +picture-tag(images[83], images[83].mobile.jpg['1x'], '').article-page__image
    p Профилактика шейного остеохондроза полезна всем видам офисных профессий, упражнения для этой части позвоночника лучше выполнять несколько раз в день.
    p
      b Упражнения для плечевого пояса и шеи:
    ul
      li
        b.article-page__highlighted-text «Движения в стороны».
        |
        | «Вперед и назад». Голова запрокидывается назад и выбрасывается вперед.
        +picture-tag(images[84], images[84].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Движения в стороны».
        |
        | «Обхват». Голова захватывается рукой и слегка оттягивается в сторону, где располагаются плечи.
        +picture-tag(images[85], images[85].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Движения в стороны».
        |
        | «Упор». Рука последовательно упирается в разные части головы. Конечность оказывает легкую нагрузку на тело, а голова также упирается в руку. Подобный прием укрепляет шейные мышцы и снимает гиперспазм.
        +picture-tag(images[86], images[86].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Движения в стороны».
        |
        | «Комплексная разминка». Сочетается несколько движений головы, направленных в разные стороны. Выполняется каждый прием один за другим.
        +picture-tag(images[87], images[87].mobile.jpg['1x'], '').article-page__image
      li
        b.article-page__highlighted-text «Движения в стороны».
        |
        | «Вытягивание подбородка». Лицо слегка перемещается вперед, а затем возвращается в исходное положение. Упражнение заодно укрепляет кожу и устраняет второй подбородок.
        +picture-tag(images[88], images[88].mobile.jpg['1x'], '').article-page__image
    p После упражнения повышается приток крови к головному мозгу, поэтому диагностируется ускорение мыслительных процессов, а также исчезают головные боли, если они были.
    a(href=images[89].mobile.jpg['1x'] target='_blank')
      +picture-tag(images[89], images[89].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Универсальный прием, полезный для всех отделов позвоночника, — упражнение, при котором человек висит на турнике. Элемент лечебной физкультуры при остеохондрозе дает возможность предотвратить боль в мышцах благодаря растягиванию широчайших и длинных мышц спины. Полезно вытягивать тело таким способом после рабочего дня: выпрямление мышц расслабляет их и быстро устраняет физическую усталость.

    h2#nav-11 Прогноз
    +picture-tag(images[90], images[90].mobile.jpg['1x'], '').article-page__image
    p Течение болезни изменяется во времени, поэтому остеохондроз и его прогноз интересуют пациентов по всему миру. Хотя болезнь развивается медленно, но при небрежном отношении к собственному здоровью в один «прекрасный» момент можно обнаружить прогрессирование заболевания или появление осложнений.
    h3 ПЕРСПЕКТИВЫ ТЕЧЕНИЯ ОСТЕОХОНДРОЗА
    +picture-tag(images[91], images[91].mobile.jpg['1x'], '').article-page__image
    p Основанием для предварительной оценки и медицинских выводов служит подтвержденный диагноз, который дает возможность предположить об изменениях, ожидающих больного. Предельно важно получить точные сведения о состоянии здоровья — в противном случае прогноз будет неверным.
    ul
      li
        b.article-page__highlighted-text 1 стадия.
        |
        | Большинство граждан длительно живут с начальной стадией болезни, но не испытывают неудобств. Переход на другой этап возможен при длительном влиянии неблагоприятных факторов (чрезмерной физической нагрузки, хронических болезней и травм). Общий прогноз благоприятный — выздоровление возможно у большинства пациентов.
      li
        b.article-page__highlighted-text 2 стадия.
        |
        | Значительное снижение высоты межпозвонковых дисков приводит к учащенным болям, обычно спустя несколько часов после выполнения физической работы. При коррекции консервативными методами — массажем, мазями, питанием — прогноз остается благоприятным.
      li
        b.article-page__highlighted-text 3 стадия.
        |
        | Состояние, требующее обязательного лечения, которое предотвратит появление ухудшений. Прогноз сомнительный: допускается возможность позитивных изменений, но только при соблюдении правильного образа жизни.
      li
        b.article-page__highlighted-text 4 стадия.
        |
        | Масштабное — часто полное — разрушение диска усложняет лечение консервативными методами. При отсутствии терапии прогноз болезни остается неблагоприятным.
    p Начиная с 3 формы болезни возникают опасные состояния — грыжи и протрузии, а также более серьезные изменения, усложняющие течение остеохондроза у пациента.
    +picture-tag(images[92], images[92].mobile.jpg['1x'], '').article-page__image
    ol
      li
        b.article-page__highlighted-text Протрузия.
        |
        | «Выпячивание» диска до 5 мм можно вылечить консервативными способами, вовремя затормозив прогрессирование. При протрузии размером более 5 мм требуется комплексное лечение, иначе ее дальнейший рост неминуем.
      li
        b.article-page__highlighted-text Грыжа.
        |
        | Грыжи более 12 мм обычно лечатся хирургическим вмешательством. Некоторые виды деформаций уменьшаются, если исключить патологические воздействия на позвоночник.
      li
        b.article-page__highlighted-text Секвестрация.
        |
        | Отделение диска и попадание его в спинной мозг — безальтернативное показание к операции. В противном случае увеличивается риск развития сильного воспаления и потери чувствительности конечностей — паралич.
    +picture-tag(images[93], images[93].mobile.jpg['1x'], '').article-page__image
    p Летальный исход при остеохондрозе — явление крайне редкое, обычно оно наблюдается у пациентов во время операции, если у человека слабое сердце. Подобное последствие возможно при любом вмешательстве, поэтому оно только косвенно связано с патологией опорно-двигательного аппарата.
    p У пациентов, у которых диагностирован шейный остеохондроз, прогноз для жизни отличается другой особенностью — сдавливанием позвоночной артерии. Длительная компрессия ухудшает самочувствие и создает условия для возникновения сердечных приступов и инсультов. При значительном защемлении показана оперативная процедура, восстанавливающая здоровый кровоток.
    +picture-tag(images[94], images[94].mobile.jpg['1x'], '').article-page__image
    .article-page__highlight
      p Коррекция образа жизни дает возможность улучшить состояние позвоночника и сохранить правильное распределение нагрузки по всему телу. Своевременно начатая терапия — ключ к хорошему самочувствию, крепким позвонкам и упругим дискам.
