extends ../layouts/default

block variables
  -
    pageData = JSON.parse(pageData)
    pageData.title = `Отзывы`
    pageData.description = `Отзывы о различных видах массажа в центре профессионального массажа Expert`
    pageData.keywords = `профессиональный, массаж, Москва, отзывы`
    pageData.pageClass = 'reviews-page service-page'
    pageData.theme = 'main'
    pageData.filters = [
      {
        id: 1,
        name: 'Все отзывы'
      },
      {
        id: 2,
        name: 'Массаж лица'
      },
      {
        id: 3,
        name: 'Массаж для коррекции фигуры'
      },
      {
        id: 4,
        name: 'Лечебный массаж'
      }
    ]

block head

block content
  .service-page__wrap.reviews-page__wrap
    .reviews-page__content.container
      h1.reviews-page__title.heading Отзывы
      +rating-block().reviews-page__rating
      p.reviews-page__text Спасибо всем, кто уже поделился своими отзывами о нашей работе. Мы рады получить положительные отзывы и с благодарностью отнесёмся к критике — нам важно совершенствоваться и помогать людям.
      p.reviews-page__text Если вы уже были на наших сеансах, но ещё не оставили отзыв, подели&shy;тесь, пожалуйста, вашими впечатле&shy;ниями, ощущениями и результатом. Возможно, именно ваши слова помогут другим людям, которые только начали искать себе мас&shy;сажиста, сделать правильный выбор.
      section.reviews-page__form.review-form
        h2.reviews-page__subtitle Оставьте отзыв
        form.review-form__form(action='/wp-admin/admin-post.php' method='post')
          input(type='hidden' name='action' value='review')
          +text-input('Ваше имя*', true, 'review-form__input text-input_fill')#reviewerName(name='name')
          +text-input('Email', true, 'review-form__input text-input_fill')#reviewerEmail(type='email' name='email')
          .review-form__textarea
            textarea.review-form__review#reviewText(name='review' placeholder='Текст отзыва')
            p.message.hidden
          button.button_primary.review-form__submit(type='button') Отправить
      section.reviews-page__reviews.reviews
        h2.reviews-page__subtitle Отзывы наших клиентов
        nav.reviews-filters
          ul.reviews-filters__list
            each filter, i in pageData.filters
              li.reviews-filters__list-item
                button.reviews-filters__filter(type='button' data-type=filter.id data-active=(i === 0 ? '' : false))= filter.name
        .reviews__wrap
          each review in pageData.reviews
            article.review-card(data-id=review.id data-type=review.type)
              p.review-card__text= review.text
              p.review-card__info= `${review.author}, ${review.date}`
              p.review-card__source
                if review.source === 'yandex'
                  img.review-card__yandex-logo(src=`${THEME_IMG_PATH}/reviews-block/yandex-logo.svg` alt='Отзыв из Яндекса' width='41' height='15')
                else
                  span отзыв с сайта
        .reviews-page__pagination.pagination!= pageData.reviewsPagination
        .reviews-page__pagination.pagination.hidden
          button.button_primary.pagination__show-more(type='button') Показать ещё
          ul.pagination__pages
            li.pagination__page
              a.pagination__page-link(data-active href='#') 1
            li.pagination__page
              a.pagination__page-link(href='#') 2
            li.pagination__page.pagination__page_ellipsis
              a.pagination__page-link(href='#') ...
            li.pagination__page
              a.pagination__page-link(href='#') 6

block script
