link(rel='apple-touch-icon' sizes='60x60' href=`${THEME_IMG_PATH}/favicons/apple-touch-icon-60x60.png`)
link(rel='apple-touch-icon' sizes='76x76' href=`${THEME_IMG_PATH}/favicons/apple-touch-icon-76x76.png`)
link(rel='apple-touch-icon' sizes='120x120' href=`${THEME_IMG_PATH}/favicons/apple-touch-icon-120x120.png`)
link(rel='apple-touch-icon' sizes='152x152' href=`${THEME_IMG_PATH}/favicons/apple-touch-icon-152x152.png`)
link(rel='apple-touch-icon' sizes='180x180' href=`${THEME_IMG_PATH}/favicons/apple-touch-icon-180x180.png`)
link(rel='icon' type='image/png' sizes='32x32' href=`${THEME_IMG_PATH}/favicons/favicon-32x32.png`)
link(rel='icon' type='image/png' sizes='16x16' href=`${THEME_IMG_PATH}/favicons/favicon-16x16.png`)
link(rel='mask-icon' href=`${THEME_IMG_PATH}/favicons/safari-pinned-tab.svg` color='#5696c2')
meta(name='msapplication-TileColor' content='#ffffff')
meta(name='theme-color' content='#ffffff')
meta(name='msapplication-config' content=`${get_stylesheet_directory_uri()}/dist/browserconfig.xml`)
