-
  globalData = JSON.parse(globalData)
  globalData.mainPromo = {
    title: '20%&nbsp;скидка на&nbsp;1-ый&nbsp;сеанс',
    subtitle: 'На&nbsp;всё, кроме массажа шейно-воротниковой зоны',
    text: `Мы знаем, как важно, чтобы массажист вам подходил и&nbsp;было комфортно. Приходите на&nbsp;первый сеанс
         со&nbsp;скидкой, чтобы познакомиться и&nbsp;обсудить цели.
         <br>
         <br>
         И&nbsp;пожалуйста, не&nbsp;стесняйтесь говорить нашим
         специалистам, если что-то&nbsp;не&nbsp;так`,
    buttonText: 'Получить скидку'
  }
  globalData.massages = {
    'back-massage': {
      id: 12,
      name: 'Лечебный массаж спины',
      fullName: 'Лечебный массаж спины',
      url: '/back-massage/',
      type: 'body',
      tag: {
        text: 'От боли',
        color: 'primary'
      },
      price: {
        first: 2100,
        standard: 2700
      },
      duration: 50,
      shortDescription: 'Убирает боль в спине, лечит заболева&shy;ния позвоночника, возвращает свободу движений и активную жизнь'
    },
    'body-lymphatic-drainage': {
      id: 8,
      name: 'Лимфодренажный',
      fullName: 'Лимфодренажный массаж тела',
      url: '/body-lymphatic-drainage/',
      type: 'body',
      price: {
        first: 2200,
        standard: 2800
      },
      duration: 50,
      shortDescription: 'Рекомендован при отёках любой части тела, лишнем весе, тяжести в ногах. Оздоравливает весь организм'
    },
    'figure-modeling': {
      id: 7,
      name: 'Ручное моделирование фигуры',
      fullName: 'Ручное моделирование фигуры',
      url: '/figure-modeling/',
      type: 'figure',
      price: {
        first: 3500,
        standard: 3500,
        old: 5000
      },
      duration: 60,
      promo: {
        text: `<span class=''>Акция</span> — скидка на январь и февраль 30%`,
        starPlacement: 3, // 2 - first price, 3 - second price, 4 - duration
        title: '30% скидка на ручное модели&shy;рование фигуры',
        cardText: 'На январь и февраль',
        buttonText: 'Записаться',
        buttonColor: '#fe2c78',
        image: `${THEME_IMG_PATH}/prices-page/promo-bg-2@2x.jpg`
      },
      shortDescription: 'Рекомендован при выраженном целлюлите. Процедура включает лимфодренаж и обёртывание'
    },
    'fullbody-massage': {
      id: 11,
      name: 'Общий массаж тела',
      fullName: 'Общий массаж тела',
      url: '/fullbody-massage/',
      type: 'body',
      price: {
        first: 2400,
        standard: 3000
      },
      duration: 60,
      shortDescription: 'Расслабляющий и оздоравливающий массаж всего тела, поможет справиться со стрессом и улучшит сон'
    },
    'sports-massage': {
      id: 6,
      name: 'Спортивный',
      fullName: 'Спортивный массаж',
      url: '/sports-massage/',
      type: 'body',
      price: {
        first: 2400,
        standard: 3000
      },
      duration: 60,
      shortDescription: 'Для восстановления после тренировок или спортивных травм, и общего здоровья тела'
    },
    'anti-cellulite-massage': {
      id: 9,
      name: 'Антицеллюлитный',
      fullName: 'Антицеллюлитный массаж',
      url: '/anti-cellulite-massage/',
      type: 'figure',
      price: {
        first: 2100,
        standard: 2700
      },
      duration: 40,
      shortDescription: 'Рекомендован при выраженном целлюлите, если нет цели сильно похудеть. Включает обёртывание'
    },
    'neck-massage': {
      id: 10,
      name: 'Шейно-воротниковой зоны',
      fullName: 'Массаж шейно-воротниковой зоны',
      url: '/neck-massage/',
      type: 'body',
      price: {
        first: 2000,
        standard: 2000
      },
      duration: 30,
      shortDescription: ''
    },
    'sculptural-buccal-massage': {
      id: 1,
      name: 'Скульптурно-буккальный',
      fullName: 'Скульптурно-буккальный массаж лица',
      url: '/sculptural-buccal-massage/',
      type: 'face',
      tag: {
        text: 'Хит',
        color: 'secondary'
      },
      price: {
        first: 3300,
        standard: 3300,
        old: 4800
      },
      duration: 60,
      promo: {
        text: `<span class=''>Акция</span> — скидка на январь и февраль 30%`,
        starPlacement: 3, // 1 - massage name, 2 - first price, 3 - second price, 4 - duration
        title: '30% скидка на скульптурно-буккальный массаж!',
        cardText: 'Любое количество сеансов. Только на январь и февраль',
        buttonText: 'Записаться',
        buttonColor: '#06319f',
        image: `${THEME_IMG_PATH}/prices-page/promo-bg-1@2x.jpg`
      },
      shortDescription: 'Самый эффективный массаж лица. Полноценная альтернатива пластике, омоложение и улучшение черт лица'
    },
    'facial-lymphatic-drainage': {
      id: 3,
      name: 'Лимфодренажный',
      fullName: 'Лимфодренажный массаж лица',
      url: '/facial-lymphatic-drainage/',
      type: 'face',
      price: {
        first: 2100,
        standard: 2700
      },
      duration: 50,
      shortDescription: 'Рекомендован при отёках лица, мешках под глазами. Эффект первого сеанса очень наглядный'
    },
    'classic-facial-massage': {
      id: 2,
      name: 'Классический',
      fullName: 'Классический массаж лица',
      url: '/classic-facial-massage/',
      type: 'face',
      price: {
        first: 2100,
        standard: 2700
      },
      duration: 50,
      shortDescription: 'Восстановление природного здоровья и тонуса мышц, мягкая проработка'
    },
    'chiromassage': {
      id: 5,
      name: 'Хиромассаж',
      fullName: 'Хиромассаж лица',
      url: '/chiromassage/',
      type: 'face',
      price: {
        first: 2900,
        standard: 3600
      },
      duration: 60,
      shortDescription: 'Сочетание европейской и восточной техники, наполняет энергией, возвращает в ресурс'
    },
    'japanese-asahi-massage': {
      id: 4,
      name: 'Японский массаж Асахи',
      fullName: 'Массаж лица Асахи-Зоган',
      url: '/japanese-asahi-massage/',
      type: 'face',
      price: {
        first: 2900,
        standard: 3600
      },
      duration: 60,
      shortDescription: 'Японский формирующий массаж. Глубокая, интенсивная проработка мышц и костных тканей'
    }
  }
  globalData.company.specialists[0].tags = [
    `${date('Y') - 2008} лет опыта`,
    'Ведущий специалист'
  ]
  globalData.company.specialists[0].description = [
    'Проводит все виды массажа лица и тела, помогает избавиться от боли в спине, отёков, целлюлита, решает сложные эстетические проблемы.',
    'Работал в ведущих медицинских центрах — клинике №1 им. Пирогова, центре диетологии НИИ питания, Федеральном центре реабилитации.',
    'Член «Международного Альянса Массажистов». Автор методики «Максимально эффективное лечение боли при проведении лечебного массажа», преподаватель школы массажа.'
  ]
  globalData.company.specialists[0].images = {
    desktop: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/1_desktop@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/1_desktop@2x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/1_desktop@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/1_desktop@2x.jpg`
      }
    },
    tablet: false,
    mobile: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/1_mobile@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/1_mobile@2x.webp`,
        '3x': `${THEME_IMG_PATH}/specialists/1_mobile@3x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/1_mobile@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/1_mobile@2x.jpg`,
        '3x': `${THEME_IMG_PATH}/specialists/1_mobile@3x.jpg`
      }
    }
  }
  globalData.company.specialists[1].tags = [
    `${date('Y') - 2010} лет опыта`,
    'Член Международного Альянса Массажистов'
  ]
  globalData.company.specialists[1].description = [
    'Ирина проводит все виды массажа лица и тела, и помогла множеству клиентов избавиться от возрастных проблем, болей в спине, отёков и целлюлита. С большим удовольствием делает скульптурный массаж лица и радуется тому, как преображаются её клиенты.',
    'Работала в авторитетных медицинских центрах — Центр коррекции фигуры и веса, областная больница восстановительного лечения. Владеет более чем 15 техниками массажа и регулярно повышает квалификацию.'
  ]
  globalData.company.specialists[1].images = {
    desktop: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/3_desktop@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/3_desktop@2x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/3_desktop@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/3_desktop@2x.jpg`
      }
    },
    tablet: false,
    mobile: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/3_mobile@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/3_mobile@2x.webp`,
        '3x': `${THEME_IMG_PATH}/specialists/3_mobile@3x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/3_mobile@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/3_mobile@2x.jpg`,
        '3x': `${THEME_IMG_PATH}/specialists/3_mobile@3x.jpg`
      }
    }
  }
  globalData.company.specialists[2].tags = [
    `${date('Y') - 2000} год стажа`,
    `Медицинский подход<span class='hidden_mobile'> к массажу</span>`
  ]
  globalData.company.specialists[2].description = [
    'Считает массаж делом своей жизни и постоянно повышает квалификацию. Выполняет все виды массажа, но особенно любит избавлять от лишнего веса и целлюлита, наблюдать, как клиентки становятся легче и счастливее',
    'За годы опыта работала в самых авторитетных медицинских клиниках и центрах (отделение медицинской реабилитации клиники С.Н. Гринберга, клиника неврологии и остеопатии, а также клиники по коррекции тела с помощью массажа).'
  ]
  globalData.company.specialists[2].images = {
    desktop: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/2_desktop@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/2_desktop@2x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/2_desktop@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/2_desktop@2x.jpg`
      }
    },
    tablet: false,
    mobile: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/2_mobile@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/2_mobile@2x.webp`,
        '3x': `${THEME_IMG_PATH}/specialists/2_mobile@3x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/2_mobile@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/2_mobile@2x.jpg`,
        '3x': `${THEME_IMG_PATH}/specialists/2_mobile@3x.jpg`
      }
    }
  }
  globalData.company.specialists[3].tags = [
    `${date('Y') - 2011} лет опыта`,
    'Массаж — и работа, и хобби'
  ]
  globalData.company.specialists[3].description = [
    'Татьяна отлично разбирается во всех видах массажа лица и тела, и постоянно совершенствует мастерство. Она одинаково любит работать над эстетическими и медицинскими проблемами, и уже помогла множеству клиентов избавиться от боли в спине, сбросить вес и омолодить лицо.',
    'До прихода в нашу клинику Татьяна успела поработать в авторитетных клиниках коррекции лица и тела, и медицинских центрах'
  ]
  globalData.company.specialists[3].images = {
    desktop: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/4_desktop@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/4_desktop@2x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/4_desktop@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/4_desktop@2x.jpg`
      }
    },
    tablet: false,
    mobile: {
      webp: {
        '1x': `${THEME_IMG_PATH}/specialists/4_mobile@1x.webp`,
        '2x': `${THEME_IMG_PATH}/specialists/4_mobile@2x.webp`,
        '3x': `${THEME_IMG_PATH}/specialists/4_mobile@3x.webp`
      },
      jpg: {
        '1x': `${THEME_IMG_PATH}/specialists/4_mobile@1x.jpg`,
        '2x': `${THEME_IMG_PATH}/specialists/4_mobile@2x.jpg`,
        '3x': `${THEME_IMG_PATH}/specialists/4_mobile@3x.jpg`
      }
    }
  }
-
  globalData.company.features = [
    {
      bigText: `${globalData.company.businessDuration} лет`,
      smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='/about/'>О нас</a>`
    },
    {
      bigText: '10 лет',
      smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
    },
    {
      bigText: '800',
      smallText: `честных <a class='link link_primary underline' href='/reviews/'>отзывов</a>
        с&nbsp;${globalData.company.foundationYear}&nbsp;по&nbsp;${globalData.currentYear}
        <span class='main-screen__feature-rating'>
          <span>рейтинг&nbsp;в&nbsp;Яндекс&nbsp;<span aria-hidden='true'>5</span></span>
          <svg class='rating-block__star-icon' width='20' height='20' aria-label='5 звёзд'>
            <use xlink:href='#star-icon'></use>
          </svg>
        </span>`
    }
  ]
  globalData.priceList = {
    sections: {
      body: {
        title: 'Для здоровья тела',
        massages: [
          globalData.massages['back-massage'],
          globalData.massages['body-lymphatic-drainage'],
          globalData.massages['fullbody-massage'],
          globalData.massages['sports-massage'],
          globalData.massages['neck-massage']
        ]
      },
      face: {
        title: 'Для красоты лица',
        massages: [
          globalData.massages['sculptural-buccal-massage'],
          globalData.massages['facial-lymphatic-drainage'],
          globalData.massages['classic-facial-massage'],
          globalData.massages['chiromassage'],
          globalData.massages['japanese-asahi-massage']
        ]
      },
      figure: {
        title: 'Для стройной фигуры',
        massages: [
          globalData.massages['anti-cellulite-massage'],
          globalData.massages['body-lymphatic-drainage'],
          globalData.massages['figure-modeling']
        ]
      }
    },
    procedures: [
      {
        name: 'Массаж шейно-воротниковой зоны и грудного отдела позвоночника',
        price: 2400
      },
      {
        name: 'Массаж шейно-воротниковой зоны и обеих рук',
        price: 2500
      },
      {
        name: 'Массаж пояснично-крестцовой области и одной ноги',
        price: 2100
      },
      {
        name: 'Массаж пояснично-крестцовой области и обеих ног',
        price: 2400
      },
      {
        name: 'Массаж спины и ног',
        price: 3000
      },
      {
        name: 'Обёртывание общее',
        price: 2700
      },
      {
        name: 'Обёртывание антицеллюлитное',
        price: 2200
      },
      {
        name: 'Массаж баночный антицеллюлитный',
        price: 2600
      },
      {
        name: 'Массаж баночный спины',
        price: 2100
      }
    ],
    additions: [
      {
        name: 'Массаж головы',
        price: 700
      },
      {
        name: 'Массаж грудной клетки по окружности',
        price: 400
      },
      {
        name: 'Массаж живота',
        price: 500
      },
      {
        name: 'Массаж одной руки',
        price: 400
      },
      {
        name: 'Массаж обеих рук',
        price: 700
      },
      {
        name: 'Массаж одной руки и лопатки',
        price: 600
      },
      {
        name: 'Массаж кисти, лучезапястного сустава и предплечья',
        price: 400
      },
      {
        name: 'Массаж локтевого сустава',
        price: 200
      },
      {
        name: 'Массаж плечевого сустава',
        price: 300
      },
      {
        name: 'Массаж стоп',
        price: 500
      },
      {
        name: 'Массаж стопы и голени',
        price: 600
      },
      {
        name: 'Массаж голеностопного сустава',
        price: 200
      },
      {
        name: 'Массаж коленного сустава',
        price: 200
      },
      {
        name: 'Массаж тазобедренного сустава',
        price: 400
      },
      {
        name: 'Массаж одной ноги',
        price: 1100
      },
      {
        name: 'Массаж обеих ног',
        price: 2000
      }
    ]
  }
  globalData.commonFaceFaq = [
    {
      question: `Как именно помогает массаж?<br> За счёт чего подтягиваются мышцы?`,
      answer: `Всё довольно просто&nbsp;— когда массажист работает с мышечным каркасом лица и шеи, улучшается кровообращение, цвет лица и состояние кожи. Массажист снимает спазм мышц, возвращает им правильное положение.<br><br>Все основные эстетические проблемы лица&nbsp;— из-за спазмированных мышц. Поэтому результат массажа проявляется так быстро, и остаётся стабильным при периодической поддержке. Глубокое воздействие, которое мы делаем в клинике, приводит к очень стойкому результату, так как восстана&shy;вливается правильное положение костей, мышц, фасций и сосудов. За счёт этого уходят морщины, отёки, зажимы, ассимет&shy;рии лица. И это&nbsp;— ваше настоящее лицо, а не искусственно созданное пластикой. Вы не теряете свой облик, уникальность и естественность, вы только улучшаете их, к тому же всё это полностью безопасно`
    },
    {
      question: `Это не больно? Какие ощущения при&nbsp;процедуре?`,
      answer: `Нет, массаж лица это приятная процедура. Если какая-то мышца у вас сильно спазмирована, специалист будет работать с ней очень аккуратно, и не доставит вам дискомфорта. Некоторые наши клиенты даже засыпают на сеансе. Скорее всего, процедура доставит вам только удовольствие, а если неприятные ощущения будут, то это будет лишь лёгкий дискомфорт, и то один-два раза за весь сеанс. В общем, повода переживать нет`
    },
    {
      question: `Как поддерживать результат?<br> Если перестану, всё разъедется?`,
      answer: `Будет замечательно, если вы сможете приходить на поддерживающие сеансы 1-2 раза в месяц, либо курсом 1-2 раза в год. Это может показаться сложным, но такой подход поможет вам сохранить результат на долгие годы&nbsp;— лицо будет оставаться упругим, молодым и подтянутым. Но даже если вы решите не продолжать сеансы, лицо будет ещё долго радовать вас отличным тонусом. А дальше результат потихоньку будет становиться не таким ярким, но ничего ужасного не произойдёт. Полного отката назад не случится, лицо не станет выглядеть хуже, чем до массажа, и резкого обвисания тканей тоже не будет. Массаж, в отличие от пластики, полностью исключает такие последствия.`
    },
    {
      question: `Можно ли делать массаж с филлерами, нитями, ботоксом и т.д?`,
      answer: `Краткий ответ&nbsp;— да, но нужно быть готовым, что филлеры будут рассасываться быстрее.<br>
        <br>
        На результаты ботокса и нитей массаж не повлияет, главное переждать восстановительный период после процедуры. Время восстановления после процедуры ботокса составит 1-2 месяца, после нитей 3-6 недель, а после филлеров&nbsp;— до 2 месяцев. Со временем курсы массажа вполне могут заменить вам все инъекционные и хирургические процедуры.`
    },
    {
      question: `А кожа не растянется при таком воздействии?`,
      answer: `Нет, не растянется&nbsp;— при правильной технике невозможно растянуть кожу массажем. Специалисты в нашей клинике работают только по лучшим мировым методикам, они уверены в каждом своём движении, и точно знают, как принести вашей внешности только пользу. Кожа после массажа станет только лучше, она будет упругой, подтянутой и свежей.`
    }
  ]
-
  var articles = {
    1: {
      id: 1,
      url: '/articles/12-steps/',
      title: '12&nbsp;шагов к&nbsp;здоровью',
      fullTitle: '12&nbsp;шагов к&nbsp;здоровью, красоте&nbsp;и&nbsp;счастью',
      tags: ['Авторская статья клиники'],
      textPreview: `Все мы хотим быть счастливыми и&nbsp;здоровыми. Здоровье&nbsp;— это самый ценный капитал,
        который легко потерять, но&nbsp;сложно восстановить. Не&nbsp;так страшно лишиться денег, работы, машины...`,
      navigation: {
        1: 'Введение',
        2: 'Шаг 1. Поддерживайте уровень воды',
        3: 'Шаг 2. Помните о пользе омега 3',
        4: 'Шаг 3. Добавьте аминокислоты',
        5: 'Шаг 4. Избавьтесь от сахара',
        6: 'Шаг 5. Уберите из жизни дрожжи',
        7: 'Шаг 6. Выбирайте цельные продукты',
        8: 'Шаг 7. Исключите трансжиры',
        9: 'Шаг 8. Избавьтесь от кофеина',
        10: 'Шаг 9. Научитесь ценить сон',
        11: 'Шаг 10. Наведите порядок в теле',
        12: 'Шаг 11. Добавьте в жизнь движение',
        13: 'Шаг 12. Будьте счастливы'
      }
    },
    2: {
      id: 2,
      url: '/articles/indications-for-massage/',
      title: 'Показания к&nbsp;массажу',
      textPreview: `Массаж — способ лечить тело руками, возник в Китае как составляющая народной медицины. Затем техника
        стала практиковаться священнослужителями, которые предпочитали предотвращать болезнь, а не лечить ее. После...`,
      navigation: {
        1: 'Введение',
        2: 'Кому нужен массаж',
        3: '7 причин обратиться к опытному массажисту',
        4: 'Показания к массажу + видео',
        5: 'Выводы'
      }
    },
    3: {
      id: 3,
      url: '/articles/contraindications-for-massage/',
      title: 'Противопоказания к&nbsp;массажу',
      textPreview: `Противопоказания к массажу делятся на абсолютные, временные и локальные. При абсолютных
        противопоказаниях массаж полностью запрещен, а времен&shy;ные действуют до избавления...`,
      navigation: {
        1: 'Введение',
        2: 'Временные противопоказания',
        3: 'Абсолютные противопоказания',
        4: 'Локальные противопоказания',
        5: 'Противопоказания к массажу лица',
        6: 'Выводы'
      }
    },
    4: {
      id: 4,
      url: '/articles/about-massage/',
      title: 'Всё о массаже',
      textPreview: `Массаж&nbsp;— это физиотерапевтическая процедура, которая заключается в&nbsp;меха&shy;ническом
        воздействии на&nbsp;организм через кожу. В&nbsp;массаж входят основные приемы, такие как поглаживание...`,
      navigation: {
        1: 'Введение',
        2: 'Кратко о пользе массажа',
        3: 'История развития массажа: Древний мир',
        4: 'Развитие массажа в Средние века',
        5: 'Современная история массажа',
        6: 'Кратко о показаниях для массажа',
        7: 'Противопоказания для массажа',
        8: 'Правила проведения массажа',
        9: 'Влияние массажа на организм',
        10: 'Классификация массажа',
        11: 'Систематизация массажа',
        12: 'Виды массажа',
        13: 'Выводы + видео про массаж'
      }
    },
    5: {
      id: 5,
      url: '/articles/massage-pros-and-cons/',
      title: 'Польза и&nbsp;вред массажа',
      textPreview: `Ценность массажа колоссальна: он запускает мощные механизмы исцеления без&nbsp;необходимости
        употреблять таблетки, часто обладающие побочными реакциями. Лечебная процедура...`,
      navigation: {
        1: 'Введение',
        2: 'Польза массажа для организма',
        3: 'Польза разных видов массажа',
        4: 'Механизм действия массажа',
        5: 'Возможный вред массажа',
        6: 'Вред от непрофессионального массажа',
        7: 'Видео о пользе и вреде массажа',
        8: 'Высказывания великих людей о массаже',
        9: 'Выводы'
      }
    },
    6: {
      id: 6,
      url: '/articles/massage-oil/',
      title: 'Массажное масло',
      textPreview: `Тактильный контакт рук мастера с&nbsp;кожными покровами пациента становится более комфортным,
        если во&nbsp;время проведения сеанса массажное масло наносится на&nbsp;тело...`,
      navigation: {
        1: 'Введение',
        2: 'Виды масел для массажа. Применение',
        3: 'Как выбрать масло: критерии качества',
        4: 'Масла для различных видов массажа',
        5: 'Рецепты масел для разных видов массажа',
        6: 'Противопоказания к использованию массажного масла'
      }
    },
    7: {
      id: 7,
      url: '/articles/cervical-massage-against-osteochondrosis/',
      title: 'Массаж шейно-воротни&shy;ковой зоны при&nbsp;шейном остеохондрозе',
      textPreview: `Разрушение хрящевой ткани между шейными позвонками провоцирует...`,
      navigation: {
        1: 'Массаж при шейном остеохондрозе',
        2: 'Техника массажа шейно-воротниковой зоны при шейном остеохондрозе',
        3: 'Показания для массажа воротниковой зоны',
        4: 'Противопоказания для массажа воротниковой зоны',
        5: 'Сегментарный массаж при шейном остеохондрозе',
        6: 'Точечный массаж',
        7: 'Отводящий массаж шейно-воротниковой зоны',
        8: 'Массаж шейного отдела позвоночника при миозите'
      }
    },
    8: {
      id: 8,
      url: '/articles/cervical-massage-at-home/',
      title: 'Как размять шею в&nbsp;домашних условиях',
      tags: ['Содержит видеоуроки'],
      textPreview: `Головная боль, хроническая усталость, отеки&nbsp;— последствия малоактивного образа жизни
        и&nbsp;сидячей работы, которая создает напряжение в&nbsp;области шеи...`,
      navigation: {
        1: 'Техника выполнения массажа шейно-воротниковой зоны',
        2: 'Массажеры применяемые при массаже шейно-воротниковой зоны',
        3: 'Убираем "холку" массажем шейного отдела позвоночника',
        4: 'Массаж шейно-воротниковой зоны вакуумными банками',
        5: 'Массаж воротниковой зоны при гипертонии',
        6: 'Экспресс массаж в положении сидя (массаж на рабочем месте)',
        7: 'Расслабляющий массаж "антистресс"',
        8: 'Самомассаж'
      }
    },
    9: {
      id: 9,
      url: '/articles/back-massage-for-osteochondrosis/',
      tags: ['Содержит видеоуроки'],
      title: 'Массаж спины при&nbsp;остеохондрозе',
      textPreview: `Динамика распространения остеохондроза отличается нарастающим темпом — дегенеративные изменения
        все чаще диагностируются у молодых...`,
      navigation: {
        1: 'Остеохондроз: что это такое и причины появления',
        2: 'Симптомы остеохондроза',
        3: 'Степени остеохондроза: 1, 2, 3, 4 стадии',
        4: 'Польза массажа спины при остеохондрозе',
        5: 'Правила выполнения массажа',
        6: 'Техника выполнения массажа спины и важные приемы',
        7: 'Массаж спины при различных видах остеохондроза: шейном, грудном, поясничном',
        8: 'Показания и противопоказания к массажу спины при остеохондрозе',
        9: 'Массаж с медицинскими мазями',
        10: 'Самомассаж спины при остеохондрозе',
        11: 'Массаж при обострении остеохондроза и трещинах позвоночника',
        12: 'Критерии выбора массажиста для лечения остеохондроза',
        13: 'Прогноз лечения остеохондроза массажем и частота его выполнения',
        14: 'ВИДЕО-уроки: последовательность, техники, приемы'
      }
    },
    10: {
      id: 10,
      url: '/articles/massage-with-medical-ointments/',
      title: 'Массаж с&nbsp;медицинскими мазями',
      textPreview: `Даже без применения дополнительных препаратов массаж является эффектив&shy;ной восстанавливающей
        процедурой, улучшающей состояние человека...`,
      navigation: {
        1: 'Польза и плюсы использования мазей во время массажа',
        2: 'Виды применяемых в массаже мазей',
        3: 'Нюансы сочетания нескольких мазей в курсе',
        4: 'Подготовка к сеансу и техника выполнения массажа',
        5: 'Разогревающие мази для спортивного массажа',
        6: 'Массаж грудной клетки от бронхита',
        7: 'Массаж при пяточной шпоре',
        8: 'Массаж при переохлаждении',
        9: 'Противопоказания к использованию мазей'
      }
    },
    11: {
      id: 11,
      url: '/articles/osteochondrosis/',
      title: 'Остеохондроз',
      textPreview: `Клинические обследования позво&shy;ночника (рентген, МРТ, КТ), которые периодически проходит
        каждый пациент, эффективно выявляют все болезненные...`,
      navigation: {
        1: 'Что такое остеохондроз: симптоматика и признаки болезни',
        2: 'Причины появления остеохондроза (патогенез)',
        3: 'Разновидности остеохондроза: локализация и степени поражения',
        4: 'Нюансы диагностики и постановки диагноза',
        5: 'Осложнения остеохондроза: протрузии и грыжи',
        6: 'Взаимосвязь остеохондроза, ВСД и скачков давления',
        7: 'Лечение остеохондроза',
        8: 'Коррекция диетой',
        9: 'Профилактика',
        10: 'Прогноз'
      }
    },
    12: {
      id: 12,
      url: '/articles/correct-back-massage-at-home/',
      tags: ['Содержит видеоуроки'],
      title: 'Как правильно делать массаж спины в&nbsp;дома&shy;шних условиях',
      textPreview: `Дефицит свободного времени и уста&shy;лость в конце рабочего дня&nbsp;— главные причины, почему
        визит к&nbsp;массажисту... `,
      navigation: {
        1: 'Техника выполнения массажа спины в домашних условиях',
        2: 'Показания и противопоказания к массажу дома',
        3: 'Виды массажа в домашних условиях',
        4: 'Массаж с эфирными маслами',
        5: 'Массаж грудной клетки',
        6: 'Боль в спине: во время и после массажа',
        7: 'Можно ли делать массаж спины при различных болезнях и состояниях',
        8: 'Как часто можно делать массаж в домашних условиях',
        9: 'ВИДЕО-уроки массажа в домашних условиях'
      }
    }
  }
