.wrap
  h1 Администрирование
  p Выберите необходимый подраздел:
  ul
    li
      a(href=`${get_admin_url()}admin.php?page=application_form`) Запись на массаж
    li
      a(href=`${get_admin_url()}admin.php?page=callback_form`) Заказ обратного звонка
    li
      a(href=`${get_admin_url()}admin.php?page=test_form`) Тест выбора массажа
    li
      a(href=`${get_admin_url()}admin.php?page=review_form`) Отзывы
    li
      a(href=`${get_admin_url()}admin.php?page=prices`) Прайс-лист
    li
      a(href=`${get_admin_url()}admin.php?page=company_info`) Информация о компании
