- var data = JSON.parse(data)

mixin confirm-input-cell(name, value)
  td.table__cell.table__cell_no-padding.table__cell_relative.table__cell_confirm-input
    .confirm-input
      input.confirm-input__input(type='number' name=name value=value)
      button.confirm-input__confirm(type='button' aria-label='Подтвердить' data-disabled='')

.wrap.prices-wrap
  h1 Прайс-лист
  hr
  h2 Массажи
  .table.table_massages
    .table__wrap
      table.table__table
        thead
          tr.table__row
            th.table__cell.table__cell_heading
              span Массаж
            th.table__cell.table__cell_heading
              span
                | Цена
                br
                | 1-го сеанса, руб.
            th.table__cell.table__cell_heading
              span
                | Стандартная
                br
                | цена, руб.
            th.table__cell.table__cell_heading
              span Цена курса, руб.
            th.table__cell.table__cell_heading
              span Старая цена, руб.
            th.table__cell.table__cell_heading
              span Длительность, мин.
        tbody
          each massage in data.massages
            tr.table__row(data-id=massage.id data-type='massage')
              td.table__cell.table__cell_left
                span= massage.full_name
              +confirm-input-cell('first_price', massage.first_price)
              +confirm-input-cell('standard_price', massage.standard_price)
              +confirm-input-cell('course_price', massage.course_price)
              +confirm-input-cell('old_price', massage.old_price)
              +confirm-input-cell('duration', massage.duration)
  br
  h2 Отдельные процедуры
  .table.table_procedures
    .table__wrap
      table.table__table
        thead
          tr.table__row
            th.table__cell.table__cell_heading
              span Название
            th.table__cell.table__cell_heading
              span Цена, руб
        tbody
          each procedure in data.procedures
            tr.table__row(data-id=procedure.id data-type='procedure')
              td.table__cell.table__cell_left
                span= procedure.name
              +confirm-input-cell('price', procedure.price)
  br
  h2 Дополнительные процедуры
  .table.table_additions
    .table__wrap
      table.table__table
        thead
          tr.table__row
            th.table__cell.table__cell_heading
              span Название
            th.table__cell.table__cell_heading
              span Цена
        tbody
          each addition in data.additions
            tr.table__row(data-id=addition.id data-type='addition')
              td.table__cell.table__cell_left
                span= addition.name
              +confirm-input-cell('price', addition.price)

script.
  window.addEventListener(`click`, evt => {
    hidePreviousConfirmButton(evt);
    showConfirmButton();
    savePrice(evt);
  });

  function showConfirmButton() {
    if (document.activeElement.classList.contains(`confirm-input__input`)) {
      const confirmButton = document.activeElement.closest(`.confirm-input`).querySelector(`.confirm-input__confirm`);
      delete confirmButton.dataset.disabled;
    }
  }

  function hidePreviousConfirmButton(evt) {
    const activeConfirmButton = document.querySelector(`.confirm-input__confirm:not([data-disabled])`);
    const inputWrap = evt.target.closest(`.confirm-input`);
    if (activeConfirmButton && (!inputWrap || inputWrap.querySelector(`.confirm-input__confirm`) !== activeConfirmButton)) {
      activeConfirmButton.dataset.disabled = ``;
    }
  }

  function savePrice(evt) {
    if (!evt.target.classList.contains(`confirm-input__confirm`)) {
      return;
    }

    const input = evt.target.parentNode.querySelector(`.confirm-input__input`);
    const data = new FormData();
    const dataNode = evt.target.closest(`[data-id]`);

    data.append(`action`, `price_change`);
    data.append(`field`, input.name);
    data.append(`value`, input.value);
    data.append(`procedureId`, dataNode.dataset.id);
    data.append(`type`, dataNode.dataset.type);
    evt.target.dataset.disabled = ``;

    sendRequest(data)
      .then(response => {
        if (!response || !response.result) {
          throw new Error(`Цена не была обновлена`);
        }

        if (response.updateResult) {
          input.classList.add(`confirm-input__input_success`);
          setTimeout(() => input.classList.remove(`confirm-input__input_success`));
        }
      })
      .catch(error => alert(`Ошибка: ${error}`));
  }

  function sendRequest(data) {
    return fetch(`/wp-admin/admin-post.php`, {
      method: `post`,
      body: data
    })
    .then(response => response.json());
  }
