- var faceResults = pageData.massageResults.face
- var initialCurrentPhotos = faceResults.slidesOrder.current
- var initialRestPhotos = faceResults.slidesOrder.rest
- var slidesList = []
- var additionalCurrentPhotos = []
- var additionalRestPhotos = []
- var currentCollagePhotos = []
- var restCollagePhotos = []

each photo in faceResults.photos
  //- photo.id !== '8' - excludes same photo as on the main slide
  if photo.massage_id === pageData.theme
    if photo.collage
      - currentCollagePhotos.push(photo)
    else if (initialCurrentPhotos.indexOf(photo.id) === -1 && photo.id !== '8')
      - additionalCurrentPhotos.push(photo)
  else
    if photo.collage
      - restCollagePhotos.push(photo)
    else if (initialRestPhotos.indexOf(photo.id) === -1 && photo.id !== '8')
      - additionalRestPhotos.push(photo)

//- Slides list order: 1st - collages for current massage
each collagePhoto in currentCollagePhotos
  - slidesList.push(collagePhoto)
//- Slides list order: 2nd - main slide with descriptions
if pageData.theme !== 'main'
  - slidesList.push('main')
//- Slides list order: 3rd - single photos for current massage added later
each photo in additionalCurrentPhotos
  - slidesList.push(photo)
//- Slides list order: 4th - single photos for current massage from initial list
each photoId in initialCurrentPhotos
  - slidesList.push(faceResults.photos[photoId])
//- Slides list order: 5th - collages for rest massages
each collagePhoto in restCollagePhotos
  - slidesList.push(collagePhoto)
if pageData.theme === 'main'
  - slidesList.push('main')
//- Slides list order: 6th - single photos for rest massages added later
each photo in additionalRestPhotos
  - slidesList.push(photo)
//- Slides list order: 7th - single photos for rest massages from initial list
each photoId in initialRestPhotos
    - slidesList.push(faceResults.photos[photoId])

mixin face-slide(slide)
  .face-results__slide(class=(slide === 'main' ? 'face-results__slide_main' : `face-results__slide_${slide.id}`))
    case slide
      when 'main'
        -
          var photo1 = {
            desktop: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_desktop@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_desktop@2x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_desktop@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_desktop@2x.png`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_mobile@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_mobile@2x.webp`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_mobile@3x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_mobile@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_mobile@2x.png`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-1_mobile@3x.png`
              }
            }
          }
          var photo2 = {
            desktop: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_desktop@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_desktop@2x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_desktop@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_desktop@2x.png`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_mobile@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_mobile@2x.webp`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_mobile@3x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_mobile@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_mobile@2x.png`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/face-results-1-2_mobile@3x.png`
              }
            }
          }
        h3.massage-results__slide-title
          | Курс
          |
          if pageData.theme === '1'
            span скульптурно-буккального массажа
          else
            a.link.massage-results__massage-link(href='/vidy-massazha/sculptural-buccal-massage/') скульптурно-буккального массажа
        .massage-results__photos
          .massage-results__before
            h4.massage-results__label.hidden_desktop До
            +picture-tag(photo1, photo1.mobile.png['3x'], 'До курса массажа лица').massage-results__photo.massage-results__photo_before
          .massage-results__after
            h4.massage-results__label.hidden_desktop После
            +picture-tag(photo2, photo2.mobile.png['3x'], 'Результат после курса массажа лица').massage-results__photo.massage-results__photo_after
        .face-results__presentation
          +picture-tag(photo2, photo2.mobile.png['3x'], 'Результат после курса массажа лица', 210, 227).hidden_desktop
          .face-results__description.face-results__description_one
            | Взгляд “распахивается” после первой же процедуры
          .face-results__description.face-results__description_two
            | Такие морщинки сложны в коррекции, но за курс они уходят почти полностью
          .face-results__description.face-results__description_three
            | Носогубки и так были в неплохом состоянии, но теперь совсем не видны
          .face-results__description.face-results__description_four
            | Врач всегда тщательно прорабатывает шею и овал лица, так как они выдают возраст
          .face-results__description.face-results__description_five.hidden_mobile-tablet
            | Часть физиологических особенностей не убрать массажем, но они и не портят внешность
        .massage-results__link
          if pageData.theme === '1'
            button.button.button_primary(type='button' data-open-popup='appointment' data-massage-id=pageData.theme) Записаться
          else
            a(href='/vidy-massazha/sculptural-buccal-massage/').button.button_primary Читать о процедуре
      default
        - var titleEnd = 'скульптурно-буккального массажа'
        - var link = '#'
        each massage in globalData.massages
          if slide.massage_id === massage.id
            - link = massage.url
        if slide.massage_id === '4'
          - titleEnd = 'массажа Асахи-Зоган'
        else if slide.massage_id === '5'
          - titleEnd = 'хиромассажа'
        h3.massage-results__slide-title
          | Курс
          |
          if pageData.theme === slide.massage_id
            span= titleEnd
          else
            a.link.massage-results__massage-link(class=`massage-results__massage-link_${slide.massage_id}` href=link)= titleEnd
        .massage-results__labels
          h4.massage-results__label.hidden_desktop До
          h4.massage-results__label.hidden_desktop После
        if slide.collage
          .massage-results__collage-slide(class=`massage-results__collage-slide_${slide.massage_id}`)
            +picture-tag(slide.photo, slide.photo.mobile.jpg['3x'], 'До и после курса массажа').massage-results__collage-main-image
            +picture-tag(slide.collage, slide.collage.mobile.jpg['3x'], '').massage-results__collage-secondary-image
        else
          .massage-results__simple-slide(class=`massage-results__simple-slide_${slide.massage_id}`)
            +picture-tag(slide.photo, slide.photo.mobile.jpg['3x'], 'До и после курса массажа').massage-results__single-image
        .massage-results__link
          button.button.button_primary(type='button' data-open-popup='appointment' data-massage-id=slide.massage_id) Записаться

if faceResults
  section#faceResults.massage-results__section.face-results
    .face-results__slider.slider(data-state='presentation')
      button.slider__button.slider__button_prev(aria-label="Предыдущий слайд")
      ul.face-results__slides
        each slide in slidesList
          li.face-results__slide-wrap
            +face-slide(slide)
      button.slider__button.slider__button_next(aria-label="Следующий слайд")
