- var figureResults = pageData.massageResults.figure
- var initialCurrentPhotos = figureResults.slidesOrder.current
- var initialRestPhotos = figureResults.slidesOrder.rest
//- Slides list order: 1st - main slide with descriptions
- var slidesList = ['main-2']
- var additionalCurrentPhotos = []
- var additionalRestPhotos = []
- var currentCollagePhotos = []
- var restCollagePhotos = []

each photo in figureResults.photos
  if photo.massage_id === pageData.theme
    if photo.collage
      - currentCollagePhotos.push(photo)
    else if (initialCurrentPhotos.indexOf(photo.id) === -1)
      - additionalCurrentPhotos.push(photo)
  else
    if photo.collage
      - restCollagePhotos.push(photo)
    else if (initialRestPhotos.indexOf(photo.id) === -1)
      - additionalRestPhotos.push(photo)

//- Slides list order: 2nd - collages for current massage
each collagePhoto in currentCollagePhotos
  - slidesList.push(collagePhoto)
//- Slides list order: 3rd - single photos for current massage added later
each photo in additionalCurrentPhotos
  - slidesList.push(photo)
//- Slides list order: 4th - single photos for current massage from initial list
each photoId in initialCurrentPhotos
  - slidesList.push(figureResults.photos[photoId])
//- Slides list order: 5th - collages for rest massages
each collagePhoto in restCollagePhotos
  - slidesList.push(collagePhoto)
//- Slides list order: 6th - single photos for rest massages added later
each photo in additionalRestPhotos
  - slidesList.push(photo)
//- Slides list order: 7th - single photos for rest massages from initial list
each photoId in initialRestPhotos
  - slidesList.push(figureResults.photos[photoId])

mixin figure-slide(slide)
  .figure-results__slide(class=`figure-results__slide_${slide.id}`)
    case slide
      when 'main'
        -
          var photo1_1 = {
            desktop: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_desktop@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_desktop@2x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_desktop@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_desktop@2x.png`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_mobile@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_mobile@2x.webp`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_mobile@3x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_mobile@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_mobile@2x.png`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-1_mobile@3x.png`
              }
            }
          }
          var photo1_2 = {
            desktop: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_desktop@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_desktop@2x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_desktop@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_desktop@2x.png`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_mobile@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_mobile@2x.webp`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_mobile@3x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_mobile@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_mobile@2x.png`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-1-2_mobile@3x.png`
              }
            }
          }
        h3.massage-results__slide-title 10 процедур антицеллюлитного массажа
        .massage-results__photos
          .massage-results__before
            h4.massage-results__label.hidden_desktop До
            +picture-tag(photo1_1, photo1_1.mobile.png['3x'], 'До курса массажа').massage-results__photo.massage-results__photo_before
          .massage-results__after
            h4.massage-results__label.hidden_desktop После
            +picture-tag(photo1_2, photo1_2.mobile.png['3x'], 'Результат после курса массажа').massage-results__photo.massage-results__photo_after
        .figure-results__description.figure-results__description_one
          | За курс ушло 2&nbsp;размера одежды
        .figure-results__description.figure-results__description_two
          | По формам кажется, что девушка потеряла 7-10&nbsp;кг жира, но&nbsp;большая часть это лишняя меж&shy;клеточная жидкость,
          | которая не&nbsp;вернётся
        .massage-results__link
          button(type='button' data-open-popup='appointment' data-massage-id='9').button.button_primary Записаться
      when 'main-2'
        -
          var photo2_1 = {
            desktop: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_desktop@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_desktop@2x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_desktop@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_desktop@2x.png`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_mobile@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_mobile@2x.webp`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_mobile@3x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_mobile@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_mobile@2x.png`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-1_mobile@3x.png`
              }
            }
          }
          var photo2_2 = {
            desktop: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_desktop@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_desktop@2x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_desktop@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_desktop@2x.png`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_mobile@1x.webp`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_mobile@2x.webp`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_mobile@3x.webp`
              },
              png: {
                '1x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_mobile@1x.png`,
                '2x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_mobile@2x.png`,
                '3x': `${THEME_UPLOADS_BASE_PATH}/2021/02/figure-results-2-2_mobile@3x.png`
              }
            }
          }
        h3.massage-results__slide-title Курс ручного моделирования
        .massage-results__photos
          .massage-results__before
            h4.massage-results__label.hidden_desktop До
            +picture-tag(photo2_1, photo2_1.mobile.png['3x'], 'До курса массажа').massage-results__photo.massage-results__photo_before
          .massage-results__after
            h4.massage-results__label.hidden_desktop После
            +picture-tag(photo2_2, photo2_2.mobile.png['3x'], 'Результат после курса массажа').massage-results__photo.massage-results__photo_after
        .figure-results__description.figure-results__description_one
          | За курс ушло 2&nbsp;размера одежды
        .figure-results__description.figure-results__description_two
          | Массаж помогает похудеть именно в&nbsp;проблемных зонах клиента. Такого точечного эффекта почти
          | невозмож&shy;но добиться другими способами
        .figure-results__description.figure-results__description_three
          | За курс уходят такие проблемные зоны как “ушки” и бока, улучшается форма ягодиц, ног и живота
        .massage-results__link
          button(type='button' data-open-popup='appointment' data-massage-id='7').button.button_primary Записаться
      default
        - var title = 'Курс ручного моделирования'
        if slide.massage_id === '9'
          - title = 'Курс антицеллюлитного массажа'
        h3.massage-results__slide-title= title
        .massage-results__labels
          h4.massage-results__label.hidden_desktop До
          h4.massage-results__label.hidden_desktop После
        if slide.collage
          .massage-results__collage-slide(class=`massage-results__collage-slide_${slide.massage_id}`)
            +picture-tag(slide.photo, slide.photo.mobile.jpg['2x'], 'До и после курса массажа').massage-results__collage-main-image
            +picture-tag(slide.collage, slide.collage.mobile.jpg['2x'], '').massage-results__collage-secondary-image
        else
          .massage-results__simple-slide(class=`massage-results__simple-slide_${slide.massage_id}`)
            +picture-tag(slide.photo, slide.photo.mobile.jpg['2x'], 'До и после курса массажа').massage-results__single-image
        .massage-results__link
          button(type='button' data-open-popup='appointment' data-massage-id=slide.massage_id).button.button_primary Записаться

if figureResults
  section#figureResults.massage-results__section.figure-results(class=(pageData.theme === 'main' ? 'hidden' : false))
    .figure-results__slider.slider
      button.slider__button.slider__button_prev(aria-label="Предыдущий слайд")
      ul.figure-results__slides
        each slide in slidesList
          li.figure-results__slide-wrap
            +figure-slide(slide)
      button.slider__button.slider__button_next(aria-label="Следующий слайд")
