section.features-list
  .container
    .features-list__content
      h2.heading!= locals.data.pageData.featuresBlock.heading
      ul.features-list__list
        each feature, i in locals.data.pageData.featuresBlock.features
          - var itemClass = 'features-list__item'
          li.features-list__item(class=(i === 0 ? `${itemClass}_one` : i === 1 ? `${itemClass}_two` : `${itemClass}_three`))
            .features-list__image
            h3.features-list__feature-title!= feature.title
            p.features-list__feature-description!= feature.text
      if locals.data.pageData.theme === 'main'
        a.features-list__link.link.link_arrow.link_primary.underline(href=locals.data.pageData.featuresBlock.link.url)!= locals.data.pageData.featuresBlock.link.text
