-
  var massages = locals.data.globalData.massages
  var priceList = {
    sections: {
      body: {
        title: 'Для здоровья тела',
        massages: [
          massages['back-massage'],
          massages['body-lymphatic-drainage'],
          massages['fullbody-massage'],
          massages['sports-massage'],
          massages['neck-massage']
        ]
      },
      face: {
        title: 'Для красоты лица',
        massages: [
          massages['sculptural-buccal-massage'],
          massages['facial-lymphatic-drainage'],
          massages['classic-facial-massage'],
          massages['chiromassage'],
          massages['japanese-asahi-massage']
        ]
      },
      figure: {
        title: 'Для стройной фигуры',
        massages: [
          massages['anti-cellulite-massage'],
          massages['body-lymphatic-drainage'],
          massages['figure-modeling']
        ]
      }
    }
  }

section.price-list
  .container.price-list__content
    h2.price-list__title.heading Цены и акции
    .price-list__wrap
      if locals.data.pageData.priceList.showPromo
        include main-promo
      .price-list__prices
        each section in priceList.sections
          - var promoText = ''
          section.price-list__section
            table.price-list__table.table
              tr.table__row
                th.table__cell.table__cell_heading
                  h3.price-list__type-caption= section.title
                th.table__cell.table__cell_heading 1-ый сеанс
                th.table__cell.table__cell_heading Последующие
                th.table__cell.table__cell_heading Время
              each massage in section.massages
                - var additionalClass = ''
                if massage.promo
                  - promoText = `${promoText}${massage.promo.text}<br>`
                  if massage.promo.starPlacement
                    - additionalClass = `table__row_promo table__row_promo-${massage.promo.starPlacement}`
                  if massage.promo.highlightRow
                    - additionalClass = `${additionalClass} table__row_highlight`
                tr.table__row(class=additionalClass)
                  td.table__cell
                    b.price-list__massage-name= massage.name
                  td.table__cell
                    span.price-list__first-price!= `${massage.price.first}&thinsp;₽`
                  td.table__cell!= `${massage.price.standard}&thinsp;₽`
                  td.table__cell!= `${massage.duration}&thinsp;мин`
            p.price-list__promo-text!= promoText
      .price-list__callback.price-list-callback-form
        .price-list-callback-form__initial-content
          p.price-list-callback-form__text Не уверены, что&nbsp;выбрать? Давайте мы вам позвоним и&nbsp;подскажем.
          p.price-list-callback-form__text
            | И напоминаем, что
            |
            b готовы полностью вернуть вам деньги
            |
            | за&nbsp;процедуру, если вам не&nbsp;понра&shy;вится. Но&nbsp;пока это никому не&nbsp;понадобилось&nbsp;:)
          button.price-list-callback-form__trigger.link.link_primary.underline(type='button') Перезвоните мне
        .price-list-callback-form__wrap.hidden
          button.price-list-callback-form__close(type='button' aria-label='Закрыть форму')
          include application-form/application-form
