extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'index.html',
      title: `Массаж в Москве. ${globalData.company.businessDuration} лет успешной работы. Медицинский подход`,
      description: `Массаж, Москва - услуги профессиональных массажистов с медицинской лицензией - более
        ${globalData.company.businessDuration} лет успешной работы, эффективные классические и авторские методики.`,
      keywords: `массаж в Москве, массаж, Москва, услуги, антицеллюлитный массаж, массаж спины, медицинский массаж,
        массаж от целлюлита`,
      canonical: 'http://expert-massage-clinic.ru/',
      pageClass: 'index-page',
      theme: 'main',
      mainScreenHeading: 'EXPERT&nbsp;— первая клиника профессионального массажа',
      mainScreenSubheading: `Мы избавляем от&nbsp;болей в&nbsp;спине, целлюлита и&nbsp;отёков, подтягиваем лицо без
        операций и&nbsp;лечим массажем`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='/about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='/reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ]
    }

block content
  .container
    include ../includes/modules/content/application-form

block script
