mixin massage-card(massage, tags, text, customTitle)
  .massage-card(class=attributes.class)
    .massage-card__content
      ul.massage-card__tags
        each tag in tags
          li.massage-card__tag= tag
      h4.massage-card__title!= ((customTitle) || (massage.fullName))
      p.massage-card__text!= text
      a(href=massage.url).massage-card__link.link.link_arrow.link_secondary.underline Узнать больше
    .massage-card__image

section.massage-types
  article.massage-types__sticker.massage-types__sticker_first.sticker(data-aos='fade-in' data-aos-duration='300' data-aos-offset='140')
    +svg-icon('#polystar').sticker__image
    b.sticker__secondary-text Мы работаем по&nbsp;авторским и&nbsp;лучшим мировым методикам
  .container
    .massage-types__content
      h2.heading.massage-types__title Виды массажа в&nbsp;нашей клинике
      .massage-types__section
        h3.massage-types__subtitle Для здоровья тела
        .massage-types__item.massage-types__item_1
          +massage-card(
            globalData.massages['back-massage'],
            ['При боли', 'Лечит заболевания позвоночника', 'При сидячей работе'],
            'Снимает боль, возвращает лёгкость движе&shy;ний. Показан, если&nbsp;вам поставили диагноз сколиоз, кифоз, остеохондроз или&nbsp;люмбаго, но&nbsp;можно делать и&nbsp;без диагноза. Лечебный массаж&nbsp;— отличная профилактика при офис&shy;ной работе и&nbsp;малоактивном образе жизни'
          )
        .massage-types__item.massage-types__item_2
          +accordion(globalData.massages['fullbody-massage'].fullName, 'massageTypeAccordionTrigger1', 'massageTypeAccordionBody1', false)
            +massage-card(
              globalData.massages['fullbody-massage'],
              ['При хронической усталости', 'От бессоницы'],
              'Оказывает лечебное действие на весь орга&shy;низм, наполняет энергией, даёт запас сил. Расслабляет все зажимы, убирает застои. Если вы не знаете, какой массаж выбрать или у вас болит всё сразу, попробуйте общий массаж. Проработаем спину, шею, голову, руки и&nbsp;ноги, и&nbsp;вам сразу же станет легче'
            )
        .massage-types__item.massage-types__item_3
          +accordion(globalData.massages['body-lymphatic-drainage'].fullName, 'massageTypeAccordionTrigger2', 'massageTypeAccordionBody2', false)
            +massage-card(
              globalData.massages['body-lymphatic-drainage'],
              ['Для поднятия иммунитета', 'От отёков'],
              'Этот массаж убирает отёки со всего тела и&nbsp;лица. Также он оказывает оздоравливающее воздействие на весь организм. Застой лимфы — причина многих заболеваний. А лимфа застаивается у всех, кто мало занимается спортом или пьёт мало воды. Массаж поможет вам избавиться от отёков, выглядеть и&nbsp;чувствовать себя гораздо лучше',
              'Лимфодренажный массаж всего тела'
            )
        .massage-types__item.massage-types__item_4
          +accordion(globalData.massages['neck-massage'].fullName, 'massageTypeAccordionTrigger3', 'massageTypeAccordionBody3', false)
            +massage-card(
              globalData.massages['neck-massage'],
              ['После трудного дня', 'Если защемило шею', 'При головной боли'],
              'Короткий сеанс массажа поможет облегчить состояние, если затекает шея, мучает головная боль, а времени сделать полный лечебный массаж нет. Отлично помогает после тяжелого рабочего дня и&nbsp;приносит приятные ощущения расслабленного шейного отдела',
              'Массаж шейно-воротниковой&nbsp;зоны'
            )
        .massage-types__item.massage-types__item_5
          +accordion(globalData.massages['sports-massage'].fullName, 'massageTypeAccordionTrigger4', 'massageTypeAccordionBody4', false)
            +massage-card(
              globalData.massages['sports-massage'],
              ['После тренировки', 'После спортивных травм', 'Для удлинения мышц'],
              'Этот массаж рекомендован всем, кто занимается спортом — и&nbsp;при активных занятиях, и&nbsp;при начале тренировок. Массаж снимает болевой синдром, помогает выводить молочную кислоту, удлиняет мышцы и&nbsp;фасции. Способствует глубокому мышечному расслаблению'
            )
      .massage-types__section
        h3.massage-types__subtitle Для красоты лица
        .massage-types__item.massage-types__item_6
          article.sticker(data-aos='fade-in' data-aos-duration='300' data-aos-offset='140')
            +svg-icon('#polystar').sticker__image
            b.sticker__main-text Хит
          +massage-card(
            globalData.massages['sculptural-buccal-massage'],
            ['Замена пластике', 'Улучшение черт лица', 'Без противопоказаний'],
            'По-настоящему преображающий массаж. Равноценная замена пластике, но без уколов, боли и&nbsp;рисков. Этот массаж убирает все признаки старения, отёки под глазами, второй подбородок. Массаж не травматичен, не имеет противопоказаний, а его результат, при поддержке, держится всю жизнь'
          )
        .massage-types__item.massage-types__item_7
          +accordion(globalData.massages['classic-facial-massage'].fullName, 'massageTypeAccordionTrigger5', 'massageTypeAccordionBody5', false)
            +massage-card(
              globalData.massages['classic-facial-massage'],
              ['Свежесть и тонус'],
              'Во время сеанса массажист восстанавливает здоровье мышц&nbsp;— мягко поглаживает, растирает и&nbsp;разминает лицо по&nbsp;массажным линиям. Мышца удлиняется и&nbsp;расслабляется, усиливается кровоток и&nbsp;возрастные изменения становятся меньше. Массаж позволяет сохранить тонус и&nbsp;молодость лица, кожа выглядит свежей, светящейся'
            )
        .massage-types__item.massage-types__item_8
          +accordion(globalData.massages['japanese-asahi-massage'].fullName, 'massageTypeAccordionTrigger6', 'massageTypeAccordionBody6', false)
            +massage-card(
              globalData.massages['japanese-asahi-massage'],
              ['Глубокая проработка', 'Мощный лимфодренаж'],
              'С японского переводится как «создание лица». Массажные движения делаются с усилием, но без боли, глубоко прорабатываются мышцы и&nbsp;костные ткани. За счёт стимуляции лимфатических узлов и&nbsp;сосудов, моментально уходят отёки, но лицо не проседает, как бывает при резком похудении, а как будто «оживает изнутри»'
            )
        .massage-types__item.massage-types__item_9
          +accordion(globalData.massages['facial-lymphatic-drainage'].fullName, 'massageTypeAccordionTrigger7', 'massageTypeAccordionBody7', false)
            +massage-card(
              globalData.massages['facial-lymphatic-drainage'],
              ['Против отёков, мешков под глазами'],
              'Проработка лица, шеи и&nbsp;зоны декольте. Специальными движениями массажист активирует отток лимфы и&nbsp;снимает отёчность лица. Улучшается овал, уходят мешки под глазами, кожа выглядит свежее. Если у вас нет времени на курс массажа перед важным событием — лимфодренажный массаж омолодит вас за сеанс сильнее макияжа',
              'Лимфодренажный массаж&nbsp;лица'
            )
        .massage-types__item.massage-types__item_10
          +accordion(globalData.massages['chiromassage'].fullName, 'massageTypeAccordionTrigger8', 'massageTypeAccordionBody8', false)
            +massage-card(
              globalData.massages['chiromassage'],
              ['Самый расслабляющий', 'Мягкая техника', 'Возвращает в ресурс'],
              'Сочетание европейской техники массажа с восточными — пассивной йогой, мануальной терапией, ритмической акупрессурой и&nbsp;т.д. Эта техника оказывает мягкое воздействие на мышцы и&nbsp;кожу лица, а также расслаб&shy;ляющий и&nbsp;энергетический эффект на весь организм. После процеду&shy;ры наши клиенты отмечают прилив сил и&nbsp;чувство радости'
            )
      .massage-types__section
        h3.massage-types__subtitle Для стройной фигуры
        .massage-types__item.massage-types__item_11
          +massage-card(
            globalData.massages['figure-modeling'],
            ['До -15 см в объемах', 'Минимум боли'],
            'Уникальная процедура — включает лимфодренаж и&nbsp;обёртывание. Мастер буквально лепит вам новое тело, помогая похудеть и&nbsp;подтянуть кожу. Уходят отёки, лишняя межклеточная жидкость и&nbsp;жир, объёмы не возвращаются!'
          )
        .massage-types__item.massage-types__item_12
          +accordion(globalData.massages['anti-cellulite-massage'].fullName, 'massageTypeAccordionTrigger9', 'massageTypeAccordionBody9', false)
            +massage-card(
              globalData.massages['anti-cellulite-massage'],
              ['Убирает признаки целлюлита', 'Минимум боли'],
              'Этот массаж идеально подойдёт, если у вас почти нет лишнего веса, но есть выраженный целлюлит. Массаж поможет значительно скорректировать неприятный дефект, а если у вас начальные стадии целлюлита, то он пропадёт полностью'
            )
        .massage-types__item.massage-types__item_13
          +accordion(globalData.massages['body-lymphatic-drainage'].fullName, 'massageTypeAccordionTrigger10', 'massageTypeAccordionBody10', false)
            +massage-card(
              globalData.massages['body-lymphatic-drainage'],
              ['Для поднятия иммунитета', 'От отёков'],
              'Этот массаж убирает отёки со всего тела и&nbsp;лица. Также он оказывает оздоравливающее воздействие на весь организм. Застой лимфы — причина многих заболеваний. А лимфа застаивается у всех, кто мало занимается спортом или пьёт мало воды. Массаж поможет вам избавиться от отёков, выглядеть и&nbsp;чувствовать себя гораздо лучше',
              'Лимфодренажный массаж всего тела'
            )
