- var title = 'Другие массажи для'
if pageData.theme <= 5
  - title = `${title} лица`
else if (pageData.theme >= 7) && (pageData.theme <= 9)
  - title = `${title} стройной фигуры и здоровья`
else
  - title = `${title} здоровья тела`

mixin massage-preview(id)
  - var massageInfo
  - var isHighlighted = false
  each massage in globalData.massages
    if +massage.id === id
      - massageInfo = massage
    if id === 1
      - isHighlighted = true
    if (id === 6) && (pageData.theme === '12')
      - isHighlighted = true
    if (id === 7) && ((pageData.theme === '8') || (pageData.theme === '9'))
      - isHighlighted = true
    if (id === 9) && (pageData.theme === '7')
      - isHighlighted = true
    if (id === 12) && ((pageData.theme === '6') || (pageData.theme === '10') || (pageData.theme === '11'))
      - isHighlighted = true
  li.more-massages__slider-item
    a.more-massages__card.massage-card(class=(isHighlighted ? 'more-massages__card_highlighted' : false) href=massageInfo.url)
      if id === 1
        .more-massages__sticker
          .more-massages__sticker-text Хит
          +svg-icon('#polystar').more-massages__sticker-bg(width='105' height='105')
      .massage-card__image(class=`massage-card__image_theme-${id}`)
      .massage-card__content
        - var title = massageInfo.name
        if id === 4
          - title = 'Асахи-Зоган'
        if id === 7
          - title = 'Ручное моделирование'
        h3.massage-card__title= title
        p.massage-card__text!= massageInfo.short_description
        span.massage-card__link.link.link_primary.link_arrow(aria-hidden='true') Смотреть

section.more-massages
  .container
    .more-massages__content
      h2.more-massages__title.heading= title
      .slider
        button.slider__button.slider__button_prev(aria-label='Предыдущий отзыв')
        ul.more-massages__list.more-massages__slider
          each massageId in pageData.moreMassages
            +massage-preview(massageId)
        button.slider__button.slider__button_next(aria-label='Следующий отзыв')
