.share-block
  p.share-block__text Статья оказалась полезной? Поделитесь ценной информацией с теми, кому вы желаете самого наилучшего!
  .ya-share2(
    data-curtain
    data-shape='normal'
    data-size='l'
    data-services='telegram,odnoklassniki,vkontakte,facebook'
    data-use-links
    data-description=pageData.description
    data-image=globalData.compamy.logoImages.desktop.png['2x']
  )
  script(src='https://yastatic.net/share2/share.js' defer)
