- var globalData = locals.data.globalData
-
  var menuData = {
    list: [
      {
        text: 'На главную',
        url: 'index.html'
      },
      {
        text: 'Цены и акции',
        url: 'prices.html'
      },
      {
        text: 'Отзывы',
        url: 'reviews.html'
      },
      {
        text: 'О нас',
        url: 'about.html'
      },
      {
        text: 'Контакты',
        url: 'contacts.html'
      },
      {
        text: 'Интересное',
        url: 'articles.html'
      }
    ],
    promo: {
      name: 'Пробный сеанс минус 20%',
      image: {
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/banners/menu/menu-promo@1x.webp',
            '2x': 'assets/img/banners/menu/menu-promo@2x.webp',
            '3x': 'assets/img/banners/menu/menu-promo@3x.webp'
          },
          png: {
            '1x': 'assets/img/banners/menu/menu-promo@1x.png',
            '2x': 'assets/img/banners/menu/menu-promo@2x.png',
            '3x': 'assets/img/banners/menu/menu-promo@3x.png'
          }
        }
      }
    }
  }

mixin submenu-item(massage)
  li.submenu__list-item
    a.submenu__link.link(href=massage.url)= massage.name
    if massage.tag
      b.submenu__tag(class=(massage.tag.color ? `submenu__tag_${massage.tag.color}` : false))= massage.tag.text

nav.page-header__menu.main-menu
  h2.visually-hidden Главное меню
  ul.main-menu__list
    li.main-menu__list-item.main-menu__submenu-trigger.dropdown(data-on='hover' data-state='closed' tabindex='0')
      span.main-menu__section.dropdown__trigger Виды массажа
      .main-menu__submenu.dropdown__body
        .submenu
          each type, i in ['Массаж тела', 'Массаж лица']
            ul.submenu__list
              li.submenu__list-item
                h3.submenu__list-heading= type
              each massage in globalData.massages
                if ((i === 0) && (massage.menuType === 'body') || (i === 1) && (massage.menuType === 'face'))
                  +submenu-item(massage)
          a.submenu__promo-link(href='prices.html')
            +picture-tag(menuData.promo.image, menuData.promo.image.mobile.png['3x'], menuData.promo.name, 230, 210).submenu__promo-image
    each link, i in menuData.list
      li.main-menu__list-item(class={
        'hidden_desktop-tablet': i === 0,
        'main-menu__list-item_hidden': i >= 3
      })
        a.main-menu__link.link(href=link.url)= link.text
      if i === 2
        li.main-menu__list-item.main-menu__additional.dropdown(data-on='hover')
          span.dropdown__trigger Ещё
          ul.main-menu__hidden-list.dropdown__body
            each link, i in menuData.list
              if i >= 3
                li.main-menu__hidden-item
                  a.main-menu__hidden-link.link(href=menuData.list[i].url)= menuData.list[i].text
