//- IMPORTANT! Global object 'locals' is used for possibility to apply variables outside includes scope
- locals.data = {}

include ../utils/mixins
include ../utils/global-data

block variables

-
  locals.data.globalData.company.logoImages = {
    desktop: {
      webp: {
        '1x': `/assets/img/logo/desktop-logo_${locals.data.pageData.theme}@1x.webp`,
        '2x': `/assets/img/logo/desktop-logo_${locals.data.pageData.theme}@2x.webp`
      },
      png: {
        '1x': `/assets/img/logo/desktop-logo_${locals.data.pageData.theme}@1x.png`,
        '2x': `/assets/img/logo/desktop-logo_${locals.data.pageData.theme}@2x.png`
      }
    },
    tablet: {
      webp: {
        '1x': `/assets/img/logo/tablet-logo_${locals.data.pageData.theme}@1x.webp`,
        '2x': `/assets/img/logo/tablet-logo_${locals.data.pageData.theme}@2x.webp`
      },
      png: {
        '1x': `/assets/img/logo/tablet-logo_${locals.data.pageData.theme}@1x.png`,
        '2x': `/assets/img/logo/tablet-logo_${locals.data.pageData.theme}@2x.png`
      }
    },
    mobile: {
      webp: {
        '1x': `/assets/img/logo/mobile-logo_${locals.data.pageData.theme}@1x.webp`,
        '2x': `/assets/img/logo/mobile-logo_${locals.data.pageData.theme}@2x.webp`,
        '3x': `/assets/img/logo/mobile-logo_${locals.data.pageData.theme}@3x.webp`
      },
      png: {
        '1x': `/assets/img/logo/mobile-logo_${locals.data.pageData.theme}@1x.png`,
        '2x': `/assets/img/logo/mobile-logo_${locals.data.pageData.theme}@2x.png`,
        '3x': `/assets/img/logo/mobile-logo_${locals.data.pageData.theme}@3x.png`
      }
    }
  }

doctype html
html(lang='ru')
  head
    include ../includes/modules/head/head
    block head

  body.page(class=`${(locals.data.pageData.pageClass ? locals.data.pageData.pageClass : '')} ${locals.data.pageData.theme ? `theme-${locals.data.pageData.theme}` : ''}`)
    .page__wrapper
      .page__header
        include ../includes/modules/header/header
      main.page__content
        include ../includes/modules/main-screen/main-screen
        block content
      .page__footer
        include ../includes/modules/footer/footer

    block script
